@use "backend" as *;
/* Start Error Page */
#{c(main dark)},
#{c(main light)} {
  #{c(error wrapper)} {
    background-image: none;
    background-color: $middle;
  }
}
#{c(os windows)} {
  &[lang="en-GB"] {
    #{c(error errorPage)} {
      #{c(error image)} {
        display: none;
      }
      #{c(error text)} {
        width: 70vw;
        padding: 100px;
        background-color: #0078d7;
        #{c(error title)} {
          line-height: 7.5vw;
          font-size: 0;
          margin-bottom: 0;
          text-align: left;
          &:after {
            content: ":(";
            font-size: 14vw;
            font-family: Comic Sans MS, cursive;
          }
        }
        #{c(error note)} {
          text-align: left;
          white-space: pre-line;
          > div > p {
            font-size: 0;
            margin: 0;
            &:before,
            &:after {
              font-size: 2.5vw;
              display: block;
              font-family: Comic Sans MS, cursive;
              color: #fff;
            }
            &:first-child {
              &:before {
                content: "Oopsie Woopsie! Uwu We made a fucky wucky!! A wittle";
              }
              &:after {
                content: "fucko boingo! The code monkeys at our headquaters are";
              }
            }
            &:last-child {
              &:before {
                content: "working VEWY HAWD to fix this!";
              }
              &:after {
                content: "If you'd like to know more, you can search online later for this error: OOPSIE_WOOPSIE";
                font-size: 1.25vw;
                margin-top: 5vw;
              }
            }
          }
        }
      }
      #{c(button contents)} {
        font-size: 0;
        &:after {
          content: "please click this";
          font-size: 14px;
          top: 1px;
          position: relative;
        }
      }
    }
  }
}

#{c(os mac)} {
  &[lang="en-GB"] {
    #{c(main dark)},
    #{c(main light)} {
      #{c(error wrapper)} {
        background-color: transparent;
      }
    }
    #{c(error errorPage)} {
      @include bg;
      &:before {
        background-color: $middle;
      }
      #{c(error image)} {
        display: none;
      }
      #{c(error text)} {
        background: transparent url(https://leafyluigi.github.io/images/fakemacerror.png) no-repeat center;
        // https://leafyluigi.github.io/images/fakemacerror.png
        // https://upload.wikimedia.org/wikipedia/commons/0/04/MacOSX_kernel_panic.png
        // background: transparent url(https://upload.wikimedia.org/wikipedia/commons/0/04/MacOSX_kernel_panic.png) no-repeat center;
        height: 255px;
        width: 472px;
        #{c(error title)} {
          font-size: 0;
          margin-bottom: 18px;;
        }
        #{c(error note)} {
          text-align: left;
          white-space: pre-line;
          > div > p {
            font-size: 0;
            margin: 0;
            &:before,
            &:after {
              display: block;
              margin-top: 1em;
              margin-bottom: 1em;
              margin-left: 0;
              margin-right: 0;

              font-size: 10px;
              font-family: Comic Sans MS, cursive;
              color: #fff;
              max-width: 400px;
              padding-left: 54px;
              line-height: 15px;
            }
            &:first-child {
              &:before {
                content: "Oopsie Woopsie! Uwu We made a fucky wucky!! A wittle fucko boingo! The code monkeys at our headquaters are working VEWY HAWD to fix this!";
              }
              &:after {
                content: "Qué mierda acabas de decir sobre mí, pequeña perra? Te haré saber que me gradué de honor en mi clase de los Navy Seals,he estado envuelto en numerosos ataques sorpresa a Al-Quaeda, y tengo 300 asesinatos confirmados.";
              }
            }
            &:last-child {
              &:before {
                content: "S͖͈̞̣̑̐ͬO̶̰̦͓̳̊̾͂͌̇͜͡M̶̼͎̹̫̼̲ͭ̊ͥ͆͛͞ͅE̅̆ͣ̀͊ͨ̀͡͏̶̬̘B̺̱̦̳̥̬̹̳̔̊̒̃̐̆͋͆͘͞͠Õ̢̹̮̹͍͍̐̋͂̒̔͠D̫̹͚̗̠̈͂ͯ͌ͬY̡͚̬̞̮̜͇̜ͣͨ̄̓ͨ͢ͅ'̧͚̖̱̙̬͕̍̓ͦ͋͌̔ͥ͊̚͜ͅS̗̥̦ͧ͊ͮ̃͊̈͑̕ ̵̹̹̥͙̝͕̪͎ͧ̈́͒́P̞͍̝͖̗͇̼͎̏̈́͒̅͒͝O͍̘̱̳̫ͪ̃I̧̠͔͕͎̐͂͌̇̿͌̒̒S̷͉̤͔̫̎ͤͪ͝O̸̸̫̳͙̲ͣ͌̔̕N̝͙̩͉̹̮̹̥͆̍͊̄ͤ̕͞E͎͖̘̙͎̽ͫͫ̎ͯD̸͎͖̰̜̠̓̽͆̽̒̓͋̅͠ ̴̱̬̝̂̈́̌̅̈̋̈́́T̷̩̗͚͖͈̞͇̽ͩ͋͘͡H̞̥͇͉̉ͩ̓̅ͯͪ̉̔́͞E̬̥̼͎̱̫̺͍ͨ́͘ ̧̫̪̳̗̤̩̅̃͐͠W̢̬̮̫̝̺̌̃̋̄̇̚̕ͅͅͅÀ͌͟͏̤̺̗̠Ṱ̱͕͚̖̼ͨ͠Ę̹̮ͯ̽̉͋͌̀̚ͅR̭͈̫̲̥̪̍ͪ͡͝Hͯ̂̉ͮͦ̚͏̼͕̟͇̤̫̩͡Ò̡̯̩̪̺̗̰̌ͯͭ̾͌͆́L̵͉̮͕̣ͦE̶ͭ̌ͯ͐ͪ҉̖̝͡ͅ";
              }
              &:after {
                content: "バーガーキングの足のレタス。バーガーキングのハンバーガーに一番入れたくないのは、誰かの足の菌ですよね。";
              }
            }
          }
          > div:after {
            content: "DO NOT RESTART YOUR COMPUTER.";
            display: block;
            margin-top: 1em;
            margin-bottom: 1em;
            text-align: center;
            font-size: 12px;
            color: #555;
            line-height: 15px;
            font-weight: 600;
          }
        }
      }
      #{c(button contents)} {
        font-size: 0;
        &:after {
          content: "please click this";
          font-size: 14px;
          top: 1px;
          position: relative;
        }
      }
    }
  }
  &#{c(main fullMotion)}[lang="en-GB"] {
    #{c(error errorPage)} {
      &:before {
        animation: errorScrollMac 3.2s linear;
      }
    }
    #{c(error text)},
    #{c(error note)},
    #{c(error errorPage)} button {
      animation: errorPopMac 3.2s linear;
    }
  }
}
