@use "start" as *;
@use "backend" as *;
/*! #{$theme-name} v#{$version} - Vencord Addon by LeafyLuigi */
#{c(vencord addon card)} {
	&,
	&:hover {
		@include card;
	}
}
#{c(vencord addon infoButton)} {
	&::before {
		content: none;
	}
}
#{c(vencord authorModal name)} {
	&,
	&::before {
		background: $primary;
	}
}
#{c(vencord authorModal links)} {
	img {
		border-color: $primary;
	}
	a:hover img {
		border-color: $hover;
	}
}

#{c(vencord notification root)},
#{c(vencord shc allowedUsersAndRolesContainer)} {
	@include card;
}

:is(#{c(main dark)},#{c(main light)}) {
	#{c(vencord spotify player)} {
		border-bottom-color: transparent;
		background: transparent;
	}

}

// revert chat markup colors
#{c(vencord messageLogger deleted)} {
	#{c(chat markup)} {
		color: var(--text-default);
		small:not(#{c(chat markupInlineFormat)}) {
			color: var(--text-muted);
		}
		:is(h1,h2,h3,h4,h5,h6) {
			color: var(--header-primary);
			&#{c(chat markupInlineFormat)} {
				color: inherit;
			}
		}
	}
}

// show hidden channels "this is a hidden text channel" has transparent background
#{c(chat chatContent)}>#{c(scroller managedReactiveScroller)} {
	background: $middle;
}