@use "start" as *;
@use "backend" as *;
/*! #{$theme-name} v#{$version} - Vencord Addon by LeafyLuigi */
#{c(vencord addonCard)} {
	&,
	&:hover {
		@include card;
	}
}
#{c(vencord pluginsInfoButton)} {
	&::before {
		content: none;
	}
}
#{c(vencord authorModalName)} {
	&,
	&::before {
		background: $primary;
	}
}
#{c(vencord authorModalLinks)} {
	img {
		border-color: $primary;
	}
	a:hover img {
		border-color: $hover;
	}
}

#{c(vencord shcAllowed)} {
	@include card;
}

:is(#{c(main dark)},#{c(main light)}) {
	#{c(vencord spotifyPlayer)} {
		border-bottom-color: transparent;
		background: transparent;
	}

}