@use "backend" as *;
/* Theme's User Modal Layout */
#{c(profile modal root)} {
  display: flex;
  flex-direction: row;
  width: var(--user-modal-width,900px);
  height: var(--user-modal-height,600px);
  min-width: 300px;
  max-width: calc(100vw - 20px);
  min-height: 200px;
  max-height: calc(100vh - 20px);
}
#{c(profile modal outer)} {
  width: 100%;
}

#{c(profile modal topSection)} {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: calc(var(--user-modal-width,900px) * 2/3);
}
#{c(profile modal profileBanner)},
#{c(profile modal profileBannerPremium)} {
  border-radius: 0;
  width: calc(var(--user-modal-width,900px) * 2/3);
}

#{c(profile modal header)} {
  display: flex;
  min-height: 86px;
}
#{c(profile modal activity)} {
  padding: 5px 20px;
}

#{c(profile modal activity)} {
  #{c(profile activity activity profile)} {
    margin-left: 0;
    flex-direction: row;
    align-self: flex-end;
    > button:not(:first-child) {
      margin-top: 0;
      margin-left: 8px;
    }
  }
}
#{c(profile modal divider)} {
  display: none;
}

#{c(profile modal inner)}#{c(profile inner themedWithBanner)} {
  --banner-height: 301px;
  --row: var(--row-banner,4);
  background: transparent;
}
#{c(profile modal inner)}#{c(profile inner themedPremiumWithoutBanner)} {
  background: transparent;
}

#{c(profile modal overlay)} {
  background: transparent;
  border-radius: 0;
  overflow: visible;
  position: absolute;
  margin: 0;
  height: calc(var(--user-modal-height,600px) - 8px);
  width: calc(var(--user-modal-width,900px) - 8px);
}
#{c(profile modal body)} {
  padding: 16px;

  // HEIGHT OF TOP FOR POSITION
  // BANNER, THEMED : 301 | userProfileInnerThemedWithBanner-
  // NO BANNER, THEMED: 195 | userProfileInnerThemedPremiumWithoutBanner-
  // NO BANNER, UNTHEMED: 195 | userProfileInnerThemedNonPremium-
  #{c(profile modal usernameContainer)} {
    padding: 0;
    background: var(--profile-body-background-color);
    top: calc(var(--banner-height, 195px) - 16px);
    position: absolute;
    height: calc(var(--user-modal-height,600px) - var(--banner-height,195px));
    width: calc(var(--user-modal-width,900px) * 2 / 3);
    border-radius: 8px 0 0 8px;
  }
  #{c(profile modal nameTag)},
  #{c(profile modal customStatus)} {
    margin: 12px 12px 0;
  }
  #{c(profile modal activity)} {
    padding: 0 8px;
  }
}
#{c(profile modal tabBarContainer)} {
  height: 24px;
  max-height: 24px;
  max-width: calc(var(--user-modal-width,900px) / 3 - 40px);
  position: absolute;
  z-index: 2;
  right: 16px;
  border-bottom: 0;
  margin: 0;
  & ~ :is(#{c(profile modal infoScroller)},#{c(profile modal listScroller)}) {
    top: calc(16px + 24px + 2px);
    #{c(profile modal userInfoSection)}:first-child::before {
      height: calc(var(--user-modal-height,600px) - 32px - 24px - 2px);
    }
  }
}
#{c(profile modal tabBar)} {
  height: inherit;
}
// tabBarItem order: 
// DIFFERENCE BETWEEN BOT AND USER: body>container>nameTag>bot
// CANNOT TARGET WITHOUT :HAS() OR PLUGIN
// BOT - [Info] | [Mutual Servers] | [Data Access]
// USER - [Info] | [?Activity] | [Mutual Servers] | [Mutual Friends]
// SELF - [none]
#{c(profile modal tabBarItem)} {
  font-size: 0;
  @include bg2($z:null,$wm: var(--local-mask,none) center/cover no-repeat,$bgf:currentcolor);
  &:first-child {
    // user info image
    --local-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentcolor' transform='translate(2.4 2.4)' d='M 9.6 9.6 C 12.2 9.6 14.4 7.4 14.4 4.8 C 14.4 2.2 12.2 0 9.6 0 C 7 0 4.8 2.2 4.8 4.8 C 4.8 7.4 7 9.6 9.6 9.6 Z M 9.6 10.8 C 4 10.8 0 13.8 0 18 V 19.2 H 19.2 V 18 C 19.2 13.8 15.2 10.8 9.6 10.8 Z'/%3E%3C/svg%3E");
  }
  &:nth-child(2):not(:nth-last-child(2)) {
    // activity image
    --local-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentcolor' d='M5.8 5 18.2 5C19.8 5 21.1 6.2 21.2 7.8L21.9 17C21.9 18 21.2 18.9 20.1 19 20.1 19 20 19 20 19 18.8 19 17.8 18.2 17.5 17.1L17 15 7 15 6.5 17.1C6.2 18.2 5.2 19 4 19 3 19 2.1 18.2 2.1 17.1 2.1 17.1 2.1 17 2.1 17L2.8 7.8C2.9 6.2 4.2 5 5.8 5ZM14.5 10C15.3 10 16 9.3 16 8.5 16 7.7 15.3 7 14.5 7 13.7 7 13 7.7 13 8.5 13 9.3 13.7 10 14.5 10ZM18.5 13C19.3 13 20 12.3 20 11.5 20 10.7 19.3 10 18.5 10 17.7 10 17 10.7 17 11.5 17 12.3 17.7 13 18.5 13ZM6 9 4 9 4 11 6 11 6 13 8 13 8 11 10 11 10 9 8 9 8 7 6 7 6 9Z'/%3E%3C/svg%3E");
  }
  &:nth-last-child(2) {
    // mutual servers image
    --local-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentcolor' d='M12 10.9C11.4 10.9 10.9 11.4 10.9 12 10.9 12.6 11.4 13.1 12 13.1 12.6 13.1 13.1 12.6 13.1 12 13.1 11.4 12.6 10.9 12 10.9ZM12 2C6.5 2 2 6.5 2 12 2 17.5 6.5 22 12 22 17.5 22 22 17.5 22 12 22 6.5 17.5 2 12 2ZM14.2 14.2 6 18 9.8 9.8 18 6 14.2 14.2Z'/%3E%3C/svg%3E");
  }
  &:last-child {
    // mutual friends image
    --local-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentcolor' d='M.5 0 .5 1.5C.5 5.7 2.7 9.3 6 11.3L6 16 21 16 21 14C21 11.3 15.7 10 13 10 13 10 12.8 10 12.8 10 8 10 4 6 4 1.5L4 0 .5 0ZM13 0C10.8 0 9 1.8 9 4 9 6.2 10.8 8 13 8 15.2 8 17 6.2 17 4 17 1.8 15.2 0 13 0Z' transform='translate(2 4)'/%3E%3C/svg%3E");
    // // [BOT] data access image
    // --local-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'%3E%3Cpath fill='currentcolor' d='M19.8 20.8V4.5H21V22H5.4C4.1 22 3 20.9 3 19.5V4.5C3 3.1 4.1 2 5.4 2H18.6V18.2H5.4C4.7 18.2 4.2 18.8 4.2 19.5 4.2 20.2 4.7 20.8 5.4 20.8H19.8Z'/%3E%3C/svg%3E");
  }
}
#{c(profile modal userInfoSection)},
#{c(profile modal connections accounts)} {
  padding: 0 0 0 8px;
}
#{c(profile modal infoScroller)},
#{c(profile modal listScroller)} {
  position: absolute;
  right: 8px;
  top: 16px;
  bottom: 8px;
  padding: 8px 0 !important; // !important reason: inline style for right and bottom
  height: auto;
  width: calc((var(--user-modal-width,900px) / 3 ) - 32px);
  background: var(--profile-body-background-color);
  border-radius: 8px 8px 8px 0;
}
#{c(profile modal noteTextarea)} {
  max-height: unset;
}
#{c(profile modal connections column)} {
  width: auto;
  + #{c(profile modal connections column)} {
    margin: 0;
  }
}
@debug "activities broken for UML";

// Horizontal Connections
#{c(profile modal infoScroller)} {
  overflow: visible !important;
  width: calc(var(--user-modal-width,900px) - 32px); // 32px for [16px | CONTENT | 16px]
  background: transparent;
  padding: 0 !important;
  border-radius: 0;
  #{c(profile modal userInfoSection)}:first-child {
    position: absolute;
    right: 0;
    // height: 328px; // find calc
    width: calc(var(--user-modal-width,900px) / 3 - 40px);
    background: transparent;
    padding: 8px 0 0 8px;
    @include bg($bgf:var(--profile-body-background-color),$h:calc(var(--user-modal-height,600px) - 32px),$br:8px 8px 8px 0,$z:null);
    &>* {
      position: relative;
      z-index: 1;
    }
  }
}
#{c(profile modal connections accounts)} {
  border-top: none !important;
  position: absolute;
  width: calc(var(--col,4) * 200px);
  max-width: calc(var(--user-modal-width,900px) - 32px); // should be 868
  padding: 0;
  bottom: 0;
  max-height: calc(var(--row,5) * 50px);
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
#{c(profile modal connections column)} {
  display: flex;
  flex-flow: row wrap;
  width: calc(var(--col,4) / 2 * 200px);
  align-content: flex-start;
  align-items: flex-start;
  max-width: calc(var(--user-modal-width,900px) * 2 / 3);
  &:first-child #{c(profile modal connections container)}:nth-child(even) {
    transform: translateX(200px);
  }
  &:last-child #{c(profile modal connections container)}:nth-child(odd) {
    transform: translateX(-200px);
  }
}
#{c(profile modal connections column)} #{c(profile modal connections container)}:nth-child(even) {
  z-index: 1;
}
#{c(profile modal connections container)} {
  margin: 4px;
  max-height: 24px;
  padding: 8px;
  transform: rotate(0deg);
  width: calc(var(--user-modal-width,900px) * 2 / 3 / 3 - 8px - 16px - 2px); // output needs to be 200 total (inc margin, padding, border, content)
}
#{c(profile modal connections containerWithMetadata)} {
  display: -webkit-box;
  align-items: unset;;
  #{c(profile modal connections icon)} {
    position: fixed;
  }
  #{c(profile modal connections nameContainer)} {
    margin: 0 32px;
    overflow: visible;
  }
  #{c(profile modal connections name)}>a {
    position: fixed;
    top: 12px;
    right: 8px;
  }
}
:root {
  --col: 4; // max columns
  --row: 5; // max rows for users without a banner
  --row-banner: 4; // max rows for users with a banner
}
// height of item: 50px
// width of item: 200px
