@use "backend" as *;
/* Start Buttons */
// THIS WILL **NOT** BE EVERY BUTTON. SOME WILL BE UNIQUELY THEMED.

// Button Locations:
// filled brand : my account
// filled primary : discord nitro
// outlined brand : privacy (at bottom)
// outlined red : authorized whatever
// inverted brand : discord nitro, playing user popout modal
// filled green : discord nitro
// filled red : pc plugins
// filled yellow : pc updater
// ghost grey : server settings widget (copy buttons)
// link primary : my account -> edit

#{c(main appMount)} {
  #{c(button lookFilled)} {
    &#{c(button colorBlack)} {
    }
    &#{c(button colorBrand)} {
      color: $button-text;
      @include button-bg($color: $primary);
    }
    &#{c(button colorGreen)} {
    }
    &#{c(button colorGrey)} {
    }
    &#{c(button colorLink)} {
    }
    &#{c(button colorPrimary)} {
      color: $button-text;
      @include button-bg($color: $primary);
    }
    &#{c(button colorRed)} {
    }
    &#{c(button colorTransparent)} {
    }
    &#{c(button colorWhite)} {
    }
    &#{c(button colorYellow)} {
    }
  }
  #{c(button lookGhost)} {
    &#{c(button colorBlack)} {
    }
    &#{c(button colorBrand)} {
    }
    &#{c(button colorGreen)} {
    }
    &#{c(button colorGrey)} {
    }
    &#{c(button colorLink)} {
    }
    &#{c(button colorPrimary)} {
    }
    &#{c(button colorRed)} {
    }
    &#{c(button colorTransparent)} {
    }
    &#{c(button colorWhite)} {
    }
    &#{c(button colorYellow)} {
    }
  }
  #{c(button lookInverted)} {
    &#{c(button colorBlack)} {
    }
    &#{c(button colorBrand)} {
      @include button-color($color: $button-text);
      background: rgba(255,255,255,0.15);
    }
    &#{c(button colorGreen)} {
    }
    &#{c(button colorGrey)} {
    }
    &#{c(button colorLink)} {
    }
    &#{c(button colorPrimary)} {
    }
    &#{c(button colorRed)} {
    }
    &#{c(button colorTransparent)} {
    }
    &#{c(button colorWhite)} {
    }
    &#{c(button colorYellow)} {
    }
  }
  #{c(button lookLink)} {
    &#{c(button colorBlack)} {
    }
    &#{c(button colorBrand)} {
    }
    &#{c(button colorGreen)} {
    }
    &#{c(button colorGrey)} {
    }
    &#{c(button colorLink)} {
    }
    &#{c(button colorPrimary)} {
    }
    &#{c(button colorRed)} {
    }
    &#{c(button colorTransparent)} {
    }
    &#{c(button colorWhite)} {
    }
    &#{c(button colorYellow)} {
    }
  }
  #{c(button lookOutlined)} {
    &#{c(button colorBlack)} {
    }
    &#{c(button colorBrand)} {
    }
    &#{c(button colorGreen)} {
    }
    &#{c(button colorGrey)} {
    }
    &#{c(button colorLink)} {
    }
    &#{c(button colorPrimary)} {
    }
    &#{c(button colorRed)} {
    }
    &#{c(button colorTransparent)} {
    }
    &#{c(button colorWhite)} {
    }
    &#{c(button colorYellow)} {
    }
  }
}
