@use "sass:string";
@use "sass:list";
@use "sass:map";
// @use "map" as *;

/// Get a class from the Classes Map. Code stolen entirely from Zerthox.
/// changes to Zerthox's code: `map.get` -> `map-get`, adds a dot at end.
@function class($query) {
	$class: $classes;
	@each $el in $query {
		$class: map-get($class, "#{$el}");
		@if not $class {
			@error "Unknown class \"#{$el}\" in category: #{$query}. Was the classes file not saved?";
		}
	}
	@return "." + $class;
}

///extreme lazy shorthand
@function c($query) {
  @return class($query);
}

$classes: (
	// This top one is for things without any spammy suffixes or more important things.
	"main": (
		"appMount": "appMount-3lHmkl",
		"appContainer": "app-1q1i1E",
		"appInner": "app-2rEoOp",
		"backdrop": "backdrop-1wrmKB",
		"backdropWithLayer": "backdropWithLayer-3_uhz4",
		"bg": "bg-h5JY_x",
		"dark": "theme-dark",
		"light": "theme-light",
		"keyboardMode": "keyboard-mode",
		"layerContainer": "layerContainer-yqaFcK",
	),
	// OS spesific stuff. There doesn't seem to be anything related to linux nor web.
	"os": (
		"titleBar": "titleBar-AC4pGV",
		"windows": "platform-win",
		"typeWindows": "typeWindows-1za-n7",
		"winButton": "winButton-iRh8-Z",
		"winButtonClose": "winButtonClose-1HsbF-",
		"winButtonMinMax": "winButtonMinMax-PBQ2gm",
		"wordmark": "wordmark-2iDDfm",
		"mac": "platform-osx",
		"typeMac": "typeMacOS-3EmCyP",
		"macButtonContainer": "typeMacOS-3EmCyP",
		"focused": "focused-3B0xkw",
		"unfocused": "unfocused-1QsMU3",
		"macButtons": "macButtons-2MuSAC",
		"macButton": "macButton-c_Adir",

		"linux": "platform-linux",
		"web": "platform-web"
	),
	"button": (
		"contents": "contents-18-Yxp",
		"lookFilled": "lookFilled-1Gx00P",
		"lookGhost": "lookGhost-2Fn_0-",
		"lookInverted": "lookInverted-2D7oAl",
		"lookLink": "lookLink-9FtZy-",
		"lookOutlined": "lookOutlined-3sRXeN",
		"hasHover": ".hasHover-3X1-zV",

		//colors / hovers
		"colorBlack": "colorBlack-1jwPVL",
		"colorBrand": "colorBrand-3pXr91",
		"colorGreen": "colorGreen-29iAKY",
		"colorGrey": "colorGrey-2DXtkV",
		"colorLink": "colorLink-35jkBc",
		"colorPrimary": "colorPrimary-3b3xI6",
		"colorRed": "colorRed-1TFJan",
		"colorTransparent": "colorTransparent-1ewNp9",
		"colorWhite": "colorWhite-rEQuAQ",
		"colorYellow": "colorYellow-2JqYwt",
		"hoverBlack": "hoverBlack-3jULb8",
		"hoverBrand": "hoverBrand-1_Fxlk",
		"hoverGreen": "hoverGreen-1gjdJc",
		"hoverGrey": "hoverGrey-2CBXu0",
		"hoverLink": "hoverLink-i1fEKS",
		"hoverPrimary": "hoverPrimary-2D1j2r",
		"hoverRed": "hoverRed-2NoOXI",
		"hoverTransparent": "hoverTransparent-2Lz5CN",
		"hoverWhite": "hoverWhite-2uUmXw",
		"hoverYellow": "hoverYellow-171chs",
	),
	"chat": (
		"chat": "chat-3bRxxu",
		"chatContent": "content-yTz4x3",
		"chatLoadingWrapper": "wrapper-3vR61M",
		"messageLoadingWrapper": "wrapper-1F5TKx",
		"noChannel": "noChannel-Z1DQK7",
		"markup": "markup-2BOw-j",
	),
	"embeds": (
		"codeblock": "markup-2BOw-j code",
		"codeblockInline": "markup-2BOw-j code.inline",
		"invite": "wrapper-35wsBm",
		"inviteServerIcon": "guildIcon-lQ0uiM",
		"inviteServerIconExpired": "guildIconExpired-2Qcq05",
		"gift": "tile-2OwFgW",
		"giftInvalidPoop": "invalidPoop-pnUbq7",
		"embedFull": "embedFull-2tM8--",
		"embedSuppressButton": "embedSuppressButton-1FonMn",
		"mentioned": "mentioned-xhSam7"
	),
	"friends": (
		"container": "container-1D34oG",
		"tabBody": "tabBody-3YRQ8W",
		"inviteToolbar": "inviteToolbar-3F-l2g",
		"peopleColumn": "peopleColumn-29fq28",
		"peopleListItem": "peopleListItem-2nzedh",
		"peopleListUsername": "username-31C1TQ",
		"actionButton": "actionButton-uPB8Fs",
		"highlight": "highlight-Lf97TE",
		"nowPlayingColumn": "nowPlayingColumn-2sl4cE",
		"nowPlayingHeader": "header-13Cw0-",
		"consentCard": "consentCard-1iSxB_",
		"emptyCard": "emptyCard-1RJw8n",
		"itemCard": "itemCard-v9viV7",
		"itemCardBody": "body-1ld4H7",
		"itemCardBodySection": "section-2gLsgF",
		"itemCardSeperator": "separator-XqIyoz",
		"itemCardActive": "active-1xchHY",
		"itemCardInteractive": "interactive-3B9GmY",
		"voiceSectionIconWrapper": "voiceSectionIconWrapper-FO7UEY",
		"partyMemberOverflow": "partyMemberOverflow-lXnzvu",
		"multipleIconWrapper": "multipleIconWrapper-DfGWrz",
		"multipleIcon": "multipleIcon-1oJINS",
	),
	"header": (
		"header": "container-1r6BKw",
		"themed": "themed-ANHk51",
		"children": "children-19S4PO",
		"divider": "divider-3FBTu8",
		"iconWrapper": "iconWrapper-2OrFZ1",
		"icon": "icon-22AiRD",
		"iconClickable": "clickable-3rdHwn",
		"title": "title-29uC1r",
		"akaBadge": "akaBadge-1M-1Gw",
		"input": "input-2A_zIr",
	),
	"notice": (
// .notice-3bPHh-{font-size:14px;line-height:36px;font-weight:500;text-align:center;position:relative;padding-left:4px;padding-right:28px;z-index:101;-ms-flex-negative:0;flex-shrink:0;-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;border-radius:8px 0 0;-webkit-box-shadow:var(--elevation-low);box-shadow:var(--elevation-low)}.notice-3bPHh- strong{font-weight:600}.platform-osx .notice-3bPHh-{-webkit-app-region:drag}.colorDefault-22HBa0{background-color:#f26522;color:#fff}.colorDefault-22HBa0 .button-2DhvE9:hover{color:#f26522}.colorNeutral-3uXvGN{background-color:var(--background-accent);color:#fff}.colorNeutral-3uXvGN .button-2DhvE9:hover{color:#222}.colorDownload-3uiTFS{background-color:#7289da;color:#fff}.colorDownload-3uiTFS .button-2DhvE9:hover{color:#7289da}.colorNotification-GG3eAb{background-color:#2e7b58;color:#fff}.colorNotification-GG3eAb .button-2DhvE9{font-weight:600}.colorNotification-GG3eAb .button-2DhvE9:hover{color:#2e7b58}.colorDark-1yVQpk{background-color:#202225;color:#fff}.colorDark-1yVQpk .button-2DhvE9:hover{color:#202225}.colorPremium--X5Fw0{color:#fff}.colorPremiumTier1-3D7SPt{background-image:-webkit-gradient(linear,right top,left top,from(#b3aeff),to(#738ef5));background-image:linear-gradient(270deg,#b3aeff,#738ef5)}.colorPremiumTier1-3D7SPt .button-2DhvE9:hover{color:#7289da}.colorPremiumTier2-dCdap5{background-image:-webkit-gradient(linear,right top,left top,from(#e292aa),to(#b473f5));background-image:linear-gradient(270deg,#e292aa,#b473f5)}.colorPremiumTier2-dCdap5 .button-2DhvE9:hover{color:#e292aa}.colorInfo-2URYW5{background-color:#4a90e2;color:#fff}.colorInfo-2URYW5 .button-2DhvE9:hover{color:#4a90e2}.colorSuccess-1hnbW2{background-color:#43b581;color:#fff}.colorSuccess-1hnbW2 .button-2DhvE9:hover{color:#43b581}.colorDanger-4gmAY0{background-color:#f04747;color:#fff}.colorDanger-4gmAY0 .button-2DhvE9:hover{color:#f04747}.colorStreamerMode-2SJAUN{background-color:#593695;color:#fff}.colorStreamerMode-2SJAUN .button-2DhvE9:hover{color:#593695}.colorSpotify-2L6XRq{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;background-color:#1db954;color:#fff}.colorSpotify-2L6XRq .platformIcon-cDJOOu{margin-top:0;width:24px;height:24px}.colorSpotify-2L6XRq .button-2DhvE9{top:0;margin-left:20px}.colorSpotify-2L6XRq .button-2DhvE9:hover{color:#1db954}.colorBrand-2zeG8h{background-color:#7289da;color:#fff}.colorBrand-2zeG8h .button-2DhvE9:hover{color:#7289da}.colorCustom-1ND3UM{}.colorCustom-1ND3UM .button-2DhvE9:hover{color:#222}.closeButton-3cJIM4{position:absolute;top:0;right:0;width:36px;height:36px;background:url(/assets/7731c77d99babca1a8faec204d98c380.svg) no-repeat;background-position:50% 55%;background-size:10px 10px;opacity:.5;-webkit-transition:opacity .2s;transition:opacity .2s;cursor:pointer;-webkit-app-region:no-drag}.closeButton-3cJIM4:hover{opacity:1}.button-2DhvE9{font-size:14px;font-weight:500;position:relative;top:6px;border:1px solid;color:#fff;border-radius:3px;height:24px;padding:0 10px;-webkit-box-sizing:border-box;box-sizing:border-box;display:inline-block;vertical-align:top;margin-left:10px;line-height:22px;-webkit-transition:background-color .2s ease,color .2s ease,border-color .2s ease;transition:background-color .2s ease,color .2s ease,border-color .2s ease;-webkit-app-region:no-drag}.button-2DhvE9.buttonMinor-3mkvIP{border:none;text-decoration:underline}.theme-dark .button-2DhvE9,.theme-light .button-2DhvE9{border-color:hsla(0,0%,100%,.25);background-color:transparent}.theme-dark .button-2DhvE9:hover,.theme-light .button-2DhvE9:hover{border-color:#fff;background-color:#fff}

	),
	"popout": (
		"menu": "menu-3sdvDG",
		"friendsActiveNow": "popout-38lTFE",
	),
	"serverList": (
		"wrapper": "wrapper-1Rf91z",
		"scroller": "scroller-2TZvBN",
		"homeContainer": "tutorialContainer-1v44GL",
		"listItem": "listItem-2P_4kh",
		"serverSeparator": "guildSeparator-3s64Iy",
		"pill": "pill-31IEus",
		"pillItem": "item-2hkk8m",
		"iconWrapper": "wrapper-1BJsBx",
		"iconChildWrapper": "childWrapper-anI2G9",
		"serverIcon": "icon-27yU2q",
		"selected": "selected-bZ3Lue",
		"addServer": "circleIconButton-jET_ig",
		"addServerSelected": "selected-ugP_am",
		"lowerBadge": "lowerBadge-29hYVK",
		"numberBadge": "numberBadge-2s8kKX",
		"upperBadge": "upperBadge-2XnnGB",
		"unreadMentionBarTop": "unreadMentionsIndicatorTop-gA6RCh",
		"unreadMentionBarBottom": "unreadMentionsIndicatorBottom-BXS58x",
		"mentionBar": "mention-1f5kbO",
	),
	"sidebar": (
		"sidebar": "sidebar-2K8pFh",
		"privateChannels": "privateChannels-1nO12o",
		"searchBar": "searchBar-6Kv8R2",
		"scroller": "scroller-1JbKMe",
		"privateChannelsHeaderContainer": "privateChannelsHeaderContainer-3NB1K1",
		"privateChannelsHeader": "headerText-2F0828",
		"privateChannel": "channel-2QD9_O",
		"privateChannelRecipientsInviteButtonIcon": "privateChannelRecipientsInviteButtonIcon-3A3uTc",
		"channelsContainer": "container-3w7J-x",
		"channelsScroller": "scroller-RmtA4e",
		"channelsHeaderContainer": "container-1taM1r",
		"channelsHeader": "header-2V-4Sw",
		"channelsContainerContent": "content-3YMskv",
		"serverName": "name-1jkAdW",
		"panels": "panels-j1Uci_",
		"panelUsername": "title-eS5yk3",
		"panelContainer": "container-3baos1",
		"panelButtonRow": "directionRow-3v3tfG",
		"panelButton": "button-14-BFJ",
		"noAccessSidebar": "container-36W3SS",
		"noAccessCategory": "category-2haXBH",
		"noAccessChannelIcon": "channelIcon-1TvDoP",
		"noAccessChannelName": "channelName-2wrHHc",
		"animatedContainer": "animatedContainer-1NSq4T",
		"hasBanner": "hasBanner-2SrLR3",
		"bannerVisible": "bannerVisible-2ZE_qG",
		"bannerImage": "bannerImage-3KhIJ6",
	),
	"store": (
		"store": "applicationStore-1pNvnv",
		"wrapper": "homeWrapperNormal-2KSUEa",
		"scroller": "scroller-9moviB",
		"nitroContainer": "premiumContainer-2Iux5m",
	),
	"tooltips": (
		"tooltip": "tooltip-2QfLtc",
		"disablePointerEvents": "tooltipDisablePointerEvents-3eaBGN",
		"content": "tooltipContent-bqVLWK",
		"contentAllowOverflow": "tooltipContentAllowOverflow-fFbpe9",
		"right": "tooltipRight-2JM5PQ",
		"left": "tooltipLeft-3EDOk1",
		"bottom": "tooltipBottom-3ARrEK",
		"top": "tooltipTop-XDDSxx",
		"pointer": "tooltipPointer-3ZfirK",
		"black": "tooltipBlack-PPG47z",
		"grey": "tooltipGrey-1hnvTt",
		"brand": "tooltipBrand-g03Nz8",
		"green": "tooltipGreen-WdeQwd",
		"yellow": "tooltipYellow-E7eIBE",
		"red": "tooltipRed-8-9NeP"
	),
	"userModal": (
		"modal": "modal-3c3bKg",
		"root": "root-SR8cQa",
		"topSection": "topSectionNormal-2-vo2m",
		"topPlaying": "topSectionPlaying-1J5E4n",
		"topSpotify": "topSectionSpotify-1lI0-P",
		"topStreaming": "topSectionStreaming-1Tpf5X",
		"topXbox": "topSectionXbox-3fWLjS",
		"top": "top-28JiJ-",
		"tabBarContainer": "tabBarContainer-1s1u-z",
		"tabBar": "tabBar-2MuP6-",
		"tabBarItem": "tabBarItem-1b8RUP",
		"tabBarItemSelected": "selected-3s45Ha",
		"tabBarThemed": "themed-OHr7kt",
		"tabBarItemNoPrefix": "item-PXvHYJ",
		"header": "header-QKLPzZ",
		"headerInfo": "headerInfo-30uryT",
		"headerFill": "headerFill-adLl4x",
		"activityProfile": "activityProfile-2bJRaP",
		"activity": "activity-1ythUs",
		"body": "body-3ND3kc",
		"userInfoSection": "userInfoSection-2acyCx",
		"userInfoSectionHeader": "userInfoSectionHeader-CBvMDh",
		"noteTextArea": "textarea-2r0oV8",
		"note": "note-QfFU8y",
		"connectedAccounts": "connectedAccounts-repVzS",
		"connectedAccount": "connectedAccount-36nQx7",
		"connectedAccountVerifiedIcon": "connectedAccountVerifiedIcon-3aZz_K",
		"guildAvatarWithoutIcon": "guildAvatarWithoutIcon-1sTmE_",
	),
	"userPopout": (
		"popoutLeft": "popoutLeft-3aViER",
		"popout": "userPopout-3XzG_A",
		"headerNormal": "headerNormal-T_seeN",
		"headerPlaying": "headerPlaying-j0WQBV",
		"headerSpotify": "headerSpotify-zpWxgT",
		"headerStreaming": "headerStreaming-2FjmGz",
		"headerXbox": "headerXbox-3G-4PF",
		"activity": "activity-11LB_k",
		"body": "body-3iLsc4",
		"bodyTitle": "bodyTitle-Y0qMQz",
		"note": "textarea-2r0oV8",
		"role": "role-2irmRk",
		"roleCircle": "roleCircle-3xAZ1j",
		"addButton": "addButton-pcyyf6",
		"actionButton": "actionButton-VzECiy",
		"footer": "footer-1fjuF6",
		"input": "input-cIJ7To",
		"focused": "focused-1mmYsC",
	)
);
