@use "sass:string";
@use "sass:list";
@use "sass:map";
// @use "map" as *;

/// Get a class from the Classes Map. Code stolen entirely from Zerthox.
/// changes to Zerthox's code: `map.get` -> `map-get`, adds a dot at end.
@function class($query) {
	$class: $classes;
	@each $el in $query {
		$class: map-get($class, "#{$el}");
		@if not $class {
			@error "Unknown class \"#{$el}\" in category: #{$query}. Was the classes file not saved?";
		}
	}
	@return "." + $class;
}

///extreme lazy shorthand
@function c($query) {
  @return class($query);
}

$classes: (
	// This top one is for things without any spammy suffixes or more important things.
	"main": (
		"appMount": "appMount-3lHmkl",
		"appContainer": "app-1q1i1E",
		"appInner": "app-2rEoOp",
		"backdrop": "backdrop-1wrmKB",
		"backdropWithLayer": "backdropWithLayer-3_uhz4",
		"bg": "bg-h5JY_x",
		"dark": "theme-dark",
		"light": "theme-light",
		"keyboardMode": "keyboard-mode",
	),
	// OS spesific stuff. There doesn't seem to be anything related to linux nor web.
	"os": (
		"titleBar": ".titleBar-AC4pGV",
		"windows": "platform-win",
		"typeWindows": "typeWindows-1za-n7",
		"winButton": "winButton-iRh8-Z",
		"winButtonClose": "winButtonClose-1HsbF-",
		"winButtonMinMax": "winButtonMinMax-PBQ2gm",
		"wordmark": "wordmark-2iDDfm",
		"mac": "platform-osx",
		"typeMac": "typeMacOS-3EmCyP",
		"macButtonContainer": "typeMacOS-3EmCyP",
		"focused": "focused-3B0xkw",
		"unfocused": "unfocused-1QsMU3",
		"macButtons": "macButtons-2MuSAC",
		"macButton": "macButton-c_Adir",

		"linux": "platform-linux",
		"web": "platform-web"
	),
	"button": (
		"contents": "contents-18-Yxp",
		"lookFilled": "lookFilled-1Gx00P",
		"lookGhost": "lookGhost-2Fn_0-",
		"lookInverted": "lookInverted-2D7oAl",
		"lookLink": "lookLink-9FtZy-",
		"lookOutlined": "lookOutlined-3sRXeN",
		"hasHover": ".hasHover-3X1-zV",

		//colors / hovers
		"colorBlack": "colorBlack-1jwPVL",
		"colorBrand": "colorBrand-3pXr91",
		"colorGreen": "colorGreen-29iAKY",
		"colorGrey": "colorGrey-2DXtkV",
		"colorLink": "colorLink-35jkBc",
		"colorPrimary": "colorPrimary-3b3xI6",
		"colorRed": "colorRed-1TFJan",
		"colorTransparent": "colorTransparent-1ewNp9",
		"colorWhite": "colorWhite-rEQuAQ",
		"colorYellow": "colorYellow-2JqYwt",
		"hoverBlack": "hoverBlack-3jULb8",
		"hoverBrand": "hoverBrand-1_Fxlk",
		"hoverGreen": "hoverGreen-1gjdJc",
		"hoverGrey": "hoverGrey-2CBXu0",
		"hoverLink": "hoverLink-i1fEKS",
		"hoverPrimary": "hoverPrimary-2D1j2r",
		"hoverRed": "hoverRed-2NoOXI",
		"hoverTransparent": "hoverTransparent-2Lz5CN",
		"hoverWhite": "hoverWhite-2uUmXw",
		"hoverYellow": "hoverYellow-171chs",
	),
	"chat": (
		"chat": "chat-3bRxxu",
		"chatContent": "content-yTz4x3",
		"chatLoadingWrapper": "wrapper-3vR61M",
		"messageLoadingWrapper": "wrapper-1F5TKx",
		"noChannel": "noChannel-Z1DQK7",
		"markup": "markup-2BOw-j",
	),
	"embeds": (
		"codeblock": "markup-2BOw-j code",
		"codeblockInline": "markup-2BOw-j code.inline",
		"invite": "wrapper-35wsBm",
		"gift": "tile-2OwFgW",
		"giftInvalidPoop": "invalidPoop-pnUbq7",
	),
	"friends": (
		"container": "container-1D34oG",
		"tabBody": "tabBody-3YRQ8W",
		"inviteToolbar": "inviteToolbar-3F-l2g",
		"peopleColumn": "peopleColumn-29fq28",
		"peopleListItem": "peopleListItem-2nzedh",
		"peopleListUsername": "username-31C1TQ",
		"actionButton": "actionButton-uPB8Fs",
		"highlight": "highlight-Lf97TE",
		"nowPlayingColumn": "nowPlayingColumn-2sl4cE",
		"nowPlayingHeader": "header-13Cw0-",
		"consentCard": "consentCard-1iSxB_",
		"emptyCard": "emptyCard-1RJw8n",
		"itemCard": "itemCard-v9viV7",
		"itemCardBody": "body-1ld4H7",
		"itemCardBodySection": "section-2gLsgF",
		"itemCardSeperator": "separator-XqIyoz",
		"itemCardActive": "active-1xchHY",
		"itemCardInteractive": "interactive-3B9GmY",
		"voiceSectionIconWrapper": "voiceSectionIconWrapper-FO7UEY",
		"partyMemberOverflow": "partyMemberOverflow-lXnzvu",
		"multipleIconWrapper": "multipleIconWrapper-DfGWrz",
		"multipleIcon": "multipleIcon-1oJINS",
	),
	"header": (
		"header": "container-1r6BKw",
		"themed": "themed-ANHk51",
		"children": "children-19S4PO",
		"divider": "divider-3FBTu8",
		"iconWrapper": "iconWrapper-2OrFZ1",
		"icon": "icon-22AiRD",
		"iconClickable": "clickable-3rdHwn",
		"title": "title-29uC1r",
		"akaBadge": "akaBadge-1M-1Gw",
	),
	"popout": (
		"menu": "menu-3sdvDG",
		"friendsActiveNow": "popout-38lTFE",
	),
	"serverList": (
		"wrapper": "wrapper-1Rf91z",
		"scroller": "scroller-2TZvBN",
		"homeContainer": "tutorialContainer-1v44GL",
		"listItem": "listItem-2P_4kh",
		"serverSeparator": "guildSeparator-3s64Iy",
		"pill": "pill-31IEus",
		"pillItem": "item-2hkk8m",
		"iconWrapper": "wrapper-1BJsBx",
		"iconChildWrapper": "childWrapper-anI2G9",
		"serverIcon": "icon-27yU2q",
		"selected": "selected-bZ3Lue",
		"addServer": "circleIconButton-jET_ig",
		"addServerSelected": "selected-ugP_am",
		"lowerBadge": "lowerBadge-29hYVK",
		"numberBadge": "numberBadge-2s8kKX",
		"upperBadge": "upperBadge-2XnnGB",
		"unreadMentionBarTop": "unreadMentionsIndicatorTop-gA6RCh",
		"unreadMentionBarBottom": "unreadMentionsIndicatorBottom-BXS58x",
		"mentionBar": "mention-1f5kbO",
	),
	"sidebar": (
		"sidebar": "sidebar-2K8pFh",
		"privateChannels": "privateChannels-1nO12o",
		"searchBar": "searchBar-6Kv8R2",
		"scroller": "scroller-1JbKMe",
		"privateChannelsHeaderContainer": "privateChannelsHeaderContainer-3NB1K1",
		"privateChannelsHeader": "headerText-2F0828",
		"privateChannel": "channel-2QD9_O",
		"privateChannelRecipientsInviteButtonIcon": "privateChannelRecipientsInviteButtonIcon-3A3uTc",
		"channelsContainer": "container-PNkimc",
		"channelsScroller": "scroller-2wx7Hm",
		"channelsHeader": "header-2o-2hj",
		"serverName": "name-3YKhmS",
		"panels": "panels-j1Uci_",
		"panelUsername": "title-eS5yk3",
		"panelContainer": "container-3baos1",
		"panelButtonRow": "directionRow-3v3tfG",
		"panelButton": "button-14-BFJ",
		"noAccessSidebar": "container-36W3SS",
		"noAccessCategory": "category-2haXBH",
		"noAccessChannelIcon": "channelIcon-1TvDoP",
		"noAccessChannelName": "channelName-2wrHHc",
	),
	"store": (
		"store": "applicationStore-1pNvnv",
		"wrapper": "homeWrapperNormal-2KSUEa",
		"scroller": "scroller-9moviB",
		"nitroContainer": "premiumContainer-2Iux5m",
	),
	"userModal": (
		"modal": "modal-3c3bKg",
		"root": "root-SR8cQa",
		"topSection": "topSectionNormal-2-vo2m",
		"topPlaying": "topSectionPlaying-1J5E4n",
		"topSpotify": "topSectionSpotify-1lI0-P",
		"topStreaming": "topSectionStreaming-1Tpf5X",
		"topXbox": "topSectionXbox-3fWLjS",
		"top": "top-28JiJ-",
		"tabBarContainer": "tabBarContainer-1s1u-z",
		"tabBar": "tabBar-2MuP6-",
		"tabBarItem": "tabBarItem-1b8RUP",
		"tabBarItemSelected": "selected-3s45Ha",
		"tabBarThemed": "themed-OHr7kt",
		"tabBarItemNoPrefix": "item-PXvHYJ",
		"header": "header-QKLPzZ",
		"headerInfo": "headerInfo-30uryT",
		"headerFill": "headerFill-adLl4x",
		"activityProfile": "activityProfile-2bJRaP",
		"activity": "activity-1ythUs",
		"body": "body-3ND3kc",
		"userInfoSection": "userInfoSection-2acyCx",
		"userInfoSectionHeader": "userInfoSectionHeader-CBvMDh",
		"noteTextArea": "textarea-2r0oV8",
		"note": "note-QfFU8y",
		"connectedAccounts": "connectedAccounts-repVzS",
		"connectedAccount": "connectedAccount-36nQx7",
		"connectedAccountVerifiedIcon": "connectedAccountVerifiedIcon-3aZz_K",
		"guildAvatarWithoutIcon": "guildAvatarWithoutIcon-1sTmE_",
	),
	"userPopout": (
		"popoutLeft": "popoutLeft-3aViER",
		"popout": "userPopout-3XzG_A",
		"headerNormal": "headerNormal-T_seeN",
		"headerPlaying": "headerPlaying-j0WQBV",
		"headerSpotify": "headerSpotify-zpWxgT",
		"headerStreaming": "headerStreaming-2FjmGz",
		"headerXbox": "headerXbox-3G-4PF",
		"activity": "activity-11LB_k",
		"body": "body-3iLsc4",
		"bodyTitle": "bodyTitle-Y0qMQz",
		"note": "textarea-2r0oV8",
		"role": "role-2irmRk",
		"roleCircle": "roleCircle-3xAZ1j",
		"addButton": "addButton-pcyyf6",
		"actionButton": "actionButton-VzECiy",
		"footer": "footer-1fjuF6",
		"input": "input-cIJ7To",
		"focused": "focused-1mmYsC",
	)
);
