@use "backend" as *;
/* Start Roles */
#{c(role role)} {
	background: var(--profile-role-pill-background-color,$card);
}
:is(#{c(main dark)}, #{c(main light)}) {
	#{c(role overflow popout popout)} {
		background: var(--modal-background);
		backdrop-filter: blur(5px);
	}
}
#{c(role overflow popout header)} {
	color: var(--header-primary);
}
#{c(role overflow popout arrow)} {
	display: none;
}