@use "backend" as *;
/* Start User Settings */
:is(#{c(main dark)},#{c(main light)}) {
	#{c(userSettings codeRedemptionRedirect)} {
		@include card;
	}
	// #{c(userSettings nitroFeature)} {
	// 	@include card;
	// 	min-height: unset;
	// 	padding: 16px;
	// }
	:is(
	// #{c(userSettings boostCardGemContainer)},
	#{c(userSettings subscriptionsNoItemsIconSubs)},
	#{c(userSettings subscriptionsNoItemsIconCredits)},
	#{c(userSettings addAccountMetadataContainer)}
	) {
		background: transparent;
	}
}
#{c(settings sidebar regionScroller)} {
	background: $side;
}
#{c(settings sidebar)} {
	#{c(tab header)} {
		@include header;
		font-weight: 600;
		font-size: 16px;
	}
	#{c(tab separator)} {
		background: $secondary;
	}
}
#{c(settings content regionScroller)} {
	background: $middle;
	#{c(settings content customScroller)} {
		background: transparent;
	}
}
#{c(settings myAccount security profileCard account)} {
	background: $card;
	#{c(settings myAccount security profileCard background)} {
		padding: 8px 0 0 0;
		background: transparent;
	}
	#{c(settings myAccount security profileCard avatar)} {
		border-color: transparent;
		background: transparent;
	}
}
// #{c(userSettings nitroFeatureImageWrapper)} {
// 	display: none;
// }
// #{c(userSettings profileAvatarUploader)} {
// 	border-color: transparent;
// 	background-color: transparent;
// }
// #{c(userSettings nitroRedirectWarningIcon)} {
// 	color: $yellow;
// }
#{c(userSettings radioGroupItem)} {
	backdrop-filter: blur(calc($blur * 3px));
	background: var(--background-modifier-accent);
	&:hover:not([aria-checked=true]) {
		background: var(--background-modifier-hover);
	}
	&[aria-checked=true] {
		background: var(--background-modifier-selected);
	}
}
#{c(userSettings radioBar)} {
	border-left: 3px solid var(--radio-bar-accent-color, var(--header-primary));
	&[style*="--radio-bar-accent-color"] {
		#{c(userSettings radioIconForeground)} {
			color: var(--radio-bar-accent-color);
		}
	}
	&[style*="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
		--radio-bar-accent-color: var(--green-color) !important; // !important reason: element.style
	}
	&[style*="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
		--radio-bar-accent-color: var(--yellow-color) !important; // !important reason: element.style
	}
	&[style*="hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%)"] {
		--radio-bar-accent-color: var(--secret-orange) !important; // !important reason: element.style
	}
	&[style*="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
		--radio-bar-accent-color: var(--red-color) !important; // !important reason: element.style
	}
}
#{c(userSettings radioIconForeground)} {
	color: $primary;
}
// background-color is required here as the element uses background-image
#{c(userSettings addAccountButtonInner)} {
	background-color: var(--background-modifier-accent);
	&:hover {
		background-color: var(--background-modifier-hover);
	}
}
#{c(userSettings connectionHeader)} {
	background: transparent;
	padding: 10px 20px;
}
// #{c(userSettings boostGuildsSection)} {
// 	margin-bottom: 32px;
// }
// #{c(userSettings boostCardWrapper)} {
// 	background: transparent;
// 	#{c(friends itemCardOuter)} {
// 		background: transparent;
// 	}
// }
// #{c(userSettings boostDealWrapper)}::before {
// 	content: none;
// }
#{c(settings tools container)} {
	color: $primary;
	&:hover,
	&:active {
		color: $hover;
	}
	#{c(settings tools closeButton)} {
		border-color: currentColor;
		&:hover,
		&:active {
			background: transparent;
		}
		&>svg>path {
			fill: currentColor;
		}
	}
	#{c(settings tools closeButton)}+#{c(settings tools keybind)},
	#{c(settings tools closeButton)} {
		color: currentColor;
	}
}
#{c(userSettings subscriptionsNoItemsCardSubs)},
#{c(userSettings subscriptionsNoItemsCardCredits)},
#{c(userSettings connection)},
#{c(card primary)},
#{c(card primaryEditable)},
#{c(card primaryOutline)},
#{c(userSettings addConnectionContainer)} {
	@include card;
}
// #{c(userSettings boostSubscriptionSlots)},
#{c(userSettings subscriptionsDetailsBlock)},
// #{c(userSettings boostGuildHeader)},
// #{c(userSettings nitroRedirectContainer)},
// #{c(userSettings boostCardNoIcon)} 
#{c(userSettings giftPromotionCard)} {
	background: $card;
}
#{c(main appLayer)},
#{c(settings content)},
#{c(settings content column)} #{c(settings myAccount security profileCard field list)} {
	background: transparent;
}

#{c(settings standardSidebarView)} {
	background: transparent;
}