@use "backend" as *;
/* Start User Settings */
:is(#{c(main dark)},#{c(main light)}) {
  #{c(userSettings codeRedemptionRedirect)} {
    @include card;
  }
  #{c(userSettings nitroFeature)} {
    @include card;
    min-height: unset;
    padding: 16px;
  }
  :is(#{c(userSettings boostCardGemContainer)},#{c(userSettings subscriptionsNoItemsIconSubs)},#{c(userSettings subscriptionsNoItemsIconCredits)}) {
    background-color: transparent;
  }
}
#{c(userSettings sidebarRegionScroller)} {
  background-color: $side;
}
#{c(userSettings sidebar)} {
  #{c(userSettings sidebarHeader)} {
    @include header;
    font-weight: 600;
    font-size: 16px;
  }
  #{c(userSettings sidebarSeparator)} {
    background-color: $secondary;
  }
}
#{c(userSettings sidebarInfo)} {
  #{c(chatForm colorMuted)} {
    color: var(--interactive-normal);
  }
}
#{c(userSettings sidebarItem)} {
  &[style*="color: rgb(114, 137, 218)"] {
    color: $primary !important; // !important reason: element.style
  }
  &[style*="background-color: rgba(114, 137, 218, 0.1)"] {
    background-color: transparent !important; // !important reason: element.style
    color: $primary;
    @include bg($o:.1,$bg:$primary,$br:6px);
  }
  // &[style*="background-color: rgb(114, 137, 218)"] {
  //   background-color: $primary !important; // !important reason: element.style
  //   color: #fff !important; // !important reason: element.style, overlapping rules
  // @debug "fixed color";
  // }
}
#{c(userSettings contentRegionScroller)} {
  background-color: $middle;
  #{c(serverSettings auditScroller)} {
    background-color: transparent;
  }
}
#{c(userSettings accountProfile)} {
  background-color: $card;
  #{c(userSettings accountProfileBackground)} {
    padding: 8px 0 0 0;
    background-color: transparent;
  }
  #{c(userSettings accountProfileAvatar)} {
    border-color: transparent;
    background-color: transparent;
  }
}
#{c(userSettings nitroFeatureImageWrapper)} {
  display: none;
}
#{c(userSettings profileAvatarUploader)} {
  border-color: transparent;
  background-color: transparent;
}
#{c(userSettings profilePopoutInfo)} {
  background-color: $side;
}
#{c(userSettings nitroRedirectWarningIcon)} {
  color: $yellow;
}
#{c(userSettings radioGroupItem)} {
  backdrop-filter: blur(3px);
  background-color: var(--background-modifier-accent);
  &:hover:not([aria-checked=true]) {
    background-color: var(--background-modifier-hover);
  }
  &[aria-checked=true] {
    background-color: var(--background-modifier-selected);
  }
}
#{c(userSettings radioBar)} {
  border-left: 3px solid;
  border-left-color: var(--radio-bar-accent-color, --header-primary);
  &[style*="--radio-bar-accent-color"] {
    #{c(userSettings radioIconForeground)} {
      color: var(--radio-bar-accent-color);
    }
  }
  &[style*="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
    --radio-bar-accent-color: var(--green-color) !important; // !important reason: element.style
  }
  &[style*="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
    --radio-bar-accent-color: var(--yellow-color) !important; // !important reason: element.style
  }
  &[style*="hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%)"] {
    --radio-bar-accent-color: var(--secret-orange) !important; // !important reason: element.style
  }
  &[style*="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
    --radio-bar-accent-color: var(--red-color) !important; // !important reason: element.style
  }
}
#{c(userSettings radioIconForeground)} {
  color: $primary;
}
#{c(userSettings addAccountButton)} #{c(userSettings addAccountButtonInner)},
#{c(userSettings addAccountWrapper)} #{c(userSettings addAccountWrapperInner)} {
  background-color: var(--background-modifier-accent);
  &:hover {
    background-color: var(--background-modifier-hover);
  }
}
#{c(userSettings connectionHeader)} {
  background-color: transparent;
  padding: 10px 20px;
}
#{c(userSettings boostGuildsSection)} {
  margin-bottom: 32px;
}
#{c(userSettings boostCardWrapper)} {
  background-color: transparent;
  #{c(friends itemCardOuter)} {
    background-color: transparent;
  }
}
#{c(userSettings boostDealWrapper)}::before {
  content: none;
}
#{c(userSettings closeButtonContainer)} {
  color: $primary;
  &:hover,
  &:active {
    color: $hover;
  }
  #{c(userSettings closeButton)} {
    border-color: currentColor;
    &:hover,
    &:active {
      background-color: transparent;
    }
    &>svg>path {
      fill: currentColor;
    }
  }
  #{c(userSettings closeButton)}+#{c(userSettings closeButtonKeybind)},
  #{c(userSettings closeButton)} {
    color: currentColor;
  }
}
#{c(userSettings subscriptionsNoItemsCardSubs)},
#{c(userSettings subscriptionsNoItemsCardCredits)},
#{c(userSettings connection)},
#{c(userSettings cardPrimary)},
#{c(userSettings cardPrimaryEditable)},
#{c(userSettings cardPrimaryOutline)},
#{c(userSettings cardPrimaryOutlineEditable)},
#{c(userSettings addConnectionContainer)} {
  @include card;
}
#{c(userSettings boostSubscriptionSlots)},
#{c(userSettings subscriptionsDetailsBlock)},
#{c(userSettings giftPromotionCard)},
#{c(userSettings boostGuildHeader)},
#{c(userSettings boostCardNoIcon)},
#{c(userSettings nitroRedirectContainer)} {
  background-color: $card;
}
#{c(main appLayer)},
#{c(userSettings standardSidebarView)},
#{c(userSettings contentRegion)},
#{c(userSettings contentColumn)} #{c(userSettings fieldList)},
#{c(userSettings profileBannerPreview)} {
  background-color: transparent;
}