@use "backend" as *;
/* Start User Popout */
#{c(userPopoutNew popout)}:not(#{c(userPopoutNew popoutThemed)}),
#{c(userPopout popout)} {
	position: relative;
	box-shadow: none;
	max-height: 580px;
	background-color: transparent;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--user-popout-image) center/cover no-repeat var(--user-popout-attachment);
		z-index: -1;
		filter: var(--user-popout-filter);
	}
}
#{c(userPopoutNew popout)}:not(#{c(userPopoutNew popoutThemed)}) :is(#{c(userPopoutNew overlayBackground)},#{c(userPopoutNew badges)}),
#{c(userPopout body)},
#{c(userPopout footer)} {
	background-color: $side;
}
#{c(userPopout actionButton)} {
	color: $primary;
	border-color: currentColor;
	&:hover {
		color: $hover;
	}
}
#{c(userPopout footer)} {
	margin-top: 0;
}

#{c(userPopout divider)} {
	display: none;
}
#{c(userPopout body)} {
	padding-top: 8px;
	#{c(userPopout bodyTitle)} {
		color: var(--header-primary);
	}
	#{c(userPopout noteTextArea)} {
		&:focus {
			background-color: transparent;
		}
	}
}
#{c(userPopout bodyInnerWrapper)} {
	padding-right: 0;
	background-color: transparent;
}
#{c(userPopout input)} {
	background-color: transparent;
	&:focus,
	&#{c(userPopout focused)} {
		border-color: $primary;
	}
}

#{c(userPopout loadingPopout)} {
	background-color: $card;
	border-radius: 16px;
}
#{c(userPopoutNew popout)}>div:not(#{c(userPopoutNew innerWithTheme)}) #{c(userPopout avatar)},
#{c(userPopoutNew avatar)} {
	background-color: transparent;
	border-color: transparent;
}
#{c(userPopout headerTop)} {
	background-color: $header;
	border-bottom: none;
}
#{c(userPopout activity)} {
	border-bottom: none;
}
#{c(userPopout headerTop)},
#{c(userPopout activity)} {
	max-height: 200px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		border-color: transparent;
		background-color: transparent;
		border: 2px solid transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-clip: padding-box;
		border: 2px solid transparent;
		border-radius: 4px;
		background-color: $primary;
		min-height: 40px;
	}
}
#{c(userPopout role)} {
	border: 1px solid; // color does not need to be defined because it's done in element.style
	background-color: transparent;
	border-radius: 16px;
}


// NOTE: since 2022-08-30, a new profile popout modal was introduced which allows for customisation.
// This customisation means the end-user can have a gradient background. 
// The themed vars are supplied within inline.
// From testing with a user who has already themed their popout profile, these are the following variables:
// --profile-gradient-primary-color - pseudo-border & inner gradient color top
// --profile-gradient-secondary-color - pseudo-border & inner gradient color bottom
// --profile-gradient-button-color - activity-related buttons
// --profile-gradient-overlay-color - body overlay, covers gradient
// --profile-avatar-border-color - avatar background and border color
// --profile-body-background-color - body and profile badge background - supplied with extra light/dark
// --profile-body-divider-color - dividers within body - supplied with extra light/dark
// --profile-message-input-border-color - message border - supplied with extra light/dark

#{c(userPopoutNew popout)}:not(#{c(userPopoutNew popoutThemed)}) #{c(userPopoutNew inner)} {
		background: transparent;
}