@use "backend" as *;
/* Start User Popout */
#{c(userPopout popout)} {
	position: relative;
	box-shadow: none;
	max-height: 580px;
  &::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
		background: var(--user-popout-image) center/cover no-repeat var(--user-popout-attachment);
	z-index: -1;
  }
}

// because discord.
#{c(main dark)},
#{c(main light)} {
	#{c(userPopout body)},
	#{c(userPopout footer)} {
		background-color: rgba(0,0,0,0.4);
	}
	#{c(userPopout actionButton)} {
		color: $primary;
		border-color: currentColor;
		&:hover {
			color: $hover;
		}
	}
}

// Top Sections
// #{c(main dark)},
// #{c(main light)} {
// 	#{c(userPopout headerNormal)},
// 	#{c(userPopout headerPlaying)},
// 	#{c(userPopout headerSpotify)},
// 	#{c(userPopout headerStreaming)},
// 	#{c(userPopout headerXbox)} {
// 	  background: rgba(0,0,0,0.2);
// 	}
// 	#{c(userPopout headerPlaying)} {
// 	  background-image: linear-gradient(to bottom right, $primary 0%, transparent 60%);
// 	}
// 	#{c(userPopout headerSpotify)} {
// 	  background-image: linear-gradient(to bottom right, var(--spotify-color,#1db954) 0%, transparent 60%);
// 	}
// 	#{c(userPopout headerStreaming)} {
// 	  background-image: linear-gradient(to bottom right, #593695 0%, transparent 60%);
// 	}
// 	#{c(userPopout headerXbox)} {
// 	  background-image: linear-gradient(to bottom right, #107c10 0%, transparent 60%);
// 	}
// }

// #{c(userPopout activity)} {
// 	background-color: transparent;
// }

#{c(userPopout body)} {
	#{c(userPopout bodyInnerWrapper)} {
		padding-right: 0;
	}
	#{c(userPopout bodyTitle)} {
		color: white;
	}
	#{c(userPopout note)} {
		&:focus {
			background-color: transparent;
		}
	}
}
#{c(userPopout input)} {
	background-color: transparent;
	&:focus,
	&#{c(userPopout focused)} {
		border-color: $primary;
	}
}

/* user banner popout (experiment - 2021-05-20 | forced - 2021-05-27) */
#{c(userPopout banner-loadingPopout)} {
	background-color: $card;
	border-radius: 16px;
}
#{c(userPopout banner-headerNormal)} {
	background-color: $card;
}
// #{c(userPopout banner-profileBanner)} {
	// &[style*="color"] {
	// 	background-color: transparent !important; // !important reason: element.style
	// }
// }
#{c(userPopout banner-avatar)} {
	background-color: transparent;
	border-color: transparent;
}
#{c(userPopout banner-headerTop)} {
	background-color: transparent;
	border-bottom: none;
}
#{c(userPopout banner-aboutMe)} {
	background-color: transparent;
}
#{c(userPopout banner-activity)} {
	border-bottom: none;
}
#{c(userPopout banner-headerTop)},
#{c(userPopout banner-activity)} {
	max-height: 200px;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		border-color: transparent;
		background-color: transparent;
		border: 2px solid transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-clip: padding-box;
		border: 2px solid transparent;
		border-radius: 4px;
		background-color: $primary;
		min-height: 40px;
	}
}