// what goes in here?
// - things that are only work with BD.
// - BD plugins

@use "start" as *;
/*! #{$theme-name} v#{$version} - BD Addon by LeafyLuigi */

@use "classes" as *;
@use "backend" as *;

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$hover: var(--hover-color);
$side: var(--side-shading);
$middle: var(--middle-shading);
$header: var(--header-shading);
$card: var(--card-background);

/* Begin BD Addon */
#{c(bd addonList)} {
	#{c(bd addonCard)} {
		background-color: transparent;
	}
	#{c(bd addonHeader)} {
		background-color: $header;
	}
	#{c(bd addonDescWrap)},
	#{c(bd addonFooter)} {
		background: $card;
	}
}
#{c(bd searchWrapper)} {
	background-color: $card;
	border: $primary;
}
#{c(bdEditor floatingWindow)} {
	z-index: 1200;
}
#{c(bdEditor floatingWindowTitlebar)} {
	background-color: $header;
}
#{c(bdEditor floatingWindowContent)} {
	background-color: transparent;
}

// Notices are partially in the main theme file.
#{c(bd notices)}:not(:empty) {
	position: relative;
}
#{c(bd notice)} {
	&:first-child {
		border-radius: 0;
	}
	animation: none;
}

// Better Image Viewer Plugin
body {
	#{c(bdPlugin betterImageViewer)} {
		z-index: 1200;
	}
	#{c(bdPlugin betterImageViewerLensRound)},
	#{c(bdPlugin betterImageViewerLens)} {
		border-color: $primary;
	}
}

// Xeno Library Plugin
body {
	#{c(bdPlugin xenoLibNotifs)} {
		z-index: 1100;
	}
	#{c(bdPlugin xenoLibNotifContentWrapper)} {
		#{c(bdPlugin xenoLibNotifLoadbar)} {
			background-image: linear-gradient(130deg, $primary, $secondary);
		}
	}
}

// Fix for one of DevilBro's plugins - BDFDB
// For some ungodly reason the prick thinks it's a good idea to change layerContainer.
div#{c(main appMount)} > #{c(main layerContainer)} {
	z-index: 1100; // "div" is there to overwrite the css priority.
}
// Fix up the borked update notice
#{c(main bg)}+#{c(notice base)} {
	width: calc(100vw - 3 * var(--win-min-max-close-button-width));
	top: 0;
}