// what goes in here?
// - things that are only work with BD.
// - BD plugins

@use "start" as *;
/*! #{$theme-name} v#{$version} - BD Addon by LeafyLuigi */

@use "classes" as *;

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$hover: var(--hover-color);
$side: var(--side-shading);
$middle: var(--middle-shading);
$header: var(--header-shading);
$card: var(--card-background);

/* Begin BD Addon */
#{c(bd addonList)} {
	#{c(bd addonCard)} {
		background-color: transparent;
	}
	#{c(bd addonHeader)} {
		background-color: $header;
	}
	#{c(bd addonDescWrap)},
	#{c(bd addonFooter)} {
		background: $card;
	}
}
#{c(bd searchWrapper)} {
	background-color: $card;
	border: $primary;
}
#{c(bdEditor floatingWindow)} {
	z-index: 1200;
}
#{c(bdEditor floatingWindowTitlebar)} {
	background-color: $header;
}
#{c(bdEditor floatingWindowContent)} {
	background-color: transparent;
}

// Channel Tabs Plugin
body {
	#channelTabs-container {
		padding: 0;
		z-index: 1011;
	}
	#channelTabs-settingsMenu {
		-webkit-app-region: no-drag;
	}
	#{c(bdPlugin channelTabsTabContainer)} {
		background-color: $header;
		flex-wrap: nowrap; // forces one line, forces new tab to be hidden after everything is filled.
	}
	#{c(bdPlugin channelTabsFavContainer)} {
		background-color: $middle;
		flex-wrap: nowrap; // forces one line, forces new favs to be hidden after everything is filled.
		&#{c(bdPlugin channelTabsNoFavs)} {
			height: calc(var(--channelTabs-favHeight) + 3px); // +3 from margin. makes it the same height as regular bar
		}
	}
	#{c(bdPlugin channelTabsUnreadBadge)} {
		&#{c(bdPlugin channelTabsNoUnread)} {
			background-color: transparent;
		}
	}
	#{c(bdPlugin channelTabsMentionBadge)} {
		background-color: $primary;
		&#{c(bdPlugin channelTabsNoMention)} {
			background-color: transparent;
		}
	}
	#{c(os mac type)}#{c(os titleBar)} ~ div #channelTabs-container > :first-child > :first-child {
		margin-left: 3px;
	}
}
#{c(os win platform)} body {
	#{c(os win type)} {
		// i hate math.
		top: calc(var(--channel-tabs-enabled,0) * ( var(--channel-tabs-tabBar-enabled,1) * (var(--channelTabs-tabHeight) + 3px ) + var(--channel-tabs-favBar-enabled,1) * (var(--channelTabs-favHeight) + 8px) ));
		&::before {
			height: calc(18px - 18px * var(--channel-tabs-enabled,0));
		}
	}
}
html:not(#{c(os win platform)}) div#{c(sidebar sidebar)} {
	border-radius: 0;
}

// Better Image Viewer Plugin
body {
	#{c(bdPlugin betterImageViewer)} {
		z-index: 1200;
	}
	#{c(bdPlugin betterImageViewerLensRound)},
	#{c(bdPlugin betterImageViewerLens)} {
		border-color: $primary;
	}
}

// Xeno Library Plugin
body {
	#{c(bdPlugin xenoLibNotifs)} {
		z-index: 1100;
	}
	#{c(bdPlugin xenoLibNotifContentWrapper)} {
		#{c(bdPlugin xenoLibNotifLoadbar)} {
			background-image: linear-gradient(130deg, $primary, $secondary);
		}
	}
}

// Fix for one of DevilBro's plugins - BDFDB
// For some ungodly reason the prick thinks it's a good idea to change layerContainer.
div#{c(main appMount)} > #{c(main layerContainer)} {
	z-index: 1100; // "div" is there to overwrite the css priority.
}