@use "backend" as *;
:is(#{c(main dark)},#{c(main light)}) {
    #{c(gse gifHeader)} {
        box-shadow: none;
    }
    #{c(gse gifResult)}:hover,
    #{c(gse gifResultFocused)} {
        box-shadow: none;
        &::after {
            box-shadow: inset 0 0 0 2px $primary, inset 0 0 0 3px $card;
        }
    }
    #{c(gse gifFavoritesFade)} {
        background-color: transparent;
        @include bg($bg:$primary,$o:0.8,$br:4px,$tr:opacity .15s ease-out);
        &:hover::before {
            opacity: 0.95;
        }
    }
    #{c(gse gifCategoryFade)},
    #{c(gse gifResultPlaceholder)} {
        background-color: $card;
    }
    #{c(gse gifNoResultsWrapper)} {
        color: var(--header-primary);
        font-size: 24px;
        background-color: $middle;
    }
    #{c(gse gifSadImage)} {
        display: none;
    }
    #{c(gse emojiPlaceholder)} {
        background-image: none;
    }
}
#{c(gse resizeHandle)} {
    width: 2px;
    background-color: $primary;
}
#{c(gse contentWrapper)} {
    background-color: transparent;
    box-shadow: none;
    padding-top: 0;
    grid-row-gap: unset;
    grid-template-rows: 40px auto;
    backdrop-filter: blur(5px);
}
#{c(gse nav)} {
    padding: 8px 16px;
    background-color: $header;
}
#{c(gse navButtonActive)} {
    background-color: $primary;
}

// without the parent tags, effects autocomplete
#{c(gse contentWrapper)},
#{c(gse floatingEmojiPicker)} {
    #{c(gse stickerGuildHeader)},
    #{c(gse stickerGuildHeaderWrapper)} {
        background: transparent linear-gradient(to right, $card 15%, transparent 50%);
    }
}

#{c(gse gifHeader)} {
    background-color: $header;
}
#{c(gse gifContainer)} {
    &::after {
        content: none;
    }
}
#{c(gse gifContent)} {
    background-color: $middle;
}
#{c(gse gifResult)} {
    // loading category in
    &[style*="background-color: hsl(255"] {
        background-color: $card !important; // !important reason: inline
    }
    // loading gif from category/trending/search/favs
    &[style*="background-color: rgb(146,"] {
        background-color: $primary !important; // !important reason: inline
        filter: grayscale(0.2) brightness(1.3);
    }
    &[style*="background-color: hsl(244,"] {
        background-color: $primary !important; // !important reason: inline
        filter: grayscale(0.2);
    }
    &[style*="background-color: hsl(228,"] {
        background-color: $primary !important; // !important reason: inline
        filter: brightness(1.2);
    }
}

#{c(gse stickerCategoryGeneric)}:hover {
    background-color: var(--background-modifier-hover);
    color: var(--interactive-hover);
}

#{c(gse stickerPremiumCategorySelected)},
#{c(gse stickerPremiumCategorySelected)}:hover,
#{c(gse stickerCategoryGenericSelected)},
#{c(gse stickerCategoryGenericSelected)}:hover,
#{c(gse stickerSearchSuggestion)} {
    background-color: $card;
}

#{c(gse stickerHeader)} {
    background-color: $header;
    box-shadow: none;
    padding: 0 16px 12px;
}
#{c(gse stickerSearchContainer)} {
    background-color: $card;
    &#{c(gse stickerDisabled)} {
        opacity: 1;
    }
}
#{c(gse stickersWrapper)} {
    #{c(gse stickersScroller)} {
        background-color: $middle; // i'd have made it all go alone rows and server headers but holy fuck it's difficult
    }
    #{c(gse stickerListItems)} {
        inset-inline-start: 0 !important; // !important reason: inline;
    }
}
#{c(gse stickerUpsell)},
#{c(gse emojiPremiumRetention)} {
    display: none;
}
#{c(gse stickerPackHeader)} {
    position: unset;
    top: unset;
}
#{c(gse stickerInspected)} #{c(gse stickerInspectedIndicator)} {
    mask: none;
    background-color: $card;
    border-radius: 12px;
}
#{c(gse stickerGuildListWrapper)} {
    top: 46px;
    background-color: transparent;
    #{c(gse stickersScroller)} {
        background-color: $side;
    }
}
#{c(gse stickerGuildListIcon)} {
    background-color: transparent;
}
#{c(gse stickerInspector)} {
    background-color: $header;
}

#{c(gse emojiInExpressionPicker)} {
    #{c(gse emojiHeader)} {
        padding: 0 16px 12px;
    }
    #{c(gse emojiGuildList)} {
        top: 46px;
    }
}
#{c(gse emojiPicker)} {
    border-radius: 0;
}
#{c(gse emojiHeader)} {
    background-color: $header;
    box-shadow: none;
}
#{c(gse emojiPickerListWrapper)} {
    #{c(gse emojiScroller)} {
        background-color: $middle;
    }
    #{c(gse emojiListItems)} {
        inset-inline-start: 0 !important; // !important reason: inline;
    }
}
#{c(gse emojiItem)}#{c(gse emojiItemSelected)} {
    background-color: $card;
}
#{c(gse emojiGuildList)} { 
    background-color: $side;
}
#{c(gse emojiSkinColorOptions)} {
    background-color: $card;
    backdrop-filter: blur(5px);
    border-color: transparent;
}
#{c(gse emojiDefaultCategorySelected)},
#{c(gse emojiDefaultCategorySelected)}:hover {
    background-color: $card;
}
#{c(gse emojiUnicodeShortcut)} {
    display: none;
}

#{c(gse floatingEmojiPicker)} {
    backdrop-filter: blur(5px);
    #{c(gse emojiPicker)} {
        background-color: transparent;
    }
}