@use "backend" as *;
// Also includes recent mentions.
#{c(ipt ipHeader)},
#{c(ipt threadDropdownModal)} {
    #{c(ipt topPill)} #{c(ipt tab)}#{c(ipt tabSelected)} {
        background-color: $primary;
        color: var(--interactive-active);
    }
}

#{c(ipt inboxModal)},
#{c(ipt pinnedModal)},
#{c(ipt threadDropdownModal)} {
    box-shadow: none;
    background-color: transparent;
    backdrop-filter: blur(5px);
    top: 4px;
    position: relative;
}

// ip = shared between inbox and pinned
#{c(ipt ipHeader)} {
    background-color: $header;
}

#{c(ipt inboxModal)}#{c(ipt mentionsMessagesPopoutWrap)} {
    min-height: unset;
    #{c(ipt inboxBody)} {
        background-color: transparent;
    }
}

#{c(ipt inboxBody)} {
    background-color: $card;
    min-height: unset;
    padding: 16px;
}
#{c(ipt inboxScroller)} {
    background-color: $card;
}
#{c(ipt mentionsScroller)} {
    background-color: $card;
    padding: 0 16px;
}
// This box shows up when you've got shit unread but haven't clicked the button inside it. Doesn't add owt.
#{c(ipt inboxTutorial)},
// This shows up when nothing's read and is basically a placeholder image thing.
#{c(ipt inboxIconContainer)} {
    display: none;
}
#{c(ipt inboxChannel)},
#{c(ipt mentionsMessageContainerParent)} {
    margin: 4px 0;
    padding: 4px;
    background-color: transparent;
    border: 1px solid $primary;
    border-radius: 8px;
}
#{c(ipt inboxChannelHeader)},
#{c(ipt inboxChannelMessages)} {
    background-color: transparent;
}
#{c(ipt inboxUnreadMessagesCountWrapper)} {
    background-color: $primary;
    filter: none;
}
#{c(ipt inboxRoundButton)} {
    background-color: $primary;
    color: var(--interactive-normal);
    &:hover:not(#{c(ipt inboxRoundButtonDisabled)}) {
        background-color: $hover;
        color: var(--interactive-hover);
    }
}
#{c(ipt inboxJumpButton)} {
    background-color: $card;
}
#{c(ipt mentionsMessageContainer)},
#{c(ipt mentionsGuildIcon)} {
    background-color: transparent;
}


#{c(ipt pinnedFooter)},
#{c(ipt pinnedScroller)} {
    background-color: $middle;
}
#{c(ipt pinnedMessageWrapper)} {
    margin: 4px 0;
    padding: 4px;
    background-color: transparent;
    border: 1px solid $primary;
    border-radius: 8px;
}
#{c(ipt pinnedJumpButton)} {
    background-color: $card;
}
#{c(ipt pinnedActionButtons)} #{c(ipt pinnedCloseIcon)} {
    color: $primary;
    &:hover {
        color: $hover;
    }
}
#{c(ipt pinnedPlaceholderImage)} {
    display: none;
}

#{c(ipt threadDropdownHeader)} {
    background-color: $header;
}
#{c(ipt threadDropdownContainer)} {
    background-color: $middle;
}
#{c(ipt threadDropdownList)} {
    background-color: $middle;
    #{c(ipt threadDropdownContainer)} {
        background-color: transparent;
    }
}
#{c(ipt threadDropdownBodyIcon)},
#{c(ipt threadDropdownBodyStars)} {
    display: none;
}