@use "backend" as *;
@use "classes";
/* Licence https://github.com/SlippingGitty/Comfy-Discord-202k-Theme/blob/main/LICENSE */

@mixin flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/*
////////////////////////////////////////
///Comfy Discord - WITH COLOR CHANGES
////////////////////////////////////////
*/

#{c(main dark)} {
	--background-tertiary: #1C1B29;
	--background-secondary: #292841;
	--background-secondary-alt: #191f2e;
	--background-primary: #312F51;
	--channeltextarea-background: #191f2e;
	--background-accent: #6E85D3;
	--background-modifier-hover: #1c2030;
	--background-modifier-active: #1a1e2e;
	--background-modifier-selected: #191f2e;
	--deprecated-card-bg: #12141f63;
	--background-floating: #1C1B29;
	--deprecated-quickswitcher-input-background:#101320;
	--elevation-low: none;
	--toast-background: #292841 !important;
	--toast-header: #101320 !important;
	--toast-contents: #23283d !important;
	--scrollbar-auto-thumb: #1C1B29;
	--scrollbar-auto-track: #292841;
}

#{c(main light)} {
	--background-tertiary: #101320;
	--background-secondary: #1e2233;
	--background-secondary-alt: #191f2e;
	--background-primary: #23283d;
	--header-primary: #fff;
	--header-secondary: #b1b5b9;
	--text-normal: #8e9297;
}

/*
////////////////////////
///Tamago-iku 's 202k
///////////////////////
*/

// chat form

#{c(chatForm channelTextAreaMain)} {
	margin-bottom: 24px;
	background-color: var(--background-primary);
}

#{c(chatForm channelTextAreaBase)} {
	position: relative;
	width: 100%;
	text-indent: 0;
	border-radius: 50px;
}

#{c(chatForm sansAttachButton)} {
	padding-left: 16px;
}

#{c(chatForm inner)} {
	@include flex;
	position: relative;
}

#{c(chatForm textAreaSlate)} {
	padding: 0;
}

#{c(chatForm textArea)} {
	background-color: transparent;
	resize: none;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.375rem;
	width: 100%;
	height: 44px;
	min-height: 44px;
	color: var(--text-normal);
	padding-left: 0;
	padding-right: 10px;
}

#{c(chatForm buttons)} {
	@include flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	height: 44px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	margin-right: 4px;
}

// member list

#{c(memberList group)} {
	padding: 20px 8px 0 16px;
	height: 50px;
}

#{c(memberList name)} {
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	color: #fff;
}

#{c(memberList activity)} {
	@include flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	font-weight: 500;
}

// store

#{c(store libraryContainer)} {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	color: #BDBAEB;
}

/*
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///LUCKFIRE - DARK THEME WARNING - NOTIFICATION - https://github.com/discord-theme-tools/theme-warnings/blob/main/LICENSE
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

#{c(main light)} #app-mount::after {
	z-index: 1005;
	content: "For this theme to work properly, you have to enable Dark Mode. \a\aTo enable it, head over to Settings -> Appearance.";
	white-space: pre-wrap;
	position: absolute;
	right: 5px;
	bottom: 5px;
	max-width: 210px;
	padding: 15px 0 15px 80px;
	border-radius: 5px;
	border-left: 4px solid #ed4245;
	font-weight: 500;
	color: var(--text-normal);
	background: var(--background-tertiary);
	background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZWQ0MjQ1IiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNNC40NyAyMWgxNS4wNmMxLjU0IDAgMi41LTEuNjcgMS43My0zTDEzLjczIDQuOTljLS43Ny0xLjMzLTIuNjktMS4zMy0zLjQ2IDBMMi43NCAxOGMtLjc3IDEuMzMuMTkgMyAxLjczIDN6TTEyIDE0Yy0uNTUgMC0xLS40NS0xLTF2LTJjMC0uNTUuNDUtMSAxLTFzMSAuNDUgMSAxdjJjMCAuNTUtLjQ1IDEtMSAxem0xIDRoLTJ2LTJoMnYyeiIvPjwvc3ZnPg==);
	background-repeat: no-repeat;
	background-size: 55px;
	background-position: 12px center;
}

/*
//////////////////////
///ADDITIONS
/////////////////////
*/

/* Font */
* {
	text-transform: none;
}

/* Search */
#{c(header searchInner)} #{c(header searchBar)} {
	width: 80px;
	transition-duration:600ms;
}
#{c(header searchBar)}:hover,
#{c(header searchInner)}#{c(header searchOpen)} #{c(header searchBar)} {
	width: 250px !important;
}

/* Channel name */
#{c(sidebar channelName)} {
	font-weight: bold;
	color: #999B9F;
}
div#{c(button contents)} {
	color: #BDBAEB;
}

/* Selected Channel */
#{c(sidebar channelModeSelected)} #{c(sidebar channelContent)} {
	background-color: #423F71;
	border-radius: 50px;
}
/* Hovered channel */
#{c(sidebar channelContent)}:hover {
	background-color: transparent;
	border-radius: 50px;
}

/* SVG icons */
#{c(header iconClickable)} #{c(header icon)} {
	color: white;
}
svg#{c(header searchIcon)},
svg#{c(header searchIconAdd)} {
	color: #BDBAEB;
}

/* Channel names */
#{c(chat emptyChannelIcon)} {
	background-color: #1C1B29;
	color: #8D8BAE;
}
#{c(chat chatHeaderH1)} {
	font-size: 50px;
	font-weight: 700;
}

/* Channel Desc */
#{c(chat chatHeaderDesc)} {
	color: #fff;
	font-weight: 100;
	font-size: 20px;
}
div#{c(button contents)} {
	color: #6ADBC6;
	font-weight: 100;
}
#{c(button icon)} {
	color: #0000;
}

/* Server icon buttons */
#{c(serverList addServer)} {
	color: #6ADBC6;
	background-color: var(--background-primary);
}

/* Channel Bar */
#{c(header header)}#{c(header themed)} {
	box-shadow: 1px 1px 1px #2B2946;
}

/* Friends list */
#{c(friends peopleList)},
#{c(friends peopleColumn)} {
	background-color: #312F51;
}

/* Active now */
#{c(friends nowPlayingColumn)},
#{c(friends itemCardBodySection)} {
	background-color: #292841;
}

/* Removes that stupid rounded border on the server name */
#{c(os windows)} #{c(sidebar sidebar)} {
	border-radius: 0;
}

/* Extend member sidebar into its own area - Pavol */
#{c(header toolbar)} {
	position:relative;
	right:245px;
}
#{c(memberList wrap)} {
	position:relative;
	bottom:48px;
	z-index: 1;
	height:1400px;
}
#{c(header header)}#{c(header themed)} {
	z-index:1;
}

/* Make channel topic smaller */
#{c(header topic)}#{c(header topicExpandable)} {
	margin-right: 400px;
}
#{c(header divider)} {
	display: none;
}
#{c(header nicknames)} {
	margin-right: 280px;
}

/* User flyout */
#{c(main dark)} #{c(userPopout body)},
#{c(main dark)} #{c(userPopout footer)} {
	background-color: #423F71;
}

#{c(userPopout headerTop)} {
	background-color: #312F51;
}

/* Media upload flyout */
#{c(upload modal)} #{c(upload inner)},
#{c(main dark)} #{c(upload modal)} {
	background-color: #312F51;
}

#{c(upload modal)} #{c(upload footer)}#{c(upload hasSpoilers)} {
	background-color: #423F71;
}

/* Select Friends Flyout*/
#{c(modals header)},
#{c(groupDm footer)},
#{c(groupDm noResults)},
#{c(groupDm bodyScroller)} {
	background-color: #312F51;
}

/* Buttons */
#{c(button lookFilled)}#{c(button colorBrand)} {
	background-color: #423F71;
}

#{c(button lookFilled)}#{c(button colorRed)} {
	background-color: #690000;
}

#{c(button lookOutlined)}#{c(button colorRed)} {
	border-color: #690000;
}
#{c(button lookFilled)}#{c(button colorYellow)} {
	background-color: #825100;
}
#{c(main toggle)} {
	background-color: #423F71 !important;
}

/* Set a custom status menu */
#{c(main dark)} #{c(modals footer)},
#{c(modals body)} {
	background-color: #312F51;
}

/* Auto complete */
#{c(modals autocompleteCategoryHeader)},
#{c(modals autocompleteCommandBase)},
#{c(modals autocompleteInner)} {
	background-color: #312F51;
}
#{c(modals autocompleteCommandBase)}:hover,
#{c(modals autocompleteList)} {
	background-color: #292841;
}

/* Bubble Bar Recolor */
#{c(main base)} #{c(chatForm channelTextAreaBase)} #{c(chatForm inner)} {
	#{c(chatForm textArea)},
	#{c(chatForm button)} {
		background-color: #423f71;
	}
}
.InvisibleTyping-typingButton-invisibleTypingButton svg,
#{c(chatForm buttonWrapper)} {
	color: #bdbaeb;
}
#{c(chatForm attachButtonPlus)} {
	fill: #6adbc6;
}