@use "backend" as *;
/* Begin Boosts */
.checkIcon__0a9d0 {
  color: var(--hsl-green-color);
}
.xIcon__0a9d0 {
  color: var(--hsl-red-color);
}
.scroller__00843 {
  background:var(--hsl-middle-shading);
}
.wrapper__3b770,
.headerBackground__00843,
.recommendedTierHighlight__0a9d0,
.heroSection__9dbc9,
.container__040eb,
.wrapper__9ed0b,
.wrapper__65e57 {
  display: none;
}
.listItem_bb27fe {
  background: var(--hsl-card-background);
  border-color: var(--hsl-primary-color);
}
.listItem_bb27fe .question_bb27fe {
  color: var(--text-muted) !important; /* !important reason: inline.style */
}
