@use "backend" as *;
/* Begin Boosts */
:is(#{c(main dark)},#{c(main light)}) {
	#{c(boost modal)} {
		background: $middle none;
	}
	#{c(boost ctaBar)} {
		@include card;
		background-image: none;
	}
	:is(#{c(boost tierMarkerBackground)},#{c(boost barBackground)},#{c(boost tierBody)},#{c(boost perk)}) {
		background-color: $card;
	}
	#{c(boost tierHeaderLocked)} {
		background-color: $header;
	}
}
#{c(boost guildIcon)} {
	background-color: transparent;
}
#{c(boost tierMarker)} {
	// filled would be: rgb(255, 115, 250) [both light and dark]
	// dark mode
	&[style*="rgb(32, 34, 37)"],
	// light mode
	&[style*="rgb(235, 237, 239)"] { 
		background-color: transparent !important; // !important reason: inline
	}
}