@use "backend" as *;
/* Start Server List */
#{c(serverList wrapper)} {
	margin-bottom: var(--custom-app-panels-height,0);
	background: transparent;
	&:focus {
		outline: 0;
	}
	#{c(main refreshFastFollowBackground)} & {
		background: transparent;
	}
}

#{c(serverList tree)} {
	background-color: $side;
	&:focus {
		outline: none;
	}
}

#{c(serverList folder)},
#{c(serverList folder)}#{c(serverList folder hover)} {
	background: transparent;
}
#{c(serverList folder expandedFolderBackground)} {
	background: $card;
}
#{c(serverList serverWrapperSimple)} {
	border-radius: unset;
	overflow: unset;
}
#{c(serverList iconWrapper)} {
	#{c(serverList iconChildWrapper)} {
		background-color: $card;
		transition: background-color .1s ease-out,color .1s ease-out,border-radius 0.1s ease-out;
	}
	&:is(
		#{c(serverList selected)},
		:hover
	) {
		#{c(serverList iconChildWrapper)} {
			background-color: $primary;
		}
		:is(
			#{c(serverList serverIcon)},
			#{c(serverList iconChildWrapper)}
		) {
			border-radius: 33%;
		}
	}
	:is(
		#{c(serverList serverIcon)},
		#{c(serverList iconChildWrapper)}
	) {
		border-radius: 50%;
		transition: border-radius 0.1s;
	}
}
#{c(serverList addServer)} {
	background-color: $card;
	color: $primary;
	border-radius: 50%;
	transition: color .15s ease-out,background-color .15s ease-out,border-radius 0.15s;
	&#{c(serverList addServer selected)},
	&:hover:not(#{c(serverList addServer disabled)}) {
		background-color: $primary;
		border-radius: 33%;
	}
}

#{c(serverList pillItem)} {
	background-color: $primary;
}

:is(
	#{c(serverList dragCenterTarget)},
	#{c(serverList dragTarget)}
)#{c(serverList dragOver)}:before {
	background-color: $green; //moving bar thing
}

#{c(serverList homeContainer)} {
	#{c(serverList iconWrapper)} {
		#{c(serverList iconChildWrapper)} {
			background: $home center/cover no-repeat scroll;
			filter: var(--home-icon-filter);
			color: transparent;
		}
		&:is(
			#{c(serverList selected)},
			:hover
		) {
			#{c(serverList iconChildWrapper)} {
				background-color: $primary;
			}
		}
	}
}
#{c(serverList serverSeparator)} {
	background: linear-gradient(to bottom, $secondary, transparent);
	width: 48px;
	height: 4px;
	margin-bottom: -2px;
}
#{c(sidebar server unreadBar old unread)},
#{c(sidebar server unreadBar old mention)},
#{c(sidebar server unreadBar old mention)}:active,
// #{c(sidebar server unreadBar mentionsBar)},
#{c(sidebar server unreadBar bar)} {
	background-color: $primary;
}

#{c(sidebar server unreadBar unreadIcon)},
#{c(sidebar server unreadBar text)} {
	color: var(--status-danger-text) !important; // !important reason: inline style with barText when not mentioned
}

#{c(serverList numberBadge)} {
	background-color: $primary !important; // !important reason: element.style
}

#{c(serverList iconBadge)}#{c(serverList participating)} {
	background-color: $green;
	filter: none;
}

#{c(serverList placeholderInner)} {
	background-color: $card;
}

#{c(serverList serverWrapper)} > svg > foreignObject[mask^="url(#"] {
	mask: none;
}

#{c(serverList discover footer)},
#{c(serverList discover gradient)} {
	background: none;
}