@use "backend" as *;
/* Begin Tooltips */
#{c(main layerContainer)} {
  z-index: 1100;
}
#{c(tooltips tooltip)} {
  z-index: 2000;
}
#{c(tooltips pointer)} {
  display: none;
}
:is(#{c(main dark)},#{c(main light)}) {
  :is(#{c(tooltips black)},#{c(tooltips brand)},#{c(tooltips grey)},#{c(tooltips primary)},#{c(media bubble)}) {
    background: $tooltip;
    color: var(--header-primary);
    text-shadow: 2px 2px 2px var(--header-secondary);
  }
}
#{c(tooltips stageListenerPill)} {
  background-color: $card;
}
