@use "backend" as *;
/* Begin Tooltips */
#{c(main layerContainer)} {
	z-index: 1100;
}
#{c(tooltips tooltip)} {
	z-index: 2000;
}
#{c(tooltips pointer)} {
	#{c(main visualRefresh)} &,
	& {
		display: none;
	}
}
#{c(tooltips black)},
#{c(tooltips brand)},
#{c(tooltips grey)},
#{c(tooltips primary)},
#{c(media bubble)} {
	background: $tooltip;
	color: var(--header-primary);
}
#{c(tooltips stageListenerPill)} {
	background: $card;
}
