/**
 * @name Pyrite
 * @author LeafyLuigi
 * @version 0.0.9
 * @description Currently Indev Pyrite - BD
 * @source https://github.com/LeafyLuigi/discord-themes/tree/master/Pyrite
 * @website https://github.com/LeafyLuigi/discord-themes/tree/master/Pyrite
 * @invite W976FZS
 */

/* Import Base */
@import url(https://leafyluigi.github.io/discord-themes/pyrite/public/base.css);

/* Import BD Only Features */
@import url(https://leafyluigi.github.io/discord-themes/pyrite/public/better-discord.css);

/* Import for optional things: */
/* HorizontalServerList. Includes the base for the minitheme. */
/* @import url(https://leafyluigi.github.io/discord-themes/pyrite/public/horizontal-server-list.css); */

/* Theme Base */
:root {
  --background-image: url(https://leafyluigi.github.io/images/nao.png); /* unsure */
  --user-modal-image: var(--background-image);
  --user-popout-image: var(--background-image);
  --background-attachment: fixed;
  --user-modal-attachment: var(--background-attachment);
  --user-popout-attachment: var(--background-attachment);
  --tooltip-color: blue; /* unsure */
  --primary-color: #1133ff; /* unsure */
  --secondary-color: #0211e8; /* unsure */
  --hover-color: pink; /* unsure */
  --spotify-color: #1db954;
  --live-color: #593695;
  --background-filters: none;
  --user-modal-filters: blur(3px);
  --user-popout-filters: blur(3px);
  --mention-background: var(--primary-color);
  --mention-opacity: 0.3;
  --graident-colors: var(--primary-color); /* unsure */
  --gradient-direction: to bottom right; /* unsure */
  --code-font: Monaco, Consolas, Courier, monospace;
  --body-font: Whitney, Helvetica Neue, Helvetica, sans-serif;
  --home-icon: url(https://leafyluigi.github.io/images/naohead.png); /* unsure */

  /* toggles. from 0 (disable) to 1 (enable). anything outside of those values have NOT been tested and likely aren't supported. */
  --hide-member-list: 1;
  --hide-active-now: 1;

  /* Windows Only - How many *pixels* wide the min/max/close buttons should be. */
  --win-min-max-close-button-width: 28px; /* default: 28px, square: 48px */
}

/* Light + Dark Differences */
.theme-dark {
  --card-background: rgba(0,0,0,0.5);
  --side-shading: rgba(0,0,0,0.5);
  --middle-shading: rgba(0,0,0,0.3);
  --header-shading: rgba(0,0,0,0.7);
}
.theme-light {
  --card-background: rgba(255,255,255,0.05);
  --side-shading: rgba(255,255,255,0.5);
  --middle-shading: rgba(255,255,255,0.3);
  --header-shading: rgba(255,255,255,0.7);
}
