@use "backend" as *;
/* Start Friends Area */
#{c(main dark)},
#{c(main light)} {
  #{c(friends container)} {
    background-color: transparent;
  }
  #{c(friends voiceSectionIconWrapper)},
  #{c(friends partyMemberOverflow)} {
    background-color: rgba(0,0,0,0.5);
  }
  #{c(friends itemCardSeperator)} {
    background-color: $secondary;
    margin: 4px 8px;
  }
  #{c(friends multipleIconWrapper)} {
    background-color: transparent;
  }
}
#{c(friends tabBody)} {
  &:before {
    content: none;
  }
}
#{c(friends container)} {
  #{c(friends inviteToolbar)} {
    #{c(header divider)} {
      display: none;
    }
  }
}
#{c(friends peopleColumn)} {
  background-color: $middle;
  #{c(friends peopleListItem)} {
    &:hover {
      background: rgba(255,255,255,0.05);
    }
    #{c(friends peopleListUsername)} {
      color: #fff;
    }
  }
}
#{c(friends actionButton)} {
  color: $primary;
  border: 1px solid;
  background-color: rgba(255,255,255,0.05);
  border-color: currentColor;
  &:hover {
    color: $hover;
  }
  &#{c(friends highlight)} {
    background-color: rgba(255,255,255,0.05);
  }
}

#{c(friends nowPlayingColumn)} {
  background-color: $side;
  width: 360px;
  max-width: 360px;
  position: relative;
  transition: .5s all ease-out;
  left: calc( ( 300px ) * var(--hide-active-now));
  margin-left: calc( -1 * (( 300px ) * var(--hide-active-now)));
  &:hover {
    left: 0;
  }
  #{c(friends nowPlayingHeader)} {
    @include header;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:after {
      content: "";
      height: 2px;
      flex-grow: 1;
      background: linear-gradient(to right, currentColor -50%, transparent 50%);
      margin-left: 5px;
    }
  }
  #{c(friends consentCard)} {
    @include card-dark;
  }
  #{c(friends emptyCard)} {
    @include card-light;
  }
  #{c(friends itemCard)} {
    @include card;
    padding: 8px;
    &#{c(friends itemCardInteractive)}:hover,
    &#{c(friends itemCardActive)} {
      background-color: var(--card-background);
    }
    #{c(friends itemCardBody)} {
      background-color: transparent;
      #{c(friends itemCardBodySection)} {
        padding: 0 6px;
      }
    }
  }
  #{c(friends multipleIconWrapper)} {
    border-radius: 0%;
  }
  #{c(friends multipleIcon)} {
    height: initial;
    width: initial;
    > g > path {
      fill: var(--text-normal)
    }
  }
}
