@use "backend" as *;
/* Start Friends Area */
#{c(friends itemCardSeparator)} {
	margin: 4px 8px;
	#{c(main visualRefresh)} &,
	& {
		background: $secondary;
	}
}
// :is(#{c(friends voiceSectionIconWrapper)},#{c(friends partyMemberOverflow)},#{c(friends itemCard)}) {
// 	&:is(#{c(friends itemCardInteractive)}:hover,#{c(friends itemCardActive)}) {
// 		background-color: $card;
// 	}
// }
#{c(friends container)} {
	#{c(main visualRefresh)} &,
	& {
		background: transparent;
		border: none;
	}
}
#{c(friends tabBody)} {
	#{c(main visualRefresh)} & {
		background: transparent;
	}
	&:before {
		content: none;
	}
}
// remove "new private group" button in header, "explore public servers" button/header in add friends
#{c(friends container)} #{c(friends inviteToolbar)},
#{c(friends explorePublicHeader)},
#{c(friends explorePublicGrid)},
// remove stupid image when none online, no friends, none pending or none blocked
#{c(friends emptyImage)} {
	display: none;
}
#{c(friends peopleColumn)} {
	background: $middle;
	#{c(friends peopleList)} {
		margin-top: 0;
	}
}
#{c(friends actionButton)} {
	color: $primary;
	border: 1px solid;
	background: $card;
	border-color: currentColor;
	&:hover {
		color: $hover;
	}
	&#{c(friends highlight)} {
		background: $card;
	}
	&#{c(friends actionButtonDeny)} {
		&:hover {
			color: $red;
		}
	}
}

#{c(friends nowPlayingColumn)} {
	--width: 360px;
	--background: var(--side-shading);
	--hide-var: var(--hide-active-now);
}
#{c(friends multipleIconWrapper)},
#{c(friends nowPlayingContainer)} {
	background: transparent;
}
#{c(friends nowPlayingHeader)} {
	@include header;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 8px 0;
	&:after {
		content: "";
		height: 2px;
		flex-grow: 1;
		background: linear-gradient(to right, currentColor -50%, transparent 50%);
		margin-left: 5px;
	}
}
#{c(friends multipleIconWrapper)} {
	border-radius: 0%;
}
#{c(friends multipleIcon)} {
	height: initial;
	width: initial;
	// > g > path {
	// 	fill: var(--text-normal);
	// }
}

#{c(friends nowPlayingScroller)} {
	#{c(main visualRefresh)} &,
	& {
		border-left: none;
		margin-left: 0;
	}
}
:is(
	#{c(friends itemCardOuter)},
	#{c(friends emptyCard)},
	#{c(friends itemCard)}
) {
	#{c(main visualRefresh)} &,
	& {
		@include card;
	}
}
#{c(friends emptyCard)} {
	margin-top: 8px;
}
#{c(friends itemCard)} {
	padding: 8px;
	&#{c(friends itemCardInteractive)}:hover,
	&#{c(friends itemCardActive)} {
		#{c(main visualRefresh)} &,
		& {
			background: $card;
		}
	}
	#{c(friends itemCardBody)} {
		background: transparent;
		#{c(friends itemCardBodySection)} {
			padding: 0 6px;
			background: transparent;
		}
	}
}
#{c(friends live)} {
	background: $red !important; // !important usage: element.style
}

#{c(friends addFriendInputWrapper)} {
	&:focus-within {
		border-color: $primary;
	}
}

#{c(friends searchIcon)} {
	z-index: 0; // messes with active now
}