@use "backend" as *;

@if $lite != 1 {
/* Begin Message Requests */
// These are only here because I can put them here. It could potentially relate to chat more.
#{c(messageRequests container)} {
	border-radius: 0;
	border-top: none;
	#{c(chat chatContent)} {
		background: $middle;
	}
}
// #{c(messageRequests list)} {
// 	background: $middle;
// }
#{c(messageRequests sectionTitle)} {
	color: var(--header-primary);
}
#{c(messageRequests item)} {
	&:last-child {
		border-color: transparent; 
	}
}

}