// what goes in here?
// - things that break with betterdiscord.
// - powercord plugins
// - basically just keeps this shit neat.

@use "start" as *;
/*! #{$theme-name} v#{$version} - Powercord Addon by LeafyLuigi */

@use "classes" as *;

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$hover: var(--hover-color);
$side: var(--side-shading);
$middle: var(--middle-shading);
$header: var(--header-shading);
$card: var(--card-background);


/* Begin Powercord Addon */
body#{c(powercord base)} {
  #{c(powercord codeblockCopy)} {
    background-color: $primary;
    &:hover {
      background-color: $hover;
    }
  }
  #{c(powercord entitiesManageTabs)} {
    background-color: $card;
  }
  #{c(powercord quickCSS)}:not(#{c(powercord poppedOut)}) {
    min-height: 250px;
    background-color: $card;
    #{c(powercord codeMirrorGutters)} {
      background-color: transparent;
    }
  }
  #{c(powercord updaterPage)} {
    .top-section .icon > svg > path {
      &[fill="#43b581"] {
        fill: var(--green-color);
      }
    }
    .buttons #{c(button lookFilled)}#{c(button colorBrand)} {
      background-color: var(--green-color);
    }
  }
  #{c(pcPlugin smartTypersPreview)} {
    background-color: $card;
  }
  #{c(pcPlugin textReactButton)} {
    filter: none;
  }
  #{c(pcPlugin connections)} {
    #{c(profile modal connectedAccounts)}:empty::before {
      content: none;
    }
  }
  #{c(powercord toast)} {
    --toast-background: var(--middle-shading);
    --toast-header: var(--header-shading);
    --toast-contents: transparent;
    --toast-box-shadow: transparent;
    --toast-border: transparent;
    backdrop-filter: blur(3px);
  }
}

#{c(powercord codeMirrorHints)} {
  background-color: $card;
  #{c(powercord codeMirrorHintsActive)} {
    background-color: $hover;
  }
}
#{c(powercord quickCSS)} {
  #{c(powercord codeMirrorSelected)} {
    background-color: transparent !important;
    &::before {
      content: "";
      position: absolute;
      width: inherit;
      height: inherit;
      background-color: $primary;
      opacity: 0.5;
    }
  }
}

div#app-mount > {
  #{c(main dark)},
  #{c(main light)} {
    background: transparent;
    &::before {
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      z-index: -1;
      pointer-events: none;
      // background: var(--background-image) center/cover no-repeat var(--background-attachment);
    }
    #{c(powercord quickCSS)} {
      &:not(#{c(powercord poppedOut)}) {
        background-color: transparent;
      }
      #{c(powercord codeMirrorScroll)} {
        background-color: $side;
      }
      #{c(powercord codeMirrorGutters)} {
        background-color: transparent;
      }
    }
    #{c(powercord codeMirrorHeader)},
    #{c(powercord codeMirrorFooter)} {
      background-color: $header;
    }
  }
}

// show hidden channels
#{c(pcPlugin shcLocked)} {
  &::before,
  &::after {
    content: "";
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    z-index: -1;
  }
  &::before {
    background-color: $header;
    top: calc(0px - (36px * var(--notice-count, 0)));
    height: 48px;
  }
  &::after {
    background-color: $middle;
    top: 48px;
    bottom: 0;
  }
}
#{c(pcPlugin shcNotice)}>div[class^="topic"] {
  background-color: $card;
}