@use "start";
@use "start" as *;
/*! #{$theme-name} v#{$version} by LeafyLuigi */
// Import Classes
@use "classes";

// Import Functions, Variables, Mixins and Default Vars
@use "backend";
// @use "backend/_variables.scss"; //needs own vars


@use "backend" as *;

// Contains the theme proper.
@use "theme";

// @import url(https://leafyluigi.github.io/discord-themes/pyrite/build/userModalLayout.css);
/* Default Variables */
:root {
  /* forced by theme */
  --background-message-hover: transparent;
  --background-mentioned: transparent;
  --background-mentioned-hover: transparent;
  --text-link: var(--link-color);
  --text-positive: var(--green-color);
  --text-warning: var(--yellow-color);
  --text-danger: var(--red-color);
  --text-brand: var(--primary-color);
  --secret-orange: #f57531; // used in only one place - radio bar. converted from hsl.
  --brand-experiment: var(--primary-color); // fallback for dumb discord stuff
  --focus-primary: var(--primary-color); // tab around wheeee
  --channel-icon: inherit; // lazy mode: on

  --background-image: url('https://leafyluigi.github.io/images/pexels-josh-sorenson-116359.png');
  --user-modal-image: var(--background-image);
  --user-popout-image: var(--background-image);
  --background-attachment: fixed;
  --user-modal-attachment: var(--background-attachment);
  --user-popout-attachment: var(--background-attachment);
  --primary-color: #387eff;
  --secondary-color: #3298e0;
  --hover-color: #139dff;
  --tooltip-color: #1967ab;
  --mention-background: var(--primary-color);
  --mention-opacity: 0.3;
  --home-icon: url('https://leafyluigi.github.io/images/pexels-chris-munnik-2604991.png');
  --user-modal-width: 900px;
  --user-modal-height: 600px;

  --green-color: #43b581;
  --yellow-color: #f9a719;
  --red-color: #ec4144;
  --link-color: #00aef3;
  --live-color:  #583594;
  --offline-color: #737e8c;

  /* Channels */
  --category-color: var(--header-primary);
  --selected-channel-color: var(--header-primary);
  --unread-channel-color: var(--primary-color);
  --unread-channel-glow: drop-shadow(0 0 4px);
  --read-channel-color: var(--interactive-normal);
  --muted-channel-color: var(--interactive-muted);
  --show-channel-unread-dot: block;
  --locked-voice-channel-color: var(--red-color);

  /* Advanced Users */
  --code-font: Monaco, Consolas, Courier, monospace;
  --body-font: Whitney, Helvetica Neue, Helvetica, sans-serif;
  --gradient: to bottom right, var(--primary-color), var(--secondary-color);  // currently unused, not final


  /* Toggles. From 0 (disable) to 1 (enable). Anything outside of those values have NOT been tested and likely aren't supported. */
  --hide-member-list: 1;
  --hide-active-now: 1;

  /* Windows Only - How many *pixels* wide the min/max/close buttons should be. */
  --win-min-max-close-button-width: 28px; /* default: 28px, square: 48px */

	/* Glasscord properties. Don't mess with these if you don't use Glasscord. */

    /* Windows-specific properties */
    /* Blur mode. Available types: acrylic (strong blur), blurbehind (light blur), transparent */
    --glasscord-win-blur: blurbehind;

    /* macOS-specific properties */
    /* Vibrancy mode */
    --glasscord-macos-vibrancy: fullscreen-ui;

    /* Linux-specific properties */
    /* Should Glasscord send a request to your window compositor to blur behind Discord's window? */
    /* It currently supports KWin only */
    --glasscord-linux-blur: true;

    /* The corner radius of the blurry background */
    --glasscord-blur-corner-radius: 100px;

    /* Discord-specific properties */
    /* Custom (forced) titlebar */
    /* native (your os default), windows, osx, linux (framed) */
    --glasscord-titlebar: native;

  /* Better Discord Toggles and whatnot */
  --channel-tabs-enabled: 0;


  /* Internal please ignore */
  // --update-notice-0: none;
}

/* Feel free to edit these ones for Dark Mode */
.theme-dark,
.theme-dark :not(.previewContainer-1xQAsw) .theme-light {
  --card-background: rgba(0,0,0,0.5);
  --side-shading: rgba(0,0,0,0.5);
  --middle-shading: rgba(0,0,0,0.3);
  --header-shading: rgba(0,0,0,0.7);

  --hover-filter: rgba(0,0,0,0.2);
  --active-filter: rgba(0,0,0,0.4);

  // below: defaults set by theme
  --interactive-normal:#b9bbbe;
  --interactive-hover:#dcddde;
  --interactive-active:#fff;
  --interactive-muted:#4f545c;
  --background-modifier-hover:rgba(79,84,92,0.16);
  --background-modifier-active:rgba(79,84,92,0.24);
  --background-modifier-selected:rgba(79,84,92,0.32);
  --background-modifier-accent:hsla(0,0%,100%,0.06);
  --input-background: var(--card-background);
  --control-brand-foreground: var(--primary-color);
  --control-brand-foreground-new: var(--primary-color);
  --deprecated-text-input-bg: var(--input-background);
  --deprecated-text-input-border: var(--primary-color);
}

/* Feel free to edit these ones for Light Mode */
.theme-light,
.theme-light :not(.previewContainer-1xQAsw) .theme-dark:not(.sidebar-1tnWFu):not(.guilds-2JjMmN):not(.sidebarRegion-1VBisG) {
  --card-background: rgba(255,255,255,0.05);
  --side-shading: rgba(255,255,255,0.4);
  --middle-shading: rgba(255,255,255,0.3);
  --header-shading: rgba(255,255,255,0.5);

  --hover-filter: rgba(255,255,255,0.2);
  --active-filter: rgba(255,255,255,0.4);

  // below: defaults set by theme
  --interactive-normal:#4f5660;
  --interactive-hover:#2e3338;
  --interactive-active:#060607;
  --interactive-muted:#c7ccd1;
  --background-modifier-hover:rgba(116,127,141,0.08);
  --background-modifier-active:rgba(116,127,141,0.16);
  --background-modifier-selected:rgba(116,127,141,0.24);
  --background-modifier-accent:rgba(6,6,7,0.08);
  --input-background: var(--card-background);
  --control-brand-foreground: var(--primary-color);
  --control-brand-foreground-new: var(--primary-color);
  --deprecated-text-input-bg: var(--input-background);
  --deprecated-text-input-border: var(--primary-color);
}