@use "start";
// Import Classes
@use "classes";

// Import Functions, Variables, Mixins and Default Vars
@use "backend";
// @use "backend/_variables.scss"; //needs own vars

@use "start" as *;
@use "backend" as *;

// Contains the theme proper.
@use "theme";


#{c(main bg)} {
	background: transparent;
}

.appMount-3lHmkl, body, .app-2rEoOp { background: transparent; }
.appMount-3lHmkl {
	@include bg;
	&:before {
		height: 100%;
		width: 100%;
		background: var(--background-image) center/cover no-repeat var(--background-attachment);
	}
}
