// what goes in here?
// border radius stuff
// this includes the avatars

@use "start" as *;
/*! #{$theme-name} v#{$version} - Border Radius Addon by LeafyLuigi */

@use "classes" as *;

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$hover: var(--hover-color);
$side: var(--side-shading);
$middle: var(--middle-shading);
$header: var(--header-shading);
$card: var(--card-background);

:root{
	--avatar-radius: 8px;
	--border-radius: 8px;
	--border-radius-small: 4px;
	/* These are here to overwrite Radical Status' variables. They also provide compatibility with Better Status Indicators on Powercord */
	--rs-online-color: var(--green-color);
	--rs-idle-color: var(--yellow-color);
	--rs-dnd-color: var(--red-color);
	--rs-offline-color: var(--offline-color);
	--rs-streaming-color: var(--live-color); 
	--rs-invisible-color: var(--offline-color);
	--rs-phone-color: var(--green-color);
}

// active now avatar
#{c(friends activeNowAvatar)} > svg > foreignObject,

// private chats avatar/group chat icon, affects "my account" avatar, user popout avatar, user profile avatar
#{c(memberList avatarWrapper)},

// chat avatar, also affects friends list and member list
#{c(chat chatAvatar)},

// voice call avi
#{c(call avatar)},

// hover over avatar in popout to see this
#{c(profile popout avatarHint)},

// edit profile fake popout avatar and hint
#{c(userSettings profileAvatarUploader)},

// upload avi/banner modal
#{c(modals avatarUpload contentCircle)}
{
	border-radius: calc(var(--avatar-radius) * var(--br-multi, 1));
}

// chat date divider
#{c(chat dividerContent)},

// friends list
#{c(friends peopleColumn)} #{friends peopleListItem}:hover,

// active now card
#{c(friends itemCard)},

// this section could be better card
#{c(friends itemCard)},

// friend list action button
#{c(friends actionButton)},

// play video wrapper in chat
#{c(embeds videoPlayWrapper)}
{
	border-radius: var(--border-radius);
}

// online/all/pending etc buttons
#{c(header topPill)} #{c(header tabBarItem)},

// image wrapper in chat
#{c(embeds imageWrapper)}
{
	border-radius: var(--border-radius-small);
}

// mask removal for avatars
// active now avatar
#{c(friends activeNowAvatar)} > svg > foreignObject,

// private chats avatar/group chat icon, affects "my account" avatar, user popout avatar, user profile avatar
#{c(memberList avatarWrapper)} > svg > foreignObject,

// hover over avatar in popout to see this
#{c(profile popout avatarHint)} > foreignObject,

// this one's for the banner, mainly due to the new avatar decorations
#{c(profile bannerSVGWrapper)}
{
	mask: none;
}

// MAYBE:
// server icons, server folders

// size = 80
#{c(profile popout outer)},
#{c(profile panel panel)},
#{c(userSettings profileImageUploader)},
#{c(modals avatarUpload contentCircle)} {
	--br-multi: 2.5;
}
// size = 120
#{c(profile modal root)} {
	--br-multi: 4;
}
// and revert back to size = 40
#{c(profile modal body)},
#{c(profile panel connections)} {
	--br-multi: 1;
}

#{c(friends activeNowAvatar)} svg,
#{c(memberList avatarWrapper)} > svg
{
	overflow: visible;
}
#{c(memberList avatarWrapper)} #{c(memberList avatarMask)} {
	>foreignObject[height="24"] {
		&,&~rect,&~circle {
			--size: 24px;
		}
	}
	>foreignObject[height="32"] {
		&,&~rect,&~circle {
			--size: 32px;
		}
	}
	>foreignObject[height="40"] {
		&,&~rect,&~circle {
			--size: 40px;
		}
	}
	>foreignObject[height="80"] {
		&,&~rect,&~circle {
			--size: 80px;
			--stroke-width: 3px;
		}
	}
	>foreignObject[height="120"] {
		&,&~rect,&~circle {
			--size: 120px;
			--stroke-width: 4px;
		}
	}

	#{c(chatForm typingDots)} {
		color: $primary;
		overflow: visible;
		circle {
			&:nth-child(1) {
				cx: -9;
			}
			&:nth-child(2) {
				cx: -2;
			}
			&:nth-child(3) {
				cx: 5;
			}
		}
	}

	foreignObject {
		&[mask*="mobile"] {
			width: calc(100% + 4px);
			&:after {
				content: "";
				display: block;
				position: absolute;
				width: 10px;
				height: 14px;
				top: 50%;
				transform: translateY(-50%);
				right: 0;
				z-index: 1;
				background: var(--green-color);
				-webkit-mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>') center no-repeat;
			}
			&[width="32"] img {
				width: calc(100% - 12px);
			}
			&[width="80"] {
				img {
					width: calc(100% - 16px);
				}
				&:after {
					width: 14px;
					height: 18px;
					top: 75%;
				}
			}
			&[width="120"] {
				img {
					width: calc(100% - 24px);
				}
				&:after {
					width: 24px;
					height: 24px;
					top: 80%;
				}
			}
		}
	}
	rect {
		fill: transparent !important;
		mask: none;
		x: 0;
		y: 0;
		display: block;
		rx: calc(var(--avatar-radius) * var(--br-multi, 1));
		ry: calc(var(--avatar-radius) * var(--br-multi, 1));
		stroke-width: var(--stroke-width, 2px);
		height: var(--size);
		width: var(--size);
		stroke: var(--color);
		&:is([mask*="online"],[fill="#3ba55c"]) {
			--color: var(--green-color);
		}
		&:is([mask*="idle"],[fill="#faa61a"]) {
			--color: var(--yellow-color);
		}
		&:is([mask*="dnd"],[fill="#ed4245"]) {
			--color: var(--red-color);
		}
		&:is([mask*="streaming"],[fill="#593695"]) {
			--color: var(--live-color);
		}
		&:is([mask*="offline"],[fill="#747f8d"]) {
			--color: var(--offline-color);
		}
	}
	circle {
		r: calc(var(--size) * 0.5);
		cx: calc(var(--size) * 0.5);
		cy: calc(var(--size) * 0.5);
	}
}