@use "backend" as *;
/* Begin Search */
:is(
	#{c(search searchFilter)},
	#{c(search searchAnswer)}
) {
	#{c(main visualRefresh)} &,
	& {
		background: $primary;
	}
}
#{c(search activeButton)} {
	&,
	&:hover {
		background: $primary;
	}
}
#{c(search header)} {
	background-color: $header;
}
#{c(search headerTabList)} {
	#{c(tab item)}#{c(tab themed)} {
		&:is(#{c(tab selected)},#{c(tab selected)}:hover) {
			background-color: $secondary;
		}
	}
}
#{c(search wrap)} {
	background-color: transparent;
}
#{c(search scroller)} {
	background-color: $side;
}
#{c(search channelNameText)} {
	background-color: transparent;
	@include header-line;
}
#{c(search result)},
#{c(search blocked)} {
	@include card;
}
#{c(search buttonContainer)} {
	display: flex;
}
#{c(search pageButton)}:not(#{c(search endButton)}) {
	border: 1px solid transparent;
	&:hover {
		border-color: $secondary;
		background-color: $card;
	}
}
#{c(search endButton)} {
	border: 1px solid transparent;
	&:hover:disabled {
		background-color: transparent;
	}
	&:hover:not(:disabled) {
		border-color: $secondary;
		background-color: $card;
	}
}
#{c(search button)} {
	background-color: $card;
}
