@use "backend" as *;
/* Start User Modal */
#{c(main dark)},
#{c(main light)} {
  #{c(userModal root)} {
    box-shadow: none;
    @include bg($h:100%,$w:100%,$bgf:var(--user-modal-image) no-repeat var(--user-modal-attachment) center/cover,$f:var(--user-modal-filter));
  }
}

#{c(userModal topSection)} {
  background: $header;
}
#{c(userModal tabBar)} {
  height: auto;
}
#{c(userModal tabBarContainer)} {
  padding-left: 0;
  border-bottom: none;
}
#{c(userModal tabBarContainer)} #{c(userModal top)} #{c(userModal tabBarItem)} {
  padding: 0 10px;
  margin: 0 4px;
  border: 2px solid $primary;
  border-radius: 5px;
  @include bg($bg:transparent,$o:0.2,$br:5px);
  &:hover,
	&:active {
    border-color: $hover;
    &:before {
			background-color: $hover;
		}
  }
  &#{c(userModal tabBarItemSelected)},
	&[style*="(255, 255, 255)"] {
		&:before {
			background-color: $primary;
		}
	}
	&#{c(userModal tabBarItemSelected)} {
    color: var(--text-normal);
    border: 2px solid $hover;
	}
	// not selected, not hovered
	&[style*="transparent"] {
		border: 2px solid $primary !important; // !important reason: element.style
	}
	// not selected, hovered
	&[style*="(255, 255, 255, 0.6)"],
	// selected
	&[style*="(255, 255, 255)"] {
		border: 2px solid $hover !important; // !important reason: element.style
	}
}

#{c(userModal body)} {
  background-color: $side;
  &#{c(userModal bodyNoTabBar)} {
    border-top: none;
  }
  #{c(userModal noteTextArea)} {
		background-color: transparent;
  }
  #{c(userModal userInfoSection)} {
    padding: 10px 0 0 0;
    &:not(:first-child) {
      border-top: none;
    }
    #{c(userModal userInfoSectionHeader)} {
      color: var(--header-primary);
    }
    #{c(userModal connectedAccount)} {
      #{c(userModal connectedAccountVerifiedIcon)} {
        > svg > path {
          fill: $primary;
        }
      }
    }
  }
  #{c(userModal guildAvatarWithoutIcon)} {
    background-color: $card;
  }
}
#{c(userModal connectedAccountContainer)} {
  background-color: transparent;
}
#{c(userModal avatar)} {
  border-color: transparent;
  background-color: transparent;
}
