@use "backend" as *;
/* Start User Modal */
#{c(userModal root)} {
	background-color: rgba(0,0,0,0.4);
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: var(--user-modal-image);
    background-attachment: var(--user-modal-attachment);
    background-size: cover;
		background-position: center;
    z-index: -1;
  }
}
// Top Sections
#{c(userModal topSection)},
#{c(userModal topPlaying)},
#{c(userModal topSpotify)},
#{c(userModal topStreaming)},
#{c(userModal topXbox)} {
  background: rgba(0,0,0,0.2);
}
#{c(userModal topPlaying)} {
  background-image: linear-gradient(to bottom right, $primary 0%, transparent 60%);
	#{c(userModal header)} {
		#{c(button colorBrand)}#{c(button lookInverted)} {
			background-color: white;
			color: $primary;
		}
	}
}
#{c(userModal topSpotify)} {
  background-image: linear-gradient(to bottom right, #1db954 0%, transparent 60%);
}
#{c(userModal topStreaming)} {
  background-image: linear-gradient(to bottom right, #593695 0%, transparent 60%);
}
#{c(userModal topXbox)} {
  background-image: linear-gradient(to bottom right, #107c10 0%, transparent 60%);
}

#{c(userModal headerFill)} {
	background-color: transparent;
}
#{c(userModal tabBar)} {
  height: auto;
}
#{c(userModal topSection)} #{c(userModal tabBarContainer)},
#{c(userModal tabBarContainer)} {
  border-top: none;
  padding-left: 0;
}
#{c(userModal tabBarContainer)} #{c(userModal top)} #{c(userModal tabBarItem)} {
  padding: 0 10px;
  margin: 0 4px;
  border: 2px solid $primary;
  border-radius: 0 0 5px 5px;
  &:hover,
	&:active {
    border-color: $hover;
  }
	&#{c(userModal tabBarItemSelected)} {
    color: var(--text-normal);
    border: 2px solid $hover;
	}
	// not selected, not hovered
	&[style*="transparent"] {
		border: 2px solid $primary !important; // !important reason: element.style
	}
	// not selected, hovered
	&[style*="(255, 255, 255, 0.6)"],
	// selected
	&[style*="(255, 255, 255)"] {
		border: 2px solid $hover !important; // !important reason: element.style
	}
}

#{c(userModal body)} {
  background-color: transparent;

  #{c(userModal noteTextArea)} {
		background-color: transparent;
    &#{c(chatForm channelTextAreaDisabled)} {
      background-color: rgba(0,0,0,0.3);
    }
  }
  #{c(userModal userInfoSection)} {
    padding: 10px 0 0 0;
    &:not(:first-child) {
      border-top: none;
    }
    #{c(userModal userInfoSectionHeader)} {
      color: #fff;
    }
    #{c(userModal connectedAccount)} {
      border-color: rgba(255,255,255,0.05);
      #{c(userModal connectedAccountVerifiedIcon)} {
        > svg > path {
          fill: $primary;
        }
      }
    }
  }
  #{c(userModal guildAvatarWithoutIcon)} {
    background-color: rgba(0,0,0,0.5);
  }
}

// Theme's User Modal Layout
#{c(userModal root)} {
  display: flex;
  flex-direction: row;
  width: 660px;
  height: 500px;
}

#{c(userModal topSection)},
#{c(userModal topPlaying)},
#{c(userModal topSpotify)},
#{c(userModal topStreaming)},
#{c(userModal topXbox)} {
  display: flex;
  flex-direction: column;
  min-width: 330px;
  max-width: 330px;
}

#{c(userModal header)} {
  display: grid;
  grid-template-columns: auto auto 20px;
  grid-template-rows: 110px 60px;
  padding-bottom: 0;
}
#{c(userModal avatar)} {
  grid-column-start: 1;
  grid-row-start: 1;
  align-self: start;
	height: 100px !important; // !important reason: element.style
	width: 100px !important; // !important reason: element.style
}
#{c(userModal headerInfo)} {
  grid-column-start: 1;
  grid-column-end: 4;
	grid-row-start: 2;
  align-self: start;
}
#{c(userModal headerInfo)} + div,
#{c(userModal headerInfo)} + button {
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: start;
  justify-self: end;
	&+div {
		align-self: start;
	}
}
#{c(userModal headerInfo)}+div[role="button"],
#{c(userModal headerButton)}+div[role="button"] {
  grid-column-start: 3;
  grid-row-start: 1;
  align-self: start;
  justify-self: start;
}
#{c(userModal additionalActionsIcon)} {
	height: 32px;
}
#{c(userModal tabBar)} {
	max-width: 330px;
}

#{c(userModal tabBarContainer)} #{c(userModal top)} #{c(userModal tabBarItem)} {
	flex-shrink: 1;
	flex-grow: 1;
	flex-basis: 10%;
	justify-content: left;
  border-radius: 5px;
	@include bg;
	&:before {
		background-color: transparent;
		opacity: 0.2;
		border-radius: 5px;
	}
  &:hover,
	&:active {
    flex-grow: 3;
		justify-content: center;
		&:before {
			background-color: $hover;
		}
  }
	&#{c(userModal tabBarItemSelected)},
	&[style*="(255, 255, 255)"] {
		flex-shrink: 3;
    flex-grow: 3;
		flex-basis: 33%;
		justify-content: center;
		overflow: visible;
		&:before {
			background-color: $primary;
		}
	}
}

#{c(userModal customStatus)} {
	max-width: 290px;
	word-break: break-word;
}

#{c(userModal header)}+div,
#{c(userModal headerFill)} {
  display: flex;
  flex-direction: column;
}
#{c(userModal activity)} {
  padding: 5px 20px;
  min-height: 78px;
  max-height: 78px;
  ~ #{c(userModal activityProfile)} {
    + #{c(userModal tabBarContainer)} {
      top: -366px;
    }
  }
  + #{c(userModal tabBarContainer)} {
    top: -278px;
  }

}
#{c(userModal tabBarContainer)} {
  align-self: end;
	position: relative;
	top: -190px;
	left: 330px;
	z-index: 1;
}

#{c(userModal body)} {
  height: 476px;
  min-width: 330px;
}
#{c(userModal infoScroller)},
#{c(userModal listScroller)} {
	margin-top: 24px;
	padding-top: 8px;
}

#{c(userModal topPlaying)} {
	#{c(userModal bodyNormal)} {
		display: grid;
		grid-template-columns: 80px auto;
		grid-template-rows: auto 64px;
	}
	#{c(userModal assets)} {
		grid-row-start: 1;
		grid-column-start: 1;
	}
	#{c(userModal assetsLargeImageProfile)} {
		height: 80px;
		width: 80px;
	}
	#{c(userModal bodyNormalContent)} {
		max-width: 180px;
  }
  #{c(userModal actionsProfile)} {
    grid-column-start: 1;
		grid-column-end: 3;
    grid-row-start: 2;
		display: inline-flex;
		flex-direction: row;
		justify-content: flex-start;
		#{c(userModal actionsButton)} {
			margin-right: 2px;
			padding: 2px 8px;
		}
  }
}

#{c(userModal topSpotify)} {
  #{c(userModal bodyAlignCenter)},
  #{c(userModal bodyNormal)} {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto 64px;
  }
  #{c(userModal assets)} {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  #{c(userModal assetsLargeImageProfile)} {
    height: 80px;
    width: 80px;
  }
  #{c(userModal bodyNormalContent)} {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    margin-left: 0;
    padding-top: 25px;
  }
  #{c(userModal actionsProfile)} {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}


#{c(userModal topStreaming)} {
	#{c(userModal steamingButton)} {
		padding: 2px 15px;
		align-self: start;
		height: 32px;
		min-height: 32px;
	}
	#{c(userModal steamingButton)}+div[role="button"] {
		align-self: start;
	}
	#{c(userModal bodyAlignCenter)},
  #{c(userModal bodyNormal)} {
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: auto 64px;
  }
  #{c(userModal assets)} {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  #{c(userModal bodyNormalContent)} {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    margin-left: 0;
  }
  #{c(userModal actionsProfile)} {
    grid-column-start: 2;
    grid-row-start: 1;
  }
}


#{c(userModal topXbox)} {
	#{c(userModal bodyXbox)} {
		display: grid;
		grid-template-columns: 80px auto;
		grid-template-rows: auto 64px;
	}
	#{c(userModal assets)} {
		grid-row-start: 1;
		grid-column-start: 1;
	}
	#{c(userModal bodyNormalContent)} {
		max-width: 180px;
  }
	#{c(userModal actionsButton)} {
		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 3;
		margin-right: 2px;
		padding: 2px 8px;
  }
}
