@use "backend" as *;
/* Start Embeds */
#{c(main dark)},
#{c(main light)} {
  #{c(embeds gift)} {
    @include card-dark;
    &:hover {
      background-color: rgba(0,0,0,0.5);
    }
    #{c(embeds giftInvalidPoop)} {
      background-color: transparent;
    }
  }
  #{c(media audioWrapper)} {
    @include card-dark;
    width: 90% !important; // !important reason: element.style
  }
}
#{c(embeds codeblock)},
#{c(embeds invite)},
#{c(embeds attachment)} {
  @include card-dark;
}

#{c(embeds invite)} {
  #{c(embeds inviteServerIcon)},
  #{c(embeds inviteServerIconExpired)} {
    background-color: transparent;
  }
}

#{c(embeds embedFull)} {
  background-color: rgba(0,0,0,0.5);
  border-left-color: $primary;
  #{c(embeds embedSuppressButton)} {
    top: 0;
    right: 0;
    color: $primary;
    &:hover {
      color: $hover;
      filter: drop-shadow(0 0 2px currentColor);
    }
    &:active {
      color: $active;
      filter: drop-shadow(0 0 4px currentColor);
    }
  }
}

#{c(media barGrabber)},
#{c(media barProgress)}:after,
#{c(media barProgress)}:before,
#{c(media barProgress)},
#{c(media barBuffer)}:after,
#{c(media barBuffer)}:before,
#{c(media barBuffer)} {
  background-color: $primary;
}

#{c(media barBuffer)}:after,
#{c(media barBuffer)}:before,
#{c(media barBuffer)} {
  opacity: 0.5;
}

#{c(media barInteractionDragging)},
#{c(media barInteraction)}:hover {
   #{c(media barGrabber)} {
    background-color: $secondary;
  }
}
