/* Default Variables */
:root {
  --background-image: url(https://leafyluigi.github.io/images/nao.png); /* unsure */
  // --background-image: url(https://images3.alphacoders.com/112/thumb-1920-112347.jpg);
  --user-modal-image: var(--background-image);
  --user-popout-image: var(--background-image);
  --background-attachment: fixed;
  --user-modal-attachment: var(--background-attachment);
  --user-popout-attachment: var(--background-attachment);
  --side-shading: rgba(0,0,0,0.5);
  --middle-shading: rgba(0,0,0,0.3);
  --header-shading: rgba(0,0,0,0.7);
  // --side-shading: red;
  // --middle-shading: green;
  // --header-shading: yellow;
  --tooltip-color: blue; /* unsure */
  --primary-color: #1133ff; /* unsure */
  --secondary-color: #0211e8; /* unsure */
  --button-text-color: #dcddde; /* unsure */
  --hover-color: pink; /* unsure */
  --active-color: red; /* unsure */
  --spotify-color: #1db954;
  --live-color: #593695;
  --text-color: #dcddde;
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #f04747;
  --invis-color: #808080;
  --green-color: #43b581; /* unsure */
  // --yellow-color: #faa61a; /* unsure */
  --red-color: #f04747; /* unsure */
  --background-filters: none;
  --user-modal-filters: blur(3px);
  --user-popout-filters: blur(3px);
  --mention-background: var(--primary-color);
  --mention-opacity: 0.3;
  --graident-colors: var(--primary-color); /* unsure */
  --gradient-direction: to bottom right; /* unsure */
  --code-font: Monaco, Consolas, Courier, monospace;
  --body-font: Whitney, Helvetica Neue, Helvetica, sans-serif;
  // --body-filters: none; /* unsure */
  --home-icon: url(https://leafyluigi.github.io/images/hina2.png); /* unsure */

  /* toggles. from 0 (disable) to 1 (enable). anything outside of those values have NOT been tested and likely aren't supported. */
  --hide-member-list: 1;
  // --hide-member-list: 0;
  --hide-active-now: 1;
  // --hide-active-now: 0;

  /* forced by theme */
  --background-message-hover: transparent;
  --background-mentioned: transparent;
  --background-mentioned-hover: transparent;
}

//shorthands
$tooltip: var(--tooltip-color);
$primary: var(--primary-color);
$secondary: var(--secondary-color);
$button-text: var(--button-text-color);
$hover: var(--hover-color);
$active: var(--active-color);
$spotify: var(--spotify-color);
$live: var(--live-color);
$home: var(--home-icon);
$side: var(--side-shading);
$middle: var(--middle-shading);
$header: var(--header-shading);
// NOTE: secondary : will be similar to primary BUT a shade or two ligter/darker.
// NOTE: hover : black at 0.2 opacity to get the hover color.
// NOTE: active : black at 0.3(?) opacity to get the active color.
