// theme configs
$lite: 0 !default;

//shorthands
$tooltip: var(--hsl-tooltip-color);
$primary: var(--hsl-primary-color);
$secondary: var(--hsl-secondary-color);
$hover: var(--hsl-hover-color);
$home: var(--home-icon);
$side: var(--hsl-side-shading);
$middle: var(--hsl-middle-shading);
$header: var(--hsl-header-shading);
$card: var(--hsl-card-background);
$gradient: var(--gradient-colors);
$modal: var(--modal-background);
// NOTE: secondary : will be similar to primary BUT a shade or two ligter/darker.
// NOTE: hover : black at 0.2 opacity to get the hover color.
// NOTE: active : black at 0.3(?) opacity to get the active color.

$green: var(--hsl-green-color);
$yellow: var(--hsl-yellow-color);
$red: var(--hsl-red-color);
$link: var(--hsl-link-color);
$live: var(--hsl-live-color);
$offline: var(--hsl-offline-color);
$nc: var(--notice-count, 0);
$blur: var(--blur-intensity, 1);

// default discord shorthands