@charset "UTF-8";
/*! Pyrite - lite v0.2.8 by LeafyLuigi */
/* Begin Misc */
::placeholder, ::-webkit-input-placeholder,
body, button, input, select, textarea {
  font-family: var(--body-font);
}

::selection {
  background: var(--hsl-secondary-color);
}

code,
.ada32f6ad5a36c58-before_inlineCode,
.ada32f6ad5a36c58-after_inlineCode,
.ada32f6ad5a36c58-before_inlineCode,
.ada32f6ad5a36c58-codeLine,
.ada32f6ad5a36c58-codeBlockText {
  font-family: var(--code-font);
}

._51fd70792ee2e563-appMount::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  height: 100%;
  width: 100%;
  filter: var(--background-filter);
  background: var(--background-image) center/cover no-repeat var(--background-attachment);
}

html,
._160d8e55254637e5-app {
  background: transparent;
}

:is(._51fd70792ee2e563-appMount,
._960e4207cea8323e-bg,
body) {
  background: transparent;
}

.refresh-fast-follow-guild-bg ._960e4207cea8323e-bg {
  background: transparent;
}

.a3002d7de5be5280-app {
  color: transparent;
}

._6341f5794d35fb69-pictureInPicture {
  z-index: 1050;
}

._421edea01cb52e16-titleBar {
  z-index: 1100;
}

._46696d17714f10ab-wanderingCubes ._46696d17714f10ab-item {
  background-color: var(--hsl-primary-color);
}

._5e434347c823b592-loader {
  background: linear-gradient(to bottom, var(--hsl-header-shading) 48px, var(--hsl-middle-shading) 48px);
}

.platform-win ._5e434347c823b592-sidebar {
  border-radius: 0;
}
.platform-win ._5e434347c823b592-guilds {
  padding-top: 48px;
  overflow: visible;
}
.platform-win ._5e434347c823b592-guilds::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1010;
  pointer-events: none;
  background-color: var(--hsl-header-shading);
  height: 48px;
  width: 72px;
}
.platform-win ._5e434347c823b592-guilds::after {
  content: none;
}
.platform-win .ef3116c2da186559-unreadMentionsIndicatorTop {
  top: 48px;
}

._421edea01cb52e16-typeWindows {
  padding-top: 0;
  margin-top: 0;
  height: 0;
  position: relative;
}
._421edea01cb52e16-typeWindows::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  pointer-events: none;
  height: 18px;
  -webkit-app-region: drag;
}
._421edea01cb52e16-typeWindows > ._421edea01cb52e16-wordmark {
  display: none;
}

._421edea01cb52e16-winButton {
  width: var(--win-min-max-close-button-width);
  position: relative;
  top: 0;
  height: 48px;
}

._421edea01cb52e16-winButtonClose:hover {
  background: var(--hsl-red-color);
  color: var(--interactive-hover);
}

.platform-osx .ef3116c2da186559-wrapper {
  margin-top: 48px;
  overflow: visible;
}
.platform-osx .ef3116c2da186559-wrapper::before {
  content: "";
  top: -48px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1050;
  pointer-events: none;
  background-color: var(--hsl-header-shading);
  height: 48px;
  width: 72px;
  -webkit-app-region: drag;
}
.platform-osx .ef3116c2da186559-scroller {
  padding-top: 4px;
}

:is(.platform-linux, .platform-web) .ef3116c2da186559-scroller {
  padding: 4px 0 0 0;
}
:is(.platform-linux, .platform-web) ._5e434347c823b592-guilds::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1010;
  pointer-events: none;
  background-color: var(--hsl-header-shading);
  height: 48px;
  width: 100%;
}
:is(.platform-linux, .platform-web) .ef3116c2da186559-tree {
  top: 48px;
  position: relative;
  height: calc(100vh - 48px - var(--custom-app-panels-height, 0px));
}
:is(.platform-linux, .platform-web) .ef3116c2da186559-unreadMentionsIndicatorTop {
  top: 48px;
}

/* show/hide for side-panels */
.f75fb00fb7356cbe-content > .c8ffbb79449f399c-container,
.f75fb00fb7356cbe-chatContent + .c8ffbb79449f399c-membersWrap,
.user-profile-sidebar,
._133bf5eea8e33a34-nowPlayingColumn {
  background: var(--background, var(--hsl-side-shading));
  left: calc((var(--width, 240px) - 60px) * var(--hide-var, var(--hide-fallback-enabled)));
  transition: var(--hide-speed, 0.5s) transform ease-out, var(--hide-speed, 0.5s) backdrop-filter ease-out;
  margin-left: calc(-1 * (var(--width, 240px) - 60px) * var(--hide-var, var(--hide-fallback-enabled)));
  position: relative;
  z-index: 2;
}

.app-focused .f75fb00fb7356cbe-content > .c8ffbb79449f399c-container:is(:hover, :focus-within),
.app-focused .f75fb00fb7356cbe-chatContent + .c8ffbb79449f399c-membersWrap:is(:hover, :focus-within),
.app-focused .user-profile-sidebar:is(:hover, :focus-within),
.app-focused ._133bf5eea8e33a34-nowPlayingColumn:is(:hover, :focus-within) {
  transform: translateX(calc(-1 * (var(--width, 240px) - 60px) * var(--hide-var, var(--hide-fallback-enabled))));
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * var(--hide-var, var(--hide-fallback-enabled)) * 3px));
}

/* Checkboxes */
.checkbox_f525d3 {
  border-color: var(--hsl-primary-color) !important;
}
.checkbox_f525d3.checked_f525d3 {
  box-shadow: inset 0 0 3px 1px var(--hsl-primary-color);
  border-color: var(--hsl-primary-color) !important;
}
.checkbox_f525d3.checked_f525d3 > svg > path {
  fill: var(--hsl-primary-color);
}
.checkbox_f525d3.checked_f525d3[style*="background-color:"] {
  background-color: transparent !important;
}

._3f21e80f8677ec40-container {
  transition: ease-in-out background 0.2s;
  background: var(--hsl-card-background) !important;
}
._3f21e80f8677ec40-container._3f21e80f8677ec40-checked {
  background: var(--hsl-primary-color) !important;
  border-color: transparent;
}

._3f21e80f8677ec40-checked > ._3f21e80f8677ec40-slider > svg > path {
  fill: var(--hsl-primary-color);
}

/* "Other". */
a[href^="http://"] {
  color: var(--hsl-red-color);
}

/* HLJS */
.hljs-comment,
.hljs-quote {
  font-style: italic;
}

/* A few blurs */
.a2f5142ba8328dfd-container {
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 5px));
}

._783321f3468cf9e8-backdrop,
._783321f3468cf9e8-withLayer,
._40128e129e4f87de-scrim {
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 3px)) !important;
  background-color: transparent !important;
}

/* unbreak certain modal backgrounds */
.full-motion :is(.faf9c0f0be1b8685-translate,
.faf9c0f0be1b8685-scale) {
  transform: unset !important;
}

/* Begin I18N */
/* If you wish to translate strings from this file into another language, copy below as a base and send a message in the support server. */
/* In doing so you'll be given a translator tag and a role on said support server. */
html {
  --theme-name: "Pyrite - Lite";
  --tag-dev: "Theme Dev";
  --tag-translator: "Theme Translator";
  --tag-helper: "Theme Helper";
}

[lang=fr] {
  --theme-name: "Pyrite - Léger";
}

/* User Tags */
.c19a557985eb7793-avatar[src*="309976820109803520"] ~ .c19a557985eb7793-header {
  --local-tag: var(--tag-dev);
}

.c19a557985eb7793-avatar:is([src*="126652966265421824"], [src*="393900343135830016"], [src*="240437190339854337"]) ~ .c19a557985eb7793-header {
  --local-tag: var(--tag-helper);
}

/* Tags */
.c19a557985eb7793-contents > .c19a557985eb7793-avatar ~ .c19a557985eb7793-header .c19a557985eb7793-username:after {
  content: var(--local-tag, none);
  color: currentcolor;
  font-size: 11px;
  display: inline-block;
  margin-left: 4px;
  transform: skewX(-15deg);
}

/* Version */
._2debea61131de3de-info::after {
  content: var(--theme-name) " - 0.2.8";
  font-style: italic;
  color: var(--text-muted);
  font-size: 12px;
  line-height: 16px;
}

/* Begin Chat */
.f75fb00fb7356cbe-chat,
.d852db00c0588eb9-wrapper,
.fc817765600a960a-wrapper {
  background: transparent;
}

._36d072eab2b2e737-chatGradient {
  background: none;
}

.f75fb00fb7356cbe-chat[data-has-border=true] {
  border: none;
}

.f75fb00fb7356cbe-content::before {
  content: none;
}
.f75fb00fb7356cbe-content .f75fb00fb7356cbe-loader {
  background: var(--hsl-middle-shading);
}

.theme-midnight :is(.f75fb00fb7356cbe-content,
.f75fb00fb7356cbe-subtitleContainer,
._5e434347c823b592-page) {
  border-left: none;
}

.scroller__28a87,
.f75fb00fb7356cbe-chatContent {
  background: var(--hsl-middle-shading);
}

._36d072eab2b2e737-scroller::-webkit-scrollbar-track {
  margin-bottom: 0;
}

:is(.f84418acfdbdfe54-popover,
.f7ecaca5c80dbf3a-wrapper) {
  padding: 0;
  border: none;
  box-sizing: content-box;
  border-radius: 8px;
  background: transparent;
}
:is(.f84418acfdbdfe54-popover,
.f7ecaca5c80dbf3a-wrapper) .f84418acfdbdfe54-separator {
  display: none;
}
:is(.f84418acfdbdfe54-popover,
.f7ecaca5c80dbf3a-wrapper):hover {
  border: none;
}
:is(.f84418acfdbdfe54-popover,
.f7ecaca5c80dbf3a-wrapper) .f7ecaca5c80dbf3a-button::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0.6;
  background-color: var(--profile-primary-color, var(--hsl-primary-color));
}
:is(.f84418acfdbdfe54-popover,
.f7ecaca5c80dbf3a-wrapper) .f7ecaca5c80dbf3a-button:hover {
  background-color: transparent;
}
:is(.f84418acfdbdfe54-popover,
.f7ecaca5c80dbf3a-wrapper) .f7ecaca5c80dbf3a-button:hover::before {
  background-color: var(--profile-secondary-color, var(--hsl-hover-color));
}
:is(.f84418acfdbdfe54-popover,
.f7ecaca5c80dbf3a-wrapper) > span:first-child > .f7ecaca5c80dbf3a-button::before {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
:is(.f84418acfdbdfe54-popover,
.f7ecaca5c80dbf3a-wrapper) > span:nth-last-child(2) > .f7ecaca5c80dbf3a-button::before {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

._908e20001ad67812-hasContent {
  border-top-color: transparent;
}
._908e20001ad67812-hasContent._908e20001ad67812-isUnread ._908e20001ad67812-content {
  font-weight: bold;
}
._908e20001ad67812-hasContent._908e20001ad67812-isUnread ._908e20001ad67812-unreadPill {
  top: unset;
}

._908e20001ad67812-content {
  text-align: center;
  color: var(--hsl-primary-color);
  font-weight: normal;
  margin: 0 8px;
  padding: 2px 10px;
  flex: 1 1 auto;
  background: var(--hsl-date-divider-background);
}

._0f481cbbd7530492-newMessagesBar {
  background: var(--hsl-primary-color);
  box-shadow: none;
  opacity: 0.75;
}
._0f481cbbd7530492-newMessagesBar:hover {
  opacity: 0.9;
}
._0f481cbbd7530492-newMessagesBar:active {
  padding-top: 0;
  opacity: 1;
}

.spoilerContent__54ab5.hidden__54ab5 {
  --__current--spoiler-text-color: inherit;
}

.c19a557985eb7793-zalgo .c19a557985eb7793-messageContent,
.c19a557985eb7793-username {
  overflow: visible;
}

._752971923a1e6683-blockquoteContainer blockquote {
  background: var(--hsl-card-background);
  padding: 2px 8px 2px 12px;
}

._752971923a1e6683-blockquoteDivider {
  background: var(--hsl-primary-color);
}

.f5d1e2df173e5dbd-welcomeCTA {
  display: none;
}

._5126c0cd07f243a0-mentioned::before,
._5126c0cd07f243a0-ephemeral::before {
  content: none;
}

._36d072eab2b2e737-scrollerSpacer {
  height: var(--space-16);
}

/* Begin Chat Form */
.f75fb00fb7356cbe-form {
  margin-top: 0;
}
.f75fb00fb7356cbe-form::before, .f75fb00fb7356cbe-form::after {
  content: none;
}

._36d072eab2b2e737-chatTypingGradientAtBottom,
._36d072eab2b2e737-chatTypingGradientNotAtBottom {
  background: none;
}

._44df51b030bd5ece-wrapper {
  border-width: 0;
  z-index: 0;
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 2px));
  border: 1px solid var(--hsl-secondary-color);
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
}
._44df51b030bd5ece-wrapper ._44df51b030bd5ece-image {
  display: none;
}

._740174f3d6a2c8fe-channelTextArea {
  border-width: 0;
  border: 1px solid var(--hsl-secondary-color);
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
}
._740174f3d6a2c8fe-channelTextArea:focus-within {
  border-width: 0;
  box-shadow: 0 0 2px 2px var(--profile-primary-color, var(--hsl-primary-color));
}

.b8880176888cc928-base {
  bottom: 1px;
}

._0f481cbbd7530492-jumpToPresentBar {
  background: var(--hsl-card-background);
  opacity: 1;
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 2px));
}

._0f481cbbd7530492-messagesErrorBar {
  background: var(--hsl-red-color);
  opacity: 1;
}

._740174f3d6a2c8fe-themedBackground,
.attachedBars_bdf0de,
._740174f3d6a2c8fe-stackedBars,
.b77158512e0ab116-channelAttachmentArea {
  background: transparent;
}

._841c8f861f7b2704-threadSuggestionBar,
._841c8f861f7b2704-replyBar,
._740174f3d6a2c8fe-scrollableContainer {
  background: transparent;
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 2px));
}

.aa605f19898fe32e-upload {
  background: var(--hsl-card-background);
}

.e6e74fd4d1221f53-button,
._740174f3d6a2c8fe-buttons > ._24af7f4d0326ba4f-button {
  display: none;
}

.aa63abf63dbd9cce-activeButtonChild {
  color: var(--__color) !important;
}

.aa63abf63dbd9cce-button {
  --__color: var(--hsl-primary-color);
}
.aa63abf63dbd9cce-button:is(:hover,
:active,
:focus,
:focus-within) {
  --__color: var(--hsl-hover-color);
}

/* Start Friends Area */
._133bf5eea8e33a34-container {
  background: none;
  border: none;
}

._133bf5eea8e33a34-tabBody {
  background: none;
}
._133bf5eea8e33a34-tabBody:before {
  content: none;
}

._133bf5eea8e33a34-container ._133bf5eea8e33a34-inviteToolbar,
.a145951f2e72a285-header,
.a145951f2e72a285-grid,
._33d1236760f7073e-image {
  display: none;
}

._133bf5eea8e33a34-peopleColumn {
  background: var(--hsl-middle-shading);
}
._133bf5eea8e33a34-peopleColumn ._5ec2fb8b5de26b21-peopleList {
  margin-top: 0;
}

._133bf5eea8e33a34-nowPlayingColumn {
  --width: 360px;
  --background: var(--hsl-side-shading);
  --hide-var: var(--hide-active-now);
}

._00943886e1cf89d1-multipleIconWrapper,
._7d20cf18f8a2784c-container {
  background: none;
}

._7d20cf18f8a2784c-header {
  color: var(--header-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 0;
}
._7d20cf18f8a2784c-header:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor -50%, transparent 50%);
  margin-left: 5px;
}

/* Start Header */
._9293f6b2fc12398a-container {
  border: none;
}
._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
  z-index: 1010;
  background: var(--hsl-header-shading);
}

._4f07413b2d47139a-input {
  color: var(--header-primary);
}
._4f07413b2d47139a-input:focus {
  background: transparent;
  text-shadow: none;
}

._9293f6b2fc12398a-children:after {
  content: none;
}

.divider__9293f {
  margin: 0;
  width: 8px;
  background: linear-gradient(to right, transparent 0%, var(--hsl-primary-color) 50%, transparent 100%);
}

._9293f6b2fc12398a-title {
  color: var(--header-primary);
  overflow: visible;
}

.platform-osx :is(._9293f6b2fc12398a-title, ._9293f6b2fc12398a-children, ._6ec1a06139ec3b27-topic) {
  -webkit-app-region: no-drag;
}

._496769951eb140fe-search {
  order: 1;
}

._974928fe84ca9647-searchBar {
  background: var(--hsl-card-background);
}

.c38106a3f0c3ca76-bar {
  background: var(--hsl-header-shading);
}

.c38106a3f0c3ca76-trailing .edefb8e22d63c542-anchor[href="https://support.discord.com"] {
  display: none;
}

._5e434347c823b592-base:has(> .c38106a3f0c3ca76-bar > .c38106a3f0c3ca76-trailing > ._85643a485899904b-button) {
  --extra-icons: 1;
}

.c38106a3f0c3ca76-bar {
  z-index: 1011;
}

.c38106a3f0c3ca76-title {
  display: none;
}

:root {
  --custom-app-top-bar-height: 0px;
}

._01ae244280823725-chatLayerWrapper ._9293f6b2fc12398a-toolbar,
.f75fb00fb7356cbe-chat:not(.f75fb00fb7356cbe-threadSidebarOpen) ._9293f6b2fc12398a-toolbar {
  margin-right: calc(32px + var(--space-xs) + var(--extra-icons, 0) * 32px);
}

.platform-win ._01ae244280823725-chatLayerWrapper ._9293f6b2fc12398a-toolbar,
.platform-win .f75fb00fb7356cbe-chat:not(.f75fb00fb7356cbe-threadSidebarOpen) ._9293f6b2fc12398a-toolbar {
  margin-right: calc(32px + var(--space-xs) + var(--extra-icons, 0) * 32px + 3 * (1 - var(--windows-titlebar-enabled, 0)) * var(--win-min-max-close-button-width));
}

.platform-win .c38106a3f0c3ca76-winButtons {
  gap: 0;
}
.platform-win .c38106a3f0c3ca76-winButtons::before {
  content: none;
}
.platform-win .c38106a3f0c3ca76-winButton {
  width: var(--win-min-max-close-button-width);
  height: 48px;
}
.platform-win .c99c29809d200a61-clickable {
  right: var(--space-xs);
}

:is(.platform-win, .platform-osx) .c38106a3f0c3ca76-trailing {
  gap: 0;
}
:is(.platform-win, .platform-osx) :not(.c38106a3f0c3ca76-systemBar) > .c38106a3f0c3ca76-trailing {
  top: 24px;
}
:is(.platform-win, .platform-osx) .c38106a3f0c3ca76-bar::before {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  height: 28px;
  -webkit-app-region: drag;
}
:is(.platform-win, .platform-osx) :is(._9293f6b2fc12398a-title,
.clickable_f37cb1) {
  -webkit-app-region: no-drag;
}

:is(.platform-linux, .platform-web) .c99c29809d200a61-clickable {
  position: absolute;
  top: 12px;
}

/* Start Member List */
.c8ffbb79449f399c-container, .c8ffbb79449f399c-membersWrap {
  --width: 240px;
  --hide-var: var(--hide-member-list);
}

.c8ffbb79449f399c-membersWrap {
  background: transparent;
  min-width: auto;
}

.c8ffbb79449f399c-members {
  background: transparent;
}

.c8ffbb79449f399c-member {
  background: transparent;
}

/* Start Modals (lite hell) */
.messagesPopoutWrap__45690,
.container__2692d,
.fc561d3c125f6a2f-container {
  top: 4px;
}

/* Start Notices */
._5e434347c823b592-base :where(#bd-notices:not(:empty), ._6e2b9359c6f84cfd-notice) ~ ._5e434347c823b592-content {
  --notice-count: 1;
}
._5e434347c823b592-base :where(#bd-notices:not(:empty), ._6e2b9359c6f84cfd-notice) + ._6e2b9359c6f84cfd-notice ~ ._5e434347c823b592-content {
  --notice-count: 2;
}
._5e434347c823b592-base :where(#bd-notices:not(:empty), ._6e2b9359c6f84cfd-notice) + ._6e2b9359c6f84cfd-notice + ._6e2b9359c6f84cfd-notice ~ ._5e434347c823b592-content {
  --notice-count: 3;
}

:is(:where(#bd-notices:not(:empty)), ._6e2b9359c6f84cfd-notice) {
  border-radius: 0;
  box-shadow: none;
  max-height: 36px;
  padding: 0;
  width: calc(100vw - 72px + 72px * var(--horizontal-server-list-enabled, 0));
  top: 48px;
}

._6e2b9359c6f84cfd-notice {
  border: none;
}

._5e434347c823b592-page {
  max-height: calc(100vh - 36px * var(--notice-count, 0));
}

.e6b7699ce8339e1c-privateChannels {
  overflow: visible;
  max-height: calc(100vh - 36px * var(--notice-count, 0));
}

._9293f6b2fc12398a-container,
.f37cb1984c371ee5-container,
._01d5c7193c9f2ff4-noChannel::before,
.pageWrapper_a3a4ce::before,
.e6b7699ce8339e1c-searchBar {
  top: calc(-36px * var(--notice-count, 0));
}

:is(:where(#bd-notices:not(:empty)), ._6e2b9359c6f84cfd-notice) ~ ._5e434347c823b592-content :is(._133bf5eea8e33a34-container, ._5e434347c823b592-page, .f75fb00fb7356cbe-chat, .cb9592ad77576717-callContainer, ._01ae244280823725-container) {
  overflow: unset;
}
:is(:where(#bd-notices:not(:empty)), ._6e2b9359c6f84cfd-notice) ~ ._5e434347c823b592-content ._01ae244280823725-resizeHandle {
  top: calc(-36px * var(--notice-count, 0));
  height: 100vh;
  position: relative;
}

._30f280c215966c1a-notice,
.c9e42fe11bb9448d-notice,
.c5cd6ac154c385c9-notice {
  height: 36px;
}

._6e2b9359c6f84cfd-colorDefault {
  background-color: var(--hsl-green-color);
}

._6e2b9359c6f84cfd-colorWarning {
  background-color: var(--hsl-yellow-color);
}

._6e2b9359c6f84cfd-colorDanger {
  background-color: var(--hsl-red-color);
}

/* Start Profile */
.custom-user-profile-theme {
  --profile-primary-color: color-mix(in oklab,
  	var(--profile-gradient-primary-color) 80%,
  	var(--profile-gradient-secondary-color)
  );
  --profile-secondary-color: color-mix(in oklab,
  	var(--profile-gradient-primary-color) 20%,
  	var(--profile-gradient-secondary-color)
  );
}

/* Start User Modal */
._24502a4069848acb-root[style*=transform] {
  transform: unset !important;
  z-index: 0;
}
._24502a4069848acb-root .c0bea05627c5dc35-outer:not(.custom-user-profile-theme)::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  height: 100%;
  width: 100%;
  filter: var(--user-modal-filter);
  background: var(--user-modal-image) no-repeat var(--user-modal-attachment) center/cover;
}
._24502a4069848acb-root .c0bea05627c5dc35-outer:not(.custom-user-profile-theme) ._24502a4069848acb-body {
  gap: 0;
}
._24502a4069848acb-root .c0bea05627c5dc35-outer:not(.custom-user-profile-theme) ._63ed30c16c7151f2-container {
  background: var(--hsl-card-background);
  padding: 16px 16px 0 16px;
  border-radius: 8px 8px 0 0;
}
._24502a4069848acb-root .c0bea05627c5dc35-outer:not(.custom-user-profile-theme) .c0bea05627c5dc35-overlay {
  border-width: 1px 0 0;
  border-radius: 0 0 8px 8px;
}

.custom-user-profile-theme .c0bea05627c5dc35-inner {
  --profile-gradient-start: color-mix(in oklab,
  	rgb(from var(--profile-gradient-overlay-color) r g b / 1) var(--theme-base-color-amount),
  	var(--profile-gradient-primary-color)
  );
  --profile-gradient-end: color-mix(in oklab,
  	rgb(from var(--profile-gradient-overlay-color) r g b / 1) var(--theme-base-color-amount),
  	var(--profile-gradient-secondary-color)
  );
}

.user-profile-modal:not(.custom-user-profile-theme) {
  background: transparent;
}
.user-profile-modal:not(.custom-user-profile-theme) .c0bea05627c5dc35-overlay {
  background: var(--hsl-card-background);
}
.user-profile-modal:not(.custom-user-profile-theme) .d1d9f3257b6b604c-container {
  height: 100%;
  border-radius: 0 0 8px 8px;
  background: var(--hsl-card-background);
  margin: 0 16px 16px;
}

.textarea_dde0a8, .textarea_dde0a8:focus {
  background-color: transparent;
}

.guildAvatarWithoutIcon_aafe31 {
  background-color: var(--hsl-card-background);
}

.e6abe833ac70fcae-connectedAccountContainer {
  background-color: transparent;
}

._44b0c28be7879b7b-wrappersvg > foreignObject + :is(circle, rect:not(:last-child)) {
  opacity: 0 !important;
}

/* Start User Popout */
.user-profile-popout:not(.custom-user-profile-theme) {
  position: relative;
  box-shadow: none;
  background-color: transparent;
}
.user-profile-popout:not(.custom-user-profile-theme)::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  filter: var(--user-popout-filter);
  background: var(--user-popout-image) center/cover no-repeat var(--user-popout-attachment);
}
.user-profile-popout:not(.custom-user-profile-theme) .dfa8b6b94cddb191-role {
  background: var(--hsl-card-background);
}
.user-profile-popout:not(.custom-user-profile-theme) .c0bea05627c5dc35-inner {
  background: transparent;
}
.user-profile-popout:not(.custom-user-profile-theme) ._5be3ef42f92174b2-body {
  background: var(--hsl-card-background);
  padding: 4px;
  margin: 0 12px;
  border-radius: 8px;
}

._48c1c0768f2a2421-actionButton {
  color: var(--hsl-primary-color);
  border-color: currentColor;
}
._48c1c0768f2a2421-actionButton:hover {
  color: var(--hsl-hover-color);
}

.custom-user-profile-theme .themeColor_fb7f94.button_fb7f94::before {
  content: none;
}
.custom-user-profile-theme .themeColor_fb7f94.button_fb7f94:hover:not(:disabled) {
  background: color-mix(in srgb, var(--profile-gradient-button-color) 80%, transparent);
}
.custom-user-profile-theme .themeColor_fb7f94.button_fb7f94:active:not(:disabled) {
  background: color-mix(in srgb, var(--profile-gradient-button-color) 90%, transparent);
}
.custom-user-profile-theme .themeColor_fb7f94.button_fb7f94:disabled {
  background: var(--profile-gradient-button-color);
}
.custom-user-profile-theme :is(._99f8cc7ad4790ce9-scrollerBase, .d125d22cdfd32cfe-scrollerBase) {
  --scrollbar-thin-thumb: var(--profile-primary-color);
  --scrollbar-auto-thumb: var(--profile-primary-color);
}

/* Start User Profile Panel */
.user-profile-sidebar {
  --width: 340px;
  --hide-var: var(--hide-profile-panel);
}
.user-profile-sidebar.custom-user-profile-theme {
  --background: transparent;
}
.user-profile-sidebar.custom-user-profile-theme .c0bea05627c5dc35-inner {
  background: linear-gradient(var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
}

.user-profile-sidebar:not(.custom-user-profile-theme) .c0bea05627c5dc35-overlay {
  background: var(--hsl-card-background);
}

/* Start Profile in Settings */
._1fed1dd06c7aabf7-badgeList:empty {
  background: transparent;
}

/* Begin Scrollbar */
.theme-light,
.theme-dark {
  --scrollbar-auto-scrollbar-color-thumb: var(--hsl-primary-color);
  --scrollbar-auto-scrollbar-color-track: transparent;
  --scrollbar-auto-thumb: var(--hsl-primary-color);
  --scrollbar-auto-track: transparent;
  --scrollbar-thin-thumb: var(--hsl-primary-color);
  --scrollbar-thin-track: transparent;
}

/* Start Server List */
.ef3116c2da186559-wrapper {
  background: transparent;
  margin-bottom: var(--custom-app-panels-height, 0);
  mask: none;
}
.ef3116c2da186559-wrapper:focus {
  outline: 0;
}
.refresh-fast-follow-guild-bg .ef3116c2da186559-wrapper {
  background: transparent;
}

.ef3116c2da186559-tree {
  background-color: var(--hsl-side-shading);
}
.ef3116c2da186559-tree:focus {
  outline: none;
}

._1f388bcaa446c0c8-tutorialContainer ._6e9f8dce4cc18de3-wrapper ._6e9f8dce4cc18de3-childWrapper {
  background: var(--home-icon) center/cover no-repeat scroll;
  filter: var(--home-icon-filter);
  color: transparent;
}
._1f388bcaa446c0c8-tutorialContainer ._6e9f8dce4cc18de3-wrapper:is(._6e9f8dce4cc18de3-selected,
:hover) ._6e9f8dce4cc18de3-childWrapper {
  background-color: var(--hsl-primary-color);
}

/* Start App Settings */
:is(.theme-dark, .theme-light) .a562c840daab72a7-bar {
  background-color: var(--hsl-card-background);
}
:is(.theme-dark, .theme-light) .combo_fcddc1 .key_fcddc1 {
  color: var(--header-primary);
  font-weight: 600;
  background-color: var(--hsl-primary-color);
  border: 1px solid var(--hsl-secondary-color);
  box-shadow: inset 0 -4px 0 var(--hsl-secondary-color);
}
:is(.theme-dark, .theme-light) .combo_fcddc1 .key_fcddc1:active {
  color: var(--header-secondary);
  border: 1px solid var(--hsl-secondary-color);
  box-shadow: inset 0 -2px 0 var(--hsl-secondary-color);
}
:is(.theme-dark, .theme-light) ._062838a9530acec0-notches {
  background-image: none;
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-notDetected {
  border: 1px solid var(--hsl-secondary-color);
  background-color: rgba(255, 255, 255, 0.05);
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-nowPlaying {
  border: 1px solid var(--hsl-secondary-color);
  background-color: rgba(0, 0, 0, 0.5);
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-nowPlaying .cc46f0f859f26200-gameName {
  color: var(--text-default);
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-nowPlaying :is(.cc46f0f859f26200-lastPlayed, .overlayStatusText_fd966d) {
  color: var(--text-muted);
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-nowPlaying :is(.cc46f0f859f26200-toggleIconOn, .cc46f0f859f26200-toggleIconOff) .cc46f0f859f26200-fill {
  fill: var(--hsl-primary-color);
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-nowPlaying .cc46f0f859f26200-gameNameInput:is(:focus, :hover) {
  border-color: var(--hsl-primary-color);
  background-color: transparent;
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-gameNameInput:is(:focus, :hover) {
  border-color: var(--hsl-primary-color);
  background-color: transparent;
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-removeGame {
  background-image: url(https://leafyluigi.github.io/images/white_cross.svg);
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-removeGame:not(:hover) {
  background-color: transparent;
}
:is(.theme-dark, .theme-light) .cc46f0f859f26200-removeGame:hover {
  background-color: var(--hsl-red-color);
}
:is(.theme-dark, .theme-light) ._3e443c6b2569044a-preview {
  background: transparent;
  border-color: var(--hsl-primary-color);
}

.a562c840daab72a7-barFill {
  background-color: var(--hsl-primary-color);
}

._5d148ffac19e7fb1-previewMessage {
  padding: 0;
  background-color: transparent;
}

.cameraWrapper_d41d5f {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}
.cameraWrapper_d41d5f .media-engine-video {
  background: transparent;
}

._53965a42989baf13-backgroundOptionRing {
  border-color: var(--hsl-primary-color);
}

._53965a42989baf13-backgroundOptionInner {
  background-color: var(--hsl-card-background);
}

.e03935f4f4b2af0c-wrapper {
  border-color: var(--hsl-primary-color);
}
.e03935f4f4b2af0c-wrapper .e03935f4f4b2af0c-option:is(:hover, .e03935f4f4b2af0c-selected) {
  background-color: var(--hsl-primary-color);
}
.e03935f4f4b2af0c-wrapper.e03935f4f4b2af0c-disabledSelected {
  border-color: var(--hsl-red-color);
}

.e03935f4f4b2af0c-disabled:is(:hover, .e03935f4f4b2af0c-selected) {
  color: var(--hsl-red-color);
}

.soundRow__6d8e5 {
  margin-bottom: 10px;
}

.soundRow__6d8e5 .dividerDefault__0d850 {
  margin-top: 10px;
}

._4bb93312e84f332e-card {
  padding: 10px 0;
}
._4bb93312e84f332e-card:before {
  content: none;
}
._4bb93312e84f332e-card ._740f25428e5fa983-removeKeybind {
  opacity: 1;
  top: 8px;
  right: 0;
  z-index: 1;
}
._4bb93312e84f332e-card .filled_e18686 {
  transition: 0.25s background-color ease-in-out;
}
._4bb93312e84f332e-card .filled_e18686:not(:hover) {
  background-color: transparent;
}

._740f25428e5fa983-defaultKeybind {
  height: unset;
  padding: 9px 0;
}

.cc46f0f859f26200-game .cc46f0f859f26200-removeGame {
  opacity: 1;
  top: 15px;
}

/* Begin Channel Settings */
:is(.theme-dark, .theme-light) :is(.dc2e447a66129ac2-card, .eafb9cc569d6dcbd-card, .ebafdde0cbd6bae3-card) {
  border-color: var(--secondary-color);
}

._1de147913cbd4329-inviteSettingsInviteRow .default_e18686 {
  transition: 0.25s background-color ease-in-out;
  background-image: url(https://leafyluigi.github.io/images/white_cross.svg);
}
._1de147913cbd4329-inviteSettingsInviteRow .default_e18686:not(:hover) {
  background-color: transparent;
}
._1de147913cbd4329-inviteSettingsInviteRow .default_e18686:hover {
  background-color: var(--hsl-red-color);
}

._1de147913cbd4329-revokeInvite {
  opacity: 1;
  top: 8px;
  right: 0;
  z-index: 1;
}

._1de147913cbd4329-inviteSettingsInviteRow::before {
  content: none;
}

.f62fcea76cf9e158-cardContent,
.folderHeader_dd864e {
  padding: 16px 6px;
}

.memberRow_dd864e {
  padding: 0 6px 16px 6px !important;
}

._344e69670924b1be-group {
  display: flex;
  gap: 6px;
  border: none;
}

._344e69670924b1be-item {
  background-color: currentColor;
  border: 8px solid;
  width: 28px;
  border-radius: 50%;
}
._344e69670924b1be-item[aria-checked] svg {
  display: none;
}
._344e69670924b1be-item._344e69670924b1be-selected {
  background-color: currentColor;
  border-color: currentColor;
}

._344e69670924b1be-deny {
  color: var(--hsl-red-color);
}
._344e69670924b1be-deny._344e69670924b1be-selected {
  border-color: var(--hsl-red-color);
}

._344e69670924b1be-passthrough {
  color: var(--hsl-offline-color);
}
._344e69670924b1be-passthrough._344e69670924b1be-selected {
  border-color: var(--hsl-offline-color);
}

._344e69670924b1be-allow {
  color: var(--hsl-green-color);
}
._344e69670924b1be-allow._344e69670924b1be-selected {
  border-color: var(--hsl-green-color);
}

.scroller_ff90b2,
.settingCard_dd864e,
.settingCard_dd864e.active_dd864e,
.cardFolder_dd864e,
._4a3a59e40c76cd0d-iconWrapper,
.eafb9cc569d6dcbd-avatarUploaderInner {
  background-color: transparent;
}

/* Start Server Settings */
:is(.theme-dark, .theme-light) .default_e18686 {
  background-image: url(https://leafyluigi.github.io/images/white_cross.svg);
}
:is(.theme-dark, .theme-light) .default_e18686:not(:hover) {
  background-color: transparent;
}
:is(.theme-dark, .theme-light) .default_e18686:hover {
  background-color: var(--hsl-red-color);
}
:is(.theme-dark, .theme-light) .emojiAliasInput_e7d73e .emojiInput_e7d73e {
  background-color: var(--hsl-card-background);
  border-color: var(--hsl-primary-color);
}

._160d8e55254637e5-app:not([style*=transform]) ._23e6b439306f125a-noticeRegion .container_fcf29c:not([style*="240, 71, 71"]) {
  background-color: transparent !important;
}
._160d8e55254637e5-app:not([style*=transform]) ._23e6b439306f125a-noticeRegion .container_fcf29c:not([style*="240, 71, 71"])::before {
  content: "";
  top: 0;
  right: 20px;
  bottom: 20px;
  left: 20px;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0.9;
  border-radius: 5px;
  background-color: var(--hsl-primary-color);
}

.circleButton_a930f1 {
  background-color: var(--hsl-primary-color);
}
.circleButton_a930f1:hover {
  background-color: var(--hsl-hover-color);
}

.roleRow_a930f1:hover:not(.roleRowDisableHover_a930f1) .circleButton_a930f1 {
  background-color: var(--hsl-primary-color);
}
.roleRow_a930f1:hover:not(.roleRowDisableHover_a930f1) .circleButton_a930f1:hover {
  background-color: var(--hsl-hover-color);
}

.c6bf1b7af480dfda-header.c6bf1b7af480dfda-stickyHeaderElevated {
  box-shadow: none;
}
.c6bf1b7af480dfda-header.c6bf1b7af480dfda-stickyHeader {
  position: relative;
  top: unset;
}

.editButton_a930f1 {
  visibility: visible;
}

.d8f25bf4f76423e6-container {
  background-color: var(--hsl-card-background);
}
.d8f25bf4f76423e6-container:hover, .d8f25bf4f76423e6-container:active {
  background-color: var(--hsl-card-background);
}

._3dde27fb71170aa9-container {
  background: var(--modal-background);
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 5px));
}

.d8f25bf4f76423e6-icon,
._05e8e45c587ac6b8-previewContainer {
  background-color: var(--hsl-card-background);
}

.emojiAliasPlaceholder_e7d73e {
  display: none;
}

.e7d73e5106887df1-emojiRow {
  padding: 10px 0;
}
.e7d73e5106887df1-emojiRow .default_e18686 {
  opacity: 1;
  top: calc(50% - 12px);
  right: 4px;
}
.e7d73e5106887df1-emojiRow .emojiAliasInput_e7d73e {
  width: unset;
}
.e7d73e5106887df1-emojiRow .emojiAliasInput_e7d73e .emojiInput_e7d73e {
  opacity: 1;
}

._23e6b439306f125a-customScroller {
  background-color: var(--hsl-middle-shading);
}

._981f723644a1a061-descriptionBox,
._7dd5e5d187db8f31-featureCard,
._7dd5e5d187db8f31-guildDetails {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}

._981f723644a1a061-descriptionIcon circle[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
  fill: var(--hsl-green-color);
}
._981f723644a1a061-descriptionIcon circle[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
  fill: var(--hsl-red-color);
}

._23e6b439306f125a-contentColumnMinimal ._23e6b439306f125a-customScroller,
.e29cd7b93c4f1266-titleContainer,
.c6bf1b7af480dfda-header,
._7dd5e5d187db8f31-featureIcon,
.avatarUploaderInner_cd0bbe {
  background-color: transparent;
}

/* Start User Settings */
:is(.theme-dark, .theme-light) .a706ba33cbeb179a-codeRedemptionRedirect {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}
:is(.theme-dark, .theme-light) :is(.e335a78803b4d1df-noItemsIcon,
._7015147b977b3e0e-noItemsIcon,
.c7f964e7e0fc8b47-metadataContainer) {
  background: transparent;
}

._23e6b439306f125a-sidebarRegionScroller {
  background: var(--hsl-side-shading);
}

._23e6b439306f125a-sidebar .header_b3f026 {
  color: var(--header-primary);
  font-weight: 600;
  font-size: 16px;
}
._23e6b439306f125a-sidebar .separator_b3f026 {
  background: var(--hsl-secondary-color);
}

._23e6b439306f125a-contentRegionScroller {
  background: var(--hsl-middle-shading);
}
._23e6b439306f125a-contentRegionScroller ._23e6b439306f125a-customScroller {
  background: transparent;
}

._1fed1dd06c7aabf7-accountProfileCard {
  background: var(--hsl-card-background);
}
._1fed1dd06c7aabf7-accountProfileCard ._1fed1dd06c7aabf7-background {
  padding: 8px 0 0 0;
  background: transparent;
}
._1fed1dd06c7aabf7-accountProfileCard ._1fed1dd06c7aabf7-avatar {
  border-color: transparent;
  background: transparent;
}

._88a69141dd70013a-item {
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 3px));
  background: var(--background-modifier-accent);
}
._88a69141dd70013a-item:hover:not([aria-checked=true]) {
  background: var(--background-modifier-hover);
}
._88a69141dd70013a-item[aria-checked=true] {
  background: var(--background-modifier-selected);
}

._88a69141dd70013a-radioBar {
  border-left: 3px solid var(--radio-bar-accent-color, var(--header-primary));
}
._88a69141dd70013a-radioBar[style*="--radio-bar-accent-color"] .radioIconForeground__001a7 {
  color: var(--radio-bar-accent-color);
}
._88a69141dd70013a-radioBar[style*="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
  --radio-bar-accent-color: var(--green-color) !important;
}
._88a69141dd70013a-radioBar[style*="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
  --radio-bar-accent-color: var(--yellow-color) !important;
}
._88a69141dd70013a-radioBar[style*="hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%)"] {
  --radio-bar-accent-color: var(--secret-orange) !important;
}
._88a69141dd70013a-radioBar[style*="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
  --radio-bar-accent-color: var(--red-color) !important;
}

.radioIconForeground__001a7 {
  color: var(--hsl-primary-color);
}

.c7f964e7e0fc8b47-accountButtonInner {
  background-color: var(--background-modifier-accent);
}
.c7f964e7e0fc8b47-accountButtonInner:hover {
  background-color: var(--background-modifier-hover);
}

.c7f964e7e0fc8b47-connectionHeader {
  background: transparent;
  padding: 10px 20px;
}

.c2b141c0f80863fb-container {
  color: var(--hsl-primary-color);
}
.c2b141c0f80863fb-container:hover, .c2b141c0f80863fb-container:active {
  color: var(--hsl-hover-color);
}
.c2b141c0f80863fb-container .c2b141c0f80863fb-closeButton {
  border-color: currentColor;
}
.c2b141c0f80863fb-container .c2b141c0f80863fb-closeButton:hover, .c2b141c0f80863fb-container .c2b141c0f80863fb-closeButton:active {
  background: transparent;
}
.c2b141c0f80863fb-container .c2b141c0f80863fb-closeButton > svg > path {
  fill: currentColor;
}
.c2b141c0f80863fb-container .c2b141c0f80863fb-closeButton + .c2b141c0f80863fb-keybind,
.c2b141c0f80863fb-container .c2b141c0f80863fb-closeButton {
  color: currentColor;
}

.e335a78803b4d1df-noItemsCard,
._7015147b977b3e0e-noItemsCard,
.c7f964e7e0fc8b47-connection,
._730694f5672c9601-cardPrimary,
._730694f5672c9601-editable,
._730694f5672c9601-outline,
.connectContainer_c7f964 {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}

.e335a78803b4d1df-detailsBlock,
.d4883c8125f433a3-promotionCard {
  background: var(--hsl-card-background);
}

._960e4207cea8323e-layer,
._23e6b439306f125a-contentRegion,
._23e6b439306f125a-contentColumn ._1fed1dd06c7aabf7-fieldList {
  background: transparent;
}

._23e6b439306f125a-standardSidebarView {
  background: transparent;
}

/* Start Sidebar */
._37e49614b9f110a9-container {
  background: transparent;
}

._2637a2609f343032-container,
._5e434347c823b592-activityPanel {
  background: transparent;
}

._5e434347c823b592-sidebar {
  overflow-x: hidden;
  position: relative;
  height: calc(100vh - var(--horizontal-server-list-enabled, 0) * var(--server-container, 0px) - var(--channel-tabs-enabled, 0) * (var(--channel-tabs-tabBar-enabled, 1) * var(--channel-tabs-favBar-enabled, 1) * 5px + var(--channel-tabs-tabBar-enabled, 1) * (var(--channelTabs-tabHeight, 32px) + 3px) + var(--channel-tabs-favBar-enabled, 1) * (var(--channelTabs-favHeight, 28px) + 3px)) - var(--windows-titlebar-enabled, 0) * 18px);
  background: transparent;
}
._5e434347c823b592-sidebar::before, ._5e434347c823b592-sidebar::after {
  content: none;
}
._5e434347c823b592-guilds.ef3116c2da186559-hidden + ._5e434347c823b592-sidebar {
  height: 100vh;
}

._5e434347c823b592-sidebarList {
  overflow: visible;
  border: none;
  border-radius: 0;
}

.e6b7699ce8339e1c-privateChannels {
  background: transparent;
}
.e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-privateChannelRecipientsInviteButtonIcon {
  order: -1;
}
.e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-privateChannelRecipientsInviteButtonIcon, .e6b7699ce8339e1c-privateChannels ._99e7cad8d4c55236-privateChannelRecipientsInviteButtonIcon:hover {
  color: var(--icon-muted);
}

.e6b7699ce8339e1c-searchBar {
  background: var(--hsl-header-shading);
  z-index: 1010;
  box-shadow: none;
  border: none;
  box-sizing: content-box;
}
.client-theme-color-picker .e6b7699ce8339e1c-searchBar {
  border-bottom: none;
}
.e6b7699ce8339e1c-searchBar > button {
  background: transparent;
}
.e6b7699ce8339e1c-searchBar > button::before {
  content: none;
}
.e6b7699ce8339e1c-searchBar .searchBarComponent_e6b769 {
  -webkit-app-region: no-drag;
  background: var(--hsl-card-background);
}

._99e7cad8d4c55236-scroller {
  background: var(--hsl-side-shading);
  margin-bottom: var(--custom-app-panels-height, 0);
  padding-bottom: 0;
}

._972a0d22c8afa7f0-link:is([href="/store"],
[href="/library"],
[href="/shop"],
[href="/quest-home"]),
.badgeIconPrivateMessages__80f39 {
  display: none;
}

._2637a2609f343032-container {
  margin-left: 0;
  padding-bottom: var(--custom-app-panels-height, 0);
}

:is(._99f8cc7ad4790ce9-content, .d125d22cdfd32cfe-content) > div[style="height: 84px;"] {
  height: 132px !important;
}

.f37cb1984c371ee5-container {
  background: var(--hsl-header-shading);
  box-shadow: none;
}

.f37cb1984c371ee5-name {
  color: var(--header-primary);
  display: flex;
  justify-content: center;
}

.f37cb1984c371ee5-animatedContainer {
  background: transparent;
  top: calc(48px + 36px * var(--notice-count, 0));
  z-index: 2;
}
.f37cb1984c371ee5-animatedContainer[style*="(-90px)"] {
  z-index: -3000;
}

.f37cb1984c371ee5-bannerImage:before {
  content: none;
}

._629e4c86564a4ee7-scroller {
  margin-bottom: 0;
  margin-right: 0;
  background: var(--hsl-side-shading);
  padding-bottom: 0;
}

.f37cb1984c371ee5-header {
  z-index: 1010;
  border-radius: 0;
  border: none;
}
.f37cb1984c371ee5-hasBanner .f37cb1984c371ee5-header {
  border: none;
}
.f37cb1984c371ee5-hasBanner .f37cb1984c371ee5-header, .f37cb1984c371ee5-hasBanner .f37cb1984c371ee5-header:hover {
  box-shadow: none;
}
.f37cb1984c371ee5-bannerVisible .f37cb1984c371ee5-header {
  filter: none;
}

.avatarSpeaking__07f91,
.avatarSpeaking__44b0c {
  box-shadow: inset 0 0 0 2px var(--hsl-primary-color);
}

._3b43ffc98ef7a68a-container {
  padding-top: 64px;
}
._3b43ffc98ef7a68a-container::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background-color: var(--hsl-header-shading);
  height: 48px;
}
._3b43ffc98ef7a68a-container::after {
  content: "";
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background-color: var(--hsl-side-shading);
}

._3b43ffc98ef7a68a-category,
._3b43ffc98ef7a68a-channelIcon,
._3b43ffc98ef7a68a-channelName {
  background: var(--hsl-primary-color);
}

.f37cb1984c371ee5-bannerVisible :is(.f37cb1984c371ee5-headerEllipseBackdrop,
.f37cb1984c371ee5-headerEllipseForeground,
.f37cb1984c371ee5-headerGlass) {
  background: none;
  backdrop-filter: none;
}

.e2d7b8b5e6e6e751-channelNotice {
  background: var(--hsl-side-shading);
  border-bottom: none;
}

._5e434347c823b592-panels {
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: none;
  background: var(--hsl-side-shading);
  border: none;
  border-radius: 0;
}
._5e434347c823b592-panels .b6c092614b8d59f3-title {
  color: var(--header-primary);
}
._5e434347c823b592-panels :is(._5e434347c823b592-activityPanel .actions_bf1a22) {
  border: 1px solid var(--hsl-middle-shading);
  border-radius: 8px;
}

._29444ba32c7fbeab-wrapper,
._29444ba32c7fbeab-wrapper:hover {
  color: var(--category-color);
}
._29444ba32c7fbeab-wrapper._29444ba32c7fbeab-collapsed,
._29444ba32c7fbeab-wrapper:hover._29444ba32c7fbeab-collapsed {
  color: var(--read-channel-color);
}
._29444ba32c7fbeab-wrapper._29444ba32c7fbeab-muted,
._29444ba32c7fbeab-wrapper:hover._29444ba32c7fbeab-muted {
  color: var(--muted-channel-color);
}
._29444ba32c7fbeab-wrapper:not(._29444ba32c7fbeab-collapsed) ._29444ba32c7fbeab-name::before,
._29444ba32c7fbeab-wrapper:hover:not(._29444ba32c7fbeab-collapsed) ._29444ba32c7fbeab-name::before {
  background: linear-gradient(to left, currentColor -50%, transparent 50%);
}

/* Begin Tooltips */
._59d0d7075b521375-layerContainer {
  z-index: 1100;
}

.c36707910f687430-tooltip {
  z-index: 2000;
}

.c36707910f687430-tooltipPointer,
._4e35b986167c457d-caretIcon {
  display: none !important;
}

.tooltipBlack_c36707,
.c36707910f687430-tooltipBrand,
.c36707910f687430-tooltipGrey,
.c36707910f687430-tooltipPrimary,
.b26b790fd1005393-bubble,
._4e35b986167c457d-tooltip {
  background: var(--hsl-tooltip-color);
  color: var(--header-primary);
}

.b1f768426adf64d9-stageListenerPill {
  background: var(--hsl-card-background);
}

/* Default Variables */
:root {
  /* forced by theme */
  --font-headline: var(--body-font);
  --font-display: var(--body-font);
  --font-code: var(--code-font);
  --font-primary: var(--body-font);
  --secret-orange: #f57531;
  --brand-experiment: var(--hsl-primary-color);
  --focus-primary: var(--hsl-primary-color);
  --hide-fallback-enabled: 1;
  --hide-fallback-disabled: 0;
  --control-background-primary-default: var(--hsl-primary-color);
  --control-border-primary-default: var(--hsl-primary-color);
  --control-background-primary-hover: var(--hsl-hover-color);
  --control-border-primary-hover: var(--hsl-hover-color);
  --control-background-primary-active: var(--hsl-hover-color);
  --control-border-primary-active: var(--hsl-hover-color);
  --hsl-tooltip-color: hsl(from var(--tooltip-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-primary-color: hsl(from var(--primary-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-secondary-color: hsl(from var(--secondary-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-hover-color: hsl(from var(--hover-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-green-color: hsl(from var(--green-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-yellow-color: hsl(from var(--yellow-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-red-color: hsl(from var(--red-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-link-color: hsl(from var(--link-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-live-color: hsl(from var(--live-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-offline-color: hsl(from var(--offline-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-date-divider-background: hsl(from var(--date-divider-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-spoiler-background: hsl(from var(--spoiler-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --background-image: url("https://leafyluigi.github.io/images/pexels-josh-sorenson-116359.png");
  --user-modal-image: var(--background-image);
  --user-popout-image: var(--background-image);
  --background-attachment: fixed;
  --user-modal-attachment: var(--background-attachment);
  --user-popout-attachment: var(--background-attachment);
  --primary-color: #387eff;
  --secondary-color: #3298e0;
  --hover-color: #139dff;
  --tooltip-color: #1967ab;
  --mention-opacity: 0.3;
  --home-icon: url("https://leafyluigi.github.io/images/pexels-chris-munnik-2604991.png");
  --green-color: #43b581;
  --yellow-color: #f9a719;
  --red-color: #ec4144;
  --link-color: #00aef3;
  --live-color: #583594;
  --offline-color: #737e8c;
  /* Channels */
  --category-color: var(--header-primary);
  --selected-channel-color: var(--header-primary);
  --unread-channel-color: var(--hsl-primary-color);
  --show-channel-unread-dot: block;
  --read-channel-color: var(--interactive-normal);
  --muted-channel-color: var(--interactive-muted);
  --locked-voice-channel-color: var(--hsl-red-color);
  /* Certain Elements */
  --date-divider-background: var(--card-background);
  --spoiler-background: var(--card-background);
  /* Advanced Users */
  --code-font: Hack, Monaco, Consolas, Courier, monospace;
  --body-font: Whitney, "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, sans-serif;
  --expression-picker-height: 500px;
  --background-filter: saturate(calc(1 * var(--saturation-factor, 1)));
  --user-modal-filter: saturate(calc(1 * var(--saturation-factor, 1)));
  --user-popout-filter: saturate(calc(1 * var(--saturation-factor, 1)));
  --home-icon-filter: saturate(calc(1 * var(--saturation-factor, 1)));
  /* Toggles. From 0 (disable) to 1 (enable). Anything outside of those values have NOT been tested and likely aren't supported. */
  --hide-speed: 0.5s;
  --hide-member-list: 1;
  --hide-active-now: 1;
  --hide-profile-panel: 1;
  --hide-channel-list: 0;
  --blur-intensity: 1;
  --spoiler-hover-opacity: 0.7; /* Relates to the text itself. 0 = invisible (disable), 1 = fully visible. Default 0.7. */
  /* Windows Only - How many *pixels* wide the min/max/close buttons should be. */
  --win-min-max-close-button-width: 28px; /* default: 28px, square: 48px */
  /* Internal please ignore */
}

:root:root:root {
  --mention-background: var(--hsl-primary-color);
}

.theme-dark,
.theme-dark :not(div[class*=previewContainer_]) .theme-light:not(div[class*=layer_], div[class*=outer_]:is([class*=user-profile-popout], [class*=user-profile-modal])) {
  --card-background: rgba(0, 0, 0, 0.4);
  --side-shading: rgba(0, 0, 0, 0.4);
  --middle-shading: rgba(0, 0, 0, 0.2);
  --header-shading: rgba(0, 0, 0, 0.6);
  --hover-filter: rgba(0, 0, 0, 0.2);
  --active-filter: rgba(0, 0, 0, 0.4);
  --hsl-side-shading: hsl(from var(--side-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-middle-shading: hsl(from var(--middle-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-header-shading: hsl(from var(--header-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-card-background: hsl(from var(--card-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --interactive-normal: var(--interactive-text-default);
  --interactive-hover: var(--interactive-text-hover);
  --interactive-active: var(--interactive-text-active);
  --header-primary: var(--text-strong);
}

.theme-darker,
.theme-darker :not(div[class*=previewContainer_]) .theme-light:not(div[class*=layer_], div[class*=outer_]:is([class*=user-profile-popout], [class*=user-profile-modal])) {
  --card-background: rgba(0, 0, 0, 0.5);
  --side-shading: rgba(0, 0, 0, 0.5);
  --middle-shading: rgba(0, 0, 0, 0.3);
  --header-shading: rgba(0, 0, 0, 0.7);
  --hover-filter: rgba(0, 0, 0, 0.2);
  --active-filter: rgba(0, 0, 0, 0.4);
  --hsl-side-shading: hsl(from var(--side-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-middle-shading: hsl(from var(--middle-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-header-shading: hsl(from var(--header-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-card-background: hsl(from var(--card-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --interactive-normal: var(--interactive-text-default);
  --interactive-hover: var(--interactive-text-hover);
  --interactive-active: var(--interactive-text-active);
  --header-primary: var(--text-strong);
}

.theme-midnight,
.theme-midnight :not(div[class*=previewContainer_]) .theme-light:not(div[class*=layer_], div[class*=outer_]:is([class*=user-profile-popout], [class*=user-profile-modal])) {
  --card-background: rgba(0, 0, 0, 0.7);
  --side-shading: rgba(0, 0, 0, 0.7);
  --middle-shading: rgba(0, 0, 0, 0.6);
  --header-shading: rgba(0, 0, 0, 0.8);
  --hover-filter: rgba(0, 0, 0, 0.2);
  --active-filter: rgba(0, 0, 0, 0.4);
  --hsl-side-shading: hsl(from var(--side-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-middle-shading: hsl(from var(--middle-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-header-shading: hsl(from var(--header-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-card-background: hsl(from var(--card-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --interactive-normal: var(--interactive-text-default);
  --interactive-hover: var(--interactive-text-hover);
  --interactive-active: var(--interactive-text-active);
  --header-primary: var(--text-strong);
}

.theme-light,
.theme-light :not(div[class*=previewContainer_]) .theme-dark:not(div[class*=layer_], div[class*=outer_]:is([class*=user-profile-popout], [class*=user-profile-modal]), div[class*=sidebar_], nav[class*=guilds_], div[class*=sidebarRegion_]) {
  --card-background: rgba(255, 255, 255, 0.05);
  --side-shading: rgba(255, 255, 255, 0.4);
  --middle-shading: rgba(255, 255, 255, 0.3);
  --header-shading: rgba(255, 255, 255, 0.5);
  --hover-filter: rgba(255, 255, 255, 0.2);
  --active-filter: rgba(255, 255, 255, 0.4);
  --hsl-side-shading: hsl(from var(--side-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-middle-shading: hsl(from var(--middle-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-header-shading: hsl(from var(--header-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-card-background: hsl(from var(--card-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --interactive-normal: var(--interactive-text-default);
  --interactive-hover: var(--interactive-text-hover);
  --interactive-active: var(--interactive-text-active);
  --header-primary: var(--text-strong);
}

.theme-dark,
.theme-light {
  --control-brand-foreground: var(--hsl-primary-color);
  --control-brand-foreground-new: var(--hsl-primary-color);
  --deprecated-text-input-bg: var(--input-background);
  --deprecated-text-input-border: var(--hsl-primary-color);
  --__spoiler-background-color--hidden: var(--hsl-spoiler-background);
  --__spoiler-background-color--hidden--hover: var(--hsl-spoiler-background);
  --__spoiler-background-color--revealed: var(--hsl-spoiler-background);
  --brand-500: var(--hsl-primary-color);
  --dark-elevation-low: unset;
  --dark-elevation-high: unset;
  --dark-elevation-border: unset;
  --light-elevation-low: unset;
  --light-elevation-high: unset;
  --light-elevation-border: unset;
  --elevation-stroke: unset;
  --elevation-low: unset;
  --elevation-medium: unset;
  --elevation-high: unset;
  --info-positive-foreground: var(--hsl-green-color);
  --info-warning-foreground: var(--hsl-yellow-color);
  --info-danger-foreground: var(--hsl-red-color);
  --info-help-foreground: var(--hsl-link-color);
  --status-positive-background: var(--hsl-green-color);
  --status-warning-background: var(--hsl-yellow-color);
  --status-danger-background: var(--hsl-red-color);
  --status-positive: var(--hsl-green-color);
  --status-warning: var(--hsl-yellow-color);
  --status-danger: var(--hsl-red-color);
  --text-danger: var(--hsl-red-color);
}

.theme-light,
.theme-dark,
.theme-darker,
.theme-midnight {
  --text-positive: var(--hsl-green-color);
  --text-warning: var(--hsl-yellow-color);
  --text-link: var(--hsl-link-color);
  --text-brand: var(--hsl-primary-color);
  --background-message-hover: transparent;
  --background-mentioned: rgb(from var(--mention-background) r g b/var(--mention-opacity));
  --background-mentioned-hover: rgb(from var(--mention-background) r g b/calc(0.2 + var(--mention-opacity)));
  --scrim-default: transparent;
  --scrim-lightbox: transparent;
  --input-background: var(--hsl-card-background);
  --modal-background: var(--hsl-card-background);
  --modal-footer-background: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--hsl-primary-color);
  --scrollbar-auto-scrollbar-color-track: transparent;
  --scrollbar-auto-thumb: var(--hsl-primary-color);
  --scrollbar-auto-track: transparent;
  --scrollbar-thin-thumb: var(--hsl-primary-color);
  --background-code: var(--hsl-card-background);
  --shadow-border: unset;
  --shadow-border-filter: unset;
  --shadow-button-overlay: unset;
  --shadow-button-overlay-filter: unset;
  --shadow-high: unset;
  --shadow-high-filter: unset;
  --shadow-ledge: unset;
  --shadow-ledge-filter: unset;
  --shadow-low: unset;
  --shadow-low-filter: unset;
  --shadow-low-active: unset;
  --shadow-low-active-filter: unset;
  --shadow-low-hover: unset;
  --shadow-low-hover-filter: unset;
  --shadow-medium: unset;
  --shadow-medium-filter: unset;
  --shadow-mobile-navigator-x: unset;
  --shadow-mobile-navigator-x-filter: unset;
  --shadow-top-high: unset;
  --shadow-top-high-filter: unset;
  --shadow-top-ledge: unset;
  --shadow-top-ledge-filter: unset;
  --shadow-top-low: unset;
  --shadow-top-low-filter: unset;
}
