@charset "UTF-8";
/*! Pyrite - lite v0.2.8 by LeafyLuigi */
/* Begin Misc */
::placeholder, ::-webkit-input-placeholder,
body, button, input, select, textarea {
  font-family: var(--body-font);
}

::selection {
  background: var(--hsl-secondary-color);
}

code,
.inlineCode_ada32f,
.after_inlineCode_ada32f,
.before_inlineCode_ada32f,
.codeLine_ada32f,
.codeBlockText_ada32f {
  font-family: var(--code-font);
}

.appMount__51fd7::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  height: 100%;
  width: 100%;
  filter: var(--background-filter);
  background: var(--background-image) center/cover no-repeat var(--background-attachment);
}

html,
.app__160d8 {
  background: transparent;
}

:is(.appMount__51fd7,
.bg__960e4,
body) {
  background: transparent;
}

.refresh-fast-follow-guild-bg .bg__960e4 {
  background: transparent;
}

.app_a3002d {
  color: transparent;
}

.pictureInPicture__6341f {
  z-index: 1050;
}

.titleBar__421ed {
  z-index: 1100;
}

.wanderingCubes__46696 .item__46696 {
  background-color: var(--hsl-primary-color);
}

.loader__5e434 {
  background: linear-gradient(to bottom, var(--hsl-header-shading) 48px, var(--hsl-middle-shading) 48px);
}

.platform-win .sidebar__5e434 {
  border-radius: 0;
}
.platform-win .guilds__5e434 {
  padding-top: 48px;
  overflow: visible;
}
.platform-win .guilds__5e434::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1010;
  pointer-events: none;
  background-color: var(--hsl-header-shading);
  height: 48px;
  width: 72px;
}
.platform-win .guilds__5e434::after {
  content: none;
}
.platform-win .unreadMentionsIndicatorTop_ef3116 {
  top: 48px;
}

.typeWindows__421ed {
  padding-top: 0;
  margin-top: 0;
  height: 0;
  position: relative;
}
.typeWindows__421ed::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: -1;
  pointer-events: none;
  height: 18px;
  -webkit-app-region: drag;
}
.typeWindows__421ed > .wordmark__421ed {
  display: none;
}

.winButton__421ed {
  width: var(--win-min-max-close-button-width);
  position: relative;
  top: 0;
  height: 48px;
}

.winButtonClose__421ed:hover {
  background: var(--hsl-red-color);
  color: var(--interactive-hover);
}

.platform-osx .wrapper_ef3116 {
  margin-top: 48px;
  overflow: visible;
}
.platform-osx .wrapper_ef3116::before {
  content: "";
  top: -48px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1050;
  pointer-events: none;
  background-color: var(--hsl-header-shading);
  height: 48px;
  width: 72px;
  -webkit-app-region: drag;
}
.platform-osx .scroller_ef3116 {
  padding-top: 4px;
}

:is(.platform-linux, .platform-web) .scroller_ef3116 {
  padding: 4px 0 0 0;
}
:is(.platform-linux, .platform-web) .guilds__5e434::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 1010;
  pointer-events: none;
  background-color: var(--hsl-header-shading);
  height: 48px;
  width: 100%;
}
:is(.platform-linux, .platform-web) .tree_ef3116 {
  top: 48px;
  position: relative;
  height: calc(100vh - 48px - var(--custom-app-panels-height, 0px));
}
:is(.platform-linux, .platform-web) .unreadMentionsIndicatorTop_ef3116 {
  top: 48px;
}

/* show/hide for side-panels */
.content_f75fb0 > .container_c8ffbb,
.chatContent_f75fb0 + .membersWrap_c8ffbb,
.user-profile-sidebar,
.nowPlayingColumn__133bf {
  background: var(--background, var(--hsl-side-shading));
  left: calc((var(--width, 240px) - 60px) * var(--hide-var, var(--hide-fallback-enabled)));
  transition: var(--hide-speed, 0.5s) transform ease-out, var(--hide-speed, 0.5s) backdrop-filter ease-out;
  margin-left: calc(-1 * (var(--width, 240px) - 60px) * var(--hide-var, var(--hide-fallback-enabled)));
  position: relative;
  z-index: 2;
}

.app-focused .content_f75fb0 > .container_c8ffbb:is(:hover, :focus-within),
.app-focused .chatContent_f75fb0 + .membersWrap_c8ffbb:is(:hover, :focus-within),
.app-focused .user-profile-sidebar:is(:hover, :focus-within),
.app-focused .nowPlayingColumn__133bf:is(:hover, :focus-within) {
  transform: translateX(calc(-1 * (var(--width, 240px) - 60px) * var(--hide-var, var(--hide-fallback-enabled))));
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * var(--hide-var, var(--hide-fallback-enabled)) * 3px));
}

/* Checkboxes */
.checkbox_f525d3 {
  border-color: var(--hsl-primary-color) !important;
}
.checkbox_f525d3.checked_f525d3 {
  box-shadow: inset 0 0 3px 1px var(--hsl-primary-color);
  border-color: var(--hsl-primary-color) !important;
}
.checkbox_f525d3.checked_f525d3 > svg > path {
  fill: var(--hsl-primary-color);
}
.checkbox_f525d3.checked_f525d3[style*="background-color:"] {
  background-color: transparent !important;
}

.container__3f21e {
  transition: ease-in-out background 0.2s;
  background: var(--hsl-card-background) !important;
}
.container__3f21e.checked__3f21e {
  background: var(--hsl-primary-color) !important;
  border-color: transparent;
}

.checked__3f21e > .slider__3f21e > svg > path {
  fill: var(--hsl-primary-color);
}

/* "Other". */
a[href^="http://"] {
  color: var(--hsl-red-color);
}

/* HLJS */
.hljs-comment,
.hljs-quote {
  font-style: italic;
}

/* A few blurs */
.container_a2f514 {
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 5px));
}

.backdrop__78332,
.withLayer__78332,
.scrim__40128 {
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 3px)) !important;
  background-color: transparent !important;
}

/* unbreak certain modal backgrounds */
.full-motion :is(.translate_faf9c0,
.scale_faf9c0) {
  transform: unset !important;
}

/* Begin I18N */
/* If you wish to translate strings from this file into another language, copy below as a base and send a message in the support server. */
/* In doing so you'll be given a translator tag and a role on said support server. */
html {
  --theme-name: "Pyrite - Lite";
  --tag-dev: "Theme Dev";
  --tag-translator: "Theme Translator";
  --tag-helper: "Theme Helper";
}

[lang=fr] {
  --theme-name: "Pyrite - Léger";
}

/* User Tags */
.avatar_c19a55[src*="309976820109803520"] ~ .header_c19a55 {
  --local-tag: var(--tag-dev);
}

.avatar_c19a55:is([src*="126652966265421824"], [src*="393900343135830016"], [src*="240437190339854337"]) ~ .header_c19a55 {
  --local-tag: var(--tag-helper);
}

/* Tags */
.contents_c19a55 > .avatar_c19a55 ~ .header_c19a55 .username_c19a55:after {
  content: var(--local-tag, none);
  color: currentcolor;
  font-size: 11px;
  display: inline-block;
  margin-left: 4px;
  transform: skewX(-15deg);
}

/* Version */
.info__2debe::after {
  content: var(--theme-name) " - 0.2.8";
  font-style: italic;
  color: var(--text-muted);
  font-size: 12px;
  line-height: 16px;
}

/* Begin Chat */
.chat_f75fb0,
.wrapper_d852db,
.wrapper_fc8177 {
  background: transparent;
}

.chatGradient__36d07 {
  background: none;
}

.chat_f75fb0[data-has-border=true] {
  border: none;
}

.content_f75fb0::before {
  content: none;
}
.content_f75fb0 .loader_f75fb0 {
  background: var(--hsl-middle-shading);
}

.theme-midnight :is(.content_f75fb0,
.subtitleContainer_f75fb0,
.page__5e434) {
  border-left: none;
}

.scroller__28a87,
.chatContent_f75fb0 {
  background: var(--hsl-middle-shading);
}

.scroller__36d07::-webkit-scrollbar-track {
  margin-bottom: 0;
}

:is(.popover_f84418,
.wrapper_f7ecac) {
  padding: 0;
  border: none;
  box-sizing: content-box;
  border-radius: 8px;
  background: transparent;
}
:is(.popover_f84418,
.wrapper_f7ecac) .separator_f84418 {
  display: none;
}
:is(.popover_f84418,
.wrapper_f7ecac):hover {
  border: none;
}
:is(.popover_f84418,
.wrapper_f7ecac) .button_f7ecac::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0.6;
  background-color: var(--profile-primary-color, var(--hsl-primary-color));
}
:is(.popover_f84418,
.wrapper_f7ecac) .button_f7ecac:hover {
  background-color: transparent;
}
:is(.popover_f84418,
.wrapper_f7ecac) .button_f7ecac:hover::before {
  background-color: var(--profile-secondary-color, var(--hsl-hover-color));
}
:is(.popover_f84418,
.wrapper_f7ecac) > span:first-child > .button_f7ecac::before {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
:is(.popover_f84418,
.wrapper_f7ecac) > span:nth-last-child(2) > .button_f7ecac::before {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.hasContent__908e2 {
  border-top-color: transparent;
}
.hasContent__908e2.isUnread__908e2 .content__908e2 {
  font-weight: bold;
}
.hasContent__908e2.isUnread__908e2 .unreadPill__908e2 {
  top: unset;
}

.content__908e2 {
  text-align: center;
  color: var(--hsl-primary-color);
  font-weight: normal;
  margin: 0 8px;
  padding: 2px 10px;
  flex: 1 1 auto;
  background: var(--hsl-date-divider-background);
}

.newMessagesBar__0f481 {
  background: var(--hsl-primary-color);
  box-shadow: none;
  opacity: 0.75;
}
.newMessagesBar__0f481:hover {
  opacity: 0.9;
}
.newMessagesBar__0f481:active {
  padding-top: 0;
  opacity: 1;
}

.spoilerContent__54ab5.hidden__54ab5 {
  --__current--spoiler-text-color: inherit;
}

.zalgo_c19a55 .messageContent_c19a55,
.username_c19a55 {
  overflow: visible;
}

.blockquoteContainer__75297 blockquote {
  background: var(--hsl-card-background);
  padding: 2px 8px 2px 12px;
}

.blockquoteDivider__75297 {
  background: var(--hsl-primary-color);
}

.welcomeCTA_f5d1e2 {
  display: none;
}

.mentioned__5126c::before,
.ephemeral__5126c::before {
  content: none;
}

.scrollerSpacer__36d07 {
  height: var(--space-16);
}

/* Begin Chat Form */
.form_f75fb0 {
  margin-top: 0;
}
.form_f75fb0::before, .form_f75fb0::after {
  content: none;
}

.chatTypingGradientAtBottom__36d07,
.chatTypingGradientNotAtBottom__36d07 {
  background: none;
}

.wrapper__44df5 {
  border-width: 0;
  z-index: 0;
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 2px));
  border: 1px solid var(--hsl-secondary-color);
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
}
.wrapper__44df5 .image__44df5 {
  display: none;
}

.channelTextArea__74017 {
  border-width: 0;
  border: 1px solid var(--hsl-secondary-color);
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
}
.channelTextArea__74017:focus-within {
  border-width: 0;
  box-shadow: 0 0 2px 2px var(--profile-primary-color, var(--hsl-primary-color));
}

.base_b88801 {
  bottom: 1px;
}

.jumpToPresentBar__0f481 {
  background: var(--hsl-card-background);
  opacity: 1;
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 2px));
}

.messagesErrorBar__0f481 {
  background: var(--hsl-red-color);
  opacity: 1;
}

.themedBackground__74017,
.attachedBars_bdf0de,
.stackedBars__74017,
.channelAttachmentArea_b77158 {
  background: transparent;
}

.threadSuggestionBar__841c8,
.replyBar__841c8,
.scrollableContainer__74017 {
  background: transparent;
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 2px));
}

.textArea__74017 .placeholder__1b31f {
  color: var(--interactive-normal);
}

.upload_aa605f {
  background: var(--hsl-card-background);
}

.button_e6e74f,
.buttons__74017 > .button__24af7 {
  display: none;
}

.activeButtonChild_aa63ab {
  color: var(--__color) !important;
}

.button_aa63ab {
  --__color: var(--hsl-primary-color);
}
.button_aa63ab:is(:hover,
:active,
:focus,
:focus-within) {
  --__color: var(--hsl-hover-color);
}

/* Start Friends Area */
.container__133bf {
  background: none;
  border: none;
}

.tabBody__133bf {
  background: none;
}
.tabBody__133bf:before {
  content: none;
}

.container__133bf .inviteToolbar__133bf,
.header_a14595,
.grid_a14595,
.image__33d12 {
  display: none;
}

.peopleColumn__133bf {
  background: var(--hsl-middle-shading);
}
.peopleColumn__133bf .peopleList__5ec2f {
  margin-top: 0;
}

.nowPlayingColumn__133bf {
  --width: 360px;
  --background: var(--hsl-side-shading);
  --hide-var: var(--hide-active-now);
}

.multipleIconWrapper__00943,
.container__7d20c {
  background: none;
}

.header__7d20c {
  color: var(--header-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8px 0;
}
.header__7d20c:after {
  content: "";
  height: 2px;
  flex-grow: 1;
  background: linear-gradient(to right, currentColor -50%, transparent 50%);
  margin-left: 5px;
}

/* Start Header */
.container__9293f {
  border: none;
}
.container__9293f.themed__9293f {
  z-index: 1010;
  background: var(--hsl-header-shading);
}

.input__4f074 {
  color: var(--header-primary);
}
.input__4f074:focus {
  background: transparent;
  text-shadow: none;
}

.children__9293f:after {
  content: none;
}

.divider__9293f {
  margin: 0;
  width: 8px;
  background: linear-gradient(to right, transparent 0%, var(--hsl-primary-color) 50%, transparent 100%);
}

.title__9293f {
  color: var(--header-primary);
  overflow: visible;
}

.platform-osx :is(.title__9293f, .children__9293f, .topic__6ec1a) {
  -webkit-app-region: no-drag;
}

.search__49676 {
  order: 1;
}

.searchBar__97492 {
  background: var(--hsl-card-background);
}

.bar_c38106 {
  background: var(--hsl-header-shading);
}

.trailing_c38106 .anchor_edefb8[href="https://support.discord.com"] {
  display: none;
}

.base__5e434:has(> .bar_c38106 > .trailing_c38106 > .button__85643) {
  --extra-icons: 1;
}

.bar_c38106 {
  z-index: 1011;
}

.title_c38106 {
  display: none;
}

:root {
  --custom-app-top-bar-height: 0px;
}

.chatLayerWrapper__01ae2 .toolbar__9293f,
.chat_f75fb0:not(.threadSidebarOpen_f75fb0) .toolbar__9293f {
  margin-right: calc(32px + var(--space-xs) + var(--extra-icons, 0) * 32px);
}

.platform-win .chatLayerWrapper__01ae2 .toolbar__9293f,
.platform-win .chat_f75fb0:not(.threadSidebarOpen_f75fb0) .toolbar__9293f {
  margin-right: calc(32px + var(--space-xs) + var(--extra-icons, 0) * 32px + 3 * (1 - var(--windows-titlebar-enabled, 0)) * var(--win-min-max-close-button-width));
}

.platform-win .winButtons_c38106 {
  gap: 0;
}
.platform-win .winButtons_c38106::before {
  content: none;
}
.platform-win .winButton_c38106 {
  width: var(--win-min-max-close-button-width);
  height: 48px;
}
.platform-win .clickable_c99c29 {
  right: var(--space-xs);
}

:is(.platform-win, .platform-osx) .trailing_c38106 {
  gap: 0;
}
:is(.platform-win, .platform-osx) :not(.systemBar_c38106) > .trailing_c38106 {
  top: 24px;
}
:is(.platform-win, .platform-osx) .bar_c38106::before {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  z-index: 2;
  pointer-events: none;
  height: 28px;
  -webkit-app-region: drag;
}
:is(.platform-win, .platform-osx) :is(.title__9293f,
.clickable_f37cb1) {
  -webkit-app-region: no-drag;
}

:is(.platform-linux, .platform-web) .clickable_c99c29 {
  position: absolute;
  top: 12px;
}

/* Start Member List */
.container_c8ffbb, .membersWrap_c8ffbb {
  --width: 240px;
  --hide-var: var(--hide-member-list);
}

.membersWrap_c8ffbb {
  background: transparent;
  min-width: auto;
}

.members_c8ffbb {
  background: transparent;
}

.member_c8ffbb {
  background: transparent;
}

/* Start Modals (lite hell) */
.messagesPopoutWrap__45690,
.container__2692d,
.container_fc561d {
  top: 4px;
}

/* Start Notices */
.base__5e434 :where(#bd-notices:not(:empty), .notice__6e2b9) ~ .content__5e434 {
  --notice-count: 1;
}
.base__5e434 :where(#bd-notices:not(:empty), .notice__6e2b9) + .notice__6e2b9 ~ .content__5e434 {
  --notice-count: 2;
}
.base__5e434 :where(#bd-notices:not(:empty), .notice__6e2b9) + .notice__6e2b9 + .notice__6e2b9 ~ .content__5e434 {
  --notice-count: 3;
}

:is(:where(#bd-notices:not(:empty)), .notice__6e2b9) {
  border-radius: 0;
  box-shadow: none;
  max-height: 36px;
  padding: 0;
  width: calc(100vw - 72px + 72px * var(--horizontal-server-list-enabled, 0));
  top: 48px;
}

.notice__6e2b9 {
  border: none;
}

.page__5e434 {
  max-height: calc(100vh - 36px * var(--notice-count, 0));
}

.privateChannels_e6b769 {
  overflow: visible;
  max-height: calc(100vh - 36px * var(--notice-count, 0));
}

.container__9293f,
.container_f37cb1,
.noChannel__01d5c::before,
.pageWrapper_a3a4ce::before,
.searchBar_e6b769 {
  top: calc(-36px * var(--notice-count, 0));
}

:is(:where(#bd-notices:not(:empty)), .notice__6e2b9) ~ .content__5e434 :is(.container__133bf, .page__5e434, .chat_f75fb0, .callContainer_cb9592, .container__01ae2) {
  overflow: unset;
}
:is(:where(#bd-notices:not(:empty)), .notice__6e2b9) ~ .content__5e434 .resizeHandle__01ae2 {
  top: calc(-36px * var(--notice-count, 0));
  height: 100vh;
  position: relative;
}

.notice__30f28,
.notice_c9e42f,
.notice_c5cd6a {
  height: 36px;
}

.colorDefault__6e2b9 {
  background-color: var(--hsl-green-color);
}

.colorWarning__6e2b9 {
  background-color: var(--hsl-yellow-color);
}

.colorDanger__6e2b9 {
  background-color: var(--hsl-red-color);
}

/* Start Profile */
.custom-user-profile-theme {
  --profile-primary-color: color-mix(in oklab,
  	var(--profile-gradient-primary-color) 80%,
  	var(--profile-gradient-secondary-color)
  );
  --profile-secondary-color: color-mix(in oklab,
  	var(--profile-gradient-primary-color) 20%,
  	var(--profile-gradient-secondary-color)
  );
}

/* Start User Modal */
.root__24502[style*=transform] {
  transform: unset !important;
  z-index: 0;
}
.root__24502 .outer_c0bea0:not(.custom-user-profile-theme)::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  height: 100%;
  width: 100%;
  filter: var(--user-modal-filter);
  background: var(--user-modal-image) no-repeat var(--user-modal-attachment) center/cover;
}
.root__24502 .outer_c0bea0:not(.custom-user-profile-theme) .body__24502 {
  gap: 0;
}
.root__24502 .outer_c0bea0:not(.custom-user-profile-theme) .container__63ed3 {
  background: var(--hsl-card-background);
  padding: 16px 16px 0 16px;
  border-radius: 8px 8px 0 0;
}
.root__24502 .outer_c0bea0:not(.custom-user-profile-theme) .overlay_c0bea0 {
  border-width: 1px 0 0;
  border-radius: 0 0 8px 8px;
}

.custom-user-profile-theme .inner_c0bea0 {
  --profile-gradient-start: color-mix(in oklab,
  	rgb(from var(--profile-gradient-overlay-color) r g b / 1) var(--theme-base-color-amount),
  	var(--profile-gradient-primary-color)
  );
  --profile-gradient-end: color-mix(in oklab,
  	rgb(from var(--profile-gradient-overlay-color) r g b / 1) var(--theme-base-color-amount),
  	var(--profile-gradient-secondary-color)
  );
}

.user-profile-modal:not(.custom-user-profile-theme) {
  background: transparent;
}
.user-profile-modal:not(.custom-user-profile-theme) .overlay_c0bea0 {
  background: var(--hsl-card-background);
}
.user-profile-modal:not(.custom-user-profile-theme) .container_d1d9f3 {
  height: 100%;
  border-radius: 0 0 8px 8px;
  background: var(--hsl-card-background);
  margin: 0 16px 16px;
}

.textarea_dde0a8, .textarea_dde0a8:focus {
  background-color: transparent;
}

.guildAvatarWithoutIcon_aafe31 {
  background-color: var(--hsl-card-background);
}

.connectedAccountContainer_e6abe8 {
  background-color: transparent;
}

.wrapper__44b0csvg > foreignObject + :is(circle, rect:not(:last-child)) {
  opacity: 0 !important;
}

/* Start User Popout */
.user-profile-popout:not(.custom-user-profile-theme) {
  position: relative;
  box-shadow: none;
  background-color: transparent;
}
.user-profile-popout:not(.custom-user-profile-theme)::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  filter: var(--user-popout-filter);
  background: var(--user-popout-image) center/cover no-repeat var(--user-popout-attachment);
}
.user-profile-popout:not(.custom-user-profile-theme) .role_dfa8b6 {
  background: var(--hsl-card-background);
}
.user-profile-popout:not(.custom-user-profile-theme) .inner_c0bea0 {
  background: transparent;
}
.user-profile-popout:not(.custom-user-profile-theme) .body__5be3e {
  background: var(--hsl-card-background);
  padding: 4px;
  margin: 0 12px;
  border-radius: 8px;
}

.actionButton__48c1c {
  color: var(--hsl-primary-color);
  border-color: currentColor;
}
.actionButton__48c1c:hover {
  color: var(--hsl-hover-color);
}

.custom-user-profile-theme .themeColor_fb7f94.button_fb7f94::before {
  content: none;
}
.custom-user-profile-theme .themeColor_fb7f94.button_fb7f94:hover:not(:disabled) {
  background: color-mix(in srgb, var(--profile-gradient-button-color) 80%, transparent);
}
.custom-user-profile-theme .themeColor_fb7f94.button_fb7f94:active:not(:disabled) {
  background: color-mix(in srgb, var(--profile-gradient-button-color) 90%, transparent);
}
.custom-user-profile-theme .themeColor_fb7f94.button_fb7f94:disabled {
  background: var(--profile-gradient-button-color);
}
.custom-user-profile-theme :is(.scrollerBase__99f8c, .scrollerBase_d125d2) {
  --scrollbar-thin-thumb: var(--profile-primary-color);
  --scrollbar-auto-thumb: var(--profile-primary-color);
}

/* Start User Profile Panel */
.user-profile-sidebar {
  --width: 340px;
  --hide-var: var(--hide-profile-panel);
}
.user-profile-sidebar.custom-user-profile-theme {
  --background: transparent;
}
.user-profile-sidebar.custom-user-profile-theme .inner_c0bea0 {
  background: linear-gradient(var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
}

.user-profile-sidebar:not(.custom-user-profile-theme) .overlay_c0bea0 {
  background: var(--hsl-card-background);
}

/* Start Profile in Settings */
.badgeList__1fed1:empty {
  background: transparent;
}

/* Begin Scrollbar */
.theme-light,
.theme-dark {
  --scrollbar-auto-scrollbar-color-thumb: var(--hsl-primary-color);
  --scrollbar-auto-scrollbar-color-track: transparent;
  --scrollbar-auto-thumb: var(--hsl-primary-color);
  --scrollbar-auto-track: transparent;
  --scrollbar-thin-thumb: var(--hsl-primary-color);
  --scrollbar-thin-track: transparent;
}

/* Start Server List */
.wrapper_ef3116 {
  background: transparent;
  margin-bottom: var(--custom-app-panels-height, 0);
  mask: none;
}
.wrapper_ef3116:focus {
  outline: 0;
}
.refresh-fast-follow-guild-bg .wrapper_ef3116 {
  background: transparent;
}

.tree_ef3116 {
  background-color: var(--hsl-side-shading);
}
.tree_ef3116:focus {
  outline: none;
}

.tutorialContainer__1f388 .wrapper__6e9f8 .childWrapper__6e9f8 {
  background: var(--home-icon) center/cover no-repeat scroll;
  filter: var(--home-icon-filter);
  color: transparent;
}
.tutorialContainer__1f388 .wrapper__6e9f8:is(.selected__6e9f8,
:hover) .childWrapper__6e9f8 {
  background-color: var(--hsl-primary-color);
}

/* Start App Settings */
:is(.theme-dark, .theme-light) .bar_a562c8 {
  background-color: var(--hsl-card-background);
}
:is(.theme-dark, .theme-light) .combo_fcddc1 .key_fcddc1 {
  color: var(--header-primary);
  font-weight: 600;
  background-color: var(--hsl-primary-color);
  border: 1px solid var(--hsl-secondary-color);
  box-shadow: inset 0 -4px 0 var(--hsl-secondary-color);
}
:is(.theme-dark, .theme-light) .combo_fcddc1 .key_fcddc1:active {
  color: var(--header-secondary);
  border: 1px solid var(--hsl-secondary-color);
  box-shadow: inset 0 -2px 0 var(--hsl-secondary-color);
}
:is(.theme-dark, .theme-light) .notches__06283 {
  background-image: none;
}
:is(.theme-dark, .theme-light) .notDetected_cc46f0 {
  border: 1px solid var(--hsl-secondary-color);
  background-color: rgba(255, 255, 255, 0.05);
}
:is(.theme-dark, .theme-light) .nowPlaying_cc46f0 {
  border: 1px solid var(--hsl-secondary-color);
  background-color: rgba(0, 0, 0, 0.5);
}
:is(.theme-dark, .theme-light) .nowPlaying_cc46f0 .gameName_cc46f0 {
  color: var(--text-default);
}
:is(.theme-dark, .theme-light) .nowPlaying_cc46f0 :is(.lastPlayed_cc46f0, .overlayStatusText_fd966d) {
  color: var(--text-muted);
}
:is(.theme-dark, .theme-light) .nowPlaying_cc46f0 :is(.toggleIconOn_cc46f0, .toggleIconOff_cc46f0) .fill_cc46f0 {
  fill: var(--hsl-primary-color);
}
:is(.theme-dark, .theme-light) .nowPlaying_cc46f0 .gameNameInput_cc46f0:is(:focus, :hover) {
  border-color: var(--hsl-primary-color);
  background-color: transparent;
}
:is(.theme-dark, .theme-light) .gameNameInput_cc46f0:is(:focus, :hover) {
  border-color: var(--hsl-primary-color);
  background-color: transparent;
}
:is(.theme-dark, .theme-light) .removeGame_cc46f0 {
  background-image: url(https://leafyluigi.github.io/images/white_cross.svg);
}
:is(.theme-dark, .theme-light) .removeGame_cc46f0:not(:hover) {
  background-color: transparent;
}
:is(.theme-dark, .theme-light) .removeGame_cc46f0:hover {
  background-color: var(--hsl-red-color);
}
:is(.theme-dark, .theme-light) .preview__3e443 {
  background: transparent;
  border-color: var(--hsl-primary-color);
}

.barFill_a562c8 {
  background-color: var(--hsl-primary-color);
}

.previewMessage__5d148 {
  padding: 0;
  background-color: transparent;
}

.cameraWrapper_d41d5f {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}
.cameraWrapper_d41d5f .media-engine-video {
  background: transparent;
}

.backgroundOptionRing__53965 {
  border-color: var(--hsl-primary-color);
}

.backgroundOptionInner__53965 {
  background-color: var(--hsl-card-background);
}

.wrapper_e03935 {
  border-color: var(--hsl-primary-color);
}
.wrapper_e03935 .option_e03935:is(:hover, .selected_e03935) {
  background-color: var(--hsl-primary-color);
}
.wrapper_e03935.disabledSelected_e03935 {
  border-color: var(--hsl-red-color);
}

.disabled_e03935:is(:hover, .selected_e03935) {
  color: var(--hsl-red-color);
}

.soundRow__6d8e5 {
  margin-bottom: 10px;
}

.soundRow__6d8e5 .dividerDefault__0d850 {
  margin-top: 10px;
}

.card__4bb93 {
  padding: 10px 0;
}
.card__4bb93:before {
  content: none;
}
.card__4bb93 .removeKeybind__740f2 {
  opacity: 1;
  top: 8px;
  right: 0;
  z-index: 1;
}
.card__4bb93 .filled_e18686 {
  transition: 0.25s background-color ease-in-out;
}
.card__4bb93 .filled_e18686:not(:hover) {
  background-color: transparent;
}

.defaultKeybind__740f2 {
  height: unset;
  padding: 9px 0;
}

.game_cc46f0 .removeGame_cc46f0 {
  opacity: 1;
  top: 15px;
}

/* Begin Channel Settings */
:is(.theme-dark, .theme-light) :is(.card_dc2e44, .card_eafb9c, .card_ebafdd) {
  border-color: var(--secondary-color);
}

.inviteSettingsInviteRow__1de14 .default_e18686 {
  transition: 0.25s background-color ease-in-out;
  background-image: url(https://leafyluigi.github.io/images/white_cross.svg);
}
.inviteSettingsInviteRow__1de14 .default_e18686:not(:hover) {
  background-color: transparent;
}
.inviteSettingsInviteRow__1de14 .default_e18686:hover {
  background-color: var(--hsl-red-color);
}

.revokeInvite__1de14 {
  opacity: 1;
  top: 8px;
  right: 0;
  z-index: 1;
}

.inviteSettingsInviteRow__1de14::before {
  content: none;
}

.cardContent_f62fce,
.folderHeader_dd864e {
  padding: 16px 6px;
}

.memberRow_dd864e {
  padding: 0 6px 16px 6px !important;
}

.group__344e6 {
  display: flex;
  gap: 6px;
  border: none;
}

.item__344e6 {
  background-color: currentColor;
  border: 8px solid;
  width: 28px;
  border-radius: 50%;
}
.item__344e6[aria-checked] svg {
  display: none;
}
.item__344e6.selected__344e6 {
  background-color: currentColor;
  border-color: currentColor;
}

.deny__344e6 {
  color: var(--hsl-red-color);
}
.deny__344e6.selected__344e6 {
  border-color: var(--hsl-red-color);
}

.passthrough__344e6 {
  color: var(--hsl-offline-color);
}
.passthrough__344e6.selected__344e6 {
  border-color: var(--hsl-offline-color);
}

.allow__344e6 {
  color: var(--hsl-green-color);
}
.allow__344e6.selected__344e6 {
  border-color: var(--hsl-green-color);
}

.scroller_ff90b2,
.settingCard_dd864e,
.settingCard_dd864e.active_dd864e,
.cardFolder_dd864e,
.iconWrapper__4a3a5,
.avatarUploaderInner_eafb9c {
  background-color: transparent;
}

/* Start Server Settings */
:is(.theme-dark, .theme-light) .default_e18686 {
  background-image: url(https://leafyluigi.github.io/images/white_cross.svg);
}
:is(.theme-dark, .theme-light) .default_e18686:not(:hover) {
  background-color: transparent;
}
:is(.theme-dark, .theme-light) .default_e18686:hover {
  background-color: var(--hsl-red-color);
}
:is(.theme-dark, .theme-light) .emojiAliasInput_e7d73e .emojiInput_e7d73e {
  background-color: var(--hsl-card-background);
  border-color: var(--hsl-primary-color);
}

.app__160d8:not([style*=transform]) .noticeRegion__23e6b .container_fcf29c:not([style*="240, 71, 71"]) {
  background-color: transparent !important;
}
.app__160d8:not([style*=transform]) .noticeRegion__23e6b .container_fcf29c:not([style*="240, 71, 71"])::before {
  content: "";
  top: 0;
  right: 20px;
  bottom: 20px;
  left: 20px;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  opacity: 0.9;
  border-radius: 5px;
  background-color: var(--hsl-primary-color);
}

.circleButton_a930f1 {
  background-color: var(--hsl-primary-color);
}
.circleButton_a930f1:hover {
  background-color: var(--hsl-hover-color);
}

.roleRow_a930f1:hover:not(.roleRowDisableHover_a930f1) .circleButton_a930f1 {
  background-color: var(--hsl-primary-color);
}
.roleRow_a930f1:hover:not(.roleRowDisableHover_a930f1) .circleButton_a930f1:hover {
  background-color: var(--hsl-hover-color);
}

.header_c6bf1b.stickyHeaderElevated_c6bf1b {
  box-shadow: none;
}
.header_c6bf1b.stickyHeader_c6bf1b {
  position: relative;
  top: unset;
}

.editButton_a930f1 {
  visibility: visible;
}

.container_d8f25b {
  background-color: var(--hsl-card-background);
}
.container_d8f25b:hover, .container_d8f25b:active {
  background-color: var(--hsl-card-background);
}

.container__3dde2 {
  background: var(--modal-background);
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 5px));
}

.icon_d8f25b,
.previewContainer__05e8e {
  background-color: var(--hsl-card-background);
}

.emojiAliasPlaceholder_e7d73e {
  display: none;
}

.emojiRow_e7d73e {
  padding: 10px 0;
}
.emojiRow_e7d73e .default_e18686 {
  opacity: 1;
  top: calc(50% - 12px);
  right: 4px;
}
.emojiRow_e7d73e .emojiAliasInput_e7d73e {
  width: unset;
}
.emojiRow_e7d73e .emojiAliasInput_e7d73e .emojiInput_e7d73e {
  opacity: 1;
}

.customScroller__23e6b {
  background-color: var(--hsl-middle-shading);
}

.descriptionBox__981f7,
.featureCard__7dd5e,
.guildDetails__7dd5e {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}

.descriptionIcon__981f7 circle[fill="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
  fill: var(--hsl-green-color);
}
.descriptionIcon__981f7 circle[fill="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
  fill: var(--hsl-red-color);
}

.contentColumnMinimal__23e6b .customScroller__23e6b,
.titleContainer_e29cd7,
.header_c6bf1b,
.featureIcon__7dd5e,
.avatarUploaderInner_cd0bbe {
  background-color: transparent;
}

/* Start User Settings */
:is(.theme-dark, .theme-light) .codeRedemptionRedirect_a706ba {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}
:is(.theme-dark, .theme-light) :is(.noItemsIcon_e335a7,
.noItemsIcon__70151,
.metadataContainer_c7f964) {
  background: transparent;
}

.sidebarRegionScroller__23e6b {
  background: var(--hsl-side-shading);
}

.sidebar__23e6b .header_b3f026 {
  color: var(--header-primary);
  font-weight: 600;
  font-size: 16px;
}
.sidebar__23e6b .separator_b3f026 {
  background: var(--hsl-secondary-color);
}

.contentRegionScroller__23e6b {
  background: var(--hsl-middle-shading);
}
.contentRegionScroller__23e6b .customScroller__23e6b {
  background: transparent;
}

.accountProfileCard__1fed1 {
  background: var(--hsl-card-background);
}
.accountProfileCard__1fed1 .background__1fed1 {
  padding: 8px 0 0 0;
  background: transparent;
}
.accountProfileCard__1fed1 .avatar__1fed1 {
  border-color: transparent;
  background: transparent;
}

.item__1bda4 {
  backdrop-filter: blur(calc(var(--blur-intensity, 1) * 3px));
  background: var(--background-modifier-accent);
}
.item__1bda4:hover:not([aria-checked=true]) {
  background: var(--background-modifier-hover);
}
.item__1bda4[aria-checked=true] {
  background: var(--background-modifier-selected);
}

.radioBar__1bda4 {
  border-left: 3px solid var(--radio-bar-accent-color, var(--header-primary));
}
.radioBar__1bda4[style*="--radio-bar-accent-color"] .radioIconForeground__001a7 {
  color: var(--radio-bar-accent-color);
}
.radioBar__1bda4[style*="hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%)"] {
  --radio-bar-accent-color: var(--green-color) !important;
}
.radioBar__1bda4[style*="hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%)"] {
  --radio-bar-accent-color: var(--yellow-color) !important;
}
.radioBar__1bda4[style*="hsl(21, calc(var(--saturation-factor, 1) * 90.7%), 57.6%)"] {
  --radio-bar-accent-color: var(--secret-orange) !important;
}
.radioBar__1bda4[style*="hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%)"] {
  --radio-bar-accent-color: var(--red-color) !important;
}

.radioIconForeground__001a7 {
  color: var(--hsl-primary-color);
}

.accountButtonInner_c7f964 {
  background-color: var(--background-modifier-accent);
}
.accountButtonInner_c7f964:hover {
  background-color: var(--background-modifier-hover);
}

.connectionHeader_c7f964 {
  background: transparent;
  padding: 10px 20px;
}

.container_c2b141 {
  color: var(--hsl-primary-color);
}
.container_c2b141:hover, .container_c2b141:active {
  color: var(--hsl-hover-color);
}
.container_c2b141 .closeButton_c2b141 {
  border-color: currentColor;
}
.container_c2b141 .closeButton_c2b141:hover, .container_c2b141 .closeButton_c2b141:active {
  background: transparent;
}
.container_c2b141 .closeButton_c2b141 > svg > path {
  fill: currentColor;
}
.container_c2b141 .closeButton_c2b141 + .keybind_c2b141,
.container_c2b141 .closeButton_c2b141 {
  color: currentColor;
}

.noItemsCard_e335a7,
.noItemsCard__70151,
.connection_c7f964,
.cardPrimary__73069,
.editable__73069,
.outline__73069,
.connectContainer_c7f964 {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}

.detailsBlock_e335a7,
.promotionCard_d4883c {
  background: var(--hsl-card-background);
}

.layer__960e4,
.contentRegion__23e6b,
.contentColumn__23e6b .fieldList__1fed1 {
  background: transparent;
}

.standardSidebarView__23e6b {
  background: transparent;
}

/* Start Sidebar */
.container__37e49 {
  background: transparent;
}

.container__2637a,
.activityPanel__5e434 {
  background: transparent;
}

.sidebar__5e434 {
  overflow-x: hidden;
  position: relative;
  height: calc(100vh - var(--horizontal-server-list-enabled, 0) * var(--server-container, 0px) - var(--channel-tabs-enabled, 0) * (var(--channel-tabs-tabBar-enabled, 1) * var(--channel-tabs-favBar-enabled, 1) * 5px + var(--channel-tabs-tabBar-enabled, 1) * (var(--channelTabs-tabHeight, 32px) + 3px) + var(--channel-tabs-favBar-enabled, 1) * (var(--channelTabs-favHeight, 28px) + 3px)) - var(--windows-titlebar-enabled, 0) * 18px);
  background: transparent;
}
.sidebar__5e434::before, .sidebar__5e434::after {
  content: none;
}
.guilds__5e434.hidden_ef3116 + .sidebar__5e434 {
  height: 100vh;
}

.sidebarList__5e434 {
  overflow: visible;
  border: none;
  border-radius: 0;
}

.privateChannels_e6b769 {
  background: transparent;
}
.privateChannels_e6b769 .privateChannelRecipientsInviteButtonIcon__99e7c {
  color: var(--interactive-normal);
  order: -1;
}
.privateChannels_e6b769 .privateChannelRecipientsInviteButtonIcon__99e7c:hover {
  color: var(--interactive-hover);
}

.searchBar_e6b769 {
  background: var(--hsl-header-shading);
  z-index: 1010;
  box-shadow: none;
  border: none;
  box-sizing: content-box;
}
.client-theme-color-picker .searchBar_e6b769 {
  border-bottom: none;
}
.searchBar_e6b769 .lookFilled__201d5.colorPrimary__201d5 {
  background: transparent;
}
.searchBar_e6b769 .lookFilled__201d5.colorPrimary__201d5::before {
  content: none;
}
.searchBar_e6b769 .searchBarComponent_e6b769 {
  -webkit-app-region: no-drag;
  background: var(--hsl-card-background);
}

.scroller__99e7c {
  background: var(--hsl-side-shading);
  margin-bottom: var(--custom-app-panels-height, 0);
  padding-bottom: 0;
}

.link__972a0:is([href="/store"],
[href="/library"],
[href="/shop"],
[href="/quest-home"]),
.badgeIconPrivateMessages__80f39 {
  display: none;
}

.container__2637a {
  margin-left: 0;
  padding-bottom: var(--custom-app-panels-height, 0);
}

:is(.content__99f8c, .content_d125d2) > div[style="height: 84px;"] {
  height: 132px !important;
}

.container_f37cb1 {
  background: var(--hsl-header-shading);
  box-shadow: none;
}

.name_f37cb1 {
  color: var(--header-primary);
  display: flex;
  justify-content: center;
}

.animatedContainer_f37cb1 {
  background: transparent;
  top: calc(48px + 36px * var(--notice-count, 0));
  z-index: 2;
}
.animatedContainer_f37cb1[style*="(-90px)"] {
  z-index: -3000;
}

.bannerImage_f37cb1:before {
  content: none;
}

.scroller__629e4 {
  margin-bottom: 0;
  margin-right: 0;
  background: var(--hsl-side-shading);
  padding-bottom: 0;
}

.header_f37cb1 {
  z-index: 1010;
  border-radius: 0;
  border: none;
}
.hasBanner_f37cb1 .header_f37cb1 {
  border: none;
}
.hasBanner_f37cb1 .header_f37cb1, .hasBanner_f37cb1 .header_f37cb1:hover {
  box-shadow: none;
}
.bannerVisible_f37cb1 .header_f37cb1 {
  filter: none;
}

.avatarSpeaking__07f91,
.avatarSpeaking__44b0c {
  box-shadow: inset 0 0 0 2px var(--hsl-primary-color);
}

.container__3b43f {
  padding-top: 64px;
}
.container__3b43f::before {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background-color: var(--hsl-header-shading);
  height: 48px;
}
.container__3b43f::after {
  content: "";
  top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background-color: var(--hsl-side-shading);
}

.category__3b43f,
.channelIcon__3b43f,
.channelName__3b43f {
  background: var(--hsl-primary-color);
}

.bannerVisible_f37cb1 :is(.headerEllipseBackdrop_f37cb1,
.headerEllipseForeground_f37cb1,
.headerGlass_f37cb1) {
  background: none;
  backdrop-filter: none;
}

.channelNotice_e2d7b8 {
  background: var(--hsl-side-shading);
  border-bottom: none;
}

.panels__5e434 {
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: none;
  background: var(--hsl-side-shading);
  border: none;
  border-radius: 0;
}
.panels__5e434 .title_b6c092 {
  color: var(--header-primary);
}
.panels__5e434 :is(.activityPanel__5e434 .actions_bf1a22) {
  border: 1px solid var(--hsl-middle-shading);
  border-radius: 8px;
}

.wrapper__29444,
.wrapper__29444:hover {
  color: var(--category-color);
}
.wrapper__29444.collapsed__29444,
.wrapper__29444:hover.collapsed__29444 {
  color: var(--read-channel-color);
}
.wrapper__29444.muted__29444,
.wrapper__29444:hover.muted__29444 {
  color: var(--muted-channel-color);
}
.wrapper__29444:not(.collapsed__29444) .name__29444::before,
.wrapper__29444:hover:not(.collapsed__29444) .name__29444::before {
  background: linear-gradient(to left, currentColor -50%, transparent 50%);
}

/* Begin Tooltips */
.layerContainer__59d0d {
  z-index: 1100;
}

.tooltip_c36707 {
  z-index: 2000;
}

.tooltipPointer_c36707,
.caretIcon__4e35b {
  display: none !important;
}

.tooltipBlack_c36707,
.tooltipBrand_c36707,
.tooltipGrey_c36707,
.tooltipPrimary_c36707,
.bubble_b26b79,
.tooltip__4e35b {
  background: var(--hsl-tooltip-color);
  color: var(--header-primary);
}

.stageListenerPill_b1f768 {
  background: var(--hsl-card-background);
}

/* Default Variables */
:root {
  /* forced by theme */
  --font-headline: var(--body-font);
  --font-display: var(--body-font);
  --font-code: var(--code-font);
  --font-primary: var(--body-font);
  --secret-orange: #f57531;
  --brand-experiment: var(--hsl-primary-color);
  --focus-primary: var(--hsl-primary-color);
  --hide-fallback-enabled: 1;
  --hide-fallback-disabled: 0;
  --control-background-primary-default: var(--hsl-primary-color);
  --control-border-primary-default: var(--hsl-primary-color);
  --control-background-primary-hover: var(--hsl-hover-color);
  --control-border-primary-hover: var(--hsl-hover-color);
  --control-background-primary-active: var(--hsl-hover-color);
  --control-border-primary-active: var(--hsl-hover-color);
  --hsl-tooltip-color: hsl(from var(--tooltip-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-primary-color: hsl(from var(--primary-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-secondary-color: hsl(from var(--secondary-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-hover-color: hsl(from var(--hover-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-green-color: hsl(from var(--green-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-yellow-color: hsl(from var(--yellow-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-red-color: hsl(from var(--red-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-link-color: hsl(from var(--link-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-live-color: hsl(from var(--live-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-offline-color: hsl(from var(--offline-color) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-date-divider-background: hsl(from var(--date-divider-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-spoiler-background: hsl(from var(--spoiler-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --background-image: url("https://leafyluigi.github.io/images/pexels-josh-sorenson-116359.png");
  --user-modal-image: var(--background-image);
  --user-popout-image: var(--background-image);
  --background-attachment: fixed;
  --user-modal-attachment: var(--background-attachment);
  --user-popout-attachment: var(--background-attachment);
  --primary-color: #387eff;
  --secondary-color: #3298e0;
  --hover-color: #139dff;
  --tooltip-color: #1967ab;
  --mention-opacity: 0.3;
  --home-icon: url("https://leafyluigi.github.io/images/pexels-chris-munnik-2604991.png");
  --green-color: #43b581;
  --yellow-color: #f9a719;
  --red-color: #ec4144;
  --link-color: #00aef3;
  --live-color: #583594;
  --offline-color: #737e8c;
  /* Channels */
  --category-color: var(--header-primary);
  --selected-channel-color: var(--header-primary);
  --unread-channel-color: var(--hsl-primary-color);
  --show-channel-unread-dot: block;
  --read-channel-color: var(--interactive-normal);
  --muted-channel-color: var(--interactive-muted);
  --locked-voice-channel-color: var(--hsl-red-color);
  /* Certain Elements */
  --date-divider-background: var(--card-background);
  --spoiler-background: var(--card-background);
  /* Advanced Users */
  --code-font: Hack, Monaco, Consolas, Courier, monospace;
  --body-font: Whitney, "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, sans-serif;
  --expression-picker-height: 500px;
  --background-filter: saturate(calc(1 * var(--saturation-factor, 1)));
  --user-modal-filter: saturate(calc(1 * var(--saturation-factor, 1)));
  --user-popout-filter: saturate(calc(1 * var(--saturation-factor, 1)));
  --home-icon-filter: saturate(calc(1 * var(--saturation-factor, 1)));
  /* Toggles. From 0 (disable) to 1 (enable). Anything outside of those values have NOT been tested and likely aren't supported. */
  --hide-speed: 0.5s;
  --hide-member-list: 1;
  --hide-active-now: 1;
  --hide-profile-panel: 1;
  --hide-channel-list: 0;
  --blur-intensity: 1;
  --spoiler-hover-opacity: 0.7; /* Relates to the text itself. 0 = invisible (disable), 1 = fully visible. Default 0.7. */
  /* Windows Only - How many *pixels* wide the min/max/close buttons should be. */
  --win-min-max-close-button-width: 28px; /* default: 28px, square: 48px */
  /* Internal please ignore */
}

:root:root:root {
  --mention-background: var(--hsl-primary-color);
}

.theme-dark,
.theme-dark :not(div[class*=previewContainer_]) .theme-light:not(div[class*=layer_], div[class*=outer_]:is([class*=user-profile-popout], [class*=user-profile-modal])) {
  --card-background: rgba(0, 0, 0, 0.4);
  --side-shading: rgba(0, 0, 0, 0.4);
  --middle-shading: rgba(0, 0, 0, 0.2);
  --header-shading: rgba(0, 0, 0, 0.6);
  --hover-filter: rgba(0, 0, 0, 0.2);
  --active-filter: rgba(0, 0, 0, 0.4);
  --hsl-side-shading: hsl(from var(--side-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-middle-shading: hsl(from var(--middle-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-header-shading: hsl(from var(--header-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-card-background: hsl(from var(--card-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
}

.theme-darker,
.theme-darker :not(div[class*=previewContainer_]) .theme-light:not(div[class*=layer_], div[class*=outer_]:is([class*=user-profile-popout], [class*=user-profile-modal])) {
  --card-background: rgba(0, 0, 0, 0.5);
  --side-shading: rgba(0, 0, 0, 0.5);
  --middle-shading: rgba(0, 0, 0, 0.3);
  --header-shading: rgba(0, 0, 0, 0.7);
  --hover-filter: rgba(0, 0, 0, 0.2);
  --active-filter: rgba(0, 0, 0, 0.4);
  --hsl-side-shading: hsl(from var(--side-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-middle-shading: hsl(from var(--middle-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-header-shading: hsl(from var(--header-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-card-background: hsl(from var(--card-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
}

.theme-midnight,
.theme-midnight :not(div[class*=previewContainer_]) .theme-light:not(div[class*=layer_], div[class*=outer_]:is([class*=user-profile-popout], [class*=user-profile-modal])) {
  --card-background: rgba(0, 0, 0, 0.7);
  --side-shading: rgba(0, 0, 0, 0.7);
  --middle-shading: rgba(0, 0, 0, 0.6);
  --header-shading: rgba(0, 0, 0, 0.8);
  --hover-filter: rgba(0, 0, 0, 0.2);
  --active-filter: rgba(0, 0, 0, 0.4);
  --hsl-side-shading: hsl(from var(--side-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-middle-shading: hsl(from var(--middle-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-header-shading: hsl(from var(--header-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-card-background: hsl(from var(--card-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
}

.theme-light,
.theme-light :not(div[class*=previewContainer_]) .theme-dark:not(div[class*=layer_], div[class*=outer_]:is([class*=user-profile-popout], [class*=user-profile-modal]), div[class*=sidebar_], nav[class*=guilds_], div[class*=sidebarRegion_]) {
  --card-background: rgba(255, 255, 255, 0.05);
  --side-shading: rgba(255, 255, 255, 0.4);
  --middle-shading: rgba(255, 255, 255, 0.3);
  --header-shading: rgba(255, 255, 255, 0.5);
  --hover-filter: rgba(255, 255, 255, 0.2);
  --active-filter: rgba(255, 255, 255, 0.4);
  --hsl-side-shading: hsl(from var(--side-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-middle-shading: hsl(from var(--middle-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-header-shading: hsl(from var(--header-shading) h calc(var(--saturation-factor, 1) * s) l/alpha);
  --hsl-card-background: hsl(from var(--card-background) h calc(var(--saturation-factor, 1) * s) l/alpha);
}

.theme-dark,
.theme-light {
  --control-brand-foreground: var(--hsl-primary-color);
  --control-brand-foreground-new: var(--hsl-primary-color);
  --deprecated-text-input-bg: var(--input-background);
  --deprecated-text-input-border: var(--hsl-primary-color);
  --__spoiler-background-color--hidden: var(--hsl-spoiler-background);
  --__spoiler-background-color--hidden--hover: var(--hsl-spoiler-background);
  --__spoiler-background-color--revealed: var(--hsl-spoiler-background);
  --brand-500: var(--hsl-primary-color);
  --dark-elevation-low: unset;
  --dark-elevation-high: unset;
  --dark-elevation-border: unset;
  --light-elevation-low: unset;
  --light-elevation-high: unset;
  --light-elevation-border: unset;
  --elevation-stroke: unset;
  --elevation-low: unset;
  --elevation-medium: unset;
  --elevation-high: unset;
  --info-positive-foreground: var(--hsl-green-color);
  --info-warning-foreground: var(--hsl-yellow-color);
  --info-danger-foreground: var(--hsl-red-color);
  --info-help-foreground: var(--hsl-link-color);
  --status-positive-background: var(--hsl-green-color);
  --status-warning-background: var(--hsl-yellow-color);
  --status-danger-background: var(--hsl-red-color);
  --status-positive: var(--hsl-green-color);
  --status-warning: var(--hsl-yellow-color);
  --status-danger: var(--hsl-red-color);
  --text-danger: var(--hsl-red-color);
}

.theme-light,
.theme-dark,
.theme-darker,
.theme-midnight {
  --text-positive: var(--hsl-green-color);
  --text-warning: var(--hsl-yellow-color);
  --text-link: var(--hsl-link-color);
  --text-brand: var(--hsl-primary-color);
  --background-message-hover: transparent;
  --background-mentioned: rgb(from var(--mention-background) r g b/var(--mention-opacity));
  --background-mentioned-hover: rgb(from var(--mention-background) r g b/calc(0.2 + var(--mention-opacity)));
  --scrim-default: transparent;
  --scrim-lightbox: transparent;
  --input-background: var(--hsl-card-background);
  --modal-background: var(--hsl-card-background);
  --modal-footer-background: transparent;
  --scrollbar-auto-scrollbar-color-thumb: var(--hsl-primary-color);
  --scrollbar-auto-scrollbar-color-track: transparent;
  --scrollbar-auto-thumb: var(--hsl-primary-color);
  --scrollbar-auto-track: transparent;
  --scrollbar-thin-thumb: var(--hsl-primary-color);
  --background-code: var(--hsl-card-background);
  --shadow-border: unset;
  --shadow-border-filter: unset;
  --shadow-button-overlay: unset;
  --shadow-button-overlay-filter: unset;
  --shadow-high: unset;
  --shadow-high-filter: unset;
  --shadow-ledge: unset;
  --shadow-ledge-filter: unset;
  --shadow-low: unset;
  --shadow-low-filter: unset;
  --shadow-low-active: unset;
  --shadow-low-active-filter: unset;
  --shadow-low-hover: unset;
  --shadow-low-hover-filter: unset;
  --shadow-medium: unset;
  --shadow-medium-filter: unset;
  --shadow-mobile-navigator-x: unset;
  --shadow-mobile-navigator-x-filter: unset;
  --shadow-top-high: unset;
  --shadow-top-high-filter: unset;
  --shadow-top-ledge: unset;
  --shadow-top-ledge-filter: unset;
  --shadow-top-low: unset;
  --shadow-top-low-filter: unset;
}
