/*! Pyrite v0.2.8 - Border Radius Addon by LeafyLuigi */
:root {
  --avatar-radius: 8px;
  --border-radius: 8px;
  --border-radius-small: 4px;
  /* These are here to overwrite Radical Status' variables. They also provide compatibility with Better Status Indicators on Powercord */
  --rs-online-color: var(--hsl-green-color);
  --rs-idle-color: var(--hsl-yellow-color);
  --rs-dnd-color: var(--hsl-red-color);
  --rs-offline-color: var(--hsl-offline-color);
  --rs-streaming-color: var(--hsl-live-color);
  --rs-invisible-color: var(--hsl-offline-color);
  --rs-phone-color: var(--hsl-green-color);
}

._00943886e1cf89d1-headerAvatar > svg > foreignObject,
._44b0c28be7879b7b-wrapper,
.c19a557985eb7793-avatar,
.contentCircle_edf440 {
  border-radius: calc(var(--avatar-radius) * var(--br-multi, 1));
}

._908e20001ad67812-content,
._133bf5eea8e33a34-peopleColumn friends peopleListItem:hover,
._7e549558f336cddb-itemCard,
._7e549558f336cddb-itemCard,
.f8fa068db52f043f-actionButton,
.cf09d85aafe7e124-wrapper {
  border-radius: var(--border-radius);
}

.header_b3f026 .item_b3f026 {
  border-radius: var(--border-radius-small);
}

._00943886e1cf89d1-headerAvatar > svg > foreignObject,
._44b0c28be7879b7b-wrapper > svg > foreignObject {
  mask: none;
}

.c0bea05627c5dc35-outer,
.user-profile-sidebar,
.e4d0bf303c296a8e-imageUploader,
.contentCircle_edf440 {
  --br-multi: 2.5;
}

._24502a4069848acb-root {
  --br-multi: 4;
}

._00943886e1cf89d1-headerAvatar svg,
._44b0c28be7879b7b-wrapper > svg {
  overflow: visible;
}

._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="24"], ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="24"] ~ rect, ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="24"] ~ circle {
  --size: 24px;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="32"], ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="32"] ~ rect, ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="32"] ~ circle {
  --size: 32px;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="40"], ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="40"] ~ rect, ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="40"] ~ circle {
  --size: 40px;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="80"], ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="80"] ~ rect, ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="80"] ~ circle {
  --size: 80px;
  --stroke-width: 3px;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="120"], ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="120"] ~ rect, ._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask > foreignObject[height="120"] ~ circle {
  --size: 120px;
  --stroke-width: 4px;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask .b8880176888cc928-typingDots {
  color: var(--hsl-primary-color);
  overflow: visible;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask .b8880176888cc928-typingDots circle:nth-child(1) {
  cx: -9;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask .b8880176888cc928-typingDots circle:nth-child(2) {
  cx: -2;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask .b8880176888cc928-typingDots circle:nth-child(3) {
  cx: 5;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask foreignObject[mask*=mobile] {
  --__mask: url('data:image/svg+xml; utf-8,<svg aria-hidden="true" focusable="false" data-prefix="fas" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M272 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h224c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM160 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32zm112-108c0 6.6-5.4 12-12 12H60c-6.6 0-12-5.4-12-12V60c0-6.6 5.4-12 12-12h200c6.6 0 12 5.4 12 12v312z"></path></svg>');
  width: calc(100% + 4px);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask foreignObject[mask*=mobile]:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 14px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 1;
  background: var(--green-color);
  mask: var(--__mask) center no-repeat;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask foreignObject[mask*=mobile][width="32"] img {
  width: calc(100% - 12px);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask foreignObject[mask*=mobile][width="80"] img {
  width: calc(100% - 16px);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask foreignObject[mask*=mobile][width="80"]:after {
  width: 14px;
  height: 18px;
  top: 75%;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask foreignObject[mask*=mobile][width="120"] img {
  width: calc(100% - 24px);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask foreignObject[mask*=mobile][width="120"]:after {
  width: 24px;
  height: 24px;
  top: 80%;
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask rect {
  fill: transparent !important;
  mask: none;
  x: 0;
  y: 0;
  display: block;
  rx: calc(var(--avatar-radius) * var(--br-multi, 1));
  ry: calc(var(--avatar-radius) * var(--br-multi, 1));
  stroke-width: var(--stroke-width, 2px);
  height: var(--size);
  width: var(--size);
  stroke: var(--color);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask rect:is([mask*=online], [fill="#3ba55c"]) {
  --color: var(--hsl-green-color);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask rect:is([mask*=idle], [fill="#faa61a"]) {
  --color: var(--hsl-yellow-color);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask rect:is([mask*=dnd], [fill="#ed4245"]) {
  --color: var(--hsl-red-color);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask rect:is([mask*=streaming], [fill="#593695"]) {
  --color: var(--hsl-live-color);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask rect:is([mask*=offline], [fill="#747f8d"]) {
  --color: var(--hsl-offline-color);
}
._44b0c28be7879b7b-wrapper ._44b0c28be7879b7b-mask circle {
  r: calc(var(--size) * 0.5);
  cx: calc(var(--size) * 0.5);
  cy: calc(var(--size) * 0.5);
}
