.profileEffects__0dd08,
.avatarDecoration__44b0c,
.avatarDecoration_c19a55,
.profileFrameContainer__7d80f {
  display: none;
}

.custom-profile-frame {
  --custom-profile-frame-scaled-overflow-horizontal: 0;
  --custom-profile-frame-scaled-overflow-top: 0;
  --custom-profile-frame-scaled-overflow-bottom: 0;
}

:root {
  --update-notice-may26: none;
}
