.profileEffects__01370,
.avatarDecoration__44b0c,
.avatarDecoration_c19a55 {
  display: none;
}

:root {
  --update-notice-may25: none;
}

.cherryBomb__89a31,
.chicle__89a31,
.museoModerno__89a31,
.neoCastel__89a31,
.pixelify__89a31,
.sinistre__89a31,
.zillaSlab__89a31 {
  font-family: var(--body-font);
}
