/*! Pyrite v0.2.4 - HSL on Bottom Addon by LeafyLuigi. Original by Gibbu. */
:root {
  /* DO NOT CHANGE THIS VALUE */
  --hsl-bottom-enabled: 1;
}

.appMount_ea7e65 > div > :first-child::before {
  content: 'Do NOT use the "horizontal-server-list-bottom" import without "horizontal-server-list" enabled.';
  text-align: center;
  position: absolute;
  color: var(--red-color);
  font-weight: 600;
  white-space: pre-wrap;
  box-sizing: border-box;
  padding: 10px 0;
  background-color: var(--header-shading);
  display: var(--hide-hsl-bottom-warning, block);
  z-index: 2500;
}

.app_bd26cc .base_a4d4d9 {
  top: 0;
  bottom: var(--server-container);
}

.guilds_a4d4d9 {
  transform-origin: 0 100%;
  top: unset;
  left: 100vw;
  bottom: 0;
}

:is(.listItemTooltip_bba834, .listItemTooltip_dfb2f8) {
  top: calc(var(--server-size) / -1 - 30px);
}

.wrapper_fd07a3 {
  transform: rotate(-90deg) translateY(50%);
  top: unset;
  bottom: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px);
}

.platform-win .guilds_a4d4d9 {
  top: unset;
}
