/*! Pyrite v0.2.8 - Vencord Addon by LeafyLuigi */
.vc-addon-card, .vc-addon-card:hover {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}

.vc-plugins-info-button::before {
  content: none;
}

.vc-author-modal-name, .vc-author-modal-name::before {
  background: var(--hsl-primary-color);
}

.vc-author-modal-links img {
  border-color: var(--hsl-primary-color);
}
.vc-author-modal-links a:hover img {
  border-color: var(--hsl-hover-color);
}

.vc-notification-root,
.vc-shc-allowed-users-and-roles-container {
  border: 1px solid var(--hsl-secondary-color);
  background-color: var(--hsl-card-background);
}

:is(.theme-dark, .theme-light) #vc-spotify-player {
  border-bottom-color: transparent;
  background: transparent;
}

.messagelogger-deleted ._752971923a1e6683-markup {
  color: var(--text-default);
}
.messagelogger-deleted ._752971923a1e6683-markup small:not(._752971923a1e6683-inlineFormat) {
  color: var(--text-muted);
}
.messagelogger-deleted ._752971923a1e6683-markup :is(h1, h2, h3, h4, h5, h6) {
  color: var(--header-primary);
}
.messagelogger-deleted ._752971923a1e6683-markup :is(h1, h2, h3, h4, h5, h6)._752971923a1e6683-inlineFormat {
  color: inherit;
}

.f75fb00fb7356cbe-content > :is(.managedReactiveScroller_eed6a8, .d125d22cdfd32cfe-managedReactiveScroller) {
  background: var(--hsl-middle-shading);
}
