/*! Pyrite v0.2.4 - Restore Window Titlebar Addon by LeafyLuigi. */
.platform-win {
  --windows-titlebar-enabled: 1;
}
.platform-win .toolbar__88c63 {
  padding-right: unset;
  margin-right: unset;
}

.typeWindows__5fa63 {
  background: var(--header-shading);
  margin-top: 0;
  height: auto;
}
.typeWindows__5fa63::before {
  content: none;
}

.winButton__88672 {
  height: 22px;
  width: 28px;
  top: 0;
}
