/*! Pyrite v0.2.8 - Restore Window Titlebar Addon by LeafyLuigi. */
.platform-win {
  --windows-titlebar-enabled: 1;
}
.platform-win ._9293f6b2fc12398a-toolbar {
  padding-right: unset;
  margin-right: unset;
}

._421edea01cb52e16-typeWindows {
  background: var(--hsl-header-shading);
  margin-top: 0;
  height: auto;
}
._421edea01cb52e16-typeWindows::before {
  content: none;
}

._421edea01cb52e16-winButton {
  height: 22px;
  width: 28px;
  top: 0;
}
