/*! Pyrite v0.2.4 - Restore Window Titlebar Addon by LeafyLuigi. */
.platform-win {
  --windows-titlebar-enabled: 1;
}
.platform-win .toolbar_e44302 {
  padding-right: unset;
  margin-right: unset;
}

.typeWindows_a934d8 {
  background: var(--header-shading);
  margin-top: 0;
  height: auto;
}
.typeWindows_a934d8::before {
  content: none;
}

.winButton_a934d8 {
  height: 22px;
  width: 28px;
  top: 0;
}
