@use "sass:map";
@use "sass:meta";
@use "sass:string";
$version: "0.2.8";
$theme-name: "Pyrite";

$source: "https://github.com/LeafyLuigi/discord-themes/tree/master/pyrite";
$invite: "EeQQTWbTf5";

$desc-vencord: "for Vencord.";
$desc-betterdiscord: "for BetterDiscord.";
$desc: "for Vencord and BetterDiscord.";

$import-url: "https://leafyluigi.github.io/discord-themes/";
$import-build: "pyrite/build/";
$import-base: "base.css";
$import-vencord: "vencord.css";
$import-betterdiscord: "better-discord.css";
$import-base: "base.css";
$import-whitney: "whitney.css";
$import-hsl: "horizontal-server-list.css";
$import-hslbottom: "horizontal-server-list-bottom.css";
$import-borders: "borders.css";
$import-wintitlebar: "windows-titlebar.css";

$var-examples: "pyrite/var-examples.html";

$blacklist-theme-dark-classes: "div[class*=layer_],div[class*=outer_]:is([class*=user-profile-popout],[class*=user-profile-modal])";
$blacklist-theme-light-classes: "div[class*=layer_],div[class*=outer_]:is([class*=user-profile-popout],[class*=user-profile-modal]),div[class*=sidebar_],nav[class*=guilds_],div[class*=sidebarRegion_]";

// once @property is implemented within Vencord, switch to this.
@function p($key,$syntax:null,$formalName:null,$formalDesc:null,$val:null) {
	// Only the note and value are optional.
	// $key is the name as stored in $defaults
	// $syntax is either a CSS type (ie <color>) or a string like (for background attachment "scroll|fixed|local"; which would include the global values)
	// $formalName is the written out name (ie "primary-color" becomes "Primary Colour")
	// $formalDesc is an optional string that is given as a description for the variable (ie for Primary Colour, it could be "Main accent colour.")
	// $val is an optional overriding value and must match $syntax. Without it, the value in $defaults is used.
	$allVars: $defaults;
	$map: ();
	@if not map.has-key($allVars,$key) {
		@error #{$key} not found in variables, aborting;
	} @else {
		$map: map.set($map,"init",$key);
	}
	@if meta.type-of($syntax) != string {
		@error Syntax for #{$key} needs to be a string, aborting;
	} @else {
		@if string.slice($syntax,1,1) == "<" and string.slice($syntax,-1,-1) == ">" {
			// should be fine to pass as is
			$map: map.set($map,"syntax",$syntax);
		} @else {
			// TODO
		}
	}
	@if meta.type-of($formalName) != string {
		@error Formal name for #{$key} needs to be a string, aborting;
	}
	@debug $map;
	@return null;
}

@function v($key,$val:null) {
	$allVars: $defaults;
	@if not map.has-key($allVars,$key) {
		@error #{$key} not found in variables, aborting;
	}
	@if $val == null {
		@return map.get($allVars,$key);
	} @else {
		@return $val;
	}
}
// DEFAULT VARIABLES FOR PYRITE
$defaults: (
	// forced + debug stuff
	update-notice-var: --update-notice-may25, // this is set to NONE in the .css file ONLY
	font-headline: var(--body-font),
	font-display: var(--body-font),
	font-code: var(--code-font),
	font-primary: var(--body-font),
	background-message-hover: transparent,
	background-mentioned: rgb(from var(--mention-background) r g b / var(--mention-opacity)),
	background-mentioned-hover: rgb(from var(--mention-background) r g b / calc(0.2 + var(--mention-opacity))),
	text-link: var(--hsl-link-color),
	text-positive: var(--hsl-green-color),
	text-warning: var(--hsl-yellow-color),
	text-danger: var(--hsl-red-color),
	text-brand: var(--hsl-primary-color),
	secret-orange: #f57531,
	brand-experiment: var(--hsl-primary-color),
	focus-primary: var(--hsl-primary-color),
	channel-icon: inherit,
	hide-fallback-enabled: 1,
	hide-fallback-disabled: 0,
	// dark+light vars
	dark-interactive-normal: #b9bbbe,
	dark-interactive-hover: #dcddde,
	dark-interactive-active: #fff,
	dark-interactive-muted: #4f545c,
	dark-background-modifier-hover:rgba(79,84,92,0.16),
	dark-background-modifier-active:rgba(79,84,92,0.24),
	dark-background-modifier-selected:rgba(79,84,92,0.32),
	dark-background-modifier-accent:hsla(0,0%,100%,0.06),
	light-interactive-normal:#4f5660,
	light-interactive-hover:#2e3338,
	light-interactive-active:#060607,
	light-interactive-muted:#c7ccd1,
	light-background-modifier-hover:rgba(116,127,141,0.08),
	light-background-modifier-active:rgba(116,127,141,0.16),
	light-background-modifier-selected:rgba(116,127,141,0.24),
	light-background-modifier-accent:rgba(6,6,7,0.08),
	dl-input-background: var(--hsl-card-background),
	dl-control-brand-foreground: var(--phsl-rimary-color),
	dl-control-brand-foreground-new: var(--hsl-primary-color),
	dl-deprecated-text-input-bg: var(--input-background),
	dl-deprecated-text-input-border: var(--hsl-primary-color),
	dl-modal-background: var(--hsl-card-background),
	dl-modal-footer-background: transparent,
	dl-__spoiler-background-color--hidden: var(--hsl-card-background),
	dl-__spoiler-background-color--hidden--hover: var(--hsl-card-background),
	dl-__spoiler-background-color--revealed: var(--hsl-card-background),
	dl-brand-500: var(--hsl-primary-color),
	dl-dark-elevation-low: unset,
	dl-dark-elevation-high: unset,
	dl-dark-elevation-border: unset,
	dl-light-elevation-low: unset,
	dl-light-elevation-high: unset,
	dl-light-elevation-border: unset,
	dl-elevation-stroke: unset,
	dl-elevation-low: unset,
	dl-elevation-medium: unset,
	dl-elevation-high: unset,
	dl-info-positive-foreground: var(--hsl-green-color),
	dl-info-warning-foreground: var(--hsl-yellow-color),
	dl-info-danger-foreground: var(--hsl-red-color),
	dl-info-help-foreground: var(--hsl-link-color),
	dl-status-positive-background: var(--hsl-green-color),
	dl-status-warning-background: var(--hsl-yellow-color),
	dl-status-danger-background: var(--hsl-red-color),
	dl-status-positive: var(--hsl-green-color),
	dl-status-warning: var(--hsl-yellow-color),
	dl-status-danger: var(--hsl-red-color),
	dl-text-positive: var(--hsl-green-color),
	dl-text-warning: var(--hsl-yellow-color),
	dl-text-danger: var(--hsl-red-color),

	// customisable
	background-image: url("https://leafyluigi.github.io/images/pexels-josh-sorenson-116359.png"),
	user-modal-image: var(--background-image),
	user-popout-image: var(--background-image),
	home-icon: url("https://leafyluigi.github.io/images/pexels-chris-munnik-2604991.png"),
	background-attachment: fixed,
	user-modal-attachment: var(--background-attachment),
	user-popout-attachment: var(--background-attachment),
	primary-color: #387eff,
	secondary-color: #3298e0,
	hover-color: #139dff,
	tooltip-color: #1967ab,
	green-color: #43b581,
	yellow-color: #f9a719,
	red-color: #ec4144,
	link-color: #00aef3,
	live-color: #583594,
	offline-color: #737e8c,
	category-color: var(--header-primary),
	selected-channel-color: var(--header-primary),
	unread-channel-color: var(--hsl-primary-color),
	// unread-channel-glow: drop-shadow(0 0 4px),
	read-channel-color: var(--interactive-normal),
	muted-channel-color: var(--interactive-muted),
	show-channel-unread-dot: block,
	locked-voice-channel-color: var(--hsl-red-color),
	mention-background: var(--hsl-primary-color),
	mention-opacity: 0.3,
	code-font: "Hack, Monaco, Consolas, Courier, monospace",
	body-font: "Whitney, \"gg sans\", \"Noto Sans\", \"Helvetica Neue\", Helvetica, sans-serif",
	expression-picker-height: 500px,
	background-filter: saturate(calc(1 * var(--saturation-factor,1))),
	user-modal-filter: saturate(calc(1 * var(--saturation-factor,1))),
	user-popout-filter: saturate(calc(1 * var(--saturation-factor,1))),
	home-icon-filter: saturate(calc(1 * var(--saturation-factor,1))),
	hide-speed: 0.5s,
	hide-member-list: 1,
	hide-active-now: 1,
	hide-profile-panel: 1,
	hide-channel-list: 0,
	blur-intensity: 1,
	win-min-max-close-button-width: 28px,
	HSL-server-icon-size: 40px,
	HSL-server-spacing: 10px,
	HSL-server-direction: column,
	// dark + light vars
	light-card-background: rgba(255,255,255,0.05),
	light-side-shading: rgba(255,255,255,0.4),
	light-middle-shading: rgba(255,255,255,0.3),
	light-header-shading: rgba(255,255,255,0.5),
	light-hover-filter: rgba(255,255,255,0.2),
	light-active-filter: rgba(255,255,255,0.4),
	dark-card-background: rgba(0,0,0,0.4),
	dark-side-shading: rgba(0,0,0,0.4),
	dark-middle-shading: rgba(0,0,0,0.2),
	dark-header-shading: rgba(0,0,0,0.6),
	dark-hover-filter: rgba(0,0,0,0.2),
	dark-active-filter: rgba(0,0,0,0.4),
	darker-card-background: rgba(0,0,0,0.5),
	darker-side-shading: rgba(0,0,0,0.5),
	darker-middle-shading: rgba(0,0,0,0.3),
	darker-header-shading: rgba(0,0,0,0.7),
	darker-hover-filter: rgba(0,0,0,0.2),
	darker-active-filter: rgba(0,0,0,0.4),
	midnight-card-background: rgba(0,0,0,0.7),
	midnight-side-shading: rgba(0,0,0,0.7),
	midnight-middle-shading: rgba(0,0,0,0.6),
	midnight-header-shading: rgba(0,0,0,0.8),
	midnight-hover-filter: rgba(0,0,0,0.2),
	midnight-active-filter: rgba(0,0,0,0.4),
	// extreme advanced chat markup stuffs
	markup-chat-font-size: 1rem,
	markup-chat-line-height: 1.375rem,
	markup-chat-font-color: var(--text-normal),
	markup-chat-font-style: normal,
	markup-chat-font-weight: 400,
	markup-chat-light-theme-not-zoomed-in-font-weight: 500,
	markup-chat-bold-font-weight: 700,
	markup-chat-emphasis-style: italic,
	markup-chat-underline-decoration: underline,
	markup-chat-strikethrough-decoration: line-through,
	markup-chat-preformatted-font-size: .75rem,
	markup-chat-preformatted-line-height: 1rem,
	markup-chat-subtext-color: var(--text-muted),
	markup-chat-subtext-font-size: .8125rem,
	markup-chat-subtext-line-height: 1.11719rem,
	markup-chat-code-font-size: .875rem,
	markup-chat-code-line-height: 1.125rem,
	markup-chat-inline-code-font-size: 85%,
	markup-chat-headings-font-weight: 700,
	markup-chat-headings-font-color: var(--header-primary),
	markup-chat-headings-line-height: 1.375em,
	markup-chat-inline-headings-font-weight: 600,
	markup-chat-inline-headings-font-color: inherit,
	markup-chat-inline-headings-line-height: 1.25em,
	markup-chat-h1-font-size: 1.5rem,
	markup-chat-h2-font-size: 1.25rem,
	markup-chat-h3-font-size: 1rem,
	markup-chat-visual-refresh-line-height: 1.5rem,
);