@use "backend" as *;
/* Start Header */
#{c(main dark)},
#{c(main light)} {
  #{c(header akaBadge)} {
    background-color: $secondary;
    color: #fff;
  }
}
#{c(header header)}#{c(header themed)} {
  background: $header;
  z-index: 1010;
}
#{c(header input)} {
  @include header;
  &:focus {
    background: transparent;
    text-shadow: none;
  }
}
#{c(header children)} {
  &:after {
    content: none;
  }
  >#{c(header iconWrapper)} {
    > #{c(header icon)} {
      filter: drop-shadow(2px 2px 2px #aaa);
    }
  }
}
#{c(header divider)} {
  margin: 0;
  width: 8px;
  background: linear-gradient(to right, transparent 0%, $primary 50%, transparent 100%);
}
#{c(header title)} {
  @include header;
  overflow: visible;
}
#{c(os mac)} {
  #{c(header title)},
  #{c(header children)},
  #{c(header topic)} {
    -webkit-app-region: no-drag;
  }
}
#{c(header icon)} {
  color: #fff;
}
#{c(header iconBadge)} {
  filter: drop-shadow($primary 0 0 4px) drop-shadow($primary 0 0 4px);
  background-color: $secondary;
}
#{c(header iconClickable)} {
  #{c(header icon)} {
    color: $primary;
  }
  &:hover #{c(header icon)}{
    color: $hover;
    filter: drop-shadow(0 0 2px currentColor);
  }
}
#{c(header updateIconForeground)} {
  fill: currentColor;
}
#{c(header search)} {
  order: 1;
}
#{c(header searchBar)} {
  background-color: var(--card-background);
}

// HIDE MEMBER ICON. REQUIRES ARIA-LABEL.
@debug "Aria Label list in Header";
#{c(chat chat)} #{c(header toolbar)} #{c(header iconSelected)} {
  &[aria-label="Medlemsliste"], // Danish
  &[aria-label="Mitgliederliste"], // German
  &[aria-label="Member List"], // English
  &[aria-label="Lista de miembros"], // Spanish
  &[aria-label="Liste des membres"], // French
  &[aria-label="Popis članova"], // Croatian
  &[aria-label="Lista dei membri"], // Italian
  &[aria-label="Narių Sąrašas"], // Lithuanian
  &[aria-label="Tagok listája"], // Hungarian
  &[aria-label="Ledenlijst"], // Dutch
  &[aria-label="Medlemsliste"], // Norwegian
  &[aria-label="Lista członków"], // Polish
  &[aria-label="Lista de membros"], // Portuguese
  &[aria-label="Lista membrilor"], // Romanian
  &[aria-label="Jäsenluettelo"], // Finnish
  &[aria-label="Medlemslista"], // Swedish
  &[aria-label="Danh sách thành viên"], // Vietnamese
  &[aria-label="Üye Listesi"], // Turkish
  &[aria-label="Seznam členů"], // Czech
  &[aria-label="Λίστα μελών"], // Greek
  &[aria-label="Списък с членове"], // Bulgarian
  &[aria-label="Список участников"], // Russian
  &[aria-label="Список учасників"], // Ukranian
  &[aria-label="รายชื่อสมาชิก"], // Thai
  &[aria-label="成员名单"], // Chinese (mainland)
  &[aria-label="メンバーリスト"], // Japanese
  &[aria-label="成員名單"], // Chinese (Taiwan)
  &[aria-label="멤버 목록"]  // Korean
  {
    display: none;
  }
}

// Hide Help icon. Can be accessed by pressing F1.
#{c(header toolbar)} {
  &>a[href*="support.discord.com"] {
    display: none;
  }
}
