@use "backend" as *;
/* Start Member List */

#{c(memberList wrap)} {
  min-width: auto;
  flex-basis: 0px;
  left: calc( ( 240px - 60px ) * var(--hide-member-list));
  transition: .5s all ease-out;
  margin-left: calc( -1 * (( 240px - 60px ) * var(--hide-member-list)));
	&:hover {
		left: 0;
	}
	#{c(memberList members)} {
		width: 240px;
    background-color: $side;
    &>div {
      background-color: transparent;
    }
    #{c(memberList offline)} {
      opacity: 0.7;
      filter: grayscale(100%);
      transition: 0.25s all ease-in-out;
      &:hover {
        opacity: 1;
        filter: none;
      }
    }
	}
}
#{c(memberList group)} {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after {
    content: "";
    height: 2px;
    flex-grow: 1;
    background: linear-gradient(to right, currentColor -50%, transparent 50%);
    margin-left: 5px;
  }
}
