@use "sass:color";
@use "sass:list";
@use "sass:meta";
@use "backend" as *;
/* Start Member List */
// both have to be listed for both servers and group dms
#{c(memberList container)}, #{c(memberList wrap)} {
	--width: 240px;
	--hide-var: var(--hide-member-list);
}
#{c(memberList wrap)} {
	background-color: transparent;
	min-width: auto;
	flex-basis: 0px;
}
#{c(memberList members)} {
	background: transparent;
}
#{c(memberList group)} {
	color: var(--category-color);
	display: flex;
	justify-content: center;
	align-items: center;
	&:after {
		content: "";
		height: 2px;
		flex-grow: 1;
		background: linear-gradient(to right, currentColor -50%, transparent 50%);
		margin-left: 5px;
	}
}

#{c(memberList placeholderMemberGroups)},
#{c(memberList placeholderAvatar)},
#{c(memberList placeholderUsername)},
#{c(memberList placeholderUsernameMultiple)} {
	background-color: $card;
}
#{c(memberList offline)} {
	opacity: 0.7;
	transition: 0.25s all ease-in-out;
	#{c(memberList avatar)} {
		filter: grayscale(100%);
	}
	&:hover {
		opacity: 1;
		#{c(memberList avatar)} {
			filter: none;
		}
	}
}
#{c(memberList memberBackground)} {
	background: transparent;
}


// For each of the colors, the variable used (excluding `var(--...)`) should be the first value then the colors for each saturation value.
// online
$allOnline: "green-color", (#23a55a, #299f5b, #30995c, #35935d, #3a8e5e, #3f895f, #45845f, #497f60, #4d7b60, #507861, #547562, #577162, #5a6e62, #5c6c63, #5f6a63, #606864, #616764, #636664, #646564, #646464, #646464 );
// idle
$allIdle: "yellow-color", (#f0b232, #e6ae3c, #deac44, #d6a94c, #cea654, #c6a45c, #bfa163, #b99f69, #b39d6f, #ae9b74, #a99a7a, #a4987e, #a09682, #9d9585, #999489, #97938b, #95928d, #93928f, #929190, #919191, #919191 );
// dnd
$allDND: "red-color", (#f23f43, #ea474b, #e15054, #da575b, #d25f62, #cb6668, #c46d6f, #bf7274, #b9787a, #b47d7e, #af8283, #ab8687, #a78a8b, #a48d8e, #a09191, #9e9393, #9c9595, #9b9697, #999898, #999898, #999999 );
// streaming / live
$allLive: "live-color", (#593695, #5b3a91, #5b3f8c, #5d4388, #5d4884, #5e4b80, #604e7d, #605279, #615477, #625774, #625a71, #635c6f, #645e6e, #64606b, #64616a, #656368, #656467, #656467, #656566, #656566, #666666 );
// invis/offline
$allInvisOffline: "offline-color", (#80848e, #80848e, #82848c, #82848c, #82858c, #83868b, #84868b, #84868a, #858689, #858689, #868789, #868788, #868788, #868788, #868788, #878788, #878787, #878787, #878787, #878787, #878787 );
$allColors: (
	$allOnline,
	$allIdle,
	$allDND,
	$allLive,
	$allInvisOffline
);


// SCSS scale-color($col, $saturation: -5%) doesn't work in the same way as Discord's own saturation magik. As such all variations on what the saturation is has to be used.

// attempt for finding -10% saturation from #23a55a -- this should've been #30995c but was #2a9f5b instead.
// $a: nth($allOnline,1);
// @debug rgba(red($a), blue($a), green($a), alpha($a));
// @debug scale-color($a, $saturation:-10%);

$allColors: (
	$allOnline,
	$allIdle,
	$allDND,
	$allLive,
	$allInvisOffline
);

:is(#{c(memberList status)},#{c(memberList avatarMask)}>svg>rect) {
	@each $colType in $allColors {
		$listDone: (); // temp list for completed colors to avoid repeating
		$list: ":is(";
		@each $col in nth($colType,2) {
			@if not index($listDone, $col) {
				// @debug $col;
				$list: $list+'[fill="'+$col+'"],[fill="rgba('+color.channel($col,"red",$space: rgb)+', '+color.channel($col,"green",$space: rgb)+', '+color.channel($col,"blue",$space: rgb)+', 1)"],';
				$listDone: append($listDone,$col);
			}
		}
		$list: str-slice($list,1,-2)+")"; // remove last comma and close list
		// @debug $list;
		&#{$list} {
			fill: var(--#{nth($colType,1)})
		}
	}
}
// CHANGE STATUS MENU ICONS
// this is only here because i'm not duplicating the lists twice.
#{c(modals menus status)} {
	@each $colType in $allColors {
		$listDone: (); // temp list for completed colors to avoid repeating
		$list: ":is(";
		@each $col in nth($colType,2) {
			@if not index($listDone, $col) {
				// @debug $col;
				$list: $list+'[style*="rgb('+color.channel($col,"red",$space: rgb)+', '+color.channel($col,"green",$space: rgb)+', '+color.channel($col,"blue",$space: rgb)+')"],';
				$listDone: append($listDone,$col);
			}
		}
		$list: str-slice($list,1,-2)+")"; // remove last comma and close list
		// @debug $list;
		&#{$list} {
			background-color: var(--#{nth($colType,1)}) !important; // !important reason: override inline style
		}
	}
}