@use "start" as *;
@use "backend" as *;
/* Begin Keyframes */

// ALWAYS USE FULL MOTION BEFORE ANIMATION.

// used in: misc
@keyframes monke {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// used in: chat
@keyframes gifRipple {
  0% {
    transform:scale(.4);
    opacity:1;
  }
  90% {
    transform:scale(1.4);
    opacity:0;
  }
  100% {
    transform:scale(1.6);
    opacity:0;
  }
}
@keyframes gifBounce {
  25% {
    transform:scale(.6);
  }
  50% {
    transform:scale(1.2);
  }
  100% {
    transform:scale(1);
  }
}

// used in: error
@keyframes errorScrollMac {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes errorPopMac {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Begin Misc */
// Fonts
// body fonts
::placeholder, ::-webkit-input-placeholder,
body, button, input, select, textarea {
  font-family: var(--body-font);
}
::selection {
  background-color: $secondary;

}
// code fonts
code,
#{c(chatForm inlineCode)},
#{c(chatForm afterInlineCode)},
#{c(chatForm beforeInlineCode)},
#{c(chatForm codeLine)},
#{c(chatForm codeBlockText)} {
  font-family: var(--code-font);
}

// Background
#{c(main appMount)} {
	@include bg($h:100%,$w:100%,$bgf:var(--background-image) center/cover no-repeat var(--background-attachment),$f:var(--background-filter));
}

// Transparency to allow the background to work.
html, // because maybe?
body, // this one is here for transparency in bd to work
#{c(main appInner)},
#{c(main bg)},
#{c(main loadingContainer)} {
  background: transparent;
}
:is(#{c(main dark)},#{c(main light)}) #{c(main appMount)} {
  background: transparent;
}

// Set z-index
// #{c(main backdropWithLayer)} {
//   z-index: -1000;
// }
#{c(main pictureInPicture)} {
  z-index: 1050;
}
#{c(os titleBar)} {
  z-index: 1100;
}

// Loading Icon. Best seen removing the ONLY reaction of a type in the reaction modal.
#{c(main loadingSquare)} {
  background-color: $primary;
}

// Windows
#{c(os win platform)} {
  #{c(sidebar sidebar)} {
    border-radius: 0;
  }
  #{c(serverList servers)} {
    margin-top: 48px;
    overflow: visible;
    @include bg($z:1010,$bg:$header,$w:72px,$h:48px,$top:-48px);
  }
  #{c(header toolbar)} {
    padding-right: calc(3 * var(--win-min-max-close-button-width));
    margin-right: -6px;
  }
  :is(#{c(header nicknames)},#{c(header topic)}) {
    margin-right: calc(3 * var(--win-min-max-close-button-width));
  }
}
#{c(os win type)} {
  padding-top: 0;
  margin-top: 0;
  height: 0;
  position: relative;
  @include bg($war:drag,$h:18px,$pos:fixed);
  & > #{c(os wordmark)} {
    display: none;
  }
}
#{c(os win button)} {
  width: var(--win-min-max-close-button-width);
  position: relative;
  top: 0;
  height: 48px;
}
#{c(os win buttonClose)}:hover {
  background: $red;
  color: var(--interactive-hover);
}

// Mac
#{c(os mac platform)} {
  #{c(serverList servers)} {
    margin-top: 48px;
    overflow: visible;
    @include bg($z:1050,$bg:$header,$w:72px,$h:48px,$top:-48px,$war:drag);
  }
  #{c(serverList scroller)} {
    padding-top: 4px;
  }
}
#{c(os mac buttonMin)},
#{c(os mac buttonMax)} {
  margin-left: 7px;
}
#{c(os mac type)} {
  top: calc(var(--channel-tabs-enabled,0) * calc(66px * var(--channel-tabs-enabled,0)));
}
#{c(os mac buttons)} {
  height: 48px;
}
// Linux, Web
:is(#{c(os linux)},#{c(os web)}) {
  #{c(serverList scroller)} {
    padding: 4px 0 0 0;
  }
  #{c(serverList servers)} {
    @include bg($bg:$header,$w:100%,$h:48px,$z:1010);
    > #{c(serverList tree)} {
      top: 48px;
      position: relative;
      height: calc(100vh - 48px);
    }
  }
}

/* show/hide for side-panels (like member list and profile panels) */
:is(
#{c(chat chatContentInner)} ~ div,
#{c(chat chatContentInner)} ~ aside,#{c(chat chatContent)} > #{c(memberList container)}
) {
  background-color: var(--background,var(--side-shading));
  left: calc( ( var(--width,240px) - 60px ) * var(--hide-var, --hide-fallback-enabled));
  transition: var(--hide-speed,0.5s) transform ease-out, var(--hide-speed,0.5s) backdrop-filter ease-out;
  margin-left: calc( -1 * (( var(--width,240px) - 60px ) * var(--hide-var, --hide-fallback-enabled)));
  position: relative;
  z-index: 2; // just in case of buttons
  &:is(:hover,:focus-within) {
    transform: translateX(calc(-1 * ((var(--width,240px) - 60px) * var(--hide-var, --hide-fallback-enabled))));
    backdrop-filter: blur(calc(var(--hide-var, --hide-fallback-enabled) * 3px));
	}
}

// EGGS!
#{c(main focused)}#{c(main fullMotion)} #{c(search noResultsImage)}#{c(search OOOOHHHHHHHHBANANA)},
#{c(main focused)}#{c(main reduceMotion)} #{c(search noResultsImage)}#{c(search OOOOHHHHHHHHBANANA)}:hover {
  animation: monke 6.9s linear infinite;
}

// Enable with Beer
// confused? https://cdn.discordapp.com/attachments/747040126294687764/827442200094179338/unknown.png
#{c(embeds textOpenFullPreview)} {
  &:before {
    content: "🍺";
  }
  > svg {
    display: none;
  }
}

// Are you a robot?
// commented bc i cannot find a way to get it up
// #{c(main areYouARobotContainer)} {
//   background-color: $header;
//   backdrop-filter: blur(5px);
// }

/* Checkboxes */
#{c(main checkbox)} {
  border-color: $primary !important; // !important reason: element.style when selected
  &#{c(main checkboxChecked)} {
    box-shadow: inset 0 0 3px 1px $primary;
    border-color: $primary !important; // !important reason: element.style
    > svg > path {
      fill: $primary; 
    }
    &[style*="background-color:"] {
      background-color: transparent !important; // !important reason: element.style
    }
  }
}

/* "Other". */
// I don't know where this stuff is used in the site.
#{c(other developerPortalCtaWrapper)} {
  background-color: $card;
}
// Rings - tab around and you'll find it. Appears to have a class sans suffix/reroll.
#{c(main ring)} {
  &[style*="var(--focus-primary)"] {
    --__adaptive-focus-color: var(--primary-color) !important; // !important reason: element.style
  }
}
// #{c(main keyboardMode)} #{c(other focusStroke)} {
//   fill: $primary;
//   stroke: $primary;
// }

// insecure links
a[href^="http://"] {
  color: $red;
  text-shadow: 0 0 2px $red;
}

/* HLJS */
#{c(hljs comment)},
#{c(hljs quote)} {
  font-style: italic;
}

/* A few blurs */
#{c(main loadingContainer)} {
  backdrop-filter: blur(5px);
}
#{c(main backdrop)},
#{c(main backdropWithLayer)} {
  backdrop-filter: blur(3px);
  background-color: transparent !important;
}

/* Official Preset Previews */
:is(
#message-accessories-1059357046648090695,
#message-accessories-1059357338349342801,
#message-accessories-1059357294279794738,
#message-accessories-1059357367327785060
) {
  #{c(embeds textContainerUp)} {
    transform: rotate(0deg);
    border: none;
    background-color: transparent;
  }
  #{c(embeds textContainer)} {
    @include bg($bgf: var(--local-image) center/ cover no-repeat);
    @include bg2($bgf: url(https://leafyluigi.github.io/images/preview-overlay.png) center/ cover no-repeat);
  }
  #{c(embeds textFooter)} {
    width: 300px;
  }
  :is(
  #{c(embeds toggleExpandedPreview)},
  #{c(embeds attachmentName)},
  #{c(embeds attachmentSize)},
  #{c(embeds codeIcon)},
  pre
  ) {
    display: none;
  }
}
// synthscape orange
#message-accessories-1059357046648090695 {
  --local-image: url('https://leafyluigi.github.io/images/Synthscape%20by%20AxiomDesign.png');
}
// yellow flower
#message-accessories-1059357338349342801 {
  --local-image: url('https://leafyluigi.github.io/images/Xieleqiao Town by Huangdan2060.png');
}
// ocean blue, current default
:is(
#message-accessories-1059357294279794738,
#message-accessories-1059357367327785060
) {
  --local-image: url('https://leafyluigi.github.io/images/pexels-josh-sorenson-116359.png');
}
