@use "backend" as *;
/* Start Stage Discovery */
#{c(main dark)},
#{c(main light)} {
    #{c(stageDiscovery stageContainer)} {
        @include card;
        &:hover {
            background-color: $card;
        }
    }
}
#{c(stageDiscovery usersContainer)} {
    @include card;
}
#{c(stageDiscovery stageSection)} {
    background-color: $middle;
}
#{c(stageDiscovery featuredTag)} {
    background-color: $primary;
}

#{c(stageDiscovery nowPlayingSidebar)} {
  background-color: $side;
  width: 360px;
  max-width: 360px;
  position: relative;
  transition: .5s all ease-out;
  left: calc( ( 300px ) * var(--hide-active-now));
  margin-left: calc( -1 * (( 300px ) * var(--hide-active-now)));
  &:hover {
    left: 0;
  }
  #{c(friends nowPlayingContainer)} {
    background-color: transparent;
  }
  #{c(friends nowPlayingHeader)} {
    @include header;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px 0;
    &:after {
      content: "";
      height: 2px;
      flex-grow: 1;
      background: linear-gradient(to right, currentColor -50%, transparent 50%);
      margin-left: 5px;
    }
  }
}