@use "backend" as *;
/* Start User Profile Panel */
#{c(profile panel)} {
	--width: 340px;
	--hide-var: var(--hide-profile-panel);
	// background: $side;
	&#{c(profile themed)} {
		#{c(profile inner)} {
			background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
		}
	}
}
#{c(profile panel)}:not(#{c(profile themed)}) {
	background: $side; // this rule should technically be under `:where(#{c(profile outer)})`
	#{c(profile panel colorOverlay)} {
		background: $card;
	}
}
#{c(profile panel overlayInnerContainer)} {
	backdrop-filter: none; // for whatever reason this is put there.
}
// i couldn't be bothered moving classes around tonight
#{c(experiments themesSidebarFooterButton)} {
	display: none;
}