@use "backend" as *;
/* Start User Profile Panel */
#{c(profile panel parent)} {
	--width: 300px;
	--hide-var: var(--hide-profile-panel);
	background: $side;
}
#{c(profile panel)}:not(#{c(profile panel redesign)}) {
	--width: 340px;
	--hide-var: var(--hide-profile-panel);
}
#{c(profile panel)} {
	// background: $side;
	&#{c(profile themed)} {
		#{c(profile inner)} {
			background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
		}
	}
}
#{c(profile panel)}:not(#{c(profile themed)}) {
	background: $side; // this rule should technically be under `:where(#{c(profile outer)})`
	#{c(profile panel colorOverlay)} {
		background: $card;
	}
}
#{c(profile panel overlayInnerContainer)} {
	backdrop-filter: none; // for whatever reason this is put there.
}

// funny redesign stuff
// see 2026-06-user-profile-sidebar-redesign
#{c(profile panel parent)} {
	padding: 0;
}
#{c(profile panel)}#{c(profile panel redesign)} {
	&:where(#{c(profile outer)}):not(#{c(profile themed)}) {
		background: none;
	}
	#{c(profile inner)} {
		border-radius: 0;
	}
	&#{c(profile themed)} {
		&:where(#{c(profile outer)}) {
			border-radius: 0;
		}
		#{c(profile inner)} {
			border-radius: 0;
		}
	}
}
#{c(profile panel redesign footer)} {
	display: none;
}
#{c(profile panel redesign descriptionClamp)} {
	-webkit-line-clamp: 6; // revert it back to what the pre-redesign was!
}
#{c(profile panel redesign maxBioHeight)} {
	max-height: unset;
}

// i couldn't be bothered moving classes around tonight
#{c(experiments themesSidebarFooterButton)} {
	display: none;
}