@use "backend" as *;
/* Start User Profile Panel */
#{c(profile panel)} {
	--width: 340px;
	--hide-var: var(--hide-profile-panel);
	&#{c(profile themed)} {
		--background: transparent;
		#{c(profile inner)} {
			background: linear-gradient(var(--profile-gradient-primary-color),var(--profile-gradient-secondary-color));
		}
	}
}
#{c(profile panel)}:not(#{c(profile themed)}) #{c(profile panel colorOverlay)} {
	background: $card;
}