@use "backend" as *;
/* Start User Popout */
#{c(profile popout outer)}:not(#{c(profile outer themed)}) {
	@include bg($f:var(--user-popout-filter),$bgf:var(--user-popout-image) center/cover no-repeat var(--user-popout-attachment));
	position: relative;
	box-shadow: none;
	background-color: transparent;
}
#{c(profile popout roleActionButton)} {
	color: $primary;
	border-color: currentColor;
	&:hover {
		color: $hover;
	}
}
#{c(profile popout upsellWrapper)} {
	display: none;
}