@use "backend" as *;
/* Start User Popout */
#{c(profile biteSize)}:not(#{c(profile themed)}) {
	@include bg($f:var(--user-popout-filter),$bgf:var(--user-popout-image) center/cover no-repeat var(--user-popout-attachment));
	position: relative;
	box-shadow: none;
	background-color: transparent;
	#{c(role)} {
		background: $card;
	}
	// #{c(profile popout note)} textarea:focus {
	// 	background: var(--background-modifier-active);
	// }
	// #{c(profile popout badges)} {
	// 	background-color: $card;
	// }
	#{c(profile inner)} {
		background: transparent;
	}
	#{c(profile popout bitesize body)} {
		background: $card;
		padding: 4px;
		margin: 0 12px;
		border-radius: 8px;
	}
	// #{c(profile popout bitesize footer)} {
	// }
}
#{c(role actionButton)} {
	color: $primary;
	border-color: currentColor;
	&:hover {
		color: $hover;
	}
}