@use "backend" as *;
// Members Page
#{c(membersPage container)} {
	background: transparent;
}
#{c(main visualRefresh)} #{c(membersPage header)} {
	height: var(--custom-channel-header-height);
}
#{c(membersPage page)} {
	#{c(main visualRefresh)} &,
	& {
		background: transparent !important; // !important reason: discord uses important
	}
}
#{c(membersPage mainTableContainer)} {
	box-shadow: none;
	#{c(main visualRefresh)} &,
	& {
		background: $card;
	}
}
#{c(membersPage page)}>#{c(scroller base)} {
	#{c(main visualRefresh)} &,
	& {
		background: $middle;
	}
}
// #{c(membersPage scroller)} {
// 	background: $middle;
// }
#{c(membersPage otherRoles)} {
	background: $card;
}
#{c(membersPage actionButton)} {
	background: $card;
	color: $primary;
	border: 1px solid currentColor;
	&:hover {
		color: $hover;
	}
}
#{c(membersPage noResultsContainer)} {
	min-height: unset;
	div[class=""] {
		display: none;
	}
}
#{c(membersPage loaderBar)} {
	background: $primary;
}