@use "backend" as *;
// file is entirely skipped in lite
@if $lite != 1 {

/* Browse Channels page */
// #{c(pages container)},
// #{c(pages customise scrollerContainer)},
#{c(pages customise emptyPage)} {
	background: transparent;
}
#{c(pages header container)} {
	background: $middle !important; // !important reason: override existing !important
}
#{c(pages header)} {
	background: $header !important; // !important reason: override existing !important
}

#{c(pages customise prompt)},
#{c(pages channelsDismissible container)} {
	@include card;
}
#{c(pages channelsDismissible image)} {
	display: none;
}

#{c(pages channels channelRow)} {
	color: var(--text-default); // this is only here because i'm lazy with the icons, of which they broke this section
	&,
	&:hover:not(#{c(pages channels disabled)}) {
		background: $card;
	}
}

#{c(pages customise profileCard)} {
	background: $card;
}
#{c(pages customiseOptions wrapper)} {
	&#{c(pages customiseOptions selected)} {
		border-color: $primary;
	}
}

// Server Guide
#{c(scroller base)}:has(>#{c(serverGuide homeContainer)}) {
	background: $middle;
}
#{c(serverGuide header artPlaceholder)} {
	padding-top: 6%; // looks nicer than having a big 12% gap
	background: none !important; // !important reason: inline style
}
#{c(serverGuide header icon)} {
	background-color: transparent;
	border: none;
}
#{c(serverGuide main row)} {
	@include card;
	&:hover {
		background: $card;
	}
}

// Channels & Roles
#{c(channelsAndRoles browse)} {
	background: none;
	padding-right: 0;
	padding-bottom: 0;
}

}