@use "backend" as *;
/* Start Server List */
#{c(serverList wrapper)} {
  background-color: transparent;
}

#{c(serverList scroller)} {
  background-color: rgba(0,0,0,.4);
}

#{c(serverList iconWrapper)} {
  #{c(serverList iconChildWrapper)} {
    background-color: rgba(255,255,255,0.05);
  }
  &#{c(serverList selected)},
  &:hover {
    #{c(serverList iconChildWrapper)} {
      background-color: $primary;
    }
  }
}
#{c(serverList addServer)} {
  background-color: rgba(255,255,255,0.05);
  color: $primary;
  &#{c(serverList addServerSelected)} {
    background-color: $primary;
    color: #fff;
  }
}

#{c(serverList pillItem)} {
  background-color: $primary;
  filter: drop-shadow(0 0 4px $primary) drop-shadow(0 0 4px $primary);
  transform: translateX(-4px) !important; // !important reason: element.style
  &[style*="height: 8px"] {
    transform: translateX(-3px) !important; // !important reason: element.style
  }
}

#{c(serverList homeContainer)} {
  #{c(serverList iconWrapper)} {
    #{c(serverList iconChildWrapper)} {
      background: $home center/cover no-repeat scroll;
      color: transparent;
    }
    &#{c(serverList selected)},
    &:hover {
      #{c(serverList iconChildWrapper)} {
        background-color: $primary;
      }
    }
  }
  &~#{c(serverList listItem)}:not(:last-child) {
    > #{c(serverList serverSeparator)} {
      background: linear-gradient(to bottom, $secondary, transparent);
      width: 48px;
      height: 4px;
      margin-bottom: -2px;
    }
  }
}
#{c(serverList lowerBadge)} {
  #{c(serverList numberBadge)} {
    // box-shadow: 0 0 5px $secondary;
    filter: drop-shadow(0 0 5px $secondary) drop-shadow(0 0 5px $secondary);
    background-color: $primary !important; // !important usage: element.style
  }
}
#{c(serverList mentionBar)} {
  background-color: $primary;
}
