@use "sass:string";
@use "sass:list";
@use "sass:map";
// @use "map" as *;

/// Get a class from the Classes Map. Code stolen entirely from Zerthox.
/// changes to Zerthox's code: `map.get` -> `map-get`, adds a dot at end.
@function class($query) {
	$class: $classes;
	@each $el in $query {
		$class: map-get($class, "#{$el}");
		@if not $class {
			@error "Unknown class \"#{$el}\" in category: #{$query}. Was the classes file not saved?";
		}
	}
	@return "." + $class;
}

///extreme lazy shorthand
@function c($query) {
  @return class($query);
}

$classes: (
	// This top one is for things without any spammy suffixes or more important things.
	"main": (
		"appMount": "appMount-3lHmkl",
		"appContainer": "app-1q1i1E",
		"appInner": "app-2rEoOp",
		"backdrop": "backdrop-1wrmKB",
		"backdropWithLayer": "backdropWithLayer-3_uhz4",
		"bg": "bg-h5JY_x",
		"dark": "theme-dark",
		"light": "theme-light",
		"mouseMode": "mouse-mode",
		"keyboardMode": "keyboard-mode",
		"fullMotion": "full-motion",
		"focused": "app-focused",
		"layerContainer": "layerContainer-yqaFcK",
		"groupSpacing16": "group-spacing-16",
		"container": "container-2lgZY8",
		"content": "content-98HsJk",
		"layer": "layer-3QrUeG",
		"mediaEngineVideo": "media-engine-video",
	),
	// OS spesific stuff. There doesn't seem to be anything related to linux nor web.
	"os": (
		"titleBar": "titleBar-AC4pGV",
		"windows": "platform-win",
		"typeWindows": "typeWindows-1za-n7",
		"winButton": "winButton-iRh8-Z",
		"winButtonClose": "winButtonClose-1HsbF-",
		"winButtonMinMax": "winButtonMinMax-PBQ2gm",
		"wordmark": "wordmark-2iDDfm",

		"mac": "platform-osx",
		"typeMac": "typeMacOS-3EmCyP",
		"macButtonContainer": "typeMacOS-3EmCyP",
		"focused": "focused-3B0xkw",
		"unfocused": "unfocused-1QsMU3",
		"macButtons": "macButtons-2MuSAC",
		"macButton": "macButton-c_Adir",

		"linux": "platform-linux",
		"web": "platform-web"
	),
	"button": (
		"contents": "contents-18-Yxp",
		"lookFilled": "lookFilled-1Gx00P",
		"lookGhost": "lookGhost-2Fn_0-",
		"lookInverted": "lookInverted-2D7oAl",
		"lookLink": "lookLink-9FtZy-",
		"lookOutlined": "lookOutlined-3sRXeN",
		"hasHover": ".hasHover-3X1-zV",

		//colors / hovers
		"colorBlack": "colorBlack-1jwPVL",
		"colorBrand": "colorBrand-3pXr91",
		"colorGreen": "colorGreen-29iAKY",
		"colorGrey": "colorGrey-2DXtkV",
		"colorLink": "colorLink-35jkBc",
		"colorPrimary": "colorPrimary-3b3xI6",
		"colorRed": "colorRed-1TFJan",
		"colorTransparent": "colorTransparent-1ewNp9",
		"colorWhite": "colorWhite-rEQuAQ",
		"colorYellow": "colorYellow-2JqYwt",
		"hoverBlack": "hoverBlack-3jULb8",
		"hoverBrand": "hoverBrand-1_Fxlk",
		"hoverGreen": "hoverGreen-1gjdJc",
		"hoverGrey": "hoverGrey-2CBXu0",
		"hoverLink": "hoverLink-i1fEKS",
		"hoverPrimary": "hoverPrimary-2D1j2r",
		"hoverRed": "hoverRed-2NoOXI",
		"hoverTransparent": "hoverTransparent-2Lz5CN",
		"hoverWhite": "hoverWhite-2uUmXw",
		"hoverYellow": "hoverYellow-171chs",
	),
	"chat": (
		"chat": "chat-3bRxxu",
		"chatContent": "content-yTz4x3",
		"chatScroller": "scroller-2LSbBU",
		"chatContentInner": "chatContent-a9vAAp",
		"chatLoadingWrapper": "wrapper-3vR61M",
		"messageLoadingWrapper": "wrapper-1F5TKx",
		"noChannel": "noChannel-Z1DQK7",
		"markup": "markup-2BOw-j",
		"message": "message-2qnXI6",
		"mentioned": "mentioned-xhSam7",
		"selected": "selected-2P5D_Z", // relates to message being selected
		"buttons": "buttons-cl5qTG",
		"buttonWrapper": "wrapper-2aW0bm",
		"button": "button-1ZiXG9",
		"divider": "divider-JfaTT5",
		"dividerContent": "content-1o0f9g",
		"dividerHasContent": "hasContent-1cNJDh",
		"dividerUnread": "isUnread-3Ef-o9",
		"unreadPill": "unreadPill-2HyYtt",
		"unreadPillCap": "unreadPillCap-3_K2q2",
		"unreadPillCapStroke": "unreadPillCapStroke-7rkHbg",
		"newMessagesBar": "newMessagesBar-265mhP",
	),
	"chatForm": (
		"form": "form-2fGMdU",
		"channelTextAreaBase": "channelTextArea-2VhZ6z", // base being applied to *every* form
		"channelTextAreaMain": "channelTextArea-rNsIhG", // used at bottom of text channels
		"channelTextAreaDisabled": "channelTextAreaDisabled-8rmlrp", // you can't type into this channel
		"scrollableContainer": "scrollableContainer-2NUZem",
		"inner": "inner-MADQqc",
		"sansAttachButton": "sansAttachButton-td2irx", // always on the main bar for some reason.
		"uploadInput": "uploadInput-1XtQef",
		"attachWrapper": "attachWrapper-2TRKBi",
		"attachButton": "attachButton-2WznTc",
		"attachButtonInner": "attachButtonInner-PQjIyk",
		"attachButtonPlus": "attachButtonPlus-jWVFah",
		"textArea": "textArea-12jD-V",
		"textAreaSlate": "textAreaSlate-1ZzRVj",
		"placeholder": "placeholder-37qJjk",
		"buttons": "buttons-3JBrkn",
		"button": "button-38aScr",
		"lookBlank": "lookBlank-3eh9lL",
		"operations": "operations-36ENbA",
		"replyContainer": "container-2fRDfG",
		"replyActions": "actions-NlfMQc",
		"replyName": "name-hpTFiv",

		"wrapper": "wrapper-39oAo3",
		"image": "image-3XsqGc",
		"text": "text-2yjo70", // used for follow this channel stuff

		"colorBrand": "colorBrand-2tjs5J",
		"colorMuted": "colorMuted-HdFt4q",
	),
	"embeds": (
		"codeblock": "markup-2BOw-j code",
		"codeblockInline": "markup-2BOw-j code.inline",
		"invite": "wrapper-35wsBm",
		"inviteServerIcon": "guildIcon-lQ0uiM",
		"inviteServerIconExpired": "guildIconExpired-2Qcq05",
		"gift": "tile-2OwFgW",
		"giftInvalidPoop": "invalidPoop-pnUbq7",
		"embedFull": "embedFull-2tM8--",
		"embedSuppressButton": "embedSuppressButton-1FonMn",
		"attachment": "attachment-33OFj0",
	),
	//indented as it's a subset of embeds
		"media": (
			"barInteraction": "mediaBarInteraction-37i2O4",
			"barInteractionDragging": "mediaBarInteractionDragging-2QurIZ", // hover required for grabber
			"barWrapper": "mediaBarWrapper-3D7r67", // needs before + after
			"barBuffer": "buffer-26XPkd", // needs before + after, secondary color
			"barPreview": "mediaBarPreview-1jfyFs", // needs before + after
			"barProgress": "mediaBarProgress-1xaPtl", // needs before + after, primary color
			"barGrabber": "mediaBarGrabber-1FqnbN", // primary color
			"barVolume": "mediaBarInteractionVolume-3QZqYd", // card
			"controlIcon": "controlIcon-3cRbti",
			"metadataDownload": "metadataDownload-1fk90V",
			"metadataIcon": "metadataIcon-2FyCKU",
			"metadataName": "metadataName-14STf-",
			"metadataSize": "metadataSize-2UOOLK",
			"durationWrapper": "durationTimeWrapper-OugPFt",
			"durationDisplay": "durationTimeDisplay-jww5fr",
			"durationSeparator": "durationTimeSeparator-2_xpJ7",
			"audioWrapper": "wrapperAudio-1jDe0Q",
			"audioMetadata": "audioMetadata-3zOuGv",
			"audioControls": "audioControls-2HsaU6",
			"bubble": "bubble-3qRl2J",
		),
	"friends": (
		"container": "container-1D34oG",
		"tabBody": "tabBody-3YRQ8W",
		"inviteToolbar": "inviteToolbar-3F-l2g",
		"peopleColumn": "peopleColumn-29fq28",
		"peopleList": "peopleList-3c4jOR",
		"peopleListItem": "peopleListItem-2nzedh",
		"peopleListUsername": "username-31C1TQ",
		"actionButton": "actionButton-uPB8Fs",
		"highlight": "highlight-Lf97TE",
		"nowPlayingColumn": "nowPlayingColumn-2sl4cE",
		"nowPlayingScroller": "nowPlayingScroller-2XrVUt",
		"nowPlayingHeader": "header-13Cw0-",
		"consentCard": "consentCard-1iSxB_",
		"emptyCard": "emptyCard-1RJw8n",
		"itemCard": "itemCard-v9viV7",
		"itemCardBody": "body-1ld4H7",
		"itemCardBodySection": "section-2gLsgF",
		"itemCardSeperator": "separator-XqIyoz",
		"itemCardActive": "active-1xchHY",
		"itemCardInteractive": "interactive-3B9GmY",
		"voiceSectionIconWrapper": "voiceSectionIconWrapper-FO7UEY",
		"partyMemberOverflow": "partyMemberOverflow-lXnzvu",
		"multipleIconWrapper": "multipleIconWrapper-DfGWrz",
		"multipleIcon": "multipleIcon-1oJINS",
	),
	"header": (
		"header": "container-1r6BKw",
		"themed": "themed-ANHk51",
		"children": "children-19S4PO",
		"divider": "divider-3FBTu8",
		"iconWrapper": "iconWrapper-2OrFZ1",
		"icon": "icon-22AiRD",
		"iconClickable": "clickable-3rdHwn",
		"title": "title-29uC1r",
		"akaBadge": "akaBadge-1M-1Gw",
		"input": "input-2A_zIr",
		"toolbar": "toolbar-1t6TWx",
		"iconSelected": "selected-1GqIat",
		"search": "search-36MZv-",
	),
	"memberList": (
		"wrap": "membersWrap-2h-GB4",
		"hiddenMembers": "hiddenMembers-2dcs_q",
		"members": "members-1998pB",
		"content": "content-3YMskv",
		"group": "membersGroup-v9BXpm",
		"container": "container-2ax-kl",
		"avatar": "avatar-3uk_u9",
		"ownerIcon": "ownerIcon-2NH9FM",
		"name": "name-uJV0GL",
		"roleColor": "roleColor-rz2vM0",
		"offline": "offline-3nJYBR",
	),
	"notice": (
		"base": "notice-3bPHh-",
		"completeSteps": "notice-3uyY6c", // contents: "You must complete a few more steps before you can start talking in this server."
		"viewServerAsRole": "notice-1tZwqv", // contents: "You are viewing this server as $count role(s)."
	),
	"popout": (
		"menu": "menu-3sdvDG",
		"friendsActiveNow": "popout-38lTFE",
	),
	"serverList": (
		"servers": "guilds-1SWlCJ",
		"wrapper": "wrapper-1Rf91z",
		"scroller": "scroller-2TZvBN",
		"homeContainer": "tutorialContainer-1v44GL",
		"listItem": "listItem-2P_4kh",
		"serverSeparator": "guildSeparator-3s64Iy",
		"pill": "pill-31IEus",
		"pillItem": "item-2hkk8m",
		"iconWrapper": "wrapper-1BJsBx",
		"iconChildWrapper": "childWrapper-anI2G9",
		"serverIcon": "icon-27yU2q",
		"selected": "selected-bZ3Lue",
		"addServer": "circleIconButton-jET_ig",
		"addServerSelected": "selected-ugP_am",
		"lowerBadge": "lowerBadge-29hYVK",
		"numberBadge": "numberBadge-2s8kKX",
		"upperBadge": "upperBadge-2XnnGB",
		"unreadMentionBarTop": "unreadMentionsIndicatorTop-gA6RCh",
		"unreadMentionBarBottom": "unreadMentionsIndicatorBottom-BXS58x",
		"mentionBar": "mention-1f5kbO",
	),
	"sidebar": (
		"sidebar": "sidebar-2K8pFh",
		"hasNotice": "hasNotice-1XRy4h",
		"privateChannels": "privateChannels-1nO12o",
		"searchBar": "searchBar-6Kv8R2",
		"scroller": "scroller-1JbKMe",
		"privateChannelsHeaderContainer": "privateChannelsHeaderContainer-3NB1K1",
		"privateChannelsHeader": "headerText-2F0828",
		"privateChannel": "channel-2QD9_O",
		"privateChannelRecipientsInviteButtonIcon": "privateChannelRecipientsInviteButtonIcon-3A3uTc",
		"channelsContainer": "container-3w7J-x",
		"channelsScroller": "scroller-RmtA4e",
		"channelsHeaderContainer": "container-1taM1r",
		"channelsHeader": "header-2V-4Sw",
		"channelsContainerContent": "content-3YMskv",
		"channelsWrapper": "wrapper-PY0fhH",
		"channelsName": "name-3l27Hl",
		"channelsMuted": "muted-2JBAyG",
		"channelsCollapsed": "collapsed-2-tg8y",
		"channelsArrow": "arrow-gKvcEx",
		"channelsChildren": "children-L002ao",
		"channelsMainContent": "mainContent-2h-GEV",
		"serverName": "name-1jkAdW",
		"panels": "panels-j1Uci_",
		"panelUsername": "title-eS5yk3",
		"panelContainer": "container-3baos1",
		"panelButtonRow": "directionRow-3v3tfG",
		"panelButton": "button-14-BFJ",
		// no access == not loaded, not in the server etc
		"noAccessSidebar": "container-JPloBS",
		"noAccessCategory": "category-2SZJwK",
		"noAccessChannelIcon": "channelIcon-CCo35e",
		"noAccessChannelName": "channelName-3y9uE0",
		"animatedContainer": "animatedContainer-1NSq4T",
		"hasBanner": "hasBanner-2SrLR3",
		"bannerVisible": "bannerVisible-2ZE_qG",
		"bannerImage": "bannerImage-3KhIJ6",
	),
	"store": (
		"store": "applicationStore-1pNvnv",
		"wrapper": "homeWrapperNormal-2KSUEa",
		"scroller": "scroller-9moviB",
		"nitroContainer": "premiumContainer-2Iux5m",
	),
	"tooltips": (
		"tooltip": "tooltip-2QfLtc",
		"disablePointerEvents": "tooltipDisablePointerEvents-3eaBGN",
		"content": "tooltipContent-bqVLWK",
		"contentAllowOverflow": "tooltipContentAllowOverflow-fFbpe9",
		"right": "tooltipRight-2JM5PQ",
		"left": "tooltipLeft-3EDOk1",
		"bottom": "tooltipBottom-3ARrEK",
		"top": "tooltipTop-XDDSxx",
		"pointer": "tooltipPointer-3ZfirK",

		"primary": "tooltipPrimary-1d1ph4",
		"black": "tooltipBlack-PPG47z",
		"grey": "tooltipGrey-1hnvTt",
		"brand": "tooltipBrand-g03Nz8",
		"green": "tooltipGreen-WdeQwd",
		"yellow": "tooltipYellow-E7eIBE",
		"red": "tooltipRed-8-9NeP"
	),
	"userModal": (
		"modal": "modal-3c3bKg",
		"root": "root-SR8cQa",
		"topSection": "topSectionNormal-2-vo2m",
		"topPlaying": "topSectionPlaying-1J5E4n",
		"topSpotify": "topSectionSpotify-1lI0-P",
		"topStreaming": "topSectionStreaming-1Tpf5X",
		"topXbox": "topSectionXbox-3fWLjS",
		"top": "top-28JiJ-",
		"tabBarContainer": "tabBarContainer-1s1u-z",
		"tabBar": "tabBar-2MuP6-",
		"tabBarItem": "tabBarItem-1b8RUP",
		"tabBarItemSelected": "selected-3s45Ha",
		"tabBarThemed": "themed-OHr7kt",
		"tabBarItemNoPrefix": "item-PXvHYJ",
		"header": "header-QKLPzZ",
		"headerInfo": "headerInfo-30uryT",
		"headerFill": "headerFill-adLl4x",
		"activityProfile": "activityProfile-2bJRaP",
		"activity": "activity-1ythUs",
		"body": "body-3ND3kc",
		"userInfoSection": "userInfoSection-2acyCx",
		"userInfoSectionHeader": "userInfoSectionHeader-CBvMDh",
		"noteTextArea": "textarea-2r0oV8",
		"note": "note-QfFU8y",
		"connectedAccounts": "connectedAccounts-repVzS",
		"connectedAccount": "connectedAccount-36nQx7",
		"connectedAccountVerifiedIcon": "connectedAccountVerifiedIcon-3aZz_K",
		"guildAvatarWithoutIcon": "guildAvatarWithoutIcon-1sTmE_",
	),
	"userPopout": (
		"popoutLeft": "popoutLeft-3aViER",
		"popout": "userPopout-3XzG_A",
		"headerNormal": "headerNormal-T_seeN",
		"headerPlaying": "headerPlaying-j0WQBV",
		"headerSpotify": "headerSpotify-zpWxgT",
		"headerStreaming": "headerStreaming-2FjmGz",
		"headerXbox": "headerXbox-3G-4PF",
		"activity": "activity-11LB_k",
		"body": "body-3iLsc4",
		"bodyTitle": "bodyTitle-Y0qMQz",
		"note": "textarea-2r0oV8",
		"role": "role-2irmRk",
		"roleCircle": "roleCircle-3xAZ1j",
		"addButton": "addButton-pcyyf6",
		"actionButton": "actionButton-VzECiy",
		"footer": "footer-1fjuF6",
		"input": "input-cIJ7To",
		"focused": "focused-1mmYsC",
	),
	"userSettings": (
		"standardSidebarView": "standardSidebarView-3F1I7i",
		"sidebarRegion": "sidebarRegion-VFTUkN",
		"sidebarRegionScroller": "sidebarRegionScroller-3MXcoP",
		"sidebar": "sidebar-CFHs9e",
		"sidebarHeader": "header-2RyJ0Y",
		"sidebarSeparator": "separator-gCa7yv",
		"sidebarItem": "item-PXvHYJ",
		"sidebarItemThemed": "themed-OHr7kt",
		"sidebarSocialLinks": "socialLinks-3jqNFy",
		"sidebarInfo": "info-1VyQPT",

		"contentRegion": "contentRegion-3nDuYy",
		"contentRegionScroller": "contentRegionScroller-26nc1e",
		"contentColumn": "contentColumn-2hrIYH",
		"contentHeader": "h2-2gWE-o",

		"contentBackground": "background-1QDuV2",
		"fieldList": "fieldList-21DyL8",
		"field": "field-1HUseB",
		"profile": "profile-1eT9hT",
		"profileDetails": "details-2fkb7l",
		"profileDetailsInner": "detailsInner-1VPlWl",
		"username": "username-1fQw19",
		"usernameRow": "usernameRow-2Lu_-c",
		"usernameRowInner": "usernameInnerRow-ZlFnET",

		"radioGroupItem": "item-26Dhrx",
		"cardPrimary": "cardPrimary-1Hv-to",
		"cardPrimaryEditable": "cardPrimaryEditable-3KtE4g",
		"cardPrimaryOutline": "cardPrimaryOutline-29Ujqw",
		"cardPrimaryOutlineEditable": "cardPrimaryOutlineEditable-PEnpzz",

		"accountList": "accountList-33MS45",
		"accountButton": "accountBtn-2Nozo3",
		"accountButtonInner": "accountBtnInner-sj5jLs",
		"connection": "connection-1fbD7X",
		"connectionHeader": "connectionHeader-2MDqhu",
		"connectionIcon": "connectionIcon-2ElzVe",
		"connectionDelete": "connectionDelete-2Odoln",

		"codeRedemptionRedirect": "codeRedemptionRedirect-1wVR4b",

		"nitroPage": "content-2c3hgM",
		"nitroHero": "hero-EvfTTA",
		"nitroHeroButtons": "heroButtons-2NvgKB",
		"nitroFeatureGrid": "featureGrid-3-fNl-",
		"nitroFeature": "feature-2w65J5",
		"nitroFeatureImageWrapper": "featureImageWrapper-pPDLjm",
		"nitroBanner": "banner-WELp4M", // xbox game pass box

		"boostGuildsSection": "guildsSection-3AvK09",
		"boostCardWrapper": "cardWrapper-2Min21",
		"boostCardNoIcon": "noIcon-1a_FrS",
		"boostCardGemContainer": "gemIndicatorContainer-2jdECl",
		"boostDealWrapper": "wrapper-3nSjSv", // thing at bottom. contains the classic as an svg.
		"boostDealAction": "action-2cD_qI",

		"closeButton": "closeButton-1tv5uR",
		"closeButtonKeybind": "keybind-KpFkfr",
	),
	// indented as it's a subset
		"appSettings": (
			"slider": "slider-1PF9SW",
			"sliderBar": "bar-2Qqk5Z",
			"sliderBarFill": "barFill-23-gu-",
			"sliderGrabber": "grabber-3mFHz2",

			"voicePage": "userSettingsVoice-iwdUCU",
			"voiceNotches": "notches-1sAcEM.gray-3_LNYR",
			"voicePreviewContainer": "previewContainer-37c2Si",
			"voicePreviewOverlay": "previewOverlay-2O7_KC",

			"overlayWrapper": "wrapper-3jrx9n",
			"overlaySelected": "selected-mKYnfr",
			"overlayOption": "option-n0icdO",

			"soundRow": "soundRow-7krrdT",
			"soundRowDividerDefault": "dividerDefault-3rvLe-",

			"keybindDefault": "defaultKeybind-2coG8W",
			"keybindCard": "card-FDVird",
			"keybindGroup": "keybindGroup-JQs9x_",
			"keybindRemove": "removeKeybind-39dSFj",
			"keybindRemoveFilled": "filled-1iCBCZ",
			"keybindButton": "keybindShortcut-1BD6Z1 span",

			"gameNotDetected": "notDetected-33MY4s",
			"gameNowPlaying": "nowPlaying-284llR",
			"game": "game-1ipmAa",
			"gameNameLastPlayed": "gameNameLastPlayed-3LJo8n",
			"gameRemove": "removeGame-2JFGPn",
		),

	// Client Mods
	"powercord": (
		"base": "powercord",
		"notice": "powercord-notice",
	)
);
