@use "sass:string";
@use "sass:list";
@use "sass:map";
// @use "map" as *;

/// Get a class from the Classes Map. Code stolen entirely from Zerthox.
/// changes to Zerthox's code: `map.get` -> `map-get`, adds a dot at end.
@function class($query) {
	$class: $classes;
	@each $el in $query {
		$class: map-get($class, "#{$el}");
		@if not $class {
			@error "Unknown class \"#{$el}\" in category: #{$query}. Was the classes file not saved?";
		}
	}
	@return "." + $class;
}

///extreme lazy shorthand with capital just in case
@function c($query) {
  @return class($query);
}
@function C($query) {
  @return class($query);
}

$classes: (
	// This top one is for things without any spammy suffixes or more important things.
	"main": (
		"appMount": "appMount-2yBXZl",
		"appContainer": "app-3xd6d0",
		"appInner": "app-2CXKsg",
		"backdrop": "backdrop-2ByYRN",
		"backdropWithLayer": "withLayer-2VVmpp",
		"bg": "bg-1QIAus",
		"dark": "theme-dark",
		"light": "theme-light",
		"mouseMode": "mouse-mode",
		"keyboardMode": "keyboard-mode",
		"fullMotion": "full-motion",
		"reduceMotion": "reduce-motion",
		"focused": "app-focused",
		"layerContainer": "layerContainer-2v_Sit",
		"groupSpacing16": "group-spacing-16",
		"container": "container-1eFtFS",
		"content": "content-1SgpWY",
		"baseLayer": "baseLayer-W6S8cY",
		"layer": "layer-86YKbF",
		"mediaEngineVideo": "media-engine-video",
		"base": "base-2jDfDU",
		"loadingContainer": "container-2RRFHK",
		"checkbox": "checkbox-f1HnKB",
		"checkboxChecked": "checked-1pZh2h",
		"checkboxRound": "round-1RSG-3",
		"loadingSquare": "wanderingCubesItem-3Us-UG",
		"pictureInPicture": "pictureInPicture-1GQX91",
		"anchorLink": "anchor-1MIwyf ",
		"toggle": "container-2nx-BQ", // that sliding selection thing
		
			// find this by joining a server with a captcha thing
			// "areYouARobotContainer": "container-2vhgEz",
			// "robotContent": "content-1jf0rq",
			// "robotTitle": "title-dHonOz",
			// "robotLogo": "logoContainer-2oll5D",
	),
	// OS spesific stuff. There doesn't seem to be anything related to linux nor web.
	"os": (
		"titleBar": "titleBar-1it3bQ",

		"windows": "platform-win",
		"typeWindows": "typeWindows-2-g3UY",
		"winButton": "winButton-3UMjdg",
		"winButtonClose": "winButtonClose-3Q8ZH5",
		"winButtonMinMax": "winButtonMinMax-3RsPUg",
		"wordmark": "wordmark-2u86JB",

		"mac": "platform-osx",
		"typeMac": "typeMacOS-3V4xXE",
		"focused": "focused-Xb9BI5",
		"unfocused": "unfocused-1U-yOa",
		"macButtons": "macButtons-eIdy0e",
		"macButton": "macButton-2M5W_9",
		"macButtonClose": "macButtonClose-3IXwAm",
		"macButtonMinimize": "macButtonMinimize-Q8clSI",
		"macButtonMaximize": "macButtonMaximize-1vTCwt",

		"linux": "platform-linux",
		"web": "platform-web"
	),
	"boost": (
		"wrapper": "wrapper-1w686E",
		"navBar": "navigationBar-3r0IQK",
		"scrollerWrapper": "scrollerWrapper-i8p1JZ",
		"topBanner": "hero-stXd0P",
		"topBannerLowSaturation": "heroLowSaturation-1S_eu5",
		"guildInfoWrapper": "guildInfoWrapper-27qEn2",
		"progressBarFill": "progressBarFill-r3JZQ7",
		"progressBarTrack": "progressBarTrack-31JzOY",
		"progressMarker": "progressBarMarker-2F7kNV",
		"planCard": "planCard-3heGy1",
		"planCardImage": "planCardImage-3h8Ojr",

		"perkPopoutImage": "perkPopoutImage-3jZqhq",
		"perkPopoutAnimation": "perkPopoutAnimation-1TX8XT",
	),
	"button": (
		"button": "button-f2h6uQ",
		"contents": "contents-3ca1mk",
		"lookFilled": "lookFilled-yCfaCM",
		"lookInverted": "lookInverted-2mDUMi",
		"lookOutlined": "lookOutlined-3yKVGo",
		"lookLink": "lookLink-15mFoz",
		"hasHover": "hasHover-26V98q",
			"icon": "buttonIcon-Od8mYw", // minimal mode
			"withText": "withText-10pQhr", // minimal mode

		//colors / hovers
		"colorBrand": "colorBrand-I6CyqQ",
		"colorBrandNew": "colorBrandNew-2-gGsS",
		"colorGreen": "colorGreen-3y-Z79",
		"colorGrey": "colorGrey-2iAG-B",
		"colorLink": "colorLink-1Md3RZ",
		"colorPrimary": "colorPrimary-2AuQVo",
		"colorRed": "colorRed-rQXKgM",
		"colorTransparent": "colorTransparent-13Bvvi",
		"colorWhite": "colorWhite-1H92hK",
		"colorYellow": "colorYellow-Pgtmch",

		"hoverBrand": "hoverBrand-9W5Bs0",
		"hoverGreen": "hoverGreen-1KfT6K",
		"hoverGrey": "hoverGrey-JnW3T-",
		"hoverLink": "hoverLink-3tFUy_",
		"hoverPrimary": "hoverPrimary-2hqNIm",
		"hoverRed": "hoverRed-1gTvle",
		"hoverTransparent": "hoverTransparent-1F6BzX",
		"hoverWhite": "hoverWhite-1CeNNr",
		"hoverYellow": "hoverYellow--uLfPr",
	),
	"call": (
		"wrapper": "wrapper-1gVUIN",
		"noChat": "noChat-2UYgeE",
		"video": "wrapper-9CUbzN",
		"videoEnded": "tile-2TcwiO",
		"minimum": "minimum-fXpVNc",
		"container": "callContainer-HtHELf",
		"root": "root-22AK9z",
		"idle": "idle-39sGPO",
		"resizeHandle": "resizeHandle-1zU8BL",
		"avatarBorder": "border-2BJQjd",
		"avatarSpeaking": "speaking-3RWJBr",
		"topControls": "topControls-23RE3h",
		"status": "status-1ZXjSF",
		"videoBorder": "border-2Vy6FN",
		"videoSpeaking": "speaking-7QZEkv",
		"streamBackground": "root-1Emen5",
		"avatar": "avatar-b5OQ1N",
		"liveQualityIndicator": "liveQualityIndicator-8fb_DX",
		"lowQualityWarningIcon": "warningIcon-3Mtahk",
		"regionSelector": "quickSelect-384d3G",
		"watchStreamButton": "cta-3-AFNF",
	),
	"channelSettings": (
		"channelName": "input-2g-os5",
		"channelNameFocused": "focused-1AtTHC",

		"roleScroller": "scroller-3_YDR2",
		"settingsCard": "settingCard-xZSDjS",
		"settingsCardActive": "active-3EK-ed",
		"cardContent": "cardContent-1-5hym",
		"cardFolder": "cardFolder-3H4uH4",
		"folderHeader": "folderHeader-2FpErk",
		// "adminWarning": "adminWarning-3Ie8tf", // no idea what this is used for
		"folderRoleMemberList": "memberRow-1p7Jls",

		"permGroup": "group-LWHoGI",
		"permItem": "item-4m-12I",
		"permSelected": "selected-3jieYB",
		"permDeny": "deny-1GO6vI",
		"permNoop": "passthrough--fbdFR",
		"permAllow": "allow-1h61-Z",

		"inviteRow": "inviteSettingsInviteRow-1rZeIM",
		"revokeInvite": "revokeInvite-XuVwn4",
		"inviteDefault": "default-1Tkeeg",

		"integrationCard": "card-3JmxsM",
		"integrationIconWrapper": "iconWrapper-1sOtkE",

		"webhookCard": "card-7AB4HE",
		"webhookAvatarUploader": "avatarUploaderInner-2n4VB6",

		"followedChannelCard": "card-1OD384",
		"followedChannelAvatar": "avatarUploaderInner-2m-Gtr",
	),
	"chat": (
		"cozy": "cozy-VmLDNB",

		"chat": "chat-2ZfjoI",
		"threadSidebarOpen": "threadSidebarOpen-1LSXvU",
		"threadSidebarFloating": "threadSidebarFloating-uC2s6v",
		"noChat": "noChat-sb1z07",
		"chatContent": "content-1jQy2l",
		"chatScroller": "scroller-kQBbkU",
		"chatScrollerNSFW": "scroller-3KyaqJ",
		"chatContentInner": "chatContent-3KubbW",
		"chatLoadingWrapper": "wrapper-3HVHpV",
		"messageLoadingWrapper": "wrapper-15CKyy",
		"noChannel": "noChannel-1GDIAZ", // in a server without any channels or loading in
		"markup": "markup-eYLPri",
		"message": "message-2CShn3",
		"replying": "replying-eZ7p5z",
		"mentioned": "mentioned-Tre-dv",
		"botMention": "ephemeral-2nDdnn",
		"botMessageBottom": "ephemeralMessage-11q8XZ",
		"selected": "selected-2LX7Jy",
		"buttons": "buttons-3dF5Kd",
		"buttonWrapper": "wrapper-2vIMkT",
		"button": "button-3bklZh",
		"buttonIcon": "icon-1zidb7",
		"divider": "divider-IqmEqJ",
		"dividerHasContent": "hasContent-1y12-u",
		"dividerContent": "content-3spvdd",
		"dividerUnread": "isUnread-3Lojb-",
		"unreadPill": "unreadPill-3nEWYM",
		"unreadPillCap": "unreadPillCap-2-iI4h",
		"unreadPillCapStroke": "unreadPillCapStroke-1nE1Q8",
		"newMessagesBar": "newMessagesBar-1hF-9G",
		"repliedMessage": "repliedMessage-3Z6XBG",
		"repliedTextPreview": "repliedTextPreview-1bvxun",
		"repliedTextContent": "repliedTextContent-2hOYMB",
		"replyBadge": "replyBadge-LMm_Ic",

		"chatHeader": "container-1yy5xN",
		"chatHeaderButton": "button-1kija8",
		"emptyChannelIcon": "emptyChannelIcon-1YdEz2",
		"allowedRole": "role-23oyrw",

		"messageContents": "contents-2MsGLg",
		"messageAttachmentsContainer": "container-2sjPya",
		"messageAttachment": "messageAttachment-CZp8Iv",
		"chatAvatar": "avatar-2e8lTP",
		"chatHeaderUsername": "header-2jRmjb",
		"chatTimestamp": "timestamp-p1Df1m",
		"chatEdited": "edited-1v5nT8",
		"chatUsername": "username-h_Y3Us",
		"chatUsernameClickable": "clickable-31pE3P",
		"chatUsernameTimedOut": "communicationDisabled-2KRN2p",
		"zalgoBlocker": "zalgo-26OfGz",
		"messageContent": "messageContent-2t3eCI",
		"spoilerText": "spoilerText-27bIiA",
		"spoilerHidden": "hidden-3B-Rum",
		"spoilerContent": "inlineContent-2YnoDy",

		"botTag": "botTagRegular-kpctgU",
		"gifTag": "gifTag-1TvtGO",

		"gifFavoriteButton": "gifFavoriteButton-2IttKp",
		"gifFavoriteSelected": "selected-7JJuv5",
		"gifFavoriteShowPulse": "showPulse-2X8M9z",
		"gifFavoriteIcon": "icon-1m_PLf",

		"blockquoteContainer": "blockquoteContainer-3VtvI1",
		"blockquoteDivider": "blockquoteDivider-363utW",

		"reaction": "reaction-2A2y9y",
		"reactionMe": "reactionMe-3I9gFK",
		"reactionInner": "reactionInner-9eVHJa",
		"reactionCount": "reactionCount-1zkLcN",

		"containerExpanded": "containerExpanded-3etgq5", // send wave sticker large
		"compactContainer": "containerCompact-1Jto1O", // houses below
		"compactButton": "compactButton-3hG-bs", // send wave sticker
		"welcomeCTA": "welcomeCTA-3GMMRK",
	),
		// indented because i hate discord
		"threads": (
			"msgHasThread": "hasThread-3h-KJV", // in here despite probably better in chat
			"msgSpine": "spine-2vt3pM",
			"resizeHandle": "resizeHandle-PBRzPC",
			"container": "container-3XgAHv",
			"floating": "floating-3M3WeH",
			"chat": "chat-1-OBC7",
			"iconWrapper": "iconWrapper-3plkqh",
			"header": "chatHeaderBar-2fUORh", // usually contains "this thread is/was archived..."

			// these are for when creating a thread
			"newChat": "chat-1rZYgu",
			"newTextAreaFocused": "channelTextAreaInnerFocused-3oQcB2",
			"newTextAreaError": "channelTextAreaInnerError-iNytdJ",
		),
	"chatForm": (
		"form": "form-3gdLxP",
		// the two below were both applied on a disabled chat and an enabled one. second one has the background. still unsure about it.
		"channelTextAreaBase": "channelTextArea-1VQBuV", // base being applied to *every* form
		"channelTextAreaMain": "channelTextArea-1FufC0", // used at bottom of text channels
		"channelTextAreaDisabled": "channelTextAreaDisabled-1p2fQv", // you can't type into this channel
		"scrollableContainer": "scrollableContainer-15eg7h",
		"inner": "inner-NQg18Y",
		"sansAttachButton": "sansAttachButton-1ERHue", // always on the main bar for some reason.
		"uploadInput": "uploadInput-YH_iku",
		"attachWrapper": "attachWrapper-3slhXI",
		"attachButton": "attachWrapper-3slhXI",
		"attachButtonInner": "attachButtonInner-2mwer8",
		"attachButtonPlus": "attachButtonPlus-3IYelE",
		"textArea": "textArea-2CLwUE",
		"textAreaSlate": "textAreaSlate-9-y-k2",
		"placeholder": "placeholder-1_mJY1", // phantom text usually saying "Message $channel/$user"
		"buttons": "buttons-uaqb-5",
		"buttonContainer": "buttonContainer-2lnNiN",
		"button": "button-f2h6uQ",
		"lookBlank": "lookBlank-21BCro",
		"buttonActive": "active-z80xEj",
		"jumpToPresentBar": "jumpToPresentBar-1cEnH0",
		"messagesErrorBar": "messagesErrorBar-1IQ1rH",
		"attachedBars": "attachedBars-2BCP3l",
		"clipContainer": "clipContainer-31nYlH",
		"replyContainer": "container-A2jo65",
		"replyBar": "replyBar-1oi75v",
		"replyActions": "actions-1mkm4H",
		"replyName": "name-3DDHNY",
		"threadSuggestionBar": "threadSuggestionBar-3ExSyc",

		// also applies to blocked
		"followWrapper": "wrapper-2SplAX",
		"followImage": "image-3FliiM",
		"followText": "text-2GfGMu",

		// colors may apply elsewhere
		"colorBrand": "colorBrand-21Le_q",
		"colorLink": "colorLink-2apWfY",
		"colorMuted": "colorMuted-20987_",
		"colorError": "colorError-1H4THa",

		"beforeInlineCode": "before_inlineCode-xn8Llh",
		"inlineCode": "inlineCode-2auMQi",
		"afterInlineCode": "after_inlineCode-WydEur",
		"codeLine": "codeLine-3a3dbd",
		"codeBlockText": "codeBlockText-311wOq",

		"inlineUpload": "upload-vLbqu-",
		"inlineSpoilerTag": "altTag-3DeQpq",

		"typingDots": "dots-1BwzZQ",
	),
	"discover": (
		"header": "discoverHeader-1vsvZ0",
		"categoryItem": "categoryItem-Kc_HK",
		"categoryItemSelected": "selectedCategoryItem-ZjqSui",
		"categoryItemInner": "itemInner-3e_4G4",
		"pageWrapper": "pageWrapper-2PwDoS",
		"viewWrapper": "viewWrapper-2sTW6t",
		"scroller": "scroller-3j5xK2",
		"searchHeader": "searchHeader-3ZIh2x",
		"searchHeaderImage": "headerImage-2D5D-vY",
		"search": "search-25t1e9",
		"searchBox": "searchBox-pyIJJj",
		"searchBoxInput": "searchBoxInput-3h4etz",
		"searchCloseIcon": "closeIcon-BMGxx0",
		"searchSearchIcon": "searchIcon-3X4BYL",
		"cardList": "guildList-3GXKvP",
		"cardPlaceholder": "cardPlaceholder-1E2FEs",
		"card": "card-2TuZPZ",
		"cardLoading": "loading-3ozbwt",
		"cardIconMask": "iconMask-2fMR98",
		"spinner": "spinner-2bMWLW",
		"footer": "footer-26kPv_",
		"footerImage": "footerImage-3DpC_8",

		"searchPage": "searchPage-1Rxeav",
		"searchSpinner": "spinner-1JhZ2F",
		"searchEmptyContainer": "emptyContainer-poti7J",
		"searchEmptyImage": "emptyImage-2pCD2j",
		"searchErrorImage": "errorImage-1n5rtg",
		"searchCategoryPill": "categoryPill-1zjNrr",
		"searchCategorySelected": "selected-bLcqYK",
		"searchPlaceholder": "placeholder-2jEh13",

		"studentScroller": "scroller-RfJjkV",
		"studentCard": "container-1wv6C6",
		"studentIconContainer": "iconContainer-6xlTpK",
	),
	"embeds": (
		"codeblock": "markup-eYLPri code",
		"codeblockInline": "markup-eYLPri code.inline",

		"invite": "wrapper-1HIH0j",
		"inviteServerIcon": "guildIcon-3ZfRfI",
		"inviteServerIconExpired": "guildIconExpired-2BFmZC",
		"inviteResolvingBackground": "resolvingBackground-1MSH01",

		"gift": "tile-2mmK5T",
		"giftInvalidPoop": "invalidPoop--w1123",

		"embedFull": "embedFull-1HGV2S",
		"embedSuppressButton": "removeAttachmentButton-1iO1qS",
		"attachment": "attachment-1PZZB2",
		"textContainerUp": "container-rr3Ruk", // parent of below class
		"textContainer": "textContainer-36wgKK",
		"textFooter": "footer-GXWBBp",
		"toggleExpandedPreview": "toggleExpandSection-1710zV",
		"attachmentName": "attachmentName-vgRpzs",
		"attachmentSize": "formattedSize-1YbZww",
		"codeIcon": "codeIcon-Ni8XUA",
		"textOpenFullPreview": "openFullPreviewSection-31zc2v",

		"gameInviteContainer": "container-NzjEEe",
		"gameInvite": "invite-3uuHYQ",
		"gameCoverImageWrapper": "coverImageWrapper-2wx5q1",
		"gameCoverImage": "coverImage-oTYoFG",
		"gameCoverImageNotActionable": "coverImageNotActionable-3_d2tn",
		"gameCoverImageActionable": "coverImageActionable-38UjN9",
		"gameCoverImageBlured": "blurred-3p_Z84",
		"gameHeader": "header-1Fx4D1",
		"gameDetails": "details-1nO3iV",
		"gameState": "state-3Nm83F",
		"gamePartyStatus": "partyStatus-2-VcyG",
		"gameName": "name-QjR4Jk",
		"gameFullHeight": "fullHeight-2rYHNc",
		"gameArtwork": "artwork-28Cmnt",
		"uploadProgressBar": "progressBar-1T6LYX",
		"videoPlayWrapper": "wrapper-1FP9YQ",
		"imageWrapper": "imageWrapper-oMkQl4",
		"threadContainer": "container-3i3IzO",
	),
	//indented as it's a subset of embeds
		"media": (
			"barInteraction": "mediaBarInteraction-tUE5dq",
			"barInteractionDragging": "mediaBarInteractionDragging-3XLL8k", // hover required for grabber
			"barWrapper": "mediaBarWrapper-33h1oY", // needs before + after
			"barBuffer": "buffer-3eVqKK", // needs before + after, secondary color
			"barPreview": "mediaBarPreview-1gUbVy", // needs before + after
			"barProgress": "mediaBarProgress-38I317", // needs before + after, primary color
			"barGrabber": "mediaBarGrabber-FvJKJg", // primary color
			"barVolume": "mediaBarInteractionVolume-zGrOSh", // card
			"controlIcon": "controlIcon-1grhw_",
			"metadataDownload": "metadataDownload-3IY84h",
			"metadataIcon": "metadataIcon-3QMhu9",
			"metadataName": "metadataName-1KMZtB",
			"metadataSize": "metadataSize-2A2s1T",
			"durationWrapper": "durationTimeWrapper-LdSEv8",
			"durationDisplay": "durationTimeDisplay-QwCeRr",
			"durationSeparator": "durationTimeSeparator-1Cqi9N",
			"audioWrapper": "wrapperAudio-1Bzv_Z",
			"audioMetadata": "audioMetadata-1Hrt8T",
			"audioControls": "audioControls-3fmemK",
			"bubble": "bubble-3XikHF",
		),
	"error": (
		"errorPage": "errorPage-2pZ2Kq",
		"wrapper": "wrapper-3AZUiP",
		"image": "image-35kDIs",
		"text": "text-3IbNaT",
		"title": "title-NjUt5y",
		"note": "note-Ph806N",
	),
	"friends": (
		"container": "container-2cd8Mz",
		"tabBody": "tabBody-2dgbAs",
		"inviteToolbar": "inviteToolbar-2k2nqz",
		"peopleColumn": "peopleColumn-1wMU14",
		"peopleList": "peopleList-2VBrVI",
		"peopleListItem": "peopleListItem-u6dGxF",
		"peopleListUsername": "username-Qpc78p",
		"actionButton": "actionButton-3-B2x-",
		"highlight": "highlight-3DSi7b",
		"addFriendInputWrapper": "addFriendInputWrapper-kkoSV9",

		"nowPlayingColumn": "nowPlayingColumn-1eCBCN",
		"nowPlayingContainer": "container-1oAagU",
		"nowPlayingScroller": "scroller-hE2gWq",
		"nowPlayingHeader": "header-Imy05m",
		"emptyCard": "emptyCard-KDifrB",
		"itemCard": "itemCard-3Etziu",
		"itemCardBody": "body-16rSsp",
		"itemCardBodySection": "section-3G9aLW",
		"itemCardSeperator": "separator-2OaeRP",
		"itemCardActive": "active-1W_Gl9",
		"itemCardInteractive": "interactive-2zD88a",
		"itemCardOuter": "outer-2JOHae",
		"voiceSectionIconWrapper": "voiceSectionIconWrapper-4yoj76",
		"partyMemberOverflow": "partyMemberOverflow-3G1oZz",
		"live": "live-1V2D-f",
		"multipleIconWrapper": "multipleIconWrapper-2YHnS6", // guess
		"multipleIcon": "multipleIcon-3J-Ej2",
		"activeNowAvatar": "headerAvatar-GgCKcl",
	),
	"header": (
		"header": "container-ZMc96U",
		"themed": "themed-Hp1KC_",
		"children": "children-3xh0VB",
		"divider": "divider-q3P9HC",
		"iconWrapper": "iconWrapper-2awDjA",
		"updateDownloadingCloud": "cloud-PaJUGP",
		"updateDownloadingIcon": "downloadArrow-3u87TS",
		"updateIconForeground": "updateIconForeground-2V_zo4",
		"icon": "icon-2xnN2Y",
		"iconClickable": "clickable-ZD7xvu",
		"title": "title-17SveM",
		"akaBadge": "akaBadge-3i7V3p",
		"input": "input-1nrc5P",
		"toolbar": "toolbar-3_r2xA",
		"iconSelected": "selected-29KTGM",
		"search": "search-39IXmY",
		"searchInner": "search-2Mwzzq",
		"searchOpen": "open-1F8u2c",
		"searchBar": "searchBar-jGtisZ",
		"iconBadge": "iconBadge-3Mmg92",
		"participating": "participating-2Z81oO",
		"topic": "topic-11NuQZ",
		"avatars": "avatars-2jLHaO",
		"nicknames": "nicknames-10Sg6e",
		"status": "status-2DiCMd",
		"tabBar": "tabBar-ra-EuL",
		"topPill": "topPill-3DJJNV",
		"tabBarItem": "item-3mHhwr",
		"tabBarItemSelected": "selected-g-kMVV",
		"tabBarItemThemed": "themed-2-lozF",
	),
	"hljs": (
		"comment": "hljs-comment",
		"quote": "hljs-quote",
	),
	"memberList": (
		"container": "container-2o3qEW",
		"wrap": "membersWrap-3NUR2t",
		"hiddenMembers": "hiddenMembers-8kpYM0",
		"members": "members-3WRCEx",
		"content": "content-2a4AW9",
		"group": "membersGroup-2eiWxl",
		"avatar": "avatar-6qzftW",
		"avatarMask": "mask-1FEkla",
		"contentName": "content-1U25dZ",
		"avatarWrapper": "wrapper-1VLyxH",
		"status": "pointerEvents-9SZWKj",
		"ownerIcon": "ownerIcon-255uKo",
		"name": "name-3Vmqxm",
		"roleColor": "roleColor-nA7BqX",
		"offline": "offline-22aM7E",
	),
	"modals": (
		"layer": "layer-1Ixpg3",
		"focusLock": "focusLock-2tveLW",
		"root": "root-g14mjS",
		"header": "header-1zd7se",
		"close": "close-1mLglB",
		"closeIcon": "closeIcon-11LhXr",
		"body": "content-2hZxGK",
		"footer": "footer-31IekZ", // apparently it still uses theme-dark and theme-light. wankers.

		"createChannelHeader": "header-o8wV_s", // has extra top/bottom margins
		"createChannelClose": "closeButton-32emop", // it's moved up for some reason
		"createChannelSearchBar": "searchBar-3OIGe3", // make a private channel and click next
		"createChannelTag": "tag-15zcD_", // add a user or role to the list
		"createEventProgressBar": "progressBar-18rmp1", // tab at top, unselected
		"createEventProgressBarSelected": "selectedProgressBar-11z5d9", // above selected
		"createEventTextInput": "textInput-3g8y92",
		"createEventPreviewCard": "previewCard-E137i2",
		"createEventRSVPCount": "rsvpCount-iCkObl",

		"eventCard": "card-8UsK4b",
		"eventInfoHeader": "container-3EBHNg",
		"eventInfoGuildIcon": "guildIcon-1t7MRZ",
		"warningCard": "cardWarning-WRe-Qa",

		"inviteFromBrowserContentWrapper": "contentWrapper-3oy4Xo",
		"inviteFromBrowserInviteSplash": "inviteSplash-2Q0PLE",
		"pillIconOnline": "pillIconOnline-2JLgFw",
		"pillIconTotal": "pillIconTotal-3rJafa",

		"inviteScroller": "scroller-3nFW5p",

		"timeoutDurationGroupBar": "group-1_ptLP",
		"timeoutDuration": "item-2OyinQ",
		"timeoutDurationSelected": "selectorButtonSelected-1VZ6hz",

		"unpinMessage": "message-G6O-Wv",

		"incomingCall": "root-1e2tfc",

		"shortcutsModal": "keyboardShortcutsModal-2CRmCm",
		"shortcutsTitle": "modalTitle-2skSKy",
		"shortcutsSubtitle": "modalSubtitle-2lx7qk",

		"beforeTalkSidebar": "guildSidebar-UHnQqs",
		"beforeTalkBody": "modal-2TOYtq",
		"beforeTalkFieldWrapper": "formFieldWrapper-2LV3S6",

		"welcomeToServerMain": "main-jX9p1r",
		"welcomeToServerOption": "optionContainer-yOpaLq",

		// @everyone with a larger server
		"contentWarningPopout": "contentWarningPopout-WKdbDG",
		"contentWarningBody": "body-2rDNbs",
		"contentWarningAnimation": "animation-17phMk",
		"contentWarningContent": "content-2BDyq1",
		"contentWarningHeaderText": "header-DRA95Q",
		"contentWarningFooter": "footer-2aeMle",

		"toolbar": "toolbar-37BrJ5",

		"reactionsSidebar": "scroller-2GkvCq",
		"reactionDefault": "reactionDefault-1Sjj1f",
		"reactionSelected": "reactionSelected-1aMb2K",
		"reactionReactors": "reactors-1VXca7",
		
		"quickSwitchModal": "container-qBnZJg",
		"quickSwitch": "quickswitcher-pKcM9U",
		"quickSwitchSearch": "input-3r5zZY",
		"quickSwitchScroller": "scroller-2qwVWY",

		"autocomplete": "autocomplete-3NRXG8",
		"autocompleteInner": "autocompleteInner-y1mjDl",
		"autocompleteRail": "rail-1BiMhk", // sidebar thingy w/ default commands and bot icons
		"autocompleteRailInner": "list-33W-Tv", // of course this had a background
		"autocompleteCategory": "wrapper-1wwiGV",
		"autocompleteCategorySelected": "selected-3B2w1z",
		"autocompleteScroller": "scroller-2MALzE",
		"autocompleteCategoryHeader": "categoryHeader-OpJ1Ly",
		"autocompleteCommandBase": "base-2v-uc0",
		"autocompleteCommandSelected": "selected-3H3-RC",
		"autocompleteEmojiInner": "autocompleteInner-2tOQrf",

		"stickerSuggestExpressionFocused": "suggestedExpressionFocused-1KCZvA",
		"stickerSuggestMask": "mask-899QXq",
		"stickerSuggestMaskBackground": "maskBackground-F7QD-A",
		"stickerSuggestBackground": "containerBackground-Ang24O",

		"problemInfo": "problemInfo-1QppuA",
		"problemInfoRoot": "root-cw9rWQ",
		"problemInfoOption": "option-1O-Hwt",

		"timedOutContainer": "container-lJuBHq",
		"timedOutIconContainer": "iconContainer-2k2ykS",
		"timedOutIcon": "icon-2PhspP",
		"timedOutSpamBanner": "spamBanner-1auiob",
		"timedOutBannerIcon": "bannerIcon-1AJ6ir",

		"toastsContainer": "container-Sxc1z3",
		"toastsToast": "toast-q3Y4wI",
		"toastsIcon": "icon-2QUmmw",

		"regionSelectDropdown": "regionSelectPopout-3sEzVB",
		
		"searchDropdown": "container-2McqkF",
		"searchOption": "option-ayUoaq",
		"searchQueryHeader": "queryContainer-ZunrLZ",
		"searchResultsGroup": "resultsGroup-cfY57t",
		"searchDatePicker": "datePicker-3iA7_k",
		"searchDatePickerHint": "datePickerHint-Ir4715",
		"searchDateHintValue": "hintValue-V9hd8l",
		"searchCalendarPicker": "calendarPicker-sDhzdi",
		"reactDatePicker": "react-datepicker",
		"reactDPHeader": "react-datepicker__header",
		"reactDPDay": "react-datepicker__day",
		"reactDPDayDisabled": "react-datepicker__day--disabled",
		"reactDPDaySelected": "react-datepicker__day--selected",
		"reactDPDayOutsideMonth": "react-datepicker__day--outside-month",
		"reactDPDayKeyboardSelected": "react-datepicker__day--keyboard-selected",

		"bannedUserModal": "bannedUserModal-9XjyCI",
		"bannedUserHeader": "header-2An-Ws",

		"addRoleContainer": "container-2O1UgZ",

		"purgeBody": "content-1x29-w",
	),

		"addServer": (
			"modal": "container-1Lk8p7",
			"templatesList": "templatesList-uohY49",
			"templateButton": "container-x8Y1ix",
			"templateButtonText": "text-PdAsFQ",
			"optionsList": "optionsList-dmHy1l",
			"createServer": "createGuild-2m1V10",
		),
		
		// gif sticker emoji (and add reaction)
		"gse": (
			"resizeHandle": "resizeHandle-T_gFJR",
			"contentWrapper": "contentWrapper-3vHNP2",

			"nav": "nav-1zWVQw",
			"navButtonActive": "navButtonActive-1EqC5l",

			"gifContainer": "container-3u7RcY",
			"gifHeader": "header-2TLOnc",
			"gifContent": "content-A8TzKf",
			"gifScroller": "container-3eG4QA",
			"gifResultPlaceholder": "placeholder-T1Tuu8",
			"gifResult": "result-pzZrwj",
			"gifResultFocused": "focused-16Owih", // press arrow keys
			"gifFavoritesFade": "categoryFadeBlurple-1l49_Q",
			"gifCategoryFade": "categoryFade-3RRG67",
			"gifEndContainer": "endContainer-22e-US",
			"gifResults": "results-2CQlZp",
			"gifNoResultsWrapper": "wrapper-2g4olo",
			"gifSadImage": "sadImage-2_mw0p", // search "hentai" or something

			"stickerHeader": "header-uVCAlo",
			"stickerSearchContainer": "container-1SX9VC",
			"stickerDisabled": "disabled-2QaYSb", // for search bar opacity and cursor
			"stickersWrapper": "wrapper-i1awk3", // holds stickers in grid
			"stickersScroller": "scroller-2MALzE",
			"stickerListItems": "listItems-6eZzQ1", // role also applies to server list because of course it does
			"stickerGuildHeader": "wrapper-1NNaWG",
			"stickerPackHeader": "packHeader-w9jpYl", // has a pos sticky and top 0
			"stickerInspected": "stickerInspected-mwnU6w",
			"stickerInspectedIndicator": "inspectedIndicator-27zwNZ", // hover over a sticker
			"stickerUpsell": "upsell-3B1lnN", //"upload x+ custom stickers with boosting" how about no
			"stickerGuildListWrapper": "categoryList-2GgCrD",
			"stickerGuildListIcon": "guildIcon-2SUGiq",
			"stickerInspector": "inspector-DFKXwB", // bar at bottom

			"emojiInExpressionPicker": "emojiPickerInExpressionPicker-2nOwH8",
			"emojiPicker": "emojiPicker-6YCk8a",
			"emojiHeader": "header-11eigE",
			"emojiPickerListWrapper": "emojiPickerListWrapper-1T3YI3",
			"emojiScroller": "scroller-2MALzE",
			"emojiListItems": "listItems-6eZzQ1",
			"emojiItem": "emojiItem-277VFM",
			"emojiItemSelected": "emojiItemSelected-2Lg50V",
			"emojiPlaceholder": "imageLoading-2uloYN",
			"emojiGuildList": "categoryList-2qRrlj",
			"emojiSkinColorOptions": "diversitySelectorOptions-3DhNYs",
			"emojiDefaultCategory": "categoryItemDefaultCategory-3haEDq",
			"emojiDefaultCategorySelected": "categoryItemDefaultCategorySelected-2YeRUu",
			"emojiUnicodeShortcut": "unicodeShortcut-3N8oDe", // for all the non-server emotes
			"emojiPremiumRetention": "premiumRetentionNotice-A_Ke4K",

			"floatingEmojiPicker": "wrapper-3u51GQ",
		),
		
		// inbox pinned threads
		"ipt": (
			"topPill": "topPill-3DJJNV",
			"tab": "item-3XjbnG",
			"tabSelected": "selected-g-kMVV",

			// ip = shared between inbox and pinned
			"ipHeader": "header-1w9Q93",

			"inboxModal": "recentMentionsPopout-2bI1ZN",

			"inboxBody": "container-nwU-8G", // Inbox: Nothing is read | Recent Mentions: At bottom of list
			"inboxIconContainer": "iconContainer-33_6mP",
			"inboxScroller": "scroller-145h9c",
			"inboxTutorial": "tutorial-Nb3Zz5", // "Stay up to date with the latest messages!". this gonna be display none'd
			"inboxChannel": "channel-3NJZ1V",
			"inboxChannelHeader": "channelHeader-DFRX8q",
			"inboxUnreadMessagesCountWrapper": "wrapper-2olG5t",
			"inboxChannelMessages": "messages-23can0",
			"inboxMessageContainer": "messageContainer-8dSNjf",
			"inboxJumpButton": "jumpButton-1V_1FA",
			"inboxRoundButton": "button-1_oXub",
			"inboxRoundButtonDisabled": "disabled-184-il",

			"mentionsMessagesPopoutWrap": "messagesPopoutWrap-3zryHW", // also used by pinned
			"mentionsGuildIcon": "guildIcon-IklRcj",
			"mentionsScroller": "scroller-MIi2ab",
			"mentionsMessageContainerParent": "container-iA3Qrz", // parent to below class
			"mentionsMessageContainer": "messageContainer-3VTXBC",
			"mentionsScrollingFooterWrap": "scrollingFooterWrap-grqTU8",

			"pinnedModal": "messagesPopoutWrap-3zryHW",
			"pinnedScroller": "messagesPopout-eVzQcI",
			"pinnedMessageWrapper": "messageGroupWrapper-1jf_7C",
			"pinnedActionButtons": "actionButtons-2mNSAB",
			"pinnedJumpButton": "jumpButton-1ZwI_j",
			"pinnedCloseIcon": "closeIcon-2IriN1", // used when removing pinned message
			"pinnedPlaceholderImage": "image-t6rLT3", // image when no pins
			"pinnedFooter": "footer-5ji8u1",

			"threadDropdownModal": "browser-mnQ1T7",
			"threadDropdownHeader": "header-3_zmOb",
			"threadDropdownTabBar": "tabBar-2WhZ9G",
			"threadDropdownList": "list-1uSVgu",
			"threadDropdownControls": "controls-SB-N9h",
			"threadDropdownContainer": "container-2c4_8A",
			"threadDropdownBodyIcon": "icon-mJhEWn",
			"threadDropdownBodyStars": "stars-3UP9-A",
		),

		"groupDm": (
			"popout": "popout-3gby1q",
			"header": "header-1zd7se",
			"searchBarContainer": "container-1SX9VC",
			"searchBarTag": "tag-15zcD_", // yet-to-be added but-still-selected user
			"bodyScroller": "scroller-1Kbkqa",
			"friendSelected": "friendSelected-3cwmD7",
			"footerSeparator": "footerSeparator-b6VH1V",
			"footer": "footer-C9oLp9",
		),
		"menus": (
			"menu": "menu-1QACrS",
			"item": "item-1OdjEX",
			"itemFocused": "focused-3qFvc8",
			"itemHideInteraction": "hideInteraction-2jPGL_",
			"colorDefault": "colorDefault-CDqZdO",
			"colorBrand": "colorBrand-3cPPsm",
			"colorDanger": "colorDanger-3n-KnP",
			"iconContainer": "iconContainer-1-SsTR",
			"checkbox": "checkbox-hADx5o",
			"checkboxCheck": "check-3HZJs4",
			"radioSelection": "radioSelection-1UHp0b",
			"quickReactionButton": "button-1zW0-r",

			"dropdownFilled": "lookFilled-1GseHa",
			"dropdownSelect": "select-1Ia3hD",
			"dropdownSelectTop": "selectPositionTop-1Xy1Sp",
			"dropdownOpen": "open-1FRZsK",
			"dropdownPopout": "popout-1KHNAq",
			"dropdownPopoutTop": "popoutPositionTop-1GenHR",
			"dropdownPopoutOption": "option-2eIyOn",
			"dropdownPopoutOptionFocused": "focused-ODgjnC",
			"dropdownPopoutSelectedIcon": "selectedIcon-19TbzU",
		),
		"upload": (
			"modal": "uploadModal-2ie9O_",
			"inner": "inner-rBP-MS",
			"file": "file-163EuR",
			"icon": "icon-HW4tZ-",
			"image": "image-2ssF8k",
			"footer": "footer-VCsJQY",

			"area": "uploadArea-2Nu_Vc",
			"modalIn": "uploadModalIn-2w48Zf",
			"dropModal": "uploadDropModal-13Kd20",
			"dropError": "error-3lNz4C", // unsupported file type (or a folder), too many uploads, size limits
			"dropBg": "bgScale-1iWuPF",
			"dropInner": "inner-rBP-MS",
			"dropIcons": "icons-1UZPvE",
		),
	"notice": (
		"base": "notice-2HEN-u",
		"completeSteps": "notice-1x8lm-", // contents: "You must complete a few more steps before you can start talking in this server."
		"viewServerAsRole": "notice-2olXi7", // contents: "You are viewing this server as $count role(s)."
		"previewServerNotice": "notice-12Koq-", // contents: "You are currently in preview mode. Join this server to start chatting!"
		"colorNotifGreen": "colorNotification-24Qhr6", // can be accessed by raising your hand in a stage channel and being allowed up
		"colorWarning": "colorWarning-3oV0Ge", // shown when nitro is about to end when you don't have a payment option. on same line as other notice stuff
	),
	"scroller": (
		"base": "scrollerBase-_bVAAt",
		"thin": "thin-31rlnD",
		"auto": "auto-2K3UW5",
		"none": "none-2-_0dP",
		"fade": "fade-1R6FHN",
		"scrolling": "scrolling-20Of9p",
		"disableScrollAnchor": "disableScrollAnchor-6TwzvM",
	),
	"search": (
		"wrap": "searchResultsWrap-5RVOkx",
		"header": "searchHeader-1r_ZSh",
		"results": "totalResults-2On644",
		"searchFilter": "searchFilter-2UfsDk",
		"searchAnswer": "searchAnswer-23w-CH",
		"headerTabList": "searchHeaderTabList-3CZMQB",
		"tabItem": "item-3XjbnG",
		"tabSelected": "selected-g-kMVV",
		"tabThemed": "themed-2-lozF",
		"scroller": "scroller-3iiyhZ",
		"channel": "channelName-3w2Y3c",
		"resultContainer": "container-rZM65Y",
		"result": "searchResult-O9NDji",
		"blocked": "resultsBlocked-2lCGyA",
		"buttonContainer": "buttonsContainer-Nmgy7x",
		"button": "button-cfOvv-",
		"pageButton": "pageButton-1GMGeJ",
		"activeButton": "activeButton-LRWFC_",
		"endButton": "endButton-oUxeLG",
		"errorImage": "errorImage-19HeaA",
		"noResultsImage": "noResultsImage-1-dP2n",
		"OOOOHHHHHHHHBANANA": "alt-3_Cl_W",
	),
	"serverProfile": (
		"notice": "notice-5OG6bf",
		"warningCircleIcon": "warningCircleIcon-JjxdGS",
		"upsellContainer": "upsellContainer-3qKRln",
	),
	"serverList": (
		"servers": "guilds-2JjMmN",
		"wrapper": "wrapper-1_HaEi",
		"tree": "tree-3agP2X",
		"unreadMentionBarTop": "unreadMentionsIndicatorTop-2bTgUU",
		"scroller": "scroller-3X7KbA",
		"homeContainer": "tutorialContainer-1pL9QS",
		"homeIcon": "homeIcon-r0w4ny",
		"listItem": "listItem-3SmSlK",
		"serverSeparator": "guildSeparator-a4uisj",
		"placeholderMask": "placeholderMask-2FHNZU",
		"placeholderInner": "dragInner-1CUBf_",
		"pill": "pill-L_aLMQ",
		"pillItem": "item-2LIpTv",
		"serverWrapper": "wrapper-28eC3z",
		"serverWrapperSimple": "wrapperSimple-Js2rIO",
		"iconWrapper": "wrapper-3kah-n",
		"iconChildWrapper": "childWrapper-1j_1ub",
		"serverIcon": "icon-3AqZ2e",
		"selected": "selected-1Drb7Z",
		"addServerContainer": "tutorialContainer-2jwoiB",
		"addServer": "circleIconButton-1VxDrg",
		"addServerSelected": "selected-2r1Hvo",
		"lowerBadge": "lowerBadge-3WTshO",
		"numberBadge": "numberBadge-37OJ3S",
		"upperBadge": "upperBadge-1V6Iyi",
		"iconBadge": "iconBadge-32fMme",
		"participating": "participating-2Z81oO",
		"unreadMentionBarBottom": "unreadMentionsIndicatorBottom-3RJMnQ",
		"mentionBar": "mention-3XBnnZ",
		"unreadMention": "unread-2wipsx",
		"folderParentWrapper": "wrapper-38slSD",
		"folderParentWrapperExpanded": "expanded",
		"folder": "folder-241Joy",
		"folderHover": "hover-3m7-WT",
		"expandedFolderBackground": "expandedFolderBackground-1kSAf6",
		"folderIconWrapper": "folderIconWrapper-1oRIZr",
		"expandedFolderIconWrapper": "expandedFolderIconWrapper-3RwQpD",
		"centerDragOver": "centerTarget-S6BLFQ.dragOver-1OKbo2", //green thing when merging
		"targetDragOver": "target-1eRTCg.dragOver-1OKbo2", //green thing when dragging
	),
	"serverSettings": (	
		"serverIconUploadInner": "avatarUploaderInner-1Cp1oP",

		"rolePage": "contentColumnMinimal-32PuDO",
		"rolePageScroller": "customScroller-m1-jZn",

			// "newBadge": "newBadge-34a1Fs", // it's there somewhere but idk where!
		"noticeRegion": "noticeRegion-qjyUVg",
		"noticeContainer": "container-20TyK0",

		"roleEveryoneContainer": "container-3EtAkD",
		"roleEveryoneIcon": "icon-2DGsye",
		"roleSearch": "container-2oNtJn",
		"roleRow": "roleRow-3LoHQ6",
		"roleRowDisableHover": "roleRowDisableHover-2TXfy-",
		"roleCircleButton": "circleButton-33AIyY",
		"roleEditButton": "editButton-2P76Jg",
		// below "role"s are shown by clicking edit
		"roleContentContainer": "contentContainer-3hXFtK",
		"roleSidebar": "sidebar-3K3Z4C",
		"roleTitleContainer": "titleContainer-3fPic2",
		"roleHeader": "header-JUTO-g",
		"roleHeaderStickyElevated": "stickyHeaderElevated-dNSSrJ",
		"roleHeaderSticky": "stickyHeader-1Sunlx",
		"rolePreviewContainer": "previewContainer-1xQAsw",

		"emojiRow": "emojiRow-1aPaM-",
		"emojiAliasPlaceholder": "emojiAliasPlaceholder-3oShSx",
		"emojiAliasInput": "emojiAliasInput-3ZhdKx",
		"emojiInput": "emojiInput-B8MGXq",
		"emojiRemoveDefault": "default-1Tkeeg",

		"auditScroller": "customScroller-m1-jZn",

		"templateDescriptionBox": "descriptionBox-SKGNgB",
		"templateDescriptionIcon": "descriptionIcon-3nDZrK",

		"enableCommunityFeatureCard": "featureCard-3XHbjy",
		"enableCommunityFeatureIcon": "featureIcon-2sTnDK",
		"enableCommunityGuildDetails": "guildDetails-1il1dn",
	),
	"sidebar": (
		"sidebar": "sidebar-1tnWFu",
		"hasNotice": "hasNotice-1s68so",
		"privateChannels": "privateChannels-oVe7HL",
		"searchBar": "searchBar-3TnChZ",
		"searchBarComponent": "searchBarComponent-3N7dCG", // placeholder text "find or start a converstation"
		"scroller": "scroller-WSmht3",
		"privateChannelsHeaderContainer": "privateChannelsHeaderContainer-1UWASm",
		"privateChannelsHeader": "headerText-1qIDDT",
		"privateChannel": "channel-1Shao0",
		"privateChannelInteractive": "interactive-iyXY_x",
		"privateChannelLink": "link-39sEB3",
		"privateChannelRecipientsInviteButtonIcon": "privateChannelRecipientsInviteButtonIcon-1ObKXK",
		"channelsContainer": "container-1NXEtd",
		"channelsScroller": "scroller-1ox3I2",
		"channelsHeaderContainer": "container-1-ERn5",
		"channelsHeaderContainerSelected": "selected-2TbFuo",
		"channelsHeader": "header-3OsQeK",
		"serverName": "name-3Uvkvr",
		
		"channelsContainerContent": "content-2a4AW9",
		"channelCategoryContainerDefault": "containerDefault-YUSmu3",

		"channelSelected": "selected-2TbFuo", //different to channelModeSelected; icons use it for showing them.

		"channelMainContent": "mainContent-20q_Hp",
		"channelModeMuted": "modeMuted-2T4MDZ",
		"channelModeSelected": "modeSelected-3DmyhH",
		"channelModeUnread": "modeUnread-3Cxepe",
		"channelModeConnected": "modeConnected-NrO4cP",
		"channelModeLocked": "modeLocked-3sToxd",
		"channelIcon": "icon-2W8DHg",
		"channelName": "name-28HaxV",
		"channelChildren": "children-1MGS9G",
		"channelUserLimit": "userLimit-VbEkeM",
		"channelUserLimitWrapper": "wrapper-2fEmwW",
		"channelUsers": "users-2JoyGL",
		"channelTotal": "total-1c5KCN",
		"channelUnreadBlob": "unread-36eUEm",

		"categoryWrapper": "wrapper-1S43wv",
		"categoryMainContent": "mainContent-uDGa6R",
		"categoryMuted": "muted-19J0ih",
		"categoryCollapsed": "collapsed-2KOacR",
		"categoryArrow": "arrow-2HswgU",
		"categoryName": "name-3BUDLf",
		"categoryOverflow": "overflow-1wOqNV",
		"categoryChildren": "children-3MeUvj",

		"panels": "panels-3wFtMD",
		"panelUsername": "title-338goq",
		"panelVoiceContainer": "container-1zzFcN",
		"panelActivityContainer": "activityPanel-9icbyU",
		"panelActivityActions": "actions-zk2vB_",
		"panelContainer": "container-YkUktl",
		"panelInner": "inner-llGtyq",
		"panelButtonRow": "directionRow-2Iu2A9",
		"panelButton": "button-12Fmur",
		"panelButtonEnabled": "enabled-9OeuTA",
		"panelAvatarWrapper": "avatarWrapper-1B9FTW",
		"panelAvatar": "avatar-1EWyVD",
		"panelName": "nameTag-sc-gpq",
		"panelNameCanCopy": "canCopy-IgTwyV",
		"panelUsernameContainer": "usernameContainer-3PPkWq",
		"panelActionButtons": "actionButtons-2vEOUh",

		"loadingSidebar": "container-1NXEtd",
		"loadingAnimationContainer": "container-1XYZ8d", // container has animation tag on it
		"loadingCategory": "category-1ncDaU",
		"loadingChannel": "channel-2eDiWO",
		"loadingChannelIcon": "channelIcon-2xYUxY",
		"loadingChannelName": "channelName-2Lr3Jq",

		"hasBanner": "hasBanner-2IrYih",
		"bannerVisible": "bannerVisible-Vkyg1I",
		"animatedContainer": "animatedContainer-2laTjx",
		"bannerImage": "bannerImage-ubW8K-",

		"voiceSpeaking": "avatarSpeaking-2pCGrZ",
		"voiceUsernameSpeaking": "usernameSpeaking-3FKv6H",
	),
	"stage": (
		"container": "container-cH6QoY",
		"callContainer": "callContainer-BGIngG",
		"sidebarVisible": "sidebarVisible-3bgZKv",
		"root": "root-22AK9z",
		"scroller": "scroller-35tvpe",
		"videoControls": "videoControls-353CsJ",
		"videoControlSection": "controlSection-1mNixL",
		"videoControlBottom": "bottomControls-31YuPK",
		"gradientContainer": "gradientContainer-phMG8d",
		"headerContainer": "container-3r7mfc",
		"rowContainer": "rowContainer-jDvyA4",
		"participants": "participants-3hk3ND",
		"participantsButton": "participantsButton-1WBdFP",
		"tileContainer": "tileContainer-Os085F",
		"requestToSpeakContainer": "container-lqPArA",
		"rtsHeaderContainer": "headerContainer-21E-jZ",
		"rtsContentContainer": "contentContainer-dKJ2Bn",
		"rtsEmptyImage": "container-2GuWaQ",
		"rtsButtonContainer": "buttonContainer-1QM2ob",
		"openTheStageContainer": "container-1IyjjY",
		"buttonRow": "container-a_NK-C",
		"colorable": "colorable-3rVGna",
		"primaryDark": "primaryDark-2UJt1G",
		"white": "white-11auuQ",
		"red": "red-3T8maV",
		"green": "green-3wkLbx",
		"leaveQuietlyButton": "leaveQuietlyButton-3Vhswc",
		"active": "active-3D763s",
		"speakerRaiseHandBadge": "speakerRaiseHandBadge-1hA2Uh",
		"audienceVoiceUserIconContainer": "audienceVoiceUserIconContainer-1aQGLF",
		"avatar": "avatar-rC0Atp",
	),
	"store": (
		"store": "applicationStore-2nk7Lo",
		"scroller": "scroller-29cQFV",
		"nitroContainer": "premiumContainer-3GGa8Q",
		"libraryContainer": "container-36u7Lw", // maybe
	),
	"tooltips": (
		"tooltip": "tooltip-14MtrL",
		"disablePointerEvents": "tooltipDisablePointerEvents-1huO19",
		"content": "tooltipContent-Nejnvh",
		"contentAllowOverflow": "tooltipContentAllowOverflow-1lJD1Q",
		"top": "tooltipTop-1wv5UJ",
		"right": "tooltipRight-2TSb42",
		"bottom": "tooltipBottom-2WzfVx",
		"left": "tooltipLeft-3H43DQ",
		"pointer": "tooltipPointer-3L49xb",

		"primary": "tooltipPrimary-3qLMbS",
		"black": "tooltipBlack-vMYxvw",
		"grey": "tooltipGrey-lpLZjh",
		"brand": "tooltipBrand-20XsMA",
		"green": "tooltipGreen-oouJdx",
		"yellow": "tooltipYellow-3a3Cmr",
		"red": "tooltipRed-2z14Wl",

		"reactionTooltipEmoji": "reactionTooltipEmoji-EMfTC-",
		"stageListenerPill": "stageListenerPill-1_QAPA",
	),
	"userModal": (
		"root": "root-8LYsGj",
		"topSection": "topSection-13QKHs",
		"profileBanner": "profileBanner-1owKI5",
		"profileBannerPremium": "profileBannerPremium-KD60EB",
		"header": "header-S26rhB",
		"avatar": "avatar-3QF_VA",
		"headerTop": "headerTop-1PNKck",
		"profileBadges": "badgeList-2aoHPw",
		"relationshipButtons": "relationshipButtons-3ByBpj",
		"nameTag": "nameTag-2Nlmsy",
		"customStatusActivity": "customStatusActivity-WKWGD-",
		"customStatus": "customStatus-kFfkj5",

		"tabBarContainer": "tabBarContainer-sCZC4w",
		"tabBar": "tabBar-2hXqzU",
		"top": "top-K_jibn",
		"tabBarItem": "tabBarItem-30Te4-",
		"tabBarItemSelected": "selected-g-kMVV",
		"tabBarThemed": "themed-2-lozF",
		"tabBarItemNoPrefix": "item-3XjbnG",

		"additionalActionsIcon": "additionalActionsIcon-3Cy8UU",
		"activity": "userProfileActivity-sal5no",

		"body": "body-1Ukv50",
		"infoScroller": "infoScroller-1QMpon",
		"userInfoSection": "userInfoSection-2u2hir",
		"userInfoSectionHeader": "userInfoSectionHeader-2mYYun",
		"note": "note-3M15gE",
		"noteTextArea": "textarea-_59yqs",
		"connectedAccounts": "connectedAccounts-1YaT2t",
		"connectedAccount": "connectedAccount-1xKpli",
		"connectedAccountVerifiedIcon": "connectedAccountVerifiedIcon-3XCxT8",
		
		"listScroller": "listScroller-entkMk",
		"activityProfile": "activityProfile-1712BN",
		"activityBody": "body-u1Y8uL",
		"gameIcon": "gameIcon-1siQqm",
		"assets": "assets-3PQvAh",
		"assetsLargeImageProfile": "assetsLargeImage-8U5dlz",
		"assetsLargeImageProfileTwitch": "assetsLargeImageProfileTwitch-1SbNkP",
		"activityName": "nameNormal-2fPMD2",
		
		"bodyAlignCenter": "bodyAlignCenter-3E27PU",
		"bodyNormal": "bodyNormal-250CQK",
		"bodyNormalContent": "content-tXPNDw",
		"actionsProfile": "actionsProfile-31n1ca",
		"bodyNoTabBar": "noTabBar-2Q-iE_",
		"guildAvatarWithoutIcon": "guildAvatarWithoutIcon-6EjPQF",

		"timeBarProfile": "timeBarProfile-1z_HH-",
		"timestampLeft": "textLeft-1Noen0",
		"timestampRight": "textRight-2IW704",
	),
	"userPopout": (
		"loadingPopout": "loadingPopout-1feYe_",
		"loadingPopoutInner": "inner-26JK4f",
		"popout": "userPopout-2j1gM4",
		"headerNormal": "headerNormal-3Zn_yu",
		"profileBanner": "banner-1YaD3N",
		"avatar": "avatar-2Vndt_",
		"avatarPositionPremium": "avatarPositionPremium-1zPBq9",
		"avatarImg": "avatar-b5OQ1N",
		"headerTop": "headerTop-3GPUSF",
		"avatarHint": "avatarHint-k7pYop",
		"badges": "profileBadges-2pItdR",
		"aboutMe": "aboutMeSection-PUghFQ",
		"body": "body-2wLx-E",
		"bodyInnerWrapper": "bodyInnerWrapper-2bQs1k",
		"bodyTitle": "bodyTitle-2Az3VQ",
		"customStatus": "customStatus-3XAoF9",
		"activity": "activity-1gTu-L",
		"divider": "divider-1wtgZ3",
		"roleList": "rolesList-3uZoaa",
		"role": "role-2TIOKu",
		"roleCircle": "roleCircle-1EgnFN",
		"addButton": "addButton-1_dZYu",
		"note": "note-Go5ZP2",
		"noteTextArea": "textarea-_59yqs",
		"actionButton": "actionButton-1YKTU0",
		"footer": "footer-3naVBw",
		"input": "input-2z42oC",
		"focused": "focused-1AtTHC",
	),
	"userSettings": (
		"standardSidebarView": "standardSidebarView-E9Pc3j",
		"sidebarRegion": "sidebarRegion-1VBisG",
		"sidebarRegionScroller": "sidebarRegionScroller-FXiQOh",
		"sidebar": "sidebar-nqHbhN",
		"sidebarHeader": "header-2Kx1US",
		"sidebarSeparator": "separator-2wx7h6",
		"sidebarItem": "item-3XjbnG",
		"sidebarItemSelected": "selected-g-kMVV",
		"sidebarItemThemed": "themed-2-lozF",
		"sidebarSocialLinks": "socialLinks-3ywLUf",
		"sidebarInfo": "info-3pQQBb",

		"contentRegion": "contentRegion-3HkfJJ",
		"contentRegionScroller": "contentRegionScroller-2_GT_N",
		"contentColumn": "contentColumn-1C7as6",

		"accountProfile": "accountProfileCard-lbN7n-",
		"accountProfileAvatar": "avatar-3mTjvZ",
		"accountProfileBackground": "background-3d_SjE",
		"fieldList": "fieldList-in8WkP",
		"field": "field-21XZwa",

		"profileNitroNotice": "premiumInlineNotice-eSBKv7",
		"profileAvatarUploader": "avatarUploaderInner-p38nm2",
		"profileBannerPreview": "profileBannerPreview-3mLIdO",
		"profilePopoutInfo": "popoutInfo-16MuYF",

		"radioGroupItem": "item-2idW98",
		"radioBar": "radioBar-3w9XY-",
		"radioIconForeground": "radioIconForeground-2BMavi", // selected radio button's circle inner

		"cardPrimary": "cardPrimary-3qRT__",
		"cardPrimaryEditable": "cardPrimaryEditable-2mz_3i",
		"cardPrimaryOutline": "cardPrimaryOutline-1ofwVz",
		"cardPrimaryOutlineEditable": "cardPrimaryOutlineEditable-1VE28Z",

		"accountList": "accountList-Wii_T5",
		"accountButton": "accountBtn-3pgcgr",
		"accountButtonInner": "accountBtnInner-3ttD-i",
		"connection": "connection-YOVI9j",
		"connectionHeader": "connectionHeader-Ixbb1s",
		"connectionIcon": "connectionIcon-1iZ6F_",
		"connectionDelete": "connectionDelete-3YgMVq",
		
		"nitroPage": "container-LUKdw8",
		"nitroHero": "hero-1aNo0v",
		"nitroHeroButtons": "heroButtons-357iJy",
		"nitroFeatureGrid": "featureGrid-SSlfD0",
		"nitroFeature": "feature-2IUcBI",
		"nitroFeatureImageWrapper": "featureImageWrapper-2ndc8N",
		
		"boostGuildsSection": "guildsSection-3E1u96",
		"boostCardWrapper": "cardWrapper-1bSePP",
		"boostCardNoIcon": "noIcon-3gSX9V",
		"boostCardGemContainer": "gemIndicatorContainer-PqApbX",
		"boostDealWrapper": "wrapper-3Zq_cJ", // thing at bottom. contains the classic as an svg.
		"boostDealAction": "action-MXk_HA",
		
		"subscriptionsNoItemsCardSubs": "noItemsCard-2V85P5",
		"subscriptionsNoItemsIconSubs": "noItemsIcon-1rZlXZ",
		"subscriptionsNoItemsCardCredits": "noItemsCard-5EOcCl",
		"subscriptionsNoItemsIconCredits": "noItemsIcon-2OeOld",
		
		"codeRedemptionRedirect": "codeRedemptionRedirect-2hYMSQ",

		"closeButton": "closeButton-PCZcma",
		"closeButtonKeybind": "keybind-13vtq8",
	),
	// indented as it's a subset
		"appSettings": (
			"slider": "slider-1NC-Gf",
			"sliderBar": "bar-1Bhnl9",
			"sliderBarFill": "barFill-2Bh7CX",
			"sliderGrabber": "grabber-2GQyvM",

			"previewMessage": "previewMessage-2uxBrA",

			"voicePage": "userSettingsVoice-1_dzjw",
			"voiceNotches": "notches-2w7UZJ.gray-3wP137",
			"voicePreviewContainer": "cameraWrapper-3a7Ngv",
			"voiceBackgroundOptionRing": "backgroundOptionRing-1vvQ0C",
			"voiceBackgroundOptionInner": "backgroundOptionInner-SSz19O",

			"overlayWrapper": "wrapper-SdcMKg",
			"overlayDisabled": "disabled-35mc5w",
			"overlaySelected": "selected-18Wszc",
			"overlayOption": "option-1QI4c9",
			"overlayDisabledSelected": "disabledSelected-1jqfsw",

			"soundRow": "soundRow-35kak6",
			"soundRowDividerDefault": "dividerDefault-3C2-ws",

			"keybindDefault": "defaultKeybind-OJ0CKH",
			"keybindCard": "card-2ART2V",
			"keybindGroup": "defaultKeybindGroup-3IVc_-",
			"keybindRemove": "removeKeybind-2YVgVG",
			"keybindRemoveFilled": "filled-2zYazI",
			"keybindButton": "keybindShortcut-3zF1P9 span",

			"gameNotDetected": "notDetected-2HEmAp",
			"gameNowPlaying": "nowPlaying-zBamm2",
			"gameName": "gameName-Uw4dbt",
			"gameNameInput": "gameNameInput-3TuPuA",
			"gameLastPlayed": "lastPlayed-3aHvxk",
			"gameOverlayStatusText": "overlayStatusText-AHDYB3",
			"gameOverlayToggleIconOn": "overlayToggleIconOn-3_-nGm",
			"gameOverlayToggleIconOff": "overlayToggleIconOff-3hGOmN",
			"gameOverlayToggleIconFill": "fill-MYciTJ",
			"gameFlowerStar": "flowerStar-2tNFCR",
			"game": "game-3x3aDt",
			"gameRemove": "removeGame-3Le1LJ",

			"contentTransitionWrap": "contentTransitionWrap-1YD530",
		),
	"other": (
		"developerPortalCtaWrapper": "developerPortalCtaWrapper-2PniQs",
		"ring": "ring-370dIp",
		"focusStroke": "focusStroke-3V8pid",
	),

	// Client Mods
	"powercord": (
		"base": "powercord",
		"notice": "powercord-notice",
		"codeblockCopy": "powercord-codeblock-copy-btn",
		"entitiesManageTabs": "powercord-entities-manage-tabs",
		"quickCSS": "powercord-quickcss",
		"poppedOut": "popped-out",
		"codeMirrorHeader": "powercord-quickcss-header",
		"codeMirrorGutters": "CodeMirror-gutters",
		"codeMirrorSelected": "CodeMirror-selected",
		"codeMirrorScroll": "CodeMirror-scroll",
		"codeMirrorFooter": "powercord-quickcss-footer",
		"codeMirrorHints": "CodeMirror-hints",
		"codeMirrorHintsActive": "CodeMirror-hint-active",
		"updaterPage": "powercord-updater",
		"toast": "powercord-toast",
	),
		"pcPlugin": (
			"smartTypersPreview": "smartTypers-preview",
			"textReactButton": "text-react-button",
			"connections": "pc-connections",
		),
	"glasscord": (
		"base": "glasscord",
	),
	"bd": (
		"addonList": "bd-addon-list",
		"addonCard": "bd-addon-card",
		"addonHeader": "bd-addon-header",
		"addonDescWrap": "bd-description-wrap",
		"addonFooter": "bd-footer",
		"searchWrapper": "bd-search-wrapper",
	),
		"bdEditor": (
			"floatingWindow": "floating-window",
			"resizable": "resizable",
			"floatingWindowTitlebar": "floating-window-titlebar",
			"floatingWindowContent": "floating-window-content",
		),
		"bdPlugin": (
			"channelTabsTabContainer": "channelTabs-tabContainer",
			"channelTabsTab": "channelTabs-tab",
			"channelTabsTabSelected": "channelTabs-selected",
			"channelTabsTabIcon": "channelTabs-tabIcon",
			"channelTabsTabName": "channelTabs-tabName",
			"channelTabsClose": "channelTabs-closeTab",
			"channelTabsNewTab": "channelTabs-newTab",
			"channelTabsFavContainer": "channelTabs-favContainer",
			"channelTabsFav": "channelTabs-fav",
			"channelTabsFavIcon": "channelTabs-favIcon",
			"channelTabsFavName": "channelTabs-favName",
			"channelTabsUnreadBadge": "channelTabs-unreadBadge",
			"channelTabsNoUnread": "channelTabs-noUnread",
			"channelTabsMentionBadge": "channelTabs-mentionBadge",
			"channelTabsNoMention": "channelTabs-noMention",

			"betterImageViewer": "biv-overlay",
			"betterImageViewerLensRound": "BIV-zoom-lens-round",
			"betterImageViewerLens": "BIV-zoom-lens",
			
			"xenoLibNotifs": "xenoLib-notifications",
			"xenoLibNotifContentWrapper": "xenoLib-notification-content-wrapper",
			"xenoLibNotifLoadbar": "xenoLib-notification-loadbar",
		)
);
