@use "backend" as *;
/* Start Modals (enjoy hell) */
// old styles
#{c(modals old footer)} {
	background: transparent;
}
#{c(modals old footerSeparator)},
#{c(modals old separator)} {
	box-shadow: none;
}

#{c(modals new container)} {
	background: $modal;
}