@use "backend" as *;
// solely to make any themers lives harder, each rule is prefixed with (dark/light +) calendarPicker
// well, that is until you account for the line prior; in which case holy torture.
:is(#{c(main dark)}, #{c(main light)}) #{c(modals calendar picker)} {
    :is(#{c(modals calendar react datePicker)},
    #{c(modals calendar react header)},
    #{c(modals calendar react dayDisabled)},
    #{c(modals calendar react dayOutsideMonth)},
    #{c(modals calendar react day)}:is(#{c(modals calendar react dayDisabled)},
                                       #{c(modals calendar react dayDisabled)}:hover
        )
    ) {
        background: transparent;
    }
}

// an explaination of the html tree is below.
// dark/light .. calendarPicker ..
// react-datepicker
//     triangle (empty), navigation [prev/next], month-container
// (nav) > icon [prev/next]
// (monthCont) > header, month
//  (header) > currentMonth (has name), dropdown (empty), dayNames
//      (dayNames) > dayName * 7
//  (month) > week * 6
//      (per week) > day (all empty) with each "day" being outsideMonth, between 001-031 as date number, disabled (future dates), selected, today, weekend

