@use "backend" as *;
#{c(modals createEvent progressBar)} {
	background-color: $card;
}
#{c(modals createEvent progressBarSelected)} {
	background-color: $primary;
}
#{c(modals createEvent textInput)} {
	background: transparent;
}
#{c(modals createEvent previewCard)} {
	:is(#{c(main dark)}, #{c(main light)}) &, // old style has dark/light for some reason
	#{c(main visualRefresh)} & {
		background: $card;
		border-color: $primary;
	}
}