@use "backend" as *;
@if $lite != 1 {
	#{c(modals createEvent progressBar)} {
		background-color: $card;
	}
	#{c(modals createEvent progressBarSelected)} {
		background-color: $primary;
	}
	#{c(modals createEvent textInput)} {
		background: transparent;
	}
	#{c(modals createEvent previewCard)} {
		@include card;
	}
}