@use "backend" as *;
@if $lite != 1 {
#{c(modals dropdown filled)}#{c(modals dropdown select)} {
	@include card;
	// &#{c(modals dropdown open)} {
	// 	border-bottom-color: transparent;
	// }
}
#{c(modals dropdown popout)} {
	background-color: $card;
	backdrop-filter: blur(calc($blur * 5px));
	border: 1px solid $secondary;
}
#{c(modals dropdown option)} {
	&:is(
		:hover,
		:focus,
		#{c(modals dropdown focused)}
	) {
		background-color: var(--background-mod-subtle);
	}
	&:active {
		background-color: var(--background-mod-strong);
	}
	&[aria-selected="true"] {
		background-color: var(--background-mod-strong);
	}
}
#{c(modals dropdown selectedIcon)} {
	color: $primary;
}
}