@use "backend" as *;
:is(#{c(main imagesDark)},#{c(main imagesLight)}) { // uses those classes
	#{c(modals emoji imageLoading)} {
		background-image: none;
	}
}
#{c(modals emoji searchBar)} {
	background-color: $card;
}
#{c(modals emoji picker)} {
	border-radius: 0;
}
#{c(modals emoji item)}#{c(modals emoji itemSelected)} {
	background-color: $card;
}
#{c(modals emoji skinOptions)} {
	background: transparent;
	backdrop-filter: blur(calc($blur * 5px));
	border-color: transparent;
}
#{c(modals emoji defaultCategorySelected)},
#{c(modals emoji defaultCategorySelected)}:hover {
	background-color: $card;
}
#{c(modals emoji categoryList)} {
	// height: 392px;
	overflow: visible;
}
// #{c(modals emoji unicodeShortcut)} {
// 	bottom: -48px;
// }
#{c(modals emoji unicodeShortcutInvisible)} {
	// transform: none;
	// pointer-events: none;
	transform: none;
	opacity: 1;
}

#{c(modals emoji header)},
#{c(modals emoji picker)} {
	#{c(main visualRefresh)} &,
	& {
		background: transparent;
	}
}
#{c(modals emoji categoryHeader)} {
	position: unset;
	top: unset;
	#{c(main visualRefresh)} &,
	& {
		background: transparent;
	}
}
#{c(modals emoji wrapper)} {
	background: $modal;
	backdrop-filter: blur(calc($blur * 5px));
	border-radius: 8px;
}
#{c(modals emoji hasTabWrapper)} {
	&#{c(modals emoji wrapper)} {
		background: transparent;
		backdrop-filter: unset;
		border-radius: unset;
	}
	// #{c(modals emoji picker)} {
	// 	min-height: 450px;
	// }
	#{c(modals emoji categoryList)} {
		min-height: 352px;
	}
}

// #{c(modals emoji floating wrapper)} {
// 	background: $modal;
// 	backdrop-filter: blur(calc($blur * 5px));
// 	height: auto;
// }

// #{c(modals emoji hasTabWrapper)} {
// 	#{c(modals emoji categoryList)} #{c(modals sidebarList scroller)} {
// 		height: calc(100% - 48px);
// 	}
// }

// #{c(modals emoji floating nonNitroBlocker wrapper)} {
// 	// background-color: transparent;
// 	// BACKGROUND HAS BEEN INTENTIONALLY LEFT GREY
// }
#{c(modals emoji floating nonNitroBlocker banner)} {
	&[autoplay] {
		display: none;
		&::after {
			content: "Video was removed due to autoplay";
		}
	}
}

#{c(modals emoji floating upsellContainer)} {
	display: none;
}