@use "backend" as *;
@if $lite != 1 {

	#{c(modals emojiStickerPopout container)} {
		background: $modal;
		backdrop-filter: blur(calc($blur * 5px));
	}
	#{c(modals emojiStickerPopout guildSection)} {
		background: transparent;
	}
}