@use "backend" as *;
#{c(modals expressionPicker resizeHandle)} {
	border-radius: 8px 0 0 8px;
	background: $primary;
	&:hover,&:active {
		background: $hover;
	}
}
#{c(modals expressionPicker contentWrapper)} {
	backdrop-filter: blur(calc($blur * 5px));
	#{c(main visualRefresh)} &,
	& {
		background: $modal;
	}
}
#{c(modals expressionPicker navButtonActive)} {
	background: $primary;
}

#{c(modals expressionPicker inspector)} {
	#{c(main visualRefresh)} &,
	& {
		background: transparent;
	}
}

#{c(modals expressionPicker positionContainer)} {
	max-height: 70vh;
	min-height: 500px;
	height: var(--expression-picker-height,500px);
	@media (max-height: 720px) {
		& {
			max-height: 500px;
		}
	}
}
// #{c(modals expressionPicker positionContainer)} #{c(modals sidebarList wrapper)} #{c(modals sidebarList scroller)} {
// 	height: calc(100% - 48px);
// }