@use "backend" as *;
@if $lite != 1 {
	#{c(modals formattingToolbar)} {
		background-color: $card;
		box-shadow: none;
		backdrop-filter: blur(calc($blur * 5px));
		&::before {
			border-top-color: $card;
		}
	}
}