@use "backend" as *;
// inbox's unread is here because it can be
#{c(modals headerDropdown messagesPopoutWrap)},
#{c(modals inbox unread popout)},
#{c(modals inbox forYou container)} {
	top: 4px;
	backdrop-filter: blur(calc($blur * 5px));
	background: $modal;
}
#{c(modals headerDropdown header)} {
	background: transparent;
}