@use "backend" as *;
@if $lite != 1 {
#{c(modals inbox)} {
	background: none;
	top: 5px;
	backdrop-filter: blur(calc($blur * 5px));
}
#{c(modals inbox header)} {
	background: $header;
}
#{c(modals inbox unread scroller)},
#{c(modals inbox mentions scroller)} {
	background: $modal;
	padding: 0; // intentionally ignores the padding-right applied via inline/scrollerBase
}

#{c(modals inbox loading)} {
	background: $modal;
	margin: 0;
	padding: var(--space-48);
}

#{c(modals inbox guildIcon)} {
	background-color: transparent;
}
#{c(modals inbox mentions container)} {
	padding: 0;
}
#{c(modals inbox channelHeader)} {
	padding: 12px 16px 0;
	position: unset;
	top: unset;
	background: transparent;
}
#{c(modals inbox mentions messageContainer)} {
	margin: 0;
	padding: 0;
	background: transparent;
	border: none;
}
#{c(modals inbox roundButton)} {
	background: $primary;
	color: var(--interactive-active);
	&:hover:not(#{c(modals inbox buttonDisabled)}) {
		background: $hover;
	}
}
#{c(modals inbox popout)}[style*=max-height] {
	max-height: 80vh !important; // !important reason: inline style
}

#{c(modals inbox friendRequestsButton)} {
	border: 1px solid currentColor;
	color: $primary;
	&:hover {
		color: $hover;
	}
	&,&:hover {
		background: transparent;
	}
}

#{c(modals inbox forYou bodyContainer)} {
	background: transparent;
}

// This box shows up when you've got shit unread but haven't clicked the button inside it. Doesn't add anything.
#{c(modals inbox unread tutorial)},
// This shows up when nothing's read and is basically a placeholder image thing.
#{c(modals inbox emptyIconContainer)} {
	display: none;
}

#{c(modals inbox emptyContainer)} {
	min-height: unset;
	padding: 16px;
}

#{c(modals inbox jumpButton)} {
	opacity: 1;
	background: $card;
}

#{c(modals inbox unread box)} {
	border-radius: 0;
	background: none;
	border: 0;
}
#{c(modals inbox reminders status)},
#{c(modals inbox unread box channelHeader)} {
	background: none;
	border: 0;
}
#{c(modals inbox unread divider)} {
	display: none;
}

// #{c(modals inbox tab)} {
// 	background: transparent !important; // !important reason: parity with expressionPicker, also fuck discord
// }
// #{c(modals inbox tabActive)} {
// 	background-color: $primary !important; // !important reason: parity with expressionPicker, also fuck discord
// }

// Empty stuff + upsell stuff
#{c(modals inbox unread empty)},
#{c(modals inbox reminders empty)},
#{c(modals inbox scheduled empty)} {
	background: $modal;
}
#{c(modals inbox unread empty iconContainer)},
#{c(modals inbox unread empty header)}+div,
#{c(modals inbox bookmarks upsell)},
#{c(modals inbox scheduled upsell)},
#{c(modals inbox reminders empty upsellImage)},
#{c(modals inbox reminders empty demo)},
#{c(modals inbox scheduled empty upsellImage)},
#{c(modals inbox scheduled empty demo)} {
	display: none;
}
}