@use "backend" as *;
#{c(modals pinned messageGroup)} {
	margin: 0 0 16px;
	border: none;
	#{c(main visualRefresh)} &,
	& {	
		background: transparent;
	}
}
#{c(modals pinned jumpButton)} {
	#{c(main visualRefresh)} &,
	& {
		background-color: $card;
	}
}
#{c(modals pinned actionButtons)} {
	display: flex;
}
#{c(modals pinned actionButtons)} #{c(modals pinned remove)} {
	color: $primary;
	&:hover {
		color: $hover;
	}
}
#{c(modals pinned emptyImage)},
#{c(modals pinned footer)} {
	display: none;
}