@use "backend" as *;
#{c(modals problemInfo root)} {
    background: transparent;
    border-radius: 0;
}
#{c(modals problemInfo option)} {
    border: none;
    border-left: 1px solid $red;
    border-right: 1px solid $red;
    &:first-child {
        border-top: 1px solid $red;
        border-radius: 8px 8px 0 0;
    }
    &:last-child {
        border-bottom: 1px solid $red;
        border-radius: 0 0 8px 8px;
    }
}