@use "backend" as *;
#{c(modals quickswitch modal)} {
	#{c(main visualRefresh)} &,
	& {
		background: $modal;
	}
}
#{c(modals quickswitch scroller)} {
	#{c(main visualRefresh)} &,
	& {
		background: transparent;
	}
	&::-webkit-scrollbar-track {
		background: transparent !important; // !important reason: discord uses important
	}
}