@use "backend" as *;
@if $lite != 1 {

	#{c(modals quickswitch modal)} {
		background: $modal;
		#{c(modals new outerContainer)} & {
			background: unset;
		}
	}
	#{c(modals quickswitch scroller)} {
		background: transparent;
		&::-webkit-scrollbar-track {
			background: transparent !important; // !important reason: discord uses important
		}
	}
}