@use "backend" as *;
#{c(modals quickswitch modal)} {
    background: var(--modal-background);
}
#{c(modals quickswitch scroller)} {
    background: transparent;
    &::-webkit-scrollbar-track {
		background: transparent !important; // !important reason: discord uses important
	}
}