@use "backend" as *;
#{c(modals reactions modal)} {
	background: $modal;
}
#{c(modals reactions sidebar)},
#{c(modals reactions reactors)} {
	background: transparent;
}
#{c(modals reactions selected)} {
	background-color: var(--background-modifier-selected);
}