@use "backend" as *;
@if $lite != 1 {
	#{c(modals reactions modal)} {
		background: $modal;
	}
	#{c(modals reactions sidebar)},
	#{c(modals reactions reactors)} {
		background: transparent;
	}
	#{c(modals reactions selected)} {
		background-color: var(--background-modifier-selected);
	}
}