@use "backend" as *;
#{c(modals search queryHeader)} {
	background: transparent;
}
#{c(modals search dropdown)} {
	backdrop-filter: blur(calc($blur * 5px));
	position: relative;
	top: 4px;
	#{c(main visualRefresh)} &,
	& {
		background: $modal;
	}
}
#{c(modals search learnMore)} {
	display: none;
}
#{c(modals search option)}::after {
	content: none;
}