@use "backend" as *;
:is(#{c(main dark)},#{c(main light)}) {
    #{c(modals search queryHeader)} {
        background: transparent;
    }
}
#{c(modals search dropdown)} {
    background: var(--modal-background);
    backdrop-filter: blur(5px);
    position: relative;
    top: 4px;
}
#{c(modals search learnMore)} {
    display: none;
}
#{c(modals search option)}::after {
    content: none;
}