@use "backend" as *;
@if $lite != 1 {
#{c(modals sticker categoryGeneric)}:hover {
	background-color: var(--background-mod-subtle);
	color: var(--interactive-hover);
}
#{c(modals sticker searchWrapper)} {
	background: $card;
}
#{c(modals sticker categoryGenericSelected)},
#{c(modals sticker categoryGenericSelected)}:hover,
#{c(modals sticker stickerSearchSuggestion)} {
	background-color: $card;
}
#{c(modals sticker header)} {
	box-shadow: none;
	background: transparent;
}
#{c(modals sticker upsell)} {
	display: none;
}
#{c(modals sticker packHeader)} {
	position: unset;
	top: unset;
	background: transparent;
}
#{c(modals sticker inspected)} #{c(modals sticker inspectedIndicator)} {
	mask: none;
	background-color: $card;
	border-radius: 12px;
}
}
