@use "backend" as *;
@if $lite != 1 {

	#{c(modals timedOut container)} {
		background: $modal;
	}
	#{c(modals timedOut iconContainer)} {
		display: none;
	}
	#{c(modals timedOut spamBanner)} {
		background: $header;
		backdrop-filter: blur(calc($blur * 2px));
	}
}