@use "backend" as *;
:is(#{c(main dark)}, #{c(main light)}) {
    #{c(modals timeoutDuration item)} {
        background-color: $card;
        border-color: $primary;
    }
    #{c(modals timeoutDuration selected)} {
        background-color: $primary;
    }
}