@use "backend" as *;
@if $lite != 1 {

	// each toast has its own id; it's not used by css
	#{c(modals toasts toast)} {
		background: $header;
		backdrop-filter: blur(calc($blur * 2px));
	}
	#{c(modals toasts icon)} path {
		&[fill="#3BA55C"] {
			fill: $green;
		}
		&[fill="#ED4245"] {
			fill: $red;
		}
	}
}