@use "backend" as *;
/* Begin Toasts */
#{c(toasts container)} {
    z-index: 1200;
}
#{c(toasts toast)} {
    background-color: $card;
    border-radius: var(--border-radius);
}
#{c(toasts icon)} path{
    &[fill="#3BA55C"] {
        fill: $green;
    }
    &[fill="#ED4245"] {
        fill: $red;
    }
}